@import 'pattern-library/core/pattern-library/headers';

%article-summary {
    display: grid;

    .read-more {
        text-decoration: none;
    }

    .article-headline {
        margin: 0;

        a:not(:hover) {
            color: inherit;
            text-decoration: none;
        }
    }

    .text-block .article-subhead {
        margin-top: 0.5em;
    }

    .article-blurb {
        column-width: $text-content-max;
        overflow: hidden;
    }

    .byline {
        margin-top: 2rem;
    }
}
