<template args="model">
    <div class="boxed">
        <div class="hero-quote">
            Access.
            <span class="narrow-block">The future of education.</span>
        </div>

        <div role="contentinfo">
            <ul class="no-bullets" role="directory">
                <li>
                    <a href="/license">Licensing</a>
                </li>
                <li>
                    <a href="/tos">Terms of Use</a>
                </li>
                <li>
                    <a href="/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                    <a href="/accessibility-statement">Accessibility Statement</a>
                </li>
                <li>
                    <a href="/careers">Careers</a>
                </li>
                <li>
                    <a href="https://github.com/openstax">Open Source Code</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
                <li>
                    <a href="/press">Press</a>
                </li>
                <li>
                    <a href="http://www2.openstax.org/l/218812/2016-10-04/lvk">Newsletter</a>
                </li>
            </ul>

            <p>
                {model.supporters}
            </p>

            <p>{model.copyright}</p>

            <p>
                <!-- ap is not rich text, but will contain HTML markup. -->
                <ap-html data-html="apStatement" skip="true"></ap-html>
            </p>
        </div>

        <div class="social" role="directory">
            <a class="btn btn-social facebook" href="{model.facebookLink}" title="facebook">
                Facebook
            </a>
            <a class="btn btn-social twitter" href="{model.twitterLink}" title="twitter">
                Twitter
            </a>
            <a class="btn btn-social linkedin" href="{model.linkedinLink}" title="linkedin">
                LinkedIn
            </a>
        </div>
    </div>
</div>
