<template args="model">
    <div class="boxed">
        <div class="hero-quote">
            Access.
            <span class="narrow-block">The future of education.</span>
        </div>

        <div role="contentinfo">
            <ul class="no-bullets" role="directory">
                <li>
                    <a href="/license">Licensing</a>
                </li>
                <li>
                    <a href="/tos">Terms of Use</a>
                </li>
                <li>
                    <a href="/accessibility-statement">Accessibility Statement</a>
                </li>
                <li>
                    <a href="https://github.com/openstax">Open Source Code</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
                <li if="model.pressKitData">
                    <a href="{model.pressKitData.file}">Press Kit</a>
                </li>
                <li>
                    <a href="http://www2.openstax.org/l/218812/2016-10-04/lvk">Newsletter</a>
                </li>
            </ul>

            <p>
                Supported by Rice University, the Laura and John Arnold Foundation,
                Bill & Melinda Gates Foundation, the William and Flora Hewlett Foundation,
                the Calvin K. Kazanjian Economics Foundation, the Maxfield Foundation,
                the Bill and Stephanie Sick Fund, and the Michelson 20MM Foundation.
            </p>

            <p>
                © 1999-{(new Date()).getYear()+1900}, Rice University. Except where otherwise noted,
                textbooks on this site are licensed under a Creative Commons Attribution
                4.0 International License.
            </p>

            <p>
                Advanced Placement<sup>®</sup> and AP<sup>®</sup> are trademarks registered and/or
                owned by the College Board, which was not involved in the
                production of, and does not endorse, this site.
            </p>
        </div>

        <div class="social" role="directory">
            <a class="btn btn-social facebook" href="https://www.facebook.com/openstax" title="facebook">
                Facebook
            </a>
            <a class="btn btn-social twitter" href="https://twitter.com/openstax" title="twitter">
                Twitter
            </a>
            <a class="btn btn-social linkedin" href="https://www.linkedin.com/company/openstax" title="linkedin">
                LinkedIn
            </a>
        </div>
    </div>
</div>
