<div class="boxed">
    <div class="hero-quote">Access. <span class="narrow-block">The Future of Education.</span></div>

    <div class="copyright">
        <ul class="no-bullets">
            <li>
                <a href="/license">Licensing</a>
            </li>
            <li>
                <a href="/tos">Terms of Use</a>
            </li>
            <li>
                <a href="/accessibility-statement">Accessibility Statement</a>
            </li>
            <li>
                <a href="https://github.com/openstax">Open Source Code</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>

        <p>
            Supported by Rice University, the Laura and John Arnold Foundation,
            Bill & Melinda Gates Foundation, the William and Flora Hewlett Foundation,
            the Calvin K. Kazanjian Economics Foundation, the Maxfield Foundation,
            the Bill and Stephanie Sick Fund, and the Michelson 20 MM Foundation.
        </p>

        <p>
            © 1999-2016, Rice University. Except where otherwise noted,
            textbooks on this site are licensed under a Creative Commons Attribution
            4.0 International License.
        </p>

        <p>
            Advanced Placement<sup>®</sup> and AP<sup>®</sup> are trademarks registered and/or
            owned by the College Board, which was not involved in the
            production of, and does not endorse, this site.
        </p>
    </div>

    <div class="social">
        <ul class="no-bullets">
            <li>
                <a class="btn btn-social facebook" href="https://www.facebook.com/openstax" title="facebook">
                    Facebook
                </a>
            </li>
            <li>
                <a class="btn btn-social twitter" href="https://twitter.com/openstax" title="twitter">
                    Twitter
                </a>
            </li>
            <li>
                <a class="btn btn-social linkedin" href="https://www.linkedin.com/company/openstax" title="linkedin">
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
</div>
