@import 'variables';
@import 'mixins';

.footer {
    align-items: center;
    background-color: color(neutral-dark);
    color: color(neutral-light);
    display: flex;
    flex-wrap: wrap;
    padding: 5.8vw 7vw 7.25vw;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            flex: 0 0 auto;
        }
    }

    a {
        color: color(neutral-light);

        &:active,
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    .hero-quote {
        flex: 1 0 100%;
        font-size: 5.4vw;
        font-weight: bold;
        padding-bottom: 4.8vw;
        text-align: center;
    }

    .copyright {
        border-right: 0.1rem solid color(neutral-medium);
        flex: 3 0 60%;
        padding-right: 4.5vw;

        ul a {
            margin-right: 1vw;
        }

        > div {
            line-height: 2rem;
            padding-top: 2rem;
        }
    }

    .social {
        flex: 2 0 40%;
        padding-left: 4.5vw;

        a {
            height: 7rem;
            margin: 1.5rem;
            width: 7rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
