@import 'pattern-library/core/pattern-library/headers';

$lower-footer: #3b3b3b;

.page-footer {
    color: text-color(footer);
    display: grid;

    a {
        color: inherit;
    }

    .top {
        background-color: ui-color(footer-bg);

        @include width-up-to($phone-max) {
            padding: 2rem 0;
        }

        @include width-between($phone-max, $tablet-max) {
            padding: 4rem 0;
        }

        @include wider-than($tablet-max) {
            padding: 7rem 0;
        }

        .boxed {
            display: grid;
            grid-row-gap: 2rem;

            @include width-up-to($phone-max) {
                grid-template: 'headline'
                    'mission'
                    'col1'
                    'col2'
                    'col3';
            }

            @include wider-than($phone-max) {
                align-items: start;
                grid-column-gap: 4rem;
                grid-template: 'headline col1 col2 col3'
                    'mission col1 col2 col3' / minmax(auto, 50rem) auto auto auto;
            }

            @include wider-than($tablet-max) {
                grid-column-gap: 8rem;
            }
        }

        .column {
            display: grid;
            grid-gap: 0.5rem;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.col1 {
                grid-area: col1;
            }

            &.col2 {
                grid-area: col2;
            }

            &.col3 {
                grid-area: col3;
            }
        }

        h2 {
            grid-area: headline;
            margin: 0;

            @include width-up-to($phone-max) {
                @include title-font(2rem);
            }

            @include wider-than($phone-max) {
                @include title-font(2.4rem);
            }
        }

        h3 {
            @include title-font(1.8rem);
            margin: 0;
        }

        .mission {
            grid-area: mission;

            @include wider-than($phone-max) {
                @include set-font(body-large);
            }

            a {
                font-weight: bold;
            }
        }
    }

    .copyrights {
        display: grid;
        grid-gap: 1rem;
    }

    .bottom {
        @include body-font(1.2rem);

        background-color: $lower-footer;

        @include width-up-to($phone-max) {
            padding: $normal-margin;
        }

        @include wider-than($phone-max) {
            padding: 2.5rem 0;
        }

        .boxed {
            display: grid;
            grid-column-gap: 4rem;
            grid-row-gap: $normal-margin;

            @include width-up-to($phone-max) {
                padding: 0;
            }

            @include wider-than($phone-max) {
                grid-auto-flow: column;
            }
        }

        .social {
            align-items: center;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 1rem;
            justify-content: left;

            > .btn {
                background-color: os-color(light-gray);
            }

            > .rice-logo > img {
                height: 4rem;
                transform: translateY(0.2rem); //better centering
            }
        }
    }

}
