@import 'pattern-library/core/pattern-library/headers';

.page-footer {
    @include set-font(helper-label);

    background-color: ui-color(footer-bg);
    color: text-color(footer);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    @include wider-than($tablet-max) {
        text-align: center;
    }

    @include width-up-to($phone-max) {
        text-align: left;
    }

    .boxed {
        margin: 0 auto;
        max-width: 90%;
        opacity: 0.85;
        width: 90rem;

        @include wider-than($tablet-max) {
            padding: 0;
        }
    }

    .hero-quote {
        @include set-font(h1);

        color: text-color(footer-header);
        padding: 3rem 0;

        .narrow-block {
            display: inline-block;
        }
    }

    [role="contentinfo"] {
        flex-wrap: wrap;

        @include wider-than($tablet-max) {
            padding: 0 5rem 1rem;
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            margin: 0 0 2rem;
            padding: 0;

            @include wider-than($tablet-max) {
                justify-content: center;
            }
        }

        li > a {
            color: inherit;
            padding-right: 2rem;
            text-decoration: underline;
        }

        p {
            margin: 2rem auto;
        }
    }

    .social {
        margin-bottom: 1rem;

        a {
            background-color: ui-color(secondary);
            background-size: 130%;
            height: 5rem;
            margin: 1rem;
            width: 5rem;

            &:hover {
                background-color: ui-color(secondary-hover);
            }
        }
    }
}
