@import 'pattern-library/core/pattern-library/headers';

.update-box {
    align-items: center;
    border: thin solid ui-color(form-border);
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(ui-color(black), 0.2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 5rem auto;
    padding: 2rem;

    @include width-up-to($phone-max) {
        align-items: center;
        display: block;
        padding-left: 1.5rem;
        text-align: center;
        width: calc(100% - 3rem);
    }

    @include wider-than($phone-max) {
        min-width: 45rem;
        max-width: $content-max;
    }

    h3 {
        @include set-font(h4);

        margin: 0;
    }

    .button-row {
        align-items: center;
        display: inline-grid;
        font-weight: bold;
        grid-auto-flow: column;
        grid-gap: 0.5rem;
        margin: 0 1.7rem;
    }

    .cta {
        @extend %button;
        @extend %primary;
    }

    .rss-link {
        background-color: none;
        color: os-color(orange);
        font-size: 3rem;
    }
}
