<div class="astronomy">
    <div class="container">
        <div class="chart flyout"></div>
        <div class="equation flyout"></div>
        <div class="book flyout"></div>

        <div class="student"></div>

        <div class="square-1 flyout"></div>
        <div class="square-3 flyout"></div>
        <div class="square-4 flyout"></div>

        <div class="now-i-can flyout">
            <span>Now I can</span>
            <span class="quote">see beyond this world</span>
        </div>

        <div class="subject-links flyout">
            <ul>
                <li>
                    <a class="btn btn-large btn-gold explore-subject" href="/details/astronomy">
                        Explore Astronomy
                    </a>
                </li>
                <li>
                    <a class="btn btn-large btn-blue explore-all" href="/subjects">
                        Explore All Subjects
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
