@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

$subject: astronomy;

$book-color: color(blue);
$now-i-can-color: rgba(color(cyan), 0.85);
$now-i-can-width: 53rem;
$underline-width: 33rem;
$square-color: rgba(color(blue), 0.3);
$subject-button-color: color(gold);
$all-subject-button-color: color(blue);

.home-page .book-banners .banner.#{$subject} {
    background-color: $book-color;

    @include tablet {
        background-image: url("/images/home/subjects/#{$subject}/background.jpg");
    }

    .chart {
        background-image: url('/images/home/subjects/astronomy/chart.png');
        height: 19rem;
        right: 4rem;
        position: absolute;
        bottom: 6rem;
        width: 19rem;
    }

    .equation {
        background-image: url('/images/home/subjects/astronomy/equation.png');
        height: 14rem;
        left: 19rem;
        position: absolute;
        top: 19rem;
        width: 14rem;
    }

    .square-1,
    .square-2,
    .square-3,
    .square-4 {
        background-color: $square-color;
    }

    .square-1 {
        height: 3.5rem;
        left: 13rem;
        top: 60%;
        width: 3.5rem;
    }

    .square-3 {
        @include tablet {
            bottom: 0;
            display: block;
            height: 34rem;
            left: 0;
            width: 45rem;
        }

        @include desktop {
            height: 17rem;
            left: 29rem;
            top: 40rem;
            width: 36rem;
        }
    }

    .square-4 {
        @include tablet {
            bottom: 15rem;
            display: block;
            height: 26rem;
            right: 0;
            width: 26rem;
        }

        @include desktop {
            height: 43rem;
            left: 64rem;
            top: 24rem;
            width: 43rem;
        }
    }

    .element {
        background-image: url('/images/home/subjects/#{$subject}/element.png');
        bottom: 10rem;
        height: 12rem;
        right: 0;
        width: 12rem;
    }

    .book {
        background-color: $book-color;
        background-image: url('/images/subjects/#{$subject}.svg');
        background-position: top left;

        @include tablet {
            top: 10vw;
            left: calc(52.3% - 15.7rem);
            width: 28rem;
            height: 28rem;
        }

        @media (max-width: 360px) {
            right: auto;
        }

        @include desktop {
            animation: flyin 0.5s 1s 1 normal forwards;
            background-position: top center;
            background-size: contain;
            left: 37%;
            top: 10rem;
        }
    }

    .student {
        background-image: url('/images/home/subjects/#{$subject}/student.png');
        background-position: 92% 100%;
        right: 1.5rem;
        width: calc(35% + 15rem);

        @include tablet {
            bottom: -0.1rem;
            height: calc(20vw + 35.5rem);
            left: calc(65% - 28.7rem);
            width: calc(20vw + 35.5rem);
        }

        @include desktop {
            height: 56rem;
            left: 36%;
            width: 56rem;
        }
    }

    .align-edge {
        @include tablet {
            bottom: 5.5rem;
            left: calc(22vw - 9.1rem);
        }

        @include desktop {
            left: 9rem;
        }
    }

    .now-i-can {
        background-color: $now-i-can-color;
        color: color(neutral-lightest);
        font-size: 3rem;
        width: $now-i-can-width;

        &::after {
            width: $underline-width;
        }
    }

    .subject-links {
        @include tablet {
            width: 45rem;
        }
    }

    .explore-subject {
        @include tablet {
            background-color: $subject-button-color;
        }

        &:hover {
            background-color: darken($subject-button-color, 5%);
        }
    }

    .explore-all {
        @include tablet {
            background-color: $all-subject-button-color;
        }

        &:hover {
            background-color: darken($all-subject-button-color, 5%);
        }
    }
}
