@import 'variables';
@import 'mixins';

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

.flyin,
.flyout {
    @include desktop {
        opacity: 0;
    }
}

.astronomy {
    background-attachment: fixed;
    background-image: url('/images/home/subjects/astronomy/background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    overflow: hidden;
    position: relative;

    @include tablet {
        height: 65rem;
    }

    @include phone {
        background-color: color(blue);
        background-image: none;
        height: 45rem;
    }

    .container {
        display: flex;
        margin: 0 auto;
        padding: 0 1.5rem;
        max-width: $boxed-width;
        flex-flow: column wrap;
        position: relative;
        height: 100%;

        @include tablet {
            flex-flow: row wrap;
        }

        @include desktop {
            flex-flow: row wrap;
        }
    }

    .square-1,
    .square-2,
    .square-3,
    .square-4 {
        background-color: rgba(color(blue), 0.3);
        display: none;
        position: absolute;
        z-index: 0;

        @include desktop {
            display: block;
            animation: flyin 0.5s 1.2s 1 normal ease-in forwards, loop 30s 1.5s normal infinite linear forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .square-1 {
        height: 3.5rem;
        left: 13rem;
        top: 60%;
        width: 3.5rem;
    }

    .square-3 {
        @include tablet {
            bottom: 0;
            display: block;
            height: 34rem;
            left: 0;
            width: 45rem;
        }

        @include desktop {
            height: 17rem;
            left: 29rem;
            top: 40rem;
            width: 36rem;
        }
    }

    .square-4 {
        @include tablet {
            bottom: 15rem;
            display: block;
            height: 26rem;
            right: 0;
            width: 26rem;
        }

        @include desktop {
            height: 43rem;
            left: 64rem;
            top: 24rem;
            width: 43rem;
        }
    }

    .chart,
    .equation,
    .book {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
    }

    .chart,
    .equation {
        display: none;

        @include desktop {
            display: block;
            animation: flyin 0.5s 1.4s 1 normal ease-in forwards, loop 40s 1.8s reverse infinite linear forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .chart {
        background-image: url('/images/home/subjects/astronomy/chart.png');
        height: 19rem;
        right: 2rem;
        position: absolute;
        bottom: 6rem;
        width: 27.4rem;
    }

    .equation {
        background-image: url('/images/home/subjects/astronomy/equation.png');
        height: 14rem;
        left: 19rem;
        position: absolute;
        top: 24rem;
        width: 14rem;
    }

    .book {
        background-color: color(blue);
        background-image: url('/images/subjects/astronomy.svg');
        background-position: top left;
        background-size: 100% auto;
        height: 33rem;
        left: 1.5rem;
        max-width: calc(100% - 3rem);
        position: absolute;
        top: 1.5rem;
        width: 33rem;

        @include tablet {
            top: 10vw;
            left: calc(52.3% - 15.7rem);
            width: 28rem;
            height: 28rem;
        }

        @media (max-width: 360px) {
            right: auto;
        }

        @include desktop {
            animation: flyin 0.5s 1s 1 normal forwards;
            background-position: top center;
            background-size: contain;
            left: 37%;
            top: 10rem;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .student {
        background-image: url('/images/home/subjects/astronomy/student.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 15rem;
        height: 55%;
        position: absolute;
        right: 1.5rem;
        width: 32rem;
        z-index: 2;

        @include tablet {
            bottom: -0.1rem;
            height: calc(20vw + 35.5rem);
            left: calc(65% - 28.7rem);
            width: calc(20vw + 35.5rem);
        }

        @include desktop {
            height: 56rem;
            left: 36%;
            width: 56rem;
        }
    }

    .now-i-can {
        background-color: rgba(color(cyan), 0.85);
        color: color(neutral-lightest);
        display: none;
        font-size: 3rem;
        font-weight: 600;
        height: 8rem;
        left: 4rem;
        line-height: 2.5;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: none;
        top: 41rem;
        width: 53rem;
        z-index: 3;

        @media (min-width:650px) {
            display: initial;
        }

        @include desktop {
            animation: flyin 0.5s 1.8s 1 normal forwards;
            font-size: 3.4rem;
            height: 9rem;
            left: 4rem;
            width: 58rem;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        .quote {
            display: inline-block;
            font-family: 'Permanent Marker', cursive;
            transform: rotate(-1.2deg) translate(0.8rem, -0.5rem);
        }

        &::after {
            border-bottom: 0.1rem solid color(neutral-lightest);
            content: '';
            right: 2rem;
            position: absolute;
            top: 70%;
            width: 33rem;

            @include desktop {
                right: 1rem;
                width: 37rem;
            }
        }
    }

    .subject-links {
        bottom: 1.5rem;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 3;

        @include tablet {
            bottom: 6.3rem;
            left: 2.5rem;
            width: 27rem;
        }

        @media (min-width: 650px) {
            width: auto;
        }

        @include desktop {
            left: 15.6rem;
            animation: flyin 0.5s 1.8s 1 normal forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        ul {
            list-style-type: none;
            margin: 0 1.5rem;
            padding: 0;

            li {
                display: inline-block;
                width: 100%;

                @include tablet {
                    width: auto;
                }
            }
        }

        .btn {
            font-size: 1.6rem;
            line-height: 6rem;
            height: 6rem;
            padding: 0 1.5rem;
            width: 100%;
            display: inline-block;

            @include desktop {
                width: auto;
            }
        }

        .explore-subject {
            margin-bottom: 1.5rem;

            @include tablet {
                margin-right: 1rem;
            }
        }

        .explore-all {
            @include phone {
                background-color: color(orange);

                &:hover {
                    background-color: darken(color(orange), 5%);
                }
            }
        }
    }
}
