@import 'pattern-library/core/pattern-library/headers';

.carousel {
    overflow: hidden;
    position: relative;

    .navigate {
        height: 7rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.previous {
            border-bottom-right-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
            left: 0;
        }

        &.next {
            right: 0;
        }
    }

    .image-row {
        display: grid;
        position: relative;
        width: 500%;

        .image-holder,
        .logo-holder {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 31rem;

            img,
            video {
                max-width: calc(100% - 6rem); // leave room for nav buttons
            }
        }

        .logo-holder {
            background-color: ui-color(white);

            > img {
                max-height: 8rem;
                max-width: 8rem;
            }
        }
    }
}
