@import 'pattern-library/core/pattern-library/headers';

.partner-details .carousel {
    .carousel {
        position: relative;
    }

    .items {
        > * {
            min-width: 100%;
        }
    }

    .image-holder,
    .logo-holder {
        align-items: center;
        display: flex;
        justify-content: center;

        @include width-up-to($phone-max) {
            height: 15rem;
        }

        @include wider-than($phone-max) {
            height: 31rem;
        }

        img,
        video {
            max-height: 100%;
            max-width: calc(100% - 6rem); // leave room for nav buttons
        }
    }

    .logo-holder {
        background-color: ui-color(white);
        padding: 2rem calc(50% - 15rem);
        max-width: 100%;

        @include width-up-to($phone-max) {
            padding: 2rem 10%;
        }

        > img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
