<template args="model">
    <div class="filter-button" each="item in model.items" tabindex="0"
        data-value="{$value.value}"
        role="button" aria-pressed="{model.isSelected($value.value)}"
    >
        <span if="model.isSelected($value.value)" class="on-mobile filter-by">
            Filter by:
        </span>
        <span data-html="items[{$item}].html" skip="true"></span>
        <span if="model.isSelected($value.value)" class="on-mobile fa fa-chevron-down"></span>
    </div>
</template>
