@import 'pattern-library/core/pattern-library/headers';

.errata-summary {
    .summary-table,
    .summary-table-mobile {
        @include set-font(helper-label);


        background-color: text-color(white);
        border: thin solid ui-color(form-border);
        border-collapse: collapse;
        margin-bottom: 13rem;
        max-width: 100%;

        tr {
            max-width: 100%;
        }

        th {
            display: table-cell;
            position: relative;

            .will-sort {
                display: none;
            }

            &:hover .will-sort,
            &:focus .will-sort {
                color: ui-color(secondary-hover);
                display: inline-block;
            }
        }

        [data-sort-fn] {
            cursor: pointer;
        }

        .sortdir1,
        .sortdir-1 {
            position: absolute;
            right: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
        }

        .sortdir1::after,
        .sortdir-1::after {
            content: '▸';
            display: inline-block;
            font-size: 140%;
            margin-bottom: 0.3rem;
            text-align: center;
            transform-origin: 50% 50%;
            transition: all 0.2s ease-in-out;
        }

        .sortdir1::after {
            transform: rotate(-90deg);
        }

        .sortdir-1::after {
            transform: rotate(90deg);
        }

        th,
        td {
            border: thin solid ui-color(form-border);
        }

        th,
        td > div {
            line-height: 1.4;
            padding: $normal-margin;
            text-align: left;
            vertical-align: top;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        .narrow {
            width: 8rem;
        }

        .mid {
            overflow-x: auto;
            width: 12rem;
        }

        .mid-wide {
            width: 17rem;
        }
    }

    .summary-table {
        display: none;
        table-layout: fixed;
        width: 100%;

        @include wider-than($tablet-max) {
            display: table;
        }

        th {
            border-bottom: 0.2rem solid os-color(blue);
            color: os-color(blue);
        }

        tbody tr:nth-child(even) {
            background-color: ui-color(form-bg);
        }
    }

    .summary-table-mobile {
        margin-bottom: 1.5rem;
        table-layout: fixed;
        width: 100%;

        @include wider-than($tablet-max) {
            display: none;
        }

        th:first-child {
            width: 15rem;
        }
    }
}
