@import 'pattern-library/core/pattern-library/headers';

.partner-details {
    background-color: ui-color(default);

    section {
        @include width-up-to($phone-max) {
            padding: $normal-margin 0;
        }

        @include wider-than($phone-max) {
            padding: 3rem;
        }
    }

    .sticky-region {
        @include wider-than($phone-max) {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }

    .scrolling-region {
        background-color: ui-color(white);
        height: 100%;
        max-width: 100%;
        overflow: auto;
        padding: 0 $normal-margin;
        width: $content-max;

        @include wider-than($phone-max) {
            padding: 0 3rem;
        }

        @include wider-than($tablet-max) {
            min-width: 80rem;
        }
    }

    .primary {
        @extend %button;
        @extend %primary;
    }

    hr {
        border-top: thin solid ui-color(form-border);
        margin: 0 3rem;

        &.tab-baseline {
            margin: 0;
        }
    }

    .tab-heading {
        background-color: ui-color(white);
        width: 100%;

        .tab {
            padding-top: 3rem;
        }
    }

    .tab-content,
    .content-group > div {
        width: 100%;
    }

    .main-text > :first-child {
        margin-top: 0;
    }

    h2 {
        @include set-font(h3);
    }

    $space: 0.25em;
    .titles {
        display: block;

        .title {
            display: inline;

            &:not(:last-child)::after {
                content: ', '
            }
        }
    }

    .tag {
        @include body-font(1.2rem);

        color: text-color(helper);

        &:not(:first-child)::before {
            content: '•';
            margin: 0 0.5rem;
        }
    }

    .overview {
        display: grid;
        grid-row-gap: 3rem;
        grid-template-columns: 100%;

        h2 {
            margin: 0;
        }
    }
}
