@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.partner-details {
    background-color: ui-color(default);

    section {
        padding: 3rem;

        &.carousel {
            padding-bottom: 0;
        }
    }
    .synopsis {
        background-color: ui-color(white);
        display: grid;
        grid-column-gap: 3rem;
        padding-right: 4rem;

        @include width-up-to($phone-max) {
            grid-row-gap: 1rem;
            grid-template: 'icon'
            'title'
            'site-link'
            'tags' / 100%;
        }

        @include wider-than($phone-max) {
            grid-row-gap: 0.5rem;
            grid-template: 'icon title'
            'icon site-link'
            'icon tags' / auto 1fr;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .icon {
            align-self: center;
            grid-area: icon;
            justify-self: center;
            max-height: 12rem;
            max-width: 12rem;
        }

        .badge {
            @extend %verified-badge;

            align-self: start;
            grid-area: icon;
            justify-self: end;
            margin-top: 0.5rem;
        }
        .headline {
            @include title-font(1.6rem);

            grid-area: title;
        }
        .partner-website {
            grid-area: site-link;
        }
    }

    .scrolling-region {
        height: 100%;
        overflow: auto;
    }

    .primary {
        @extend %button;
        @extend %primary;
    }

    hr {
        border-top: thin solid ui-color(form-border);
        margin: 0 3rem;
    }

    .main-text > :first-child {
        margin-top: 0;
    }

    h2 {
        @include set-font(h3);
    }

    $space: 0.25em;
    .titles {
        display: block;

        .title {
            display: inline;

            &:not(:last-child)::after {
                content: ', '
            }
        }
    }

    .tag {
        @include body-font(1.2rem);

        color: text-color(helper);

        &:not(:first-child)::before {
            content: '•';
            margin: 0 0.5rem;
        }
    }

}
