<h1>Thank you for requesting an iBooks comp copy.</h1>
<p class="subhead">
    A member of our Customer Service team will contact you with a code for your
    free iBooks copy within one to two business days.
</p>
<div>
    <a href="/subjects" class="go-to">Go back to the books</a>
</div>
