<div class="img"></div>
<div class="content">
    <h2><a href="/blog/{{articleSlug}}">{{title}}</a></h2>
    <h3>{{subheading}}</h3>
    <div class="body"></div>

    <div class="meta">
        <p><span class="author">{{author}}</span>  &nbsp;|&nbsp;  <span class="date" data-id="date"></span></p>
    </div>
</div>
