@import 'pattern-library/core/pattern-library/headers';

.persona {
    align-items: start;
    display: grid;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    padding: 4rem 0;

    > * {
        margin: 0;
    }

    @include width-up-to($phone-max) {
        grid-template-columns: 100%;
    }

    @include wider-than($phone-max) {
        grid-template: 'image space-top'
        'image title'
        'image description'
        'image table'
        'image space-bottom';

        &:nth-child(odd):not(.top-result) {
            grid-template: 'space-top image'
            'title image'
            'description image'
            'table image'
            'space-bottom image';
        }

        > img {
            grid-area: image;
        }

        > h2 {
            align-self: end;
            grid-area: title;
        }

        > .description {
            grid-area: description;
        }

        > .partner-table {
            align-self: start;
            grid-area: table;
        }
    }

    img {
        max-width: 100%;
    }

    $row-border: thin solid ui-color(form-border);
    .partner-table {
        border-top: $row-border;
        display: grid;
        grid-row-gap: 0.1rem;
        grid-template-columns: repeat(4, 1fr);

        .partner-logo {
            align-items: center;
            border-bottom: $row-border;
            display: grid;
            grid-template-columns: 100%;
            height: 5rem;
            justify-items: center;

            img {
                max-height: 100%;
                padding: 1rem;
            }
        }

        .filler {
            border-bottom: $row-border;
        }
    }
}
