@import 'pattern-library/core/pattern-library/headers';

.skiptocontent {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;

    &:not(:focus) {
        color: transparent;
    }

    &:focus {
        background-color: os-color(red);
        color: text-color(white);
        padding: 0.5rem $normal-margin;
        outline: thick solid ui-color(focus-outline);
        box-shadow: none;
    }
}
