@import 'pattern-library/core/pattern-library/headers';

.give-button {
    @include button();
    background-color: ui-color(primary);
    border: 0;
    border-radius: 0.4rem;
    box-shadow: none;
    color: text-color(white);
    font-weight: bold;

    &:hover,
    &:focus {
        background-color: ui-color(primary-hover);
        color: text-color(white);
    }
}
