@import 'pattern-library/core/pattern-library/headers';

.carousel {
    display: grid;
    position: relative;
    width: 100%;
    max-width: calc(100vw - 3rem);

    .frame-changer {
        align-items: center;
        background-color: rgba(ui-color(black), 0.4);
        display: flex;
        height: 7rem;
        justify-content: center;
        min-width: 4rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .hover-text {
            opacity: 0;
            overflow: hidden;
            padding: 0;
            max-width: 0.1rem;
        }

        @media(hover: hover) and (pointer: fine) {
            .hover-text {
                display: block;
                transition: max-width 0.2s, opacity 0.1s;
            }

            &:hover,
            &:focus {
                background-color: rgba(ui-color(black), 0.7);

                .hover-text {
                    opacity: 1;
                    max-width: 9rem;
                    padding: 0 1rem;
                }
            }
        }

        &.left {
            border-bottom-left-radius: 0.3rem;
            border-top-left-radius: 0.3rem;
            left: 0;
        }

        &.right {
            border-bottom-right-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
            right: 0;

            .hover-text {
                order: -1;
            }
        }
    }

    .scroller {
        display: grid;
        overflow: auto;
        scroll-snap-type: x mandatory;
        grid-auto-flow: column;
        scrollbar-width: none;

        > [role="group"] {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;

            > * {
                width: 100%;
            }
        }
    }

    .items {
        display: flex;
        position: relative;
        overflow-x: visible;
    }
}
