@import 'variables';

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes pulse {
    from {
        background-color: rgba(color(primary), 0.2);
    }
}

@keyframes flyin {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes flyout {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes loop {
    // rotate slightly to force antialiasing and fix choppy animations in Firefox
    from { transform: translate(-1.5rem, -7rem) rotate(0.001deg); }
    to { transform: translate(0) rotate(0.001deg); }
}
