@import '../mixins/responsive';
@import '../../../node_modules/pattern-library/core/pattern-library/headers';

.quote-bucket .image {
    background-repeat: no-repeat;
}

.bucket {
    display: flex;

    &.full {
        text-align: center;

        @include collapsed {
            text-align: left;
        }

        .quote {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include collapsed {
                align-items: flex-start;
                justify-content: flex-start;
            }

            .blurb {
                margin: 0 auto;
                max-width: 50%;

                @include collapsed {
                    margin: 0;
                    max-width: 100%;
                }
            }
        }
    }

    &.left {
        > .image {
            order: 2;

            @include collapsed {
                order: 1;
            }
        }

        > .quote {
            order: 1;
        }
    }

    &.right {
        > .image {
            order: 1;
        }

        > .quote {
            order: 2;
        }
    }

    .image {
        flex: 1 1 17rem;
        max-width: 47rem;

        @include collapsed {
            max-width: none;
            min-height: 32rem;
        }
    }

    .quote {
        flex: 2 0;
        padding: 3rem;
        position: relative;

        .title {
            @include set-font(h1);

            display: block;
            max-width: 100%;
        }

        .blurb {
            @include set-font(body-large);

            display: block;
        }
    }
}
