@import 'variables';
@import 'mixins';

.btn {
    background-color: color(neutral-medium);
    color: color(neutral-light);
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 500;
    outline: 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
        text-decoration: none;
        transform: scale(1.05);
    };
}

.btn-large {
    padding: 2.5rem;
}

.cta > .btn {
    background-color: color(orange);
    border: 0;
    color: white;
    font-variant: small-caps;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}

@each $name, $type in $color-types {
    .btn-#{$name} {
        background-color: color($name);
        color: color(neutral-lightest);

        &:active,
        &:hover,
        &:focus {
            background-color: darken(color($name), 5%);
        };
    }
}

@each $name, $color in $os-colors {
    .btn-focus-#{$name} {
        &:focus {
            box-shadow: 0 0 2pt 2pt $color;
            outline: 0;
        }
    }
}
