@import 'pattern-library/core/pattern-library/headers';

[role="button"] {
    cursor: pointer;
    touch-action: manipulation;
}

button,
.btn {
    @include button();
    touch-action: manipulation;

    &.default {
        background-color: ui-color(white);
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

// Call-to-action buttons generally have this style
.cta > .btn {
    padding: 1.5rem 2rem;
    text-transform: uppercase;
}

.cta > .btn,
.btn-orange {
    @include button-type-specific(primary);
}

.btn-cyan {
    background-color: os-color(light-blue);
}

.btn-gold {
    background-color: os-color(gold);
}
