@import 'variables';
@import 'mixins';

.btn {
    background-color: color(neutral-medium);
    color: color(neutral-light);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;

    &:hover,
    &:focus {
        text-decoration: none;
    };
}

.btn-large {
    padding: 2.5rem;
}

@each $name, $type in $os-colors {
    .btn-#{$name} {
        background-color: color($name);
        color: color(neutral-lightest);

        &:active,
        &:hover,
        &:focus {
            background-color: darken(color($name), 5%);
        };
    }
}

@each $name, $color in $os-colors {
    .btn-focus-#{$name} {
        &:focus {
            box-shadow: 0 0 2pt 2pt $color;
            outline: 0;
        }
    }
}
