@import '../../../node_modules/pattern-library/core/pattern-library/headers';

[aria-role="button"],
button,
.btn {
    border: 0;
    cursor: pointer;
    display: inline-block;
    touch-action: manipulation;

    &:focus {
        border-radius: 0.3rem;
        box-shadow: 0 0 5px 3px rgba(os-color(light-blue), 0.7);
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

button,
.btn {
    background-color: ui-color(secondary);
    color: ui-color(white);
    font-size: inherit;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.btn-large {
    padding: 2.5rem;
}

// Call-to-action buttons generally have this style
.cta > .btn {
    padding: 1.5rem 2rem;
    text-transform: uppercase;
}

.cta > .btn,
.btn-orange {
    background-color: ui-color(primary);
    border: 0;
    color: ui-color(white);

    &:active {
        background-color: ui-color(primary-active);
    }

    &:hover {
        background-color: ui-color(primary-hover);
    }
}

.btn-cyan {
    background-color: os-color(light-blue);
}

.btn-gold {
    background-color: os-color(gold);
}
