@import 'pattern-library/core/pattern-library/molecules';

$width-of-filter-by: 7.5rem;

.strips-and-filter {
    position: relative;
    width: 100%;

    .strips {
        margin-bottom: 0;
        position: absolute;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.filter {
    color: os-color(gray);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;

    @include width-up-to($tablet-max) {
        background-color: ui-color(white);
        border: 0.1rem solid ui-color(default-active);
    }
}

.filter-buttons {
    @include set-font(body-large);
    @include width-up-to($tablet-max) {
        height: auto;
        justify-items: right;
        min-height: $form-element-height;
    }

    @include wider-than($tablet-max) {
        @include button-bar();

        :not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        :not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .filter-button {

        @include width-up-to($tablet-max) {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: $form-element-height;
            overflow: hidden;
            padding: 0 $normal-margin;
            white-space: nowrap;
        }

        &:focus {
            position: relative;
            z-index: 1;
        }

        &[aria-pressed="true"] {
            @include wider-than($tablet-max) {
                @include button-bar-selected();

                order: 0;
            }

            @include width-up-to($tablet-max) {
                order: -1;
            }
        }

        &:not([aria-pressed="true"]) {
            @include width-up-to($tablet-max) {
                height: 0;
                opacity: 0;
                padding: 0;
                transition: opacity 0.3s;
                width: 0;

                @at-root .active#{&} {
                    height: $form-element-height;
                    opacity: 1;
                    padding-left: 2rem;
                    width: 100%;
                }
            }
        }

        .on-mobile {
            margin-left: $normal-margin;

            @include wider-than($tablet-max) {
                display: none;
            }
        }

        .filter-by {
            font-weight: bold;
            margin-right: 0.7rem;
        }
    }
}
