@import '../../node_modules/pattern-library/core/pattern-library/molecules';

.strips-and-filter {
    position: relative;
    width: 100%;

    .strips {
        margin-bottom: 0;
        position: absolute;
        z-index: 1;
    }
}

.filter {
    color: os-color(gray);
    left: 50%;
    max-width: 70rem;
    position: absolute;
    top: -2.5rem;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;

    &::before,
    &::after {
        border-right: 0.2rem solid;
        content: '';
        display: block;
        height: 1.2rem;
        position: absolute;
        right: 4.3rem;
        top: 2.2rem;
        transform: rotate3d(0, 0, 1, 135deg);
        width: 0;
        z-index: 1;

        @include wider-than($tablet-max) {
            display: none;
        }
    }

    &::after {
        right: 3.5rem;
        transform: rotate3d(0, 0, 1, 45deg);
    }
}

.filter-buttons {
    @include set-font(body-large);
    @include width-up-to($tablet-max) {
        align-items: flex-start;
        background-color: ui-color(white);
        border: 0.1rem solid ui-color(default-active);
        display: flex;
        flex-flow: column nowrap;
        height: auto;
        justify-content: center;
        margin: 0 1.5rem;
        min-height: $form-element-height;
    }

    @include wider-than($tablet-max) {
        @include button-bar();
    }

    .filter-button {
        @include width-up-to($tablet-max) {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: $form-element-height;
            overflow: hidden;
            padding: 0 1.5rem;
        }

        &:focus {
            position: relative;
            z-index: 1;
        }

        &[aria-pressed="true"] {
            @include wider-than($tablet-max) {
                @include button-bar-selected();

                order: 0;
            }

            @include width-up-to($tablet-max) {
                order: -1;

                &::before {
                    content: 'Filter By: ';
                    display: inline;
                    font-weight: 500;
                    margin-right: 1rem;
                }
            }
        }

        &:not([aria-pressed="true"]) {
            @include width-up-to($tablet-max) {
                height: 0;
                opacity: 0;
                padding: 0;
                transition: opacity 0.3s;
                width: 0;

                @at-root .active#{&} {
                    height: $form-element-height;
                    opacity: 1;
                    padding-left: 2rem;
                    width: 100%;
                }
            }
        }
    }
}
