@import 'variables';

@mixin phone {
    @media (max-width: 640px) {
        @content;
    }
}

$text-black: rgba(color(neutral-darkest), 0.87);
$text-secondary: rgba(color(neutral-darkest), 0.7);


form {
    color: $text-black;
    line-height: 3rem;

    [type="submit"] {
        background-color: color(primary);
        border: 0;
        color: color(neutral-lightest);
        font-size: 1.7rem;
        padding: 1rem 2rem;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-flow: row wrap;
        padding: 8rem 0;

        .col {
            display: inline-block;
            flex: 1 1 50%;
            padding: 0 1.5rem;

            @include phone {
                flex: 1 1 auto;
            }
        }
    }

    fieldset {
        border: 0;
    }

//    &.invalid,
//    input:invalid,
//    select:invalid,
//    .proxy-widget.invalid {
//
//    }

    label {
        display: block;
        margin: 2rem 0;
    }

    &.labeled-inputs {
        border: 0;
        border-spacing: 0.5rem;
        display: table;

        label,
        .form-item {
            color: color(primary);
            display: flex;

            > span,
            > input {
                font-weight: 500;
            }

            > span {
                flex-basis: 11rem;
            }

            > input {
                flex-grow: 1;
            }
        }
    }

    &.labeled-buttons {
        border: 0;

        > label {
            display: block;
        }
    }

    .labeled-buttons label {
        display: block;

        .short {
            height: 2.1rem;
            width: 8rem;
        }
    }

    > .validation-message {
        display: none;
    }

    &.invalid > .validation-message {
        background-color: color(neutral-lightest);
        color: color(danger);
        display: block;
    }

    [type="text"],
    [type="number"],
    [type="email"],
    select {
        border: 1px solid rgba(color(gray) , 0.2);
        color: $text-secondary;
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 600;
        height: 4.8rem;
        padding: 1rem;
        width: 100%;

        &:focus {
            outline: 0;
            border-bottom: solid color(cyan) 0.2rem;
        }
    }

    select,
    option {
        background: none;
        margin: 0;
        padding: 1.5rem;
    }

    .wrapper {
        background-color: #f1f2f2;
    }
}
