@import 'variables';

[type="submit"] {
    background-color: color(primary);
    color: color(neutral-lightest);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

fieldset {
    &.invalid,
    input:invalid,
    select:invalid {
        box-shadow: 0 0 0.5rem color(danger);
    }

    &.labeled-inputs {
        border: 0;
        border-spacing: 0.5rem;
        display: table;

        > label {
            display: table-row;

            > span,
            > input {
                display: table-cell;
            }
        }
    }

    &.labeled-buttons {
        border: 0;

        > label {
            display: block;
        }
    }

    > .validation-message {
        display: none;
    }

    &.invalid > .validation-message {
        background-color: color(neutral-lightest);
        color: color(danger);
        display: block;
    }

}
