@import 'pattern-library/core/pattern-library/headers';

$enough-for-two-columns: 640px;

form {

    label {
        @include set-font(helper-label);

        color: text-color(normal);
    }

    .subhead {
        @include set-font(body-large);

        font-weight: 400;
        text-align: center;
    }

    [type="submit"] {
        @include set-font(body-large);

        appearance: none;
        float: right;
        margin: 0.84rem 0;
        padding: 1rem 2rem;
        width: 15rem;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 8rem 0;

        &.top-of-form {
            padding-top: 0;
        }

        .col {
            display: inline-block;
            flex: 1 1 32rem;
            max-width: 50%; // important for ellipsis on inputs
            padding: 0 1.5rem;

            @include width-up-to($enough-for-two-columns) {
                flex: 1 1 auto;
                max-width: 100%;
            }
        }
    }

    .control-group {
        margin-bottom: 3rem;

        .invalid-message {
            height: 0;
            overflow: visible;
        }
    }

    .control-group,
    .radio-control-group {

        > label {
            align-items: center;
            display: flex;

            [type="radio"],
            [type="checkbox"] {
                margin: 0.5rem 0.5rem 0.5rem 0;
            }
        }
    }

    .field-label {
        color: text-color(normal);
        display: flex;
        font-weight: bold;
        height: 2rem;
    }

    fieldset {
        border: 0;
    }


    .invalid-message {
        @include set-font(helper-label);

        color: text-color(error);
        display: block;
    }

    &.labeled-inputs {
        border: 0;
        border-spacing: 0.5rem;
        display: table;

        label,
        .form-item {
            color: os-color(blue);
            display: flex;

            > span,
            > input {
                font-weight: 500;
            }

            > span {
                flex-basis: 11rem;
            }

            > input {
                flex-grow: 1;
            }
        }
    }

    &.labeled-buttons {
        border: 0;

        > label {
            display: block;
        }
    }

    .labeled-buttons label {
        display: block;

        .short {
            height: 2.1rem;
            width: 8rem;
        }
    }

    .validation-message {
        display: none;
    }

    .invalid > .validation-message {
        background-color: none;
        color: text-color(error);
        display: block;
    }

    .field-long-label {
        @include set-font(body-regular);
        color: text-color(normal);
        display: block;
    }

    [type="text"],
    [type="url"],
    [type="number"],
    [type="email"],
    [type="date"],
    textarea,
    .selected-button {
        @include set-font(body-regular);

        appearance: none;
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0;
        display: inline-block;
        font-weight: 500;
        height: $form-element-height;
        overflow: hidden;
        padding: 0.84rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        // These come from pattern-library, but it has no placeholders or macros for them
        &:focus {
            border: thin solid os-color(light-blue);
            box-shadow: 0 0 4px 0 rgba(os-color(light-blue), 0.5);
            outline: 0;
        }

    }

    &.submitted {
        [type="text"],
        [type="url"],
        [type="number"],
        [type="email"],
        [type="date"],
        textarea,
        .selected-button {
            &:invalid {
                background-color: ui-color(error-bg);
                border: thin solid ui-color(error-border);
                box-shadow: none;
                color: text-color(error);
                outline: 0;

                ~ .invalid-message {
                    @extend %text-helper-label;
                    color: text-color(error);
                    display: block;
                }
            }
        }
    }

    textarea {
        height: 21.42rem;
        overflow-y: auto;
        white-space: normal;
    }

    .select-instructions {
        @include set-font(helper-label);

        color: text-color(helper);
        display: block;
        font-style: italic;
    }

    [type="date"] {
        appearance: none;
    }

    .btn {
        margin-top: 3rem;
    }

    .wrapper {
        background-color: ui-color(form-bg);

        .strips {
            margin-bottom: 0;
        }
    }
}
