@import '../../node_modules/pattern-library/core/pattern-library/headers';

$enough-for-two-columns: 640px;

form {

    label {
        @include set-font(helper-label);

        color: text-color(helper);
    }

    .subhead {
        @include set-font(body-large);

        font-weight: 400;
        text-align: center;
    }

    [type="submit"] {
        @include set-font(body-large);

        appearance: none;
        float: right;
        margin: 0.84rem 0;
        padding: 1rem 2rem;
        width: 15rem;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 8rem 0;

        &.top-of-form {
            padding-top: 0;
        }

        .col {
            display: inline-block;
            flex: 1 1 32rem;
            max-width: 50%; // important for ellipsis on inputs
            padding: 0 1.5rem;

            @include width-up-to($enough-for-two-columns) {
                flex: 1 1 auto;
                max-width: 100%;
            }
        }
    }

    fieldset {
        border: 0;
    }


    .invalid-message {
        @include set-font(helper-label);

        color: text-color(error);
        display: block;
        font-style: italic;
    }

    &.labeled-inputs {
        border: 0;
        border-spacing: 0.5rem;
        display: table;

        label,
        .form-item {
            color: os-color(blue);
            display: flex;

            > span,
            > input {
                font-weight: 500;
            }

            > span {
                flex-basis: 11rem;
            }

            > input {
                flex-grow: 1;
            }
        }
    }

    &.labeled-buttons {
        border: 0;

        > label {
            display: block;
        }
    }

    .labeled-buttons label {
        display: block;

        .short {
            height: 2.1rem;
            width: 8rem;
        }
    }

    .validation-message {
        display: none;
    }

    .invalid > .validation-message {
        background-color: none;
        color: text-color(error);
        display: block;
    }

    [type="text"],
    [type="url"],
    [type="number"],
    [type="email"],
    [type="date"],
    textarea,
    .selected-button {
        @include set-font(body-regular);

        appearance: none;
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0;
        display: inline-block;
        font-weight: 500;
        height: $form-element-height;
        overflow: hidden;
        padding: 0.84rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:focus {
            border-bottom: solid os-color(light-blue) 0.2rem;
            outline: 0;
        }

        &.visited:invalid {
            border-bottom: solid ui-color(error-border) 0.2rem;
            outline: 0;
        }
    }

    textarea {
        height: 21.42rem;
        overflow-y: auto;
        white-space: normal;
    }

    .select-instructions {
        @include set-font(helper-label);

        color: text-color(helper);
        display: block;
        font-style: italic;
    }

    [type="date"] {
        appearance: none;
    }

    .btn {
        margin-top: 3rem;
    }

    .wrapper {
        background-color: ui-color(form-bg);

        .strips {
            margin-bottom: 0;
        }
    }
}
