@import 'variables';
@import 'mixins';

h1,
h2,
h3,
h4,
h5,
h6 {
    color: color(dark);
    margin: 0;
    font-weight: 700;
}

h1,
.extra-large-header {
    font-size: 4.8rem;
    margin-bottom: 2.5rem;
}

h2,
.large-header {
    font-size: 2.8rem;
    margin-bottom: 1.8rem;
}

h3,
.medium-header {
    font-size: 2.1rem;
    margin-bottom: 1.1rem;
}

h4,
.small-header {
    font-size: 1.7rem;
}

h5,
.extra-small-header {
    font-size: 1.4rem;
}
