@import '../../../node_modules/pattern-library/core/pattern-library/headers';

.hero {
    background-color: ui-color(white);
    padding: 6rem 1.5rem;
    text-align: left;

    @include wider-than($tablet-max) {
        align-items: center;
        text-align: center;
    }

    &.w-cards {
        padding: 1.5rem;
    }

    h1 {
        color: inherit;
        margin-bottom: 1rem;
        margin-top: 0;

        ~ p {
            margin-top: 3rem;
        }
    }

    h2 {
        @include set-font(h1);

        color: inherit;
    }

    // DEPRECATED: this should be in pattern-library
    p {
        margin: 2rem auto 0;
        max-width: calc(#{$text-content-max} - 3rem);
    }

    .cta {
        @include set-font(helper-label);

        font-weight: bold;
        text-transform: capitalize;
    }

    .boxed p,
    .container p {
        @include set-font(body-large);

        margin: 0 auto;
        max-width: 100%;
        width: 100%; // IE fix
    }

    .boxed p p,
    .container p p { // fix for nested paragraphs. Most likely the cms's text editor is adding extra html
        margin: 0;
        max-width: 100%;
    }
}
