@import 'variables';
@import 'mixins';

.hero {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.4;
    padding: 6rem 1.5rem;
    text-align: left;

    @include desktop {
        align-items: center;
        text-align: center;
    }

    &.w-cards {
        padding: 1.5rem;
    }

    h1 {
        color: inherit;
        font-size: 6rem;
        font-weight: bold;
        letter-spacing: -0.035 * 6rem;
        line-height: calc(5 / 6);
        margin-bottom: 1rem;
        margin-top: 0;

        @include phone {
            font-size: 5rem;
        }

        ~ p {
            margin-top: 3rem;
        }
    }

    h2 {
        @include variable-sized-text(4.8, 0.2);

        color: inherit;
        font-weight: bold;
        letter-spacing: -0.2rem;
        line-height: 1;
        margin-bottom: 1rem;
    }

    p {
        margin: 2rem auto 0;
        max-width: calc(#{$text-width} - 3rem);
    }

    .cta {
        @include variable-sized-text(1.4, 0.2);

        font-weight: bold;
        text-transform: capitalize;
    }

    .boxed p,
    .container p {
        @include variable-sized-text(1.8, 0.2);

        line-height: 1.67;
        margin: 0 auto;
        max-width: 100%;
        width: 100%; // IE fix
    }

    .boxed p p,
    .container p p { // fix for nested paragraphs. Most likely the cms's text editor is adding extra html
        margin: 0;
        max-width: 100%;
    }
}
