@import 'variables';
@import 'mixins';

.page-intro {
    background-color: color(deep-green);

    h1 {
        color: color(neutral-lightest);
    }

    p {
        color: color(neutral-lightest);
    }
}
