@import 'variables';

$faint-gray: rgba(color(gray), 0.33);

.option-list {
    background-color: color(neutral-lightest);
    border-bottom-color: color(cyan);
    border-left-color: rgba(color(gray), 0.33);
    border-right-color: rgba(color(gray), 0.33);
    border-style: solid;
    border-top-color: color(neutral-lightest);
    border-width: 0.1rem;
    box-shadow: 0 0.2rem 0.3rem rgba(color(neutral-lighter), 0.8);
    cursor: pointer;
    left: 0;
    max-height: 20rem;
    overflow-y: auto;
    position: absolute;
    top: 4.8rem;
    width: 100%;
    z-index: 2;

    > .option {
        background-color: color(neutral-lightest);
        color: color(neutral-dark);
        font-weight: 600;
        padding: 0.5rem 1rem;
        width: 100%;

        &:hover {
            background-color: rgba(color(neutral-lighter), 0.3);
        }
    }

    &:focus {
        outline: 0;

    }
}
