// scss-lint:disable ImportantRule

@import 'variables';
@import 'mixins';

@for $i from 0 through 3 {
    @for $j from 0 through 3 {
        .flex-#{$i}-#{$j} {
            flex-grow: $i;
            flex-shrink: $j;
        }
    }
}

.hidden-large {
    @include large {
        display: none !important;
    }
}

.hidden-medium {
    @include medium {
        display: none !important;
    }
}

.hidden-small {
    @include small {
        display: none !important;
    }
}

.visible-large {
    @include medium {
        display: none !important;
    }

    @include medium-down {
        display: none !important;
    }
}

.visible-medium {
    @include large-up {
        display: none !important;
    }

    @include small {
        display: none !important;
    }
}

.visible-small {
    @include medium-up {
        display: none !important;
    }
}
/* Trailing newline */
