@import 'variables';

$faint-gray: rgba(color(gray), 0.33);

.single-select {
    position: relative;

    .option-list {
        left: 0;
    }

    .selected-button {
        border: thin solid $faint-gray;
        border-radius: 0.3rem;
        cursor: pointer;
        min-height: 2rem;
    }

}
