@import 'variables';
@import 'mixins';

$faint-gray: rgba(color(gray), 0.33);

.single-select {
    background-color: white;
    position: relative;
    height: 4.8rem;

    .selected-button {
        border: thin solid $faint-gray;
        cursor: pointer;
        padding-right: 4.8rem;
    }
}
