@import 'variables';
@import 'mixins';

.btn-social {
    background-image: url('/images/social/mail.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    height: 2.8rem;
    line-height: 2.4rem;
    overflow: hidden;
    width: 2.8rem;
}

.facebook {
    background-image: url('/images/social/icon-fb.svg');
}

.twitter {
    background-image: url('/images/social/icon-tw.svg');
}

.linkedin {
    background-image: url('/images/social/icon-li.svg');
}
