.strips {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    height: 1rem;
    margin-bottom: 4rem;

    span {
        flex: 1 0;

        &:first-child {
            background-color: color(orange);
            flex-grow: 2.8;
        }

        &:nth-child(2) {
            background-color: color(blue);
            flex-grow: 1.2;
        }

        &:nth-child(3) {
            background-color: color(red);
            flex-grow: 0.8;
        }

        &:nth-child(4) {
            background-color: color(yellow);
            flex-grow: 1.6;
        }

        &:last-child {
            background-color: color(cyan);
            flex-grow: 1.2;
        }
    }

}
