@import 'pattern-library/core/pattern-library/headers';

.tag-multi-select {
    background-color: white;
    border: 0.1rem solid ui-color(form-border);
    display: flex;
    min-height: $form-element-height;
    min-width: 12rem;
    padding-right: $form-element-height;
    position: relative;

    .tag-list {
        flex-grow: 1;
    }

    .activate-pulldown {
        flex-grow: 0;
    }

}
