@import 'variables';

$faint-gray: rgba(color(gray), 0.33);

.tag-multi-select {
    border: thin solid $faint-gray;
    display: flex;
    min-height: 5rem;
    min-width: 12rem;
    position: relative;

    .tag-list {
        flex-grow: 1;

        > div {
            border: thin solid $faint-gray;
            display: inline-block;
        }

        .label {
            margin: 0 0.3rem;
        }

        .remover {
            background-color: color(primary);
            color: color(neutral-lightest);
            cursor: pointer;
            font-size: 2rem;
            font-weight: 500;
            padding: 0 0.3rem;
        }
    }

    .activate-pulldown {
        flex-grow: 0;
    }
}
