@import 'variables';
@import 'mixins';

$breakpoint-1: 908px;
$breakpoint-2: 806px;
$hero-break-width: 880px;

.about-us {
    .hero {
        background-color: color(blue);
        background-image: url('/images/about-us/banner-about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 60rem;
        text-align: left;

        @media (max-width: $hero-break-width) {
            min-height: 0;
        }

        @include collapsed {
            height: calc(100vh - 6rem);
            max-height: 53rem;
        }

        > div {
            display: flex;
            align-items: stretch;
            width: 100%;
        }

        .container-wrap {
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;
            width: 100%;
            max-width: $boxed-width;
            z-index: 1;

            @include collapsed {
                flex-flow: row wrap;
                align-items: stretch;
            }

        }

        .overlay {
            background-color: rgba(saturate(color(blue), 10%), 0.85);
            color: color(neutral-lightest);
            padding: 4rem;
            display: flex;
            justify-content: flex-end;

            @media screen and (min-width: $boxed-width + 1) {
                padding-left: calc(-61rem + 55%);
            }

            @include collapsed {
                width: 100%;
            }

            .text-block {
                flex-basis: 100%;
            }

            h1 {
                color: inherit;

                @include desktop {
                    text-align: center;
                }
            }

            .blurb {
                padding: 1em 0;
                font-size: 1.8rem;
            }
        }
    }
}
