@import 'pattern-library/core/pattern-library/headers';

.assignable .promoting {
    padding: {
        left: 2rem;
        right: 2rem;
    }
    position: relative;

    @include scale-feature(padding-top, 6rem, 8rem);
    @include scale-feature(padding-bottom, 2rem, 16rem);

    .courses {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

   }
