<div class="row">
<div class="square-1"></div>
<div class="square-2"></div>
<div class="square-3">
    <div class="blurb">
        <h1>No two students are alike.</h1>
        <p>So we’re leveling the playing field in K­12 classrooms with personalized
        learning that gives students the learning support they need, when they need it. Now teachers will have more time and resources to invest in the things that matter most.</p>
        <a href="#tutor" title="Learn more" class="btn">Learn more</a>
    </div>
</div>
<div class="square-4 student"></div>
</div>
