@import 'variables';
@import 'mixins';

@mixin widescreen {
    @media (min-width: 1400px) {
        @content;
    }
}

@mixin tablet-down {
    @media (max-width: 962px) {
        @content;
    }
}

.k-12-page {
    .banner {
        position: relative;
        width: 100%;
        min-height: 42.857vw;
        background-color: color(blue);
        background-image: url('/images/k-12/k12-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        .square-1,
        .square-2 {
            background-color: rgba(color(orange), 0.1);
            display: none;
            position: absolute;
            z-index: 0;

            @media (min-width: 963px) {
                display: block;
            }
        }

        .square-1 {
            width: 34.285vw;
            height: 23.785vw;
            top: 4.8rem;
            left: 4.1rem;
            z-index: 1;
        }

        .square-2 {
            width: 19.14vw;
            height: 16.642vw;
            top: 9rem;
            right: 4.3rem;
        }

        .square-3 {
            display: flex;
            margin: 0 auto;
            width: 90vw;
            position: relative;
            align-items: center;
            min-height: 42.857vw;
            z-index: 0;

            @include tablet-down {
                width: 100%;
                background-color: rgba(color(orange), 0.9);
            }

            .blurb {
                max-width: $boxed-width;
                background-color: rgba(color(orange), 0.9);
                padding: 4rem 4rem 4rem 40vw;
                min-height: 34rem;
                margin: 0 auto;

                @include widescreen {
                    padding-left: 34vw;
                }

                @include tablet-down {
                    background: none;
                }

                @media (max-width: 806px) {
                    padding-left: 4rem;
                }

                h1 {
                    font-size: 6rem;
                }

                * {
                    color: white;
                }

                a {
                    background: 0;
                    color: white;
                    display: inline-block;
                    font-weight: 500;
                    padding: 0;
                    position: relative;
                    text-transform: uppercase;

                    &::after {
                        @include triangle(
                            $direction: bottom,
                            $position: top 1rem right -1.5rem,
                            $color: white,
                            $size: 0.5rem
                        );
                    }

                    &:hover,
                    &:focus {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .student {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 44.357vw;
            background: url('/images/k-12/k12-student.png') no-repeat;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 44.14vw 42.857vw;
            z-index: 3;
            transform: all 0.5s ease-in-out;

            @include tablet-down {
                background-position: -12rem bottom;
            }

            @media (max-width: 806px) {
                display: none;
            }
        }
    }
}
