@import 'variables';
@import 'mixins';

$breakpoint-1: 1000px;
$breakpoint-2: 806px;

@mixin tablet-down {
    @media (max-width: $breakpoint-1) {
        @content;
    }
}

@mixin smaller-h1 {

}

.k-12-page {
    .banner {
        background-color: color(blue);
        background-image: url('/images/k-12/k12-banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 42.857vw;
        overflow: hidden;
        position: relative;
        width: 100%;

        @media (max-width: $breakpoint-2) {
            min-height: auto;
        }

        .square-1,
        .square-2 {
            display: block;
            position: absolute;
            z-index: 1;

            @include tablet-down {
                display: none;
            }
        }

        .square-1 {
            background-color: rgba(darken(color(orange), 20%), 0.15);
            width: 34.285vw;
            height: 23.785vw;
            top: 4.8rem;
            left: 4.1rem;
            z-index: 1;
        }

        .square-2 {
            background-color: rgba(darken(color(orange), 10%), 0.10);
            width: calc(9vw + 12rem);
            height: calc(8vw + 10rem);
            bottom: 4vw;
            right: 3vw;
        }

        .square-3 {
            display: flex;
            margin: 0 auto;
            width: 82vw;
            position: relative;
            align-items: center;
            min-height: 42.857vw;
            z-index: 0;

            @include tablet-down {
                width: 100%;
                background-color: rgba(color(orange), 0.9);
            }

            .blurb {
                @include variable-sized-text(1.55, 0.15);

                background-color: rgba(saturate(color(orange), 10%), 0.85);
                margin: 0 auto;
                letter-spacing: 0.06rem;
                line-height: 1.6;
                max-width: calc(#{$boxed-width} + 10vw);
                padding: 0 4rem 4rem 47rem;
                text-align: left;

                @include tablet-down {
                    background: none;
                    font-size: 1.5rem;
                    min-height: auto;
                    padding-left: 39rem;
                }

                @media (max-width: $breakpoint-2) {
                    padding-left: 4rem;
                }

                h1 {
                    @include variable-sized-text(5.3, 0.2);

                    font-weight: 500;
                    letter-spacing: -0.1rem;
                    line-height: 0.85;
                }

                * {
                    color: white;
                }

                a {
                    background: 0;
                    color: white;
                    display: inline-block;
                    font-weight: 500;
                    padding: 0;
                    position: relative;
                    text-transform: uppercase;

                    &::after {
                        @include triangle(
                            $direction: bottom,
                            $position: top 1rem right -1.5rem,
                            $color: white,
                            $size: 0.5rem
                        );
                    }

                    &:hover,
                    &:focus {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .student {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 50%;
            background: url('/images/k-12/k12-student.png') no-repeat;
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 3;
            transform: all 0.5s ease-in-out;

            @include tablet-down {
                background-size: auto 100%;
            }

            @media (max-width: $breakpoint-2) {
                display: none;
            }
        }
    }
}
