<style scoped>
    @import url(/app/pages/license/license.css);
</style>
<div class="license-page">
    <main id="maincontent">
        <h1>Legal</h1>
        <h2 class="document-description">Frequently asked IP (Intellectual Property) and legal questions</h2>
        <div class="plain">
            <h3>Why do I have to agree to your license before I can publish my work?</h3>
            <p>
                Our goal is to provide and maintain a commons where individuals and communities
                worldwide can create and freely share knowledge. The
                <a href="http://creativecommons.org/">Creative Commons</a>
                <a href="http://creativecommons.org/licenses/by/4.0/">Attribution license</a>
                that you and every author must agree to enables the content to be as
                reusable as possible. All the content is accessible to anyone without
                restriction and any author can use that content, share it with others,
                or create a derivative work that is customized and personalized for their
                context.
            </p>
            <p>
                The license also reduces everyone's risk, because it clarifies what the
                legal uses of the materials are. Without a license, everyone is forced
                to assume that the full protection of copyright law applies to your work,
                even if you intend to share it, or wanted it to be in the public domain.
                The license makes clear to lawyers and to other readers that this is
                your intention.
            </p>

            <h3>Why should I make my work available under a Creative Commons Attribution license, instead of publishing
            it with the full protection of copyright law?</h3>
            <p>
                There are several reasons. You might like the idea of others building upon
                your work, or the notion of contributing to an intellectual commons.
                As the community grows, you and other authors will have the satisfaction
                of helping develop new ways to collaborate. Another reason is that you
                may want your writings to be copied and shared, so your ideas can spread
                around the world. A young author may want to encourage the unrestrained
                dissemination of his or her works to help build a reputation. An established
                author might post samples of his or her work to create an interest in
                works that are outside of our repository. The Creative Commons license
                can help you implement such strategies while you retain the ultimate
                control of your copyright.
            </p>

            <h3>What is Creative Commons?</h3>
            <p>
                Creative Commons is a non-profit corporation that promotes the creative
                licensing and re-using of intellectual works. To quote from their Web
                site: “Creative Commons is a new system, built within current copyright
                law, that allows you to share your creations with others and use music,
                movies, images, and text online that’s been marked with a Creative Commons
                license.”
            </p>

            <h3>Is the content copyrighted and who owns the copyright?</h3>
            <p>
                All material is copyrighted and the author retains the copyright of his
                or her material. The material is also licensed under the Creative Commons
                Attribution license. Under this license the author gives others the freedom
                to copy, distribute, and display the work, and to make derivative works,
                as long as they give the original author credit. A link to a description
                of the Creative Commons Attribution license appears at the bottom of
                every content page.
            </p>

            <h3>How do authors license their work in the content commons?</h3>
            <p>
                Before you can create a page or book, you must agree to the Creative
                Content Attribution license that applies to all the content.
            </p>

            <h3>Can I distribute or use my material elsewhere?</h3>
            <p>
                Yes. The Creative Commons license is "non-exclusive"-- which means that
                you are free to distribute your material under a different license elsewhere,
                publish it for profit, or transform it without endangering the version
                in our repository.
            </p>

            <h3>How do I control what changes are made to my pages?</h3>
            <p>
                Only persons who have the maintainer role on your page have permission
                to modify and publish an updated version of your page. As the author
                of a page, you determine who has the maintainer role on your page.
                The Creative Commons Attribution license does allow another person to
                make an adaptation of any content published in our repository.
                An adaptation is a derived copy of a page that is modified and published
                as a new page under the new author's name. Your original page is not
                changed and the adaptation contains a statement of attribution to you and
                a link to your original page.
            </p>

            <h3>But wait, I thought the license gave people the right to make their own adaptations of my work?</h3>
            <p>
                True, another author can indeed make an adaptation of your work according
                to the license. However, if you determine that someone has created an
                adaptation that is incorrect, or contradictory with your own, or worse,
                is defamatory or otherwise offensive, the license gives you the legal
                right to ask that person to remove your name from the page -- but not
                to demand that he or she change it as you wish. One way to avoid creation
                of such adaptations is to invite these other authors into your workgroup
                and develop a dialog with them as collaborators or co-authors.
            </p>

            <h3>What prevents some dishonest person from stealing my works and claiming it as theirs?</h3>
            <p>
                Nothing except the copyright law. The Creative Commons license is based
                on existing copyright law and your works have the same legal protections
                and legal standing as a copyrighted work that is published outside of
                our repository. You may actually run less risk using our repository than
                simply putting your work on your own Web page, because the license is
                clearly visible and clearly explains the uses people may legally make
                of your work. Strictly speaking, fraud and plagiarism are not the subject
                of copyright law, but copyright law is a good first defense.
            </p>

            <h3>Can people make money off of my work?</h3>
            <p>
                It is possible, but to be effective at all the license we use must allow
                some "commercial" uses. Consider the situation in which a printing service,
                such as a local printing service, offers to print your work so that your students
                may have access to hard copies. Without a license that allows commercial
                use, the service could not charge a fee to recover their printing, binding,
                and handling costs.
            </p>

            <h3>That's fine, but what if some huge publisher decides to publish my work?</h3>
            <p>
                If a publisher wants to include your page in a book of collected materials,
                they have that right according to the license, but remember that they
                are required to list you as the author and copyright holder. Our experience
                also suggests that most reputable publishers would want to re-negotiate
                a new license with you in that case. Furthermore, if you seriously expect
                to receive royalties from what you write, our repository is probably
                not the right place for the work -- though it might be the right place
                to experiment with an early version, or an alternative version.
            </p>

            <h3>Does the Creative Commons Attribution license affect fair use rights?</h3>
            <p>
                No. The license includes the statement: "Nothing in this license is intended
                to reduce, limit, or restrict any rights arising from fair use, first
                sale, or other limitations on the exclusive rights of the copyright owner
                under copyright law or other applicable laws." Fair use, the first sale
                doctrine, and other such limitations apply whether a copyright holder
                consents to them or not.
            </p>

            <h3>What must I do if I want to include a portion of an author’s work in the
            repository in a work I am creating outside of the repository?</h3>
            <p>
                You must give attribution to the portion of the original author’s work
                that you include outside of our repository. This attribution is as simple
                as clearly naming the original author and identifying the portion of
                his or her work you are using. In addition you must retain the copyright
                notice and provide the URI of the original work.
            </p>

            <h3>What must I do if I want to include another author’s page in a book that
            I am building?</h3>
            <p>
                Simply add the page to your book. Our software automatically includes
                the name of the original author in your book, giving him or her the
                attribution that is required by the Creative Commons license.
            </p>

            <h3>Can I include material in my pages that was originally published outside
            of the repository and copyrighted?</h3>
            <p>
                This simple question raises some complex legal points. It can best be answered
                by the copyright holder or an intellectual property attorney. We can
                tell you that any content you put into our repository is licensed under
                the Creative Commons Attribution 4.0 License, which means anything you
                use directly in your content must to be legally publishable under that
                license. The University of Texas System has a
                <a href="http://copyright.lib.utexas.edu/">Copyright Crash Course</a> and a
                <a href="http://copyright.lib.utexas.edu/copypol2.html">Copyright Tutorial</a>
                that can provide you with general information about copyright and reuse
                of copyrighted material. If you do obtain permission to use copyrighted
                material in your pages, we recommend that you include a note with the
                material that indicates who holds the copyright on the material.
            </p>

            <h3>Does "fair use" enable me to use copyrighted material in my pages?</h3>
            <p>
                Maybe yes, maybe no. There are many factors to consider before you can
                claim "fair use" for your reuse of copyrighted material. This is another
                question that can best be answered by the copyright holder or an intellectual
                property attorney.
            </p>

            <h3>What legal standing does the Creative Commons license have outside of the United States?</h3>
            <p>
                The Creative Commons license was crafted to be enforceable in as many jurisdictions
                as possible. That said, Creative Commons cannot account for every last
                nuance in the world's various copyright laws, at their current level
                of resources. The Creative Commons license does contain "severability"
                clauses -- meaning that, if a certain provision is found to be unenforceable
                in a certain place, that provision and only that provision drops out
                of the license, leaving the rest of the agreement intact.
            </p>
      </div>
    </main>
</div>
