@import 'pattern-library/core/pattern-library/headers';

.people-tab {
    display: grid;
    grid-gap: #{2 * $normal-margin};
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    padding: 4rem 0;

    .card {
        @extend %card;

        background-color: ui-color(white);
        border-top: 0.4rem solid transparent;
        padding: 4rem;

        .content {
            display: grid;
            grid-gap: 1rem;
            justify-items: center;
            text-align: center;

            .bio {
                text-align: left;
            }
        }

        .name {
            @include set-font(h4);
        }

        &.bio {
            display: grid;
            grid-gap: 2rem;
            grid-template-rows: auto 1fr;
            text-align: left;
        }
    }
}
