@import 'pattern-library/core/pattern-library/headers';

.home.page .features {
    background-color: ui-color(white);
    position: relative;

    h2 {
        letter-spacing: normal;
    }

    .right-bg {
        transform: rotate(180deg);

        @include width-up-to($phone-max) {
            bottom: 0;
        }
    }

    [role="radiogroup"] {
        display: flex;

        @include width-up-to($phone-max) {
            flex-direction: column;
        }
    }

    [role="radio"] {
        letter-spacing: 0.1rem;
        text-transform: uppercase;

        @include wider-than($phone-max) {
            &:not(:first-child)::before {
                color: text-color(normal);
                content: '|';
                font-weight: bold;
                margin: 0 1rem;
            }
        }

        &:hover,
        &[aria-checked] {
            background-color: transparent;
        }

        &[aria-checked="true"] {
            font-weight: bold;
            text-decoration-line: underline;
        }

        &[aria-checked="false"] {
            color: text-color(link);
        }
    }

    .feature-list {
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: 3rem;

        @include width-up-to($phone-max) {
            justify-content: center;
        }

        .feature {
            @include set-font(body-large);

            align-items: center;
            border-left: 0.6rem solid black;
            border-radius: 0.2rem 0 0 0.2rem;
            display: flex;
            font-weight: bold;
            height: 8rem;
            text-align: left;

            @include width-up-to($phone-max) {
                padding: 0 1rem 0 1.4rem;
                width: 14rem;
            }

            @include wider-than($phone-max) {
                padding: 0 1rem 0 2.5rem;
                width: 22rem;
            }

            &:first-child {
                border-color: os-color('light-blue');
            }
            &:nth-child(2) {
                border-color: os-color(gold);
            }
            &:nth-child(3) {
                border-color: os-color('deep-green');
            }
            &:nth-child(4) {
                border-color: os-color(red);
            }
            &:nth-child(5) {
                background-color: ui-color(white);
                border: 0;
                border-radius: 0.2rem;
                box-shadow: 0 0.2rem 0.6rem rgba(ui-color(black), 0.25);
                overflow: hidden;
                position: relative;
                text-decoration: none;

                &::before {
                    content: '';
                    position: relative;
                    background: linear-gradient(0deg,
                        #F36B32 0%, #002469 26.38%, #C02336 50.65%,
                        #FABC4D 74.61%, #25C0DA 100%
                    );
                    height: 100%;
                    width: 0.6rem;

                    @include width-up-to($phone-max) {
                        left: -1.4rem;
                    }

                    @include wider-than($phone-max) {
                        left: -2.5rem;
                    }
                }
            }
        }
    }
}
