@import 'pattern-library/core/pattern-library/headers';

.schoolmapdiv {
    background: radial-gradient(circle, rgba(12, 214, 248, 0.35) 0%, rgba(37, 192, 218, 0) 100%);
    background-color: rgba(255, 255, 255, 0.9);

    @include wider-than($phone-max) {
        height: 86rem;
        overflow: hidden;
    }

    @include width-up-to($phone-max) {
        height: 60rem;
    }
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 5rem;
}

.schoolmapbox {
   // background-size: 697px 348px ;
    .txthead {
        @include set-font(h2);

        color: os-color(blue);
        width: 45rem;

        @include width-up-to($phone-max) {
            line-height: 4rem;
            text-align: center;
            width: 30rem;
        }
    }

    .txtbdy {
        @include set-font(body-large);

        color: os-color(blue);
        line-height: 2.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: 55rem;

        @include width-up-to($phone-max) {
            text-align: center;
            width: 32rem;
        }
    }

    .map-img {
        margin-left: 3rem;
        width: calc(100% - 6rem);
    }
}
