@import 'pattern-library/core/pattern-library/headers';

.schoolmapdiv {
    background: radial-gradient(circle, rgba(12, 214, 248, 0.35) 0%, rgba(37, 192, 218, 0) 100%);
    background-color: rgba(255, 255, 255, 0.9);

    @include wider-than(60rem) {
        height: 86rem;
        overflow: hidden;
    }

    @include width-up-to($phone-max) {
        height: 60rem;
    }
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 5rem;
}

.schoolmapbox {
   // background-size: 697px 348px ;
    .txthead {
        color: #00347c;
        font-size: 3.6rem;
        font-weight: bold;
        letter-spacing: -1.44px;
        width: 45rem;

        @include width-up-to($phone-max) {
            line-height: 4rem;
            text-align: center;
            width: 30rem;
        }
    }

    .txtbdy {
        color: #00347c;
        font-size: 1.8rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: 55rem;

        @include width-up-to($phone-max) {
            font-size: 1.8rem;
            line-height: 2.5rem;
            text-align: center;
            width: 32rem;
        }
    }

    .map-img{
        @include width-up-to($tablet-max) {
            width: 60rem;
        }

        @include width-up-to($phone-max) {
            width: 32rem;
        }
    }
}
