@import 'pattern-library/core/pattern-library/headers';

.assignable.page .overlapping-quote {

    overflow: visible;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0;
    position: relative;

    @include width-up-to($phone-max) {
        padding-bottom: 0.5rem;
    }

    @include wider-than($phone-max) {
        height: 0;
    }

    .overlapping {
        @extend %content;

        z-index: 1;

        @include width-up-to($phone-max) {
            margin-top: -2rem;
        }

        @include wider-than($phone-max) {
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    .quote-box {
        @extend %card;
        @include set-font(body-large);

        background-color: white;
        color: text-color(normal);
        min-height: 16rem;
        margin: 0 auto;
        max-width: 100%;
        padding: 4rem;
        pointer-events: none;
        width: max-content;

        @include width-up-to($phone-max) {
            padding: 3.5rem;
        }

        h1 {
            @include set-font(h2);
            margin: 0;
        }

        .text-block {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width: $text-content-max;
        }

    }

}
