@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.partner-marketplace.page {
    .banner {
        @extend %light-on-dark;

        background-color: os-color(deep-green);
        color: text-color(white);
        padding-bottom: 8rem;
        position: relative;

        h1 {
            margin-bottom: 3rem;

            @include width-up-to($phone-max) {
                @include set-font(h1);
            }
        }

        .strips {
            bottom: 0;
        }
    }
}
