@import 'pattern-library/core/pattern-library/headers';

$icon-size: 5.5rem;

.let-us-know {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    margin-bottom: 4rem;

    .top {
        align-items: center;
        color: inherit;
        display: grid;
        grid-gap: $normal-margin;
        grid-template-columns: $icon-size auto;
        text-decoration: none;
    }

    .book-icon {
        align-items: center;
        background-image: none;
        border-radius: 50%;
        display: flex;
        font-size: $icon-size * 0.45;
        height: $icon-size;
        justify-content: center;
        width: $icon-size;
    }

    .text {
        @include set-font(body-large);

        line-height: normal;
    }
}
