@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

$subject: chemistry;

$book-color: color(orange);
$now-i-can-color: rgba(color(gray), 0.85);
$now-i-can-width: 41rem;
$underline-width: 19rem;
$square-color: rgba(color(orange), 0.15);
$subject-button-color: color(orange);
$all-subject-button-color: color(turquoise);

.home-page .book-banners .banner.#{$subject} {
    background-color: $book-color;

    @include tablet {
        background-image: url('/images/home/subjects/chemistry/background.jpg');
    }

    .container {
        display: flex;
        margin: 0 auto;
        padding: 0 1.5rem;
        max-width: $boxed-width;
        flex-flow: column wrap;
        position: relative;
        height: 100%;

        @include tablet {
            flex-flow: row wrap;
        }

        @include desktop {
            flex-flow: row wrap;
        }
    }

    .square-1,
    .square-2,
    .square-3,
    .square-4 {
        background-color: $square-color;
    }

    .square-1,
    .square-4 {
        height: 2.5rem;
        width: 2.5rem;
    }

    .square-1 {
        left: 5rem;
        top: 50%;
    }

    .square-2 {
        height: 34rem;
        bottom: 0;
        left: 0;
        width: 45rem;

        @include tablet {
            display: block;
        }

        @include desktop {
            width: 60%;
            height: 34rem;
            bottom: auto;
            top: 27%;
        }
    }

    .square-3 {
        height: 26rem;
        bottom: 15rem;
        right: 0;
        width: 26rem;

        @include tablet {
            display: block;
        }

        @include desktop {
            right: 5rem;
            bottom: 5rem;
            width: 40rem;
            height: 33rem;
        }
    }

    .square-4 {
        left: 70%;
        top: 20%;
    }

    .element {
        background-image: url('/images/home/subjects/chemistry/element.png');
        height: 12rem;
        right: 0;
        position: absolute;
        bottom: 10rem;
        width: 12rem;
    }

    .book {
        background-color: $book-color;
        background-image: url('/images/subjects/chemistry.svg');

        @include tablet {
            background-position: bottom left;
            top: calc(13vw - 6.2rem);
            left: auto;
            right: calc(44% - 2.5rem);
            width: 30rem;
            height: 30rem;
        }

        @include desktop {
            right: 45%;
            top: 7.1rem;
        }
    }

    .student {
        background-image: url('/images/home/subjects/chemistry/student.png');
        bottom: 15rem;
        height: 25rem;
        position: absolute;
        right: 2.5rem;
        width: 22rem;
        z-index: 2;

        @include tablet {
            bottom: 0;
            right: calc(19% - 6.6rem);
            height: 53rem;
            width: calc(20% + 24rem);
        }

        @include desktop {
            bottom: 0;
            right: calc(43% - 30rem);
            width: 44.4rem;
        }
    }

    .align-edge {
        left: 1.5rem;
        bottom: 1.5rem;

        @include tablet {
            bottom: calc(5vw - 0.9rem);
            left: calc(20% - 8.1rem);
        }

        @include desktop {
            bottom: 5rem;
        }
    }

    .now-i-can {
        background-color: $now-i-can-color;
        color: color(neutral-lightest);
        width: $now-i-can-width;

        &::after {
            width: $underline-width;
        }
    }

    .subject-links {

        @include tablet {
            width: 27rem;
        }

        .explore-subject {
            @include tablet {
                background-color: $subject-button-color;
            }

            &:hover {
                background-color: darken($subject-button-color, 5%);
            }
        }

        .explore-all {
            @include tablet {
                background-color: $all-subject-button-color;
            }

            &:hover {
                background-color: darken($all-subject-button-color, 5%);
            }
        }
    }
}
