<div class="page-intro">
    <div class="text-content subhead">
        <h1>Thank you for giving to OpenStax! </h1>
        <p>
            Your donation helps us to develop and spread the word about our books and adaptive
            earning tools. With your help, we’re giving hundreds of thousands of students
            access to high-quality educational materials.
        </p>
    </div>
</div>

<div class="wrapper">
    {{{strips}}}
</div>

<div class="text-content add-another">
    <a href="/impact" title="see our impact" class="btn">See our impact</a>
</div>
