@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.partner-marketplace .controls {
    background-color: ui-color(white);
    border-bottom: thin solid ui-color(form-border);
    border-radius: 0.4rem;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3rem;
    margin-top: 3rem;
    padding: 3rem;
    position: relative;

    .filter-button,
    .button-with-dropdown {
        @include title-font(1.8rem);
    }

    .button-row,
    .other-controls {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
    }

    // Breaking encapsulation slightly
    .triangle-dark .popover::after {
        border-bottom-color: os-color(gray);
    }

    .triangle-light .popover::after {
        border-bottom-color: ui-color(default);
    }

    .popover-container {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;

        > * {
            @extend %card;

            background-color: ui-color(white);
            border-radius: 0.2rem;
            color: text-color(normal);
            margin-top: 2rem;
            overflow: hidden;
            width: 100%;
        }

    }

    .accordion-group {
        grid-row-gap: 0;

        [aria-expanded] {
            @include set-font(h4);
        }

        [aria-expanded="true"] {
            @extend %light-on-dark;

            background-color: os-color(gray);
            color: text-color(white);
        }

        [aria-expanded="false"] {
            background-color: ui-color(default);
        }
    }
}
