@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.bookstore-suppliers {

    @include width-up-to($phone-max) {
        .larger-screen {
            display: none;
        }
    }

    @include wider-than($phone-max) {
        .small-screen {
            display: none;
        }
    }

    .hero {
        @extend %light-on-dark;

        background-image: linear-gradient(to top right, os-color(light-blue), os-color(blue));
        color: text-color(white);
        overflow: visible;
        padding-left: 0;
        padding-right: 0;
        z-index: 2;

        .content {
            @extend %content;
        }

        .text {
            display: grid;
            grid-gap: $normal-margin;
            position: relative;
            text-align: left;
            z-index: 1;

            @include wider-than($phone-max) {
                @include set-font(body-large);

                max-width: 55rem;
                width: 50%;
            }

            h1 {
                @include set-font(h1);
            }

            a {
                color: inherit;
            }
        }

        .images {
            overflow: visible;
            position: relative;
            width: 100%;

            .desktop-bg {
                display: none;

                @include wider-than($phone-max) {
                    // Bottom and right have to overcome the padding of hero
                    bottom: -6rem;
                    display: block;
                    max-height: 30rem;
                    position: absolute;
                    right: -1.5rem;
                }
            }
        }
    }

    .main-content {
        @extend %content;

        display: grid;
        grid-gap: 6rem;
        justify-content: center;
        z-index: 2;

        @include width-up-to($phone-max) {
            background-color: ui-color(white);
            grid-gap: 4rem;
            padding-bottom: $normal-margin;
            padding-top: 3rem;
            z-index: 1;

            [data-html="subhead2"] {
                margin-bottom: -3rem;
            }
        }

        @include width-between($phone-max, $tablet-max) {
            padding: 4rem $normal-margin;
        }

        @include wider-than($tablet-max) {
            padding-bottom: 8rem;
            padding-top: 6rem;
        }

        > * {
            margin: 0;
        }

        .text-section {
            @include set-font(body-large);

            display: grid;
            grid-gap: 3rem;

            > * {
                margin: 0;
            }
        }

        button {
            @extend %button;
            max-width: calc(100vw - 3rem);

            &.primary {
                @extend %primary;
            }
        }
    }

    .button-row {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 3rem;
        justify-content: center;
    }

    .btn {
        @extend %button;
        @extend %secondary;

        justify-self: center;

        &.primary {
            @extend %primary;
        }
    }

    .intro-blurb {
        @include set-font(body-large);
    }

    .swipable-row {
        @include width-up-to($phone-max) {
            width: 100%;
            overflow-x: auto;
        }
    }

    .cards {
        background-color: ui-color(default);
        display: grid;
        grid-gap: 3rem;
        margin-left: -$normal-margin;
        margin-right: -$normal-margin;
        overflow-x: auto;
        padding: 0 $normal-margin;

        $narrow-tablet: 78em * $scale-factor;

        @include width-up-to($phone-max) {
            background-color: ui-color(white);
            grid-auto-flow: column;

            .card {
                min-width: 28rem;
            }
        }

        @include width-between($phone-max, $narrow-tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include width-between($narrow-tablet, $media-content-max) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include wider-than($media-content-max) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .card {
        @extend %card;

        background-color: ui-color(white);
        display: grid;
        grid-gap: 2rem;
        grid-template-rows: auto auto 1fr auto;
        justify-items: center;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        overflow: hidden;
        padding: 3rem;
        position: relative;
        text-align: center;

        $canada-red: #f00;
        .flag-card {
            @extend %card;

            border-radius: 0.2rem;
            padding: 0.9rem 1rem;
            position: absolute;
            right: 3rem;
            top: 0;

            .canada-flag {
                background-color: $canada-red;
                display: grid;
                justify-content: center;
                width: 4.2rem;

                .white-field {
                    @include set-font(body-large);

                    align-items: center;
                    background-color: ui-color(white);
                    color: $canada-red;
                    display: flex;
                    height: 2.2rem;
                    justify-content: center;
                    width: 2.2rem;
                }
            }
        }

        @include wider-than($phone-max) {
            &.featured {
                grid-column-gap: 3rem;
                grid-template: 'icon headline'
                'icon blurb'
                'icon button';
                justify-items: left;
                text-align: left;

                > .logo-dot {
                    grid-area: icon;
                    height: 30rem;
                    width: 30rem;
                }

                > h2 {
                    grid-area: headline;
                }

                > .blurb {
                    @include body-font(2.4rem);

                    grid-area: blurb;
                }

                > .btn {
                    grid-area: button;
                    justify-self: left;
                }
            }
        }

        &:not(.featured) h2 {
            @include title-font(2.4rem);

            line-height: normal;
            margin: 0;
        }

        .logo-dot {
            align-items: center;
            background-color: ui-color(default);
            border-radius: 50%;
            display: flex;
            height: 21rem;
            justify-content: center;
            margin: 1rem 0;
            width: 21rem;

            @include width-between($phone-max, $tablet-max) {
                height: 17rem;
                width: 17rem;
            }

            > img {
                max-height: 80%;
                max-width: 80%;
            }
        }

        .btn {
            height: 5rem;
            max-width: 100%;
            overflow: hidden;

            @include width-between($phone-max, $tablet-max) {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }
        }

        ~ h2 {
            @include wider-than($phone-max) {
                margin-bottom: -3rem;
                margin-top: 3rem;
            }
        }
    }

    .split-card {
        @extend %card;

        background-color: ui-color(white);
        display: grid;
        max-width: 57rem;
        padding: 0 3rem;

        > div {
            align-items: center;
            display: grid;
            grid-column-gap: 3rem;
            grid-template-columns: 1fr auto;
            padding: 3rem 0;
            width: 100%;

            &:not(:first-child) {
                border-top: thin solid ui-color(form-border);
            }

            .btn {
                height: 3rem;
                padding-left: $normal-margin;
                padding-right: $normal-margin;

                .fa-external-link-alt {
                    margin-left: 0.7rem;
                }
            }
        }
    }
}
