@import 'pattern-library/core/pattern-library/headers';

.bookstore-suppliers {

    @include width-up-to($phone-max) {
        .larger-screen {
            display: none;
        }
    }

    @include wider-than($phone-max) {
        .smaller-screen {
            display: none;
        }
    }

    .hero {
        background-image: linear-gradient(to top right, os-color(light-blue), os-color(blue));
        color: text-color(white);
        overflow: visible;
        z-index: 2;

        .content {
            @extend %content;

            padding-left: 0;
            padding-right: 0;
        }

        .text {
            @include set-font(body-large);

            display: grid;
            grid-gap: $normal-margin;
            position: relative;
            text-align: left;
            z-index: 1;

            @include wider-than($phone-max) {
                max-width: 55rem;
                padding: 6rem 0;
                width: 50%;
            }

            h1 {
                @include set-font(h1);
            }

            a {
                color: inherit;
            }

            div {
                @include width-up-to($phone-max) {
                    max-width: 50%;
                }
            }
        }

        .images {
            overflow: visible;
            position: relative;
            width: 100%;

            .desktop-bg {
                display: none;

                @include wider-than($phone-max) {
                    // Bottom and right have to overcome the padding of hero
                    bottom: -6rem;
                    display: block;
                    max-height: 30rem;
                    position: absolute;
                    right: -1.5rem;
                }

                @include wider-than($tablet-max) {
                    max-height: 48rem;
                }
            }

            .clipped,
            .phone-fg {
                display: none;

                @include width-up-to($phone-max) {
                    display: block;
                    position: absolute;
                }
            }

            .clipped {
                @include width-up-to($phone-max) {
                    bottom: -6rem;
                    height: 32rem;
                    overflow: hidden;
                    right: -1.5rem;
                    width: calc(100% + 3rem);
                }
            }

            .phone-fg {
                @include width-up-to($phone-max) {
                    bottom: -14rem;
                    right: -1.5rem;
                }
            }

            .phone-bg {
                bottom: -14rem;
                position: absolute;
                right: 0;
                transform: scale(1.3);
            }
        }
    }

    .main-content {
        @extend %content;

        display: grid;
        grid-gap: 6rem;
        justify-content: center;
        max-width: 100%;
        padding-bottom: 8rem;
        padding-top: 6rem;
        z-index: 2;

        @include width-up-to($phone-max) {
            background-color: ui-color(white);
            grid-gap: 4rem;
            padding-top: 8rem;
            z-index: 1;

            [data-html="subhead2"] {
                margin-bottom: -3rem;
            }
        }

        @include width-between($phone-max, $tablet-max) {
            padding: 4rem $normal-margin;
        }

        @include wider-than($tablet-max) {
            max-width: 110rem;
        }

        button {
            @extend %button;
            max-width: calc(100vw - 3rem);
            width: fit-content;

            &.primary {
                @extend %primary;
            }
        }
    }

    .btn {
        @extend %button;
        @extend %secondary;

        justify-self: center;
        width: fit-content;

        &.primary {
            @extend %primary;
        }
    }

    .intro-blurb {
        @include set-font(body-large);
    }

    .cards {
        background-color: ui-color(default);
        display: grid;
        grid-gap: 2rem;
        margin-left: -$normal-margin;
        margin-right: -$normal-margin;
        max-width: calc(100% + $normal-margin);
        overflow-x: auto;
        padding: $normal-margin;

        @include wider-than($phone-max) {
            grid-template-columns: 1fr 1fr 1fr;

            &.by-twos {
                grid-template-columns: 1fr 1fr;
            }
        }

        &.featured {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .card {
            @extend %card;

            background-color: ui-color(white);
            display: grid;
            grid-gap: 2rem;
            grid-template-rows: auto auto 1fr auto;
            justify-items: center;
            min-width: 30rem;
            overflow: hidden;
            padding: 3rem 2rem;
            text-align: center;

            h2 {
                @include set-font(h4);

                line-height: normal;
                margin: 0;
            }

            .logo-dot {
                align-items: center;
                background-color: ui-color(default);
                border-radius: 50%;
                display: flex;
                height: 12rem;
                justify-content: center;
                margin: 1rem 0;
                width: 12rem;

                > img {
                    max-height: 80%;
                    max-width: 80%;
                }
            }

            .btn {
                height: 4rem;

                @include width-between($phone-max, $tablet-max) {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                }
            }
        }
    }
}
