@import 'pattern-library/core/pattern-library/headers';

.k12.page {
    background-color: ui-color(white);

    h1,
    h2,
    h3 {
        margin: 0;
    }

    .testimonial {
        background-color: os-color(deep-green);
    }

    .faq {
        padding: 7rem 0;
    }

    .rfi {
        padding: 7rem 0;
    }

}