@import 'pattern-library/core/pattern-library/headers';

.k12.page .sign-up-form {

    .banner {
        height: 40rem;
        background-size: cover;
        background-position: center;
        border-bottom: 1.5rem solid #0d9372;
    }

    .boxed {
        gap: 2rem;
        padding: 7rem $normal-margin;

        h1 {
            @include set-font(h2);
        }
    }
}