@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

$gradient-end: (
    blue: #004aa2,
    deep-green: #12a28c,
    gold: #ffd060,
    gray: #97999b,
    green: #9cd14a,
    light-blue: #1ee1f0,
    orange: #faa461,
    red: #e34361,
    yellow: #faea36
);

@mixin set-color-items($color) {
    @at-root .#{$color} {
        .hero,
        .book-icon,
        .title-bar,
        .webinars .icon-cell {
            background-color: os-color($color);
        }

        .hero {
            background-image: linear-gradient(to right, os-color($color), get-color($gradient-end, $color));
        }

        .book-icon,
        .title-bar,
        .webinars .icon-cell {
            @if ($color == yellow) {
                color: text-color(normal);
            } @else {
                @extend %light-on-dark;

                color: text-color(white);
            }
        }
    }
}

$gradient-sequence: ui-color(white), ui-color(white) 50%, transparent;

.details-page {

    @include width-up-to($phone-max) {
        .content-wrapper > .toc-slideout {
            display: none;
        }
    }

    @include wider-than($phone-max) {
        background-color: ui-color(white);

        &.card-background {
            > .content-wrapper {
                background-image: linear-gradient(to bottom, ui-color(white), ui-color(white) 10rem, ui-color(default) 25rem);

                @include wider-than($tablet-max) {
                    background-image: linear-gradient(to bottom, ui-color(white), ui-color(white) 15rem, ui-color(default) 30rem);
                }

            }
        }

        .content-wrapper {
            display: grid;
            grid-template-columns: auto 1fr;

            &.drawer-open > .content {
                margin-left: 0;
                max-width: none;
                padding-right: calc(50vw - #{$content-max / 2});
            }

            &:not(.drawer-open) > .toc-slideout {
                height: 0;
            }

            > .toc-slideout {
                background-color: ui-color(white);
                border-right: thin solid ui-color(form-border);
                overflow-y: auto;
                padding: 0;
                position: relative;
                transition: width 0.3s;
                width: 30vw;
            }

            .toc-drawer {
                padding-right: 4rem;
            }

            .close-toc {
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                height: 2.8rem;
                justify-content: center;
                width: 2.8rem;
            }

            .top-padding,
            .bottom-padding {
                height: 6rem;
                padding: $normal-margin;
                position: sticky;
                width: 100%;
            }

            .top-padding {
                background-image: linear-gradient(to bottom, $gradient-sequence);
                display: flex;
                justify-content: flex-end;
                top: 0;
            }

            .bottom-padding {
                background-image: linear-gradient(to top, $gradient-sequence);
                bottom: 0;
            }
        }

        .content-wrapper:not(.drawer-open) > .toc-slideout {
            padding: 0;
            width: 0;
        }
    }

    .loc-summary-text {
        p {
            padding-bottom: 2.4rem;
        }
        p:last-child {
            padding-bottom: 0;
        }

        p:empty,
        br {
            display: none;
        }
    }

    .hero {
        @include set-color-items(blue);
        @include set-color-items(deep-green);
        @include set-color-items(gold);
        @include set-color-items(gray);
        @include set-color-items(green);
        @include set-color-items(light-blue);
        @include set-color-items(orange);
        @include set-color-items(red);
        @include set-color-items(yellow);

        align-items: flex-end;
        background-image: linear-gradient(75deg, #aaa, #777);
        display: flex;
        overflow: hidden;
        padding: 0;

        .book-title {
            padding: 0 0 0 $normal-margin;

            h1:not(.image-heading) {
                @include title-font(4rem);

                line-height: 1;
                margin: 0;
                text-align: left;

                @include width-between($phone-max, $tablet-max) {
                    @include title-font(10rem);

                    line-height: 1;
                }

                @include wider-than($tablet-max) {
                    @include title-font(13rem);

                    line-height: 1;
                }

                @include wider-than(80em * $scale-factor) {
                    padding-left: $normal-margin;
                }
            }

            .image-heading {
                display: flex;
                justify-content: space-between;
                line-height: 0;
                margin: 0;

                @include width-up-to($phone-max) {
                    height: 10.4rem;
                }

                @include width-between($phone-max, $tablet-max) {
                    height: 11.7rem;
                }

                @include wider-than($tablet-max) {
                    height: 13rem;
                }

                .title-image {
                    height: 100%;
                }

                .title-logo {
                    max-width: 22.2rem;
                    padding-right: $normal-margin;

                    @include width-up-to($phone-max) {
                        display: none;
                    }
                }
            }

            .volume {
                font-size: 50%;
                font-weight: 300;
                letter-spacing: normal;
                line-height: 0.7;
            }
        }
    }

    .content {
        @extend %content;

        justify-content: flex-start;
    }

    .phone-view {
        display: block;

        @include wider-than($phone-max) {
            display: none;
        }
    }

    .bigger-view {
        display: none;

        @include wider-than($phone-max) {
            display: block;
        }
    }

    .tab-controller {
        width: 100%;

        .tab {
            @include set-font(body-large);

            font-weight: normal;

            @include wider-than($tablet-max) {
                font-size: 133%;
                padding-bottom: $normal-margin;
            }
        }
    }

    .tab-content {
        padding: 4rem 0 6rem;
        width: 100%;
    }

    .unbold {
        font-weight: normal;
    }

    .resources {
        display: grid;
        grid-gap: 2 * $normal-margin  2 * $normal-margin;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        margin: 2rem 0 0;

        &.ally {
            grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        }
    }

    .btn.default {
        background-color: ui-color(white);
    }

    .table-of-contents {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 2rem;
        padding-right: 0.5rem;

        > li {
            font-weight: bold;
            margin-bottom: 2rem;
        }

        ol {
            font-weight: normal;
            list-style: none;
            padding-left: 2rem;

            .box {
                font-weight: bold;
            }
        }
    }

}
