@import 'pattern-library/core/pattern-library/headers';

@mixin set-color-items($color) {
    @at-root .#{$color} {
        .hero,
        .book-icon,
        .webinars .icon-cell {
            background-color: os-color($color);
        }

        .hero {
            background-image: linear-gradient(to right, darken(os-color($color), 4), lighten(os-color($color), 4));

            &.reverse-gradient {
                background-image: linear-gradient(to right, lighten(os-color($color), 4), darken(os-color($color), 4));
            }
        }

        @if ($color == yellow) {
            .book-icon,
            .webinars .icon-cell {
                color: text-color(normal);
            }
        }
    }
}

.details-page-v2 {

    @include wider-than($phone-max) {
        background-color: ui-color(white);

        &.card-background {
            > .content-wrapper {
                background-image: linear-gradient(to bottom, ui-color(white), ui-color(white) 10rem, ui-color(default) 25rem);

                @include wider-than($tablet-max) {
                    background-image: linear-gradient(to bottom, ui-color(white), ui-color(white) 15rem, ui-color(default) 30rem);
                }
            }
        }
    }

    .hero,
    .book-icon,
    .webinars .icon-cell {
        color: text-color(white);
    }

    .hero {
        @include set-color-items(gold);
        @include set-color-items(green);
        @include set-color-items(blue);
        @include set-color-items(deep-green);
        @include set-color-items(gray);
        @include set-color-items(light-blue);
        @include set-color-items(orange);
        @include set-color-items(yellow);
        @include set-color-items(red);

        align-items: flex-end;
        background-image: linear-gradient(75deg, #aaa, #777);
        display: flex;
        overflow: hidden;
        padding: 2.2rem 0 2.2rem $normal-margin;

        @include width-up-to($phone-max) {
            padding-bottom: 4.5rem;
        }

        .book-title {
            padding: 0;

            h1:not(.image-heading) {
                @include title-font(4rem);

                line-height: 1;
                margin: 0;
                text-align: left;

                @include width-between($phone-max, $tablet-max) {
                    @include title-font(10rem);

                    line-height: 1;
                }

                @include wider-than($tablet-max) {
                    @include title-font(13rem);

                    line-height: 1;
                }

                @include wider-than($text-content-max) {
                    padding-left: $normal-margin;
                }
            }

            .image-heading {
                line-height: 0;
                margin: 0;
                text-align: left;

                .title-image {
                    max-width: 100%;
                }
            }

            .volume {
                font-size: 50%;
                font-weight: 300;
                letter-spacing: normal;
                line-height: 0.7;
            }
        }
    }

    .content {
        @extend %content;

        justify-content: flex-start;
    }

    .phone-view {
        display: block;

        @include wider-than($phone-max) {
            display: none;
        }
    }

    .bigger-view {
        display: none;

        @include wider-than($phone-max) {
            display: block;
        }

        // Optimizely selector
        &.hide-tab {
            .tab:nth-child(3) {
                display: none;
            }
        }
    }

    .tab-controller {
        width: 100%;

        .tab {
            @include set-font(body-large);

            font-weight: normal;

            @include wider-than($tablet-max) {
                font-size: 150%;
                padding-bottom: $normal-margin;
            }
        }
    }

    .tab-content {
        padding: 4rem 0 6rem;
        width: 100%;
    }

    .unbold {
        font-weight: normal;
    }

    .resources {
        display: grid;
        grid-gap: 2 * $normal-margin  2 * $normal-margin;
        margin: 2rem 0 0;

        @include wider-than($phone-max) {
            grid-template-columns: 1fr 1fr;
        }

        @include wider-than($tablet-max) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &.ally {
            @include wider-than($phone-max) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @include wider-than($tablet-max) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    .btn.default {
        background-color: ui-color(white);
    }

    .table-of-contents {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 2rem;

        > li {
            font-weight: bold;
            margin-bottom: 2rem;
        }

        ol {
            font-weight: normal;
            list-style: none;
            padding-left: 2rem;

            .box {
                font-weight: bold;
            }
        }
    }

}
