@import 'mixins/triangle';
@import 'mixins/coming-soon';
@import '../../../node_modules/pattern-library/core/pattern-library/headers';

$special-breakpoint: 54rem;

.details-page {
    position: relative;

    h1 {
        margin-bottom: 1rem;
        margin-top: 0;
        word-wrap: break-word;
    }

    h2,
    h3,
    h4 {
        letter-spacing: -0.1rem;
    }

    .row p a {
        font-weight: bolder;
    }

    .table-of-contents-link {
        cursor: pointer;
    }

    .table-of-contents {
        align-items: center;
        background-color: rgba(ui-color(white), 0.97);
        bottom: 0;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 1;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity 0.3s;
        width: 100%;
        z-index: 100;

        @include wider-than($tablet-max) {
            background-color: rgba(ui-color(footer-bg), 0.93);
        }

        ol {
            list-style: none;
            margin: 0;
            padding: 0;

            ol {
                padding-left: 2rem;
            }
        }

        &.hidden {
            display: initial;
            height: 0;
            opacity: 0;
            overflow: hidden;
            width: 0;
        }

        .toc-remover {
            @include absolute(top 0.5rem right 0.5rem);

            cursor: pointer;
        }

        .box {
            font-weight: 500;
            max-height: 100%;
            overflow-y: auto;
            padding: 3rem;
            padding-top: 6rem;
            position: static;
            width: 100%;

            @include wider-than($tablet-max) {
                background-color: rgba(ui-color(white), 0.97);
                margin-top: 11rem;
                max-height: calc(100% - 16rem);
                padding-top: 3rem;
                position: relative;
                width: auto;
            }

            .subunit {
                font-weight: 300;
            }

        }
    }

    .container {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        max-width: $content-max;
        padding: 0 1.5rem;

        @include wider-than($phone-max) {
            flex-flow: row wrap;
        }

        &:empty {
            display: none;
        }
    }

    .cta > .btn {
        font-variant: normal;
        padding: 1.5rem;
        text-transform: uppercase;
        width: 100%;
    }

    .btn.hidden {
        display: none;
    }

    .book-info {
        margin-bottom: 6rem;

        @include wider-than($special-breakpoint) {
            justify-content: space-between;
            margin: 6rem auto;
        }

        @include wider-than($tablet-max) {
            justify-content: flex-start;
        }

        .cover-wrap {
            align-self: flex-start;
            margin: 0 -1.5rem 3rem;
            order: 1;
            position: relative;
            width: 100vw;

            @include wider-than($special-breakpoint) {
                margin: 0 1.5rem 3rem 0;
                width: 25rem;
            }

            @include wider-than($tablet-max) {
                width: 25rem;
            }

            &.coming-soon::before {
                @include coming-soon;
            }

            &.coming-soon.polish::before {
                background-image: url('/images/subjects/coming-soon-polish.svg');
            }

            > img {
                width: 100%;
            }
        }

        .floating-menu {
            flex: 1 auto;
            margin-bottom: 3rem;
            order: 2;

            @include wider-than($tablet-max) {
                left: 50%;
                margin-bottom: 0;
                max-width: 120rem;
                order: 3;
                position: fixed;
                top: 15rem;
                transform: translate3d(-50%, 0, 0);
                width: 100%;
                z-index: 1;
            }

            &.bottom {
                top: 7rem;
            }

            h2 {
                margin-top: 0;
            }

            .box {
                background-color: rgba(ui-color(white), 0.95);
                margin-left: -$normal-margin;
                margin-right: -$normal-margin;
                padding: $normal-margin;

                @include width-between($phone-max, $special-breakpoint) {
                    width: calc(100% + #{2 * $normal-margin});
                }

                @include width-between($special-breakpoint, $tablet-max) {
                    float: right;
                    margin: 0;
                    max-width: 25rem;
                }

                @include wider-than($tablet-max) {
                    margin: 0;
                    position: absolute;
                    right: 1.5rem;
                    top: 0;
                    width: 25rem;
                }
            }

            .cta {
                color: text-color(helper);

                .btn:last-child {
                    @include button(secondary);
                    margin: 1rem 0 0;
                    width: 100%;
                }
            }
        }

        .details {
            order: 3;

            @include width-between($phone-max, $tablet-max) {
                flex: 1 100%;
            }

            @include wider-than($tablet-max) {
                flex: 1 0;
                order: 2;
                padding: 0 26.5rem 0 0;
            }
        }

        .tabs {
            a {
                text-decoration-line: none;

                &:not(:last-child)::after {
                    color: ui-color(footer-bg);
                    content: '|';
                    display: inline;
                    margin: 0 0.5rem;
                }
            }
        }

        .links {
            margin: 1rem 0;

            a {
                position: relative;
            }
        }
    }

    .endorsement {
        background-color: os-color(green);
        color: text-color(white);

        blockquote {
            margin-left: 5rem;
            position: relative;
            quotes: '\201C''\201D''\2018''\2019';

            @include wider-than($tablet-max) {
                margin-left: 7.5rem;
            }

            &::before {
                color: os-color(gold);
                content: open-quote;
                left: -3.5rem;
                line-height: 0;
                position: absolute;
                top: 4.5rem;
                transform: scale(9);

                @include wider-than($tablet-max) {
                    left: -5rem;
                    top: 5.5rem;
                    transform: scale(11);
                }
            }

            @mixin quotation-styling() {
                font-style: italic;
                font-weight: 500;
                letter-spacing: normal;
            }

            p {
                @include set-font(h3);
                @include quotation-styling();
                margin: 0 0 3rem;

                @include wider-than($phone-max) {
                    @include set-font(h2);
                    @include quotation-styling();
                }
            }

            .attribution {
                @include set-font(h4);
                @include quotation-styling();
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-top: 2.5rem;
                text-align: right;

                @include wider-than($phone-max) {
                    @include set-font(h3);
                    @include quotation-styling();
                }
            }
        }

        .container {
            padding: 6rem 1.5rem;

            @include wider-than($tablet-max) {
                padding: 6rem 25rem 6rem 1.5rem;
            }
        }
    }

    .strips {
        margin: 0;
    }

    .resources {

        h2 {
            margin-bottom: 0;
        }

        .container {
            padding: 6rem 1.5rem;

            @include wider-than($tablet-max) {
                padding: 6rem 27.5rem 6rem 1.5rem;
            }
        }

        .row {
            flex: 1 auto;
            margin-bottom: 2.5rem;
        }

        .student-resources-cta {
            background-color: os-color(gold);
            background-image: url('/images/details/student-resources-bg-lg.jpg');
            background-position: left 70%;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            min-height: 60rem;
            transition: All ease-in-out 0.3s;

            @include width-up-to($phone-max) {
                min-height: 70rem;
            }

            .container {
                width: 100%;
            }

            .caption {
                align-items: flex-start;
                display: flex;
                flex-flow: column wrap;
            }

            h2 {
                @include set-font(h2);
                color: os-color(blue);
                margin-bottom: 3rem;
                max-width: 56rem;
                width: 100%;
            }

            a {
                background-color: os-color(yellow);
                padding: 1.5rem 3rem;

                &:hover {
                    background-color: darken(os-color(yellow), 5%);
                }
            }
        }
    }

    .resource {
        display: flex;
        flex-flow: column nowrap;

        @include wider-than($phone-max) {
            flex-flow: row wrap;
        }

        > div {
            background-color: ui-color(white);
            display: flex;
            flex: 1 0 24rem;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin-bottom: $normal-margin;
            margin-right: $normal-margin;
            padding: 1.5rem;
            position: relative;

            h4 {
                color: os-color(blue);
                margin-bottom: 1rem;
            }

            .link-and-lock {
                align-items: flex-end;
                display: flex;
                justify-content: space-between;

                .locked-state {
                    color: ui-color(secondary);
                    font-size: 130%;
                    margin-right: 1rem;
                }
            }
        }

        .with-tooltip {
            .tooltip {
                transform: translateX(-45%);
                width: 26rem;
            }
        }
    }

    .authors {
        padding: 6rem 0 0;

        &:last-child {
            margin-bottom: 6rem;
        }

        .container {
            flex-flow: column wrap;

            @include wider-than($tablet-max) {
                padding: 0 27.5rem 0 1.5rem;
            }
        }
    }

    .partner-info {
        .logo {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;

            img {
                max-width: 100%;
                width: 20rem;
            }
        }
    }

    .publish-info {
        padding-top: 1rem;

        th {
            text-align: left;
            vertical-align: top;
            white-space: nowrap;
        }

        th,
        td {
            padding: 0.75rem;

            &:first-child {
                padding-left: 0;
            }
        }

        .license {
            display: block;
            vertical-align: top;

            > div {
                align-items: flex-start;
                display: flex;
                flex-flow: row wrap;

                > div {
                    flex-basis: 25rem;
                }
            }

            img {
                height: 4rem;
                margin-bottom: 1rem;
                margin-top: 0.7rem;
                padding-right: 1rem;
            }
        }
    }

    .errata {
        margin: 0 0 6rem;
        padding: 6rem 0 0;

        .container {
            flex-flow: column wrap;

            @include wider-than($tablet-max) {
                padding: 0 27.5rem 0 1.5rem;
            }
        }

        h2 {
            margin-bottom: 0;
        }

        .links {
            cursor: pointer;
            margin: 0;
            padding: 0;
        }

        .go-to {
            position: relative;
        }
    }
}
