@import 'pattern-library/core/pattern-library/headers';

$icon-size: 5.5rem;

.let-us-know {
    align-items: center;
    display: grid;
    grid-gap: 2rem $normal-margin;
    grid-template-columns: $icon-size auto;
    margin-bottom: 4rem;

    .book-icon {
        align-items: center;
        background-image: none;
        border-radius: 50%;
        display: flex;
        font-size: $icon-size * 0.45;
        height: $icon-size;
        justify-content: center;
        width: $icon-size;
    }

    .text {
        @include set-font(body-large);

        color: inherit;
        line-height: normal;
        text-decoration: none;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .link {
        grid-column: 1 / span 2;

        a {
            text-decoration: none;
        }
    }
}
