{
    "presets": [
        [
            '@babel/preset-env',
            {
                targets: [
                    'last 2 major versions',
                    'not ie > 0', 'not node > 0', 'not dead',
                    'iOS > 10'
                ]
            }
        ],
        '@babel/preset-react'
    ],
    "env": {
        "development": {
            "presets": [["@babel/preset-react", { "development": true }]]
        }
    },
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        [
            "formatjs",
            {
                "idInterpolationPattern": "[sha512:contenthash:base64:6]",
                "ast": true
            }
        ]
    ]
}
