@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/triangle';

$baby-blue: #dbf3f8;

.errata-summary .hero {
    background-color: $baby-blue;
    display: grid;
    justify-content: center;
    min-height: 22rem;
    padding: 3.5rem $normal-margin 6rem;

    .text-area {
        max-width: $content-max;
    }

    h1 {
        @include set-font(h1);
    }

    .header {
        @include set-font(body-large);

        font-weight: bold;
        margin-top: 1rem;
    }

    .with-tooltip {
        color: text-color(link);
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 3rem;
        margin-top: 0.5rem;

        &.active,
        &:hover {
            margin-bottom: -3rem;
            padding-bottom: 3rem;

            .poptip-attachment {
                height: 3rem;
                left: 0;
                position: relative;
                top: 2rem;
                width: 1rem;
                z-index: 5;

                $triangle-size: 2rem;

                transform: translateX(calc(-50% + .85rem));

                &::after {
                    @include triangle(
                        $direction: top,
                        $position: left calc(50% - #{$triangle-size}) bottom 100%,
                        $color: text-color(link),
                        $size: $triangle-size
                    );

                    transform: none;
                }
            }

            .poptip {
                box-shadow: 0 1rem 2rem rgba(ui-color(black), 0.2);
                max-width: calc(100vw - 2rem);
                position: relative;
                width: 30rem;

                > p:first-child {
                    margin-top: 0;
                }

                .title-bar {
                    @include set-font(body-large);

                    align-items: center;
                    background-color: text-color(link);
                    display: flex;
                    color: white;
                    font-weight: bold;
                    height: 5rem;
                    padding: 0 3rem;
                }

                .body {
                    background-color: ui-color(white);
                    color: text-color(normal);
                    padding: 3rem 2.5rem;
                    text-align: left;

                    > :first-child {
                        margin-top: 0;
                    }

                    > :last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &:not(.active) {
            .poptip {
                display: none;
            }
        }
    }
}
