@import 'pattern-library/core/pattern-library/headers';

.carousel {
    overflow: hidden;
    position: relative;

    .navigate {
        border-radius: 0.3rem;
        height: 7rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.previous {
            left: 0;
        }

        &.next {
            right: 0;
        }
    }

    .image-row {
        display: grid;
        position: relative;
        width: 500%;

        .image-holder {
            align-items: center;
            display: flex;
            justify-content: center;

            img,
            video {
                max-height: calc(100vh - 28rem);
                max-width: calc(100% - 6rem); // leave room for nav buttons
            }
        }
    }
}
