@import 'pattern-library/core/pattern-library/headers';

.blog.page {
    .article {
        align-content: flex-start;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 3rem;

        > .article {
            height: 100%;
            margin-bottom: 0;
        }

        &.page .article {
            width: 100%;

            .boxed {
                max-width: $text-content-max;
            }

            .quote {
                background-color: ui-color(form-bg);
                padding: 1rem 3rem;
            }

            figcaption {
                @include set-font(helper-label);

                color: text-color(helper);

                :first-child {
                    margin-top: 0;
                }
            }

            .tags {
                display: flex;

                .tag {
                    background-color: ui-color(form-bg);
                    color: text-color(helper);
                    margin-right: 1.5rem;
                    padding: 0.35em 1.1em;
                }
            }
        }

        h2 {
            @include set-font(h3);

            @include wider-than($tablet-max) {
                margin-top: 0;
            }

            a:not(:hover) {
                color: inherit;
                text-decoration: inherit;
            }
        }

        h3 {
            @include set-font(h4);
        }

        .img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex-basis: 100%;
            height: 24rem;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 30rem;
        }

        .viewport {
            overflow: hidden;
        }

        .meta {
            border-bottom: thin solid ui-color(form-border);
            padding-bottom: 1rem;
            width: 100%;

            @include wider-than($tablet-max) {
                border: 0;
            }

            p {
                margin: 0;
                position: relative;
            }
        }

        .author {
            color: os-color(light-blue);
            font-style: italic;
        }
    }

    .excerpt .body {
        column-width: 57em;
        height: 11rem;
        max-height: 11rem;
        width: auto;

        div :first-child {
            -webkit-margin-before: 0;
        }
    }

    .pinned {
        width: 100%;

        .article {
            width: 100%;

            @include wider-than($tablet-max) {
                flex-flow: row nowrap;
                margin-bottom: 0;
                padding: 2.5rem 0;
            }

            h2 {
                @include wider-than($tablet-max) {
                    @include set-font(h2);

                    margin: -0.5rem 0 1rem;
                }
            }

            .body {
                @include set-font(body-large);

                height: 13rem;
                margin-bottom: 1rem;
                max-height: 15rem;
                overflow: hidden;
            }

            .go-to {
                @include set-font(helper-label);
            }

            .img {
                background-size: cover;
                flex-basis: 100%;
                height: 32rem;

                @include wider-than($tablet-max) {
                    flex-basis: 50%;
                    margin-right: 3rem;
                }
            }

            img {
                width: 100%;
            }

            .content {
                flex-basis: 100%;
                max-width: 100%;

                @include wider-than($tablet-max) {
                    flex-basis: 50%;
                    max-width: 50%;
                }
            }
        }
    }



    .articles .container {

        > .article {
            background-color: ui-color(white);
            display: block;
            flex-basis: 100%;
            max-width: 100%;
            width: 100%;

            @include wider-than($tablet-max) {
                flex-basis: calc(50% - 3rem);
                margin: 1.5rem;
                max-width: calc(50% - 3rem);
            }

            @include wider-than($media-content-max) {
                flex-basis: calc(33% - 2.6rem);
                max-width: calc(33% - 2.6rem);
            }

            /* one article */
            &:first-child:nth-last-child(1) {
                flex-basis: 100%;
            }

            /* two articles */
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ div {
                @include wider-than($tablet-max) {
                    flex-basis: calc(50% - 3rem);
                }
            }

            .content {

                flex-basis: 100%;
                max-width: 100%;

                @include wider-than($tablet-max) {
                    padding: 1.5rem;
                }
            }
        }
    }

    .go-to {
        @include set-font(helper-label);

        text-transform: uppercase;
    }

    .body {
        column-width: 100%;
    }

    .pinned .article,
    .articles .article {
        a:hover {
            color: os-color(light-blue);
        }
    }

    .meta .btn {
        @include set-font(helper-label);

        padding: 0.3em 1em;
    }
}
