@import 'pattern-library/core/pattern-library/headers';

.lightbox-article,
.blog.page .article
 {
    background-color: ui-color(white);
    max-width: 100vw;
    position: relative;
    width: 100%;

    .content {
        @extend %content;

        position: relative;

        $floater-width: 9rem;
        $floater-margin: 2rem;
        @include width-up-to($phone-max) {
            width: 100%;

            .floater {
                background-color: ui-color(white);
                border-bottom: thin solid ui-color(form-border);
                padding: 1rem 0;
                position: fixed;
                top: 5rem;
                width: 100%;
            }

            .sticky-bit,
            .buttons {
                align-items: center;
                display: grid;
                grid-auto-flow: column;
                justify-content: left;
            }
        }

        @include wider-than($phone-max) {
            margin-top: 4rem;

            .floater {
                height: 100%;
                position: absolute;
            }

            .sticky-bit {
                position: sticky;
                top: 7rem;
                width: $floater-width;
            }
        }

        @include width-between($phone-max, $tablet-max) {
            .floater {
                left: -#{$floater-width + $floater-margin};
            }
        }

        @include width-between($phone-max, $tablet-max) {
            margin-right: 0;
            width: calc(100% - #{$floater-width + $floater-margin + $normal-margin});
        }

        .image-and-title {
            display: grid;
            gap: 3rem;
            margin-bottom: 2rem;

            @include width-up-to($phone-max) {
                grid-template-columns: 1fr;
            }

            /* line it up with the text content */
            @include width-between($phone-max, $tablet-max) {
                grid-template-columns: 1fr;
                margin: 0 auto;
                max-width: 72rem;
                padding: 0 $normal-margin;
            }

            @include wider-than($tablet-max) {
                grid-template-columns: auto 5fr 4fr;
            }
        }

        .floater-spacer {
            width: $floater-width;

            @include width-up-to($phone-max) {
                height: #{$floater-width + 2rem};
            }

            @include width-between($phone-max, $tablet-max) {
                display: none;
            }
        }

        .pdf-title-block {
            display: flex;
            gap: 4rem;
        }

        .title-block {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include width-up-to($phone-max) {
                gap: 1rem;
            }

            h1 {
                @include set-font(h2);

                margin: 0;
            }

            h2 {
                @include set-font(h4);
            }
        }
    }

    .text-content {
        @extend %text-content;

        align-items: flex-start;
        max-width: 72rem; // Non-standard, but...
        padding: 0;

        @include wider-than($phone-max) {
            padding: 0 $normal-margin;
        }
    }

    .body {
        img {
            margin-top: $normal-margin;
        }

        figcaption {
            @include set-font(helper-label);

            color: text-color(helper);
            font-style: italic;

            :first-child {
                margin-top: 0.5rem;
            }
        }

        h1,
        h2,
        h3,
        h4 {
            clear: both;
        }

        .quote {
            border-bottom: thin solid ui-color(form-border);
            border-top: thin solid ui-color(form-border);
            margin: 4rem 0;

            blockquote {
                @include set-font(h3);

                display: inline-block;
                margin: 0;
                padding: 4rem 0;
            }

            .attribution {
                margin-top: 1rem;
                text-align: right;
            }
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    img {
        max-width: 100%;
    }

    figure {
        display: grid;
        justify-content: center;
        margin: 0;

        @include wider-than($phone-max) {
            &.left,
            &.right {
                max-width: 33%;
            }

            &.right {
                float: right;
                margin-left: $normal-margin;
            }

            &.left {
                float: left;
                margin-right: $normal-margin;
            }

            &.mid {
                float: right;
                max-width: 50%;
            }
        }
    }

    br {
        display: none;
    }
}
