<div class="img"></div>
<div class="content">
    <h2><a href="/blog/{{articleSlug}}">{{title}}</a></h2>
    <div class="body"></div>
    <div class="meta">
        <p><span class="author">{{author}}</span>  &nbsp;|&nbsp;  <span class="date">{{date}}</span></p>
    </div>
</div>
