@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

.blog.page {
    .article {
        align-content: flex-start;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 3rem;

        > .article {
            height: 100%;
            margin-bottom: 0;
        }

        &.page .article {
            width: 100%;

            .boxed {
                max-width: 64rem;
            }

            .quote {
                background-color: lighten(color(neutral-lighter), 8%);
                padding: 1rem 3rem;
            }

            figcaption {
                font-size: 80%;
            }

            .tags {
                display: flex;

                .tag {
                    @include constrained-variable-text(1.4, 0.16);
                    background-color: lighten(color(neutral-lighter), 8%);
                    color: lighten(color(neutral-dark), 8%);
                    margin-right: 1.5rem;
                    padding: 0.35em 1.1em;
                }
            }
        }

        h2 {
            font-size: 2.1rem;
            letter-spacing: 0;
            line-height: 2.6rem;
            margin-top: 2rem;

            @include desktop {
                margin-top: 0;
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        h3 {
            font-size: 1.6rem;
        }

        .img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex-basis: 100%;
            height: 24rem;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 30rem;
        }

        .viewport {
            overflow: hidden;
        }

        .meta {
            border-bottom: thin solid color(neutral-lighter);
            color: color(neutral-light);
            padding-bottom: 1rem;

            @include desktop {
                border: 0;
            }

            p {
                margin: 0;
                position: relative;
            }
        }

        .author {
            color: color(cyan);
            font-style: italic;
        }
    }

    .excerpt .body {
        column-width: 57em;
        height: 11rem;
        max-height: 11rem;
        width: auto;

        div :first-child {
            -webkit-margin-before: 0;
        }
    }

    .pinned {
        width: 100%;

        .article {
            width: 100%;

            @include wide-desktop {
                flex-flow: row nowrap;
                margin-bottom: 0;
                padding: 2.5rem 0;
            }

            h2 {
                @include desktop {
                    font-size: 3.6rem;
                    letter-spacing: -0.2rem;
                    line-height: 4rem;
                    margin-top: 2rem;
                }

                @include wide-desktop {
                    margin-top: 0;
                }
            }

            h3 {
                @include desktop {
                    font-size: 2.1rem;
                }
            }

            .body {
                font-size: 1.8rem;
                height: 15rem;
                max-height: 15rem;
                overflow: hidden;
            }

            .go-to {
                font-size: 1.4rem;
            }

            .img {
                background-size: cover;
                flex-basis: 100%;
                height: 32rem;

                @include wide-desktop {
                    flex-basis: 50%;
                    margin-right: 3rem;
                }
            }

            img {
                width: 100%;
            }

            .content {
                flex-basis: 100%;
                max-width: 100%;

                @include wide-desktop {
                    flex-basis: 50%;
                    max-width: 50%;
                }
            }
        }
    }



    .articles .container {

        > .article {
            // align-items: flex-start;
            background-color: color(neutral-lightest);
            display: block;
            flex-basis: 100%;
            max-width: 100%;
            width: 100%;

            @include desktop {
                flex-basis: calc(50% - 3rem);
                margin: 1.5rem;
                max-width: calc(50% - 3rem);
            }

            @media (min-width: $boxed-width) {
                flex-basis: calc(33% - 2.6rem);
                max-width: calc(33% - 2.6rem);
            }

            /* one article */
            &:first-child:nth-last-child(1) {
                flex-basis: 100%;
            }

            /* two articles */
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ div {
                @include desktop {
                    flex-basis: calc(50% - 3rem);
                }
            }

            .content {

                flex-basis: 100%;
                max-width: 100%;

                @include desktop {
                    padding: 1.5rem;
                }
            }
        }
    }

    .go-to {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .body {
        column-width: 100%;
        line-height: 1.5;

        @include phone {
            font-size: 1.5rem;
        }
    }

    .pinned .article,
    .articles .article {
        a:hover {
            color: color(cyan);
            text-decoration: none;
        }
    }

    .meta .btn {
        font-size: 1.2rem;
        padding: 0.3em 1em;
    }
}
