<template args="model">
    <div class="button-bar" if="model.pages > 1">
        <button disabled="{model.disablePrevious}">Previous</button>
        <button each="indicator in model.pageIndicators"
            disabled="{indicator.disabled}"
            aria-selected="{indicator.selected}"
            aria-label="{indicator.page}">{indicator.label}</button>
        <button disabled="{model.disableNext}">Next</button>
    </div>
    <div class="summary">{model.resultRange} of {model.totalResults} for <b>'{model.searchTerm}'</b></div>
</template>
