@import 'pattern-library/core/pattern-library/headers';

$indicator-size: 1rem;

.rover-by-openstax .navigator {
    @include set-font(body-large);

    @include width-up-to($phone-max) {
        border: thin solid ui-color(form-border);
        border-radius: 0.4rem;
        margin: $normal-margin;
        width: calc(100% - #{2 * $normal-margin});
    }

    @include wider-than($phone-max) {
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 1fr auto 1fr;
        justify-items: center;
        margin-bottom: 6rem;
    }

    .line {
        border: thin solid ui-color(form-border);
        width: 100%;

        @include width-up-to($phone-max) {
            display: none;
        }
    }

    .content {
        background-color: ui-color(white);
        max-width: calc(100vw - 18rem);
        text-align: center;
        z-index: 0;

        @include width-up-to($phone-max) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            padding-bottom: $normal-margin;
            padding-top: $normal-margin;
        }
    }

    .label {
        font-weight: bold;
        text-transform: uppercase;

        &::after {
            content: ':';
            margin-right: 1rem;
        }

    }

    .navigation-item {
        &.selected {
            color: os-color(light-blue);
            font-weight: bold;
        }

        &[role="button"]:focus {
            border: 0;
            box-shadow: none;
            outline: none;
        }

        @include wider-than($phone-max) {
            ~ .navigation-item::before {
                content: '-';
                margin: 1rem;
            }
        }
    }
}
