@import 'pattern-library/core/pattern-library/headers';

.book-options {
    color: text-color(normal);
    padding: 2rem;
    text-align: left;

    h2 {
        @include set-font(h4);

        margin: 0;
        margin-bottom: 0.5rem;
    }

    .subject {
        break-inside: avoid;
        margin-bottom: 2rem;
    }

    .label-text {
        white-space: normal;
    }
}
