<div class="tutor">
    <div class="tutor-caption">
        <div class="caption">
            <h1>OpenStax Tutor</h1>
            <span class="blurb">
                Our customizable courseware uses cognitive science and machine
                learning to create a personalized learning experience that
                empowers students to succeed.
            </span>
            <a class="btn btn-orange" href="http://k12.openstax.org">Learn more</a>
        </div>
    </div>
</div>
