@import 'variables';
@import 'mixins';

.tutor-banner {
    background-color: color(cyan);
    background-image: url('/images/k-12/k12-tutor-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 100%;

    .tutor-bg-overlay {
        padding: 3rem 0;
        position: relative;
        top: 10%;
        width: 80%;
    }

    .tutor {
        margin: 0 auto;

        > .tutor-caption {
            color: white;
            display: flex;
            margin: inherit;
            max-width: 76.6rem;
            padding: 6.7rem 0;

            @media (max-width: 840px) {
                align-content: flex-end;
                flex-direction: column;
                padding: 5vw 3rem;
            }

            > .caption {
                flex: 2 1 auto;
                padding-left: 3rem;
                text-align: left;

                @media (max-width: 840px) {
                    padding: 0;
                }
            }

            h1 {
                @include variable-sized-text(4.8, 0.2);

                color: inherit;
                font-weight: 500;
                letter-spacing: -0.1rem;
                line-height: 0.85;
                margin-bottom: 2rem;
            }

            .blurb {
                @include variable-sized-text(1.6, 0.2);

                display: block;
                letter-spacing: 0.06rem;
                line-height: 1.8;
                margin-bottom: 2rem;
                max-width: 80%;
                width: calc(30rem + 12vw);

                @include phone {
                    max-width: none;
                    width: auto;
                }
            }

            .btn {
                padding: 1.5rem;
            }
        }
    }
}
