@import 'variables';
@import 'mixins';

.tutor-banner {
    background-color: color(cyan);
    background-image: url('/images/k-12/k12-tutor-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 100%;

    .tutor-bg-overlay {
        padding: 3rem 0;
        position: relative;
        top: 10%;
        width: 80%;
    }

    .tutor {
        width: 90vw;
        margin: 0 auto;

        > .tutor-caption {
            margin: inherit;
            max-width: 76.6rem;
            display: flex;
            padding: 6.7rem 0;
            color: white;

            @media (max-width: 840px) {
                flex-direction: column;
                padding: 6.7rem 3rem;
                align-content: flex-end;
            }

            > .caption {
                flex: 2 1 auto;
                padding-left: 3rem;

                @media (max-width: 840px) {
                    padding-left: 0;
                }
            }

            .title {
                display: block;
                font-size: 6rem;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 2rem;
            }

            .blurb {
                display: block;
                font-size: 1.8rem;
                line-height: 3rem;
                margin-bottom: 2rem;
                max-width: 80%;
                width: 45rem;
            }

            .btn {
                padding: 1.5rem;
            }
        }
    }
}
