<style scoped>
    @import url(/app/pages/k-12/tutor/tutor.css);
</style>

<div class="tutor">
    <div class="tutor-caption">
        <div class="caption">
            <span class="title">OpenStax Tutor</span>
            <span class="blurb">
                Our customizable courseware uses cognitive science and machine
                learning to create a personalized learning experience that
                empowers students to succeed.
            </span>
            <a class="btn btn-orange" href="http://k12.openstax.org">Learn more</a>
        </div>
    </div>
</div>
