@import 'pattern-library/core/pattern-library/headers';

.Select {
    .selected-item {
        align-items: center;
        background-color: ui-color(white);
        border: thin solid ui-color(form-border);
        border-right: 0;
        display: flex;
        height: 100%;
        padding: 0 1rem;
    }

    .placeholder {
        color: text-color(helper);
    }

    .vl-wrapper {
        position: relative;
    }

    .vertical-list {
        background-color: ui-color(white);
        border: thin solid ui-color(form-border);
        border-top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    [role="option"] {
        @include set-font(helper-label);

        align-items: center;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        height: 3rem;
        padding: 0 1rem;

        &[aria-current="true"] {
            background-color: ui-color(page-bg);
            border: 0;
        }
    }
}
