@import 'pattern-library/core/pattern-library/headers';

$node-size: 2.5rem;
$bar-size: 0.2rem;

.errata-summary {
    .strips-and-filter {
        margin-bottom: 8rem;
    }

    .filter {
        width: auto;
    }

    .body-block {
        padding: 0;
        width: 100%;
    }
}
