@import 'pattern-library/core/pattern-library/headers';

$node-size: 2.5rem;
$bar-size: 0.2rem;

.errata-summary {
    .hero {
        background-color: os-color(light-blue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 22rem;
        padding: 3rem;

        @include wider-than($tablet-max) {
            padding: 0;
        }

        &.padded {
            margin-bottom: 2rem;
        }

        h1 {
            color: os-color(blue);

            @include width-up-to($phone-max) {
                @include set-font(h1);
            }
        }

        .instructions {
            color: text-color(white);
            margin-top: 1rem;
        }

        .with-tooltip {
            color: os-color(blue);
            margin-bottom: 3rem;
            margin-top: 0.5rem;

            &:hover {
                margin-bottom: 0;
                padding-bottom: 3rem;

                .tooltip {
                    padding: 3rem;
                }
            }

            .tooltip {
                > p:first-child {
                    margin-top: 0;
                }
            }

        }
    }

    .strips-and-filter {
        margin-bottom: 8rem;
    }

    .filter {
        width: auto;
    }

    .body-block {
        padding: 0;
        width: 100%;
    }

    .progress-bar-container {
        background-color: text-color(white);
        margin-bottom: 2rem;
        padding: 3rem 4rem 0;

        @include width-up-to($phone-max) {
            margin: 0 1rem;
            padding: 1rem;
            padding-bottom: 0;
            width: calc(100% - 2rem);
        }
    }

    .progress-bar-labels,
    .progress-bar {
        margin: 0 auto;
        max-width: 70rem;
    }

    .progress-bar-labels {
        @include set-font(helper-label);

        display: flex;
        justify-content: space-between;
        margin-top: 0;

        .event {
            color: text-color(helper);
            font-weight: bold;
        }

        .when {
            color: ui-color(secondary-hover);
        }

        .label {
            flex-basis: 33%;

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: right;
            }
        }
    }

    .progress-bar {
        background-color: text-color(white);
        display: flex;
        flex-flow: column;
        height: 5rem;
        justify-content: center;
        margin-top: 1rem;
        position: relative;

        .progress-bar-layer {
            align-content: center;
            display: flex;
            justify-content: space-between;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .node,
        .bar {
            background-color: ui-color(page-bg);
            box-shadow: inset 0 0.1rem 0.3rem rgba(ui-color(footer-bg), 0.4);

            &.filled {
                background-color: os-color(green);
                box-shadow: none;
            }

            &.filled-no {
                background-color: os-color(gray);
                box-shadow: none;
            }
        }

        .node {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: $node-size;
            justify-content: center;
            width: $node-size;
        }

        .bar {
            flex: 50% 1 1;
            height: $bar-size;
            margin: $node-size / 2 - $bar-size / 2 0.3rem 0;
        }
    }

    .info {
        color: text-color(helper);
        display: table;
        padding: 2rem 2rem 4rem 4rem;

        @include width-up-to($phone-max) {
            display: block;
            padding-bottom: 2rem;
            padding-left: 1rem;
        }

    }
}
