@import 'variables';
@import 'mixins';

$sea-bottom: rgb(0, 36, 106);
$sea-top: rgb(6, 71, 119);
$sickly-green: rgb(168, 189, 122);
$lighter-gray: rgb(229, 229, 229);
$snow-top: rgb(242, 242, 242);
$snow-top-mid: rgb(243, 243, 243);
$snow-top-wide: rgb(244, 244, 244);
$snow-bottom: rgb(213, 213, 213);
$tree-color: #007297;
$work-top: rgb(0, 128, 158);
$work-bottom: lighten(rgb(0, 125, 164), 5%);
$money-green: rgb(122, 188, 125);
$deep-teal: rgb(0, 114, 151);

.openstax-tutor-page {
    font-size: 1.8rem;
    line-height: 1.67;

    .smaller {
        font-size: 1.6rem;
    }

    .sticky-footer {
        background-color: rgba(245, 245, 245, 0.9);
        border-top: thin solid #d5d5d5;
        bottom: 0;
        color: #424242;
        display: flex;
        font-size: 1.6rem;
        justify-content: space-around;
        max-height: 9rem;
        padding: 1rem;
        position: fixed;
        /* property  duration  delay */
        transition: padding  0.1s,
                    height   0.3s  0.2s;
        width: 100%;
        z-index: 4;

        @include desktop {
            padding: 2rem 3rem;
        }

        &.collapsed {
            max-height: 0;
            padding: 0;
            transition: padding  0.3s,
                        height   0.1s;

            .button-group {
                opacity: 0;
                transition: opacity 0.2s;
            }
        }

        .button-group {
            align-items: center;
            display: flex;
            flex: 1 1 40%;
            justify-content: center;
            padding-left: 2rem;
            transition: opacity 0.2s 0.1s;

            @include desktop {
                padding-left: 6rem;
            }

            @include phone {
                padding: 0;
            }

            &:first-child {
                padding-left: 0;

                .btn {
                    background-color: color(cyan);
                }
            }
        }

        .btn {
            background-color: $deep-teal;
            flex-basis: 20rem;
            font-size: 1.4rem;
            margin-right: 2rem;
            padding: 1rem 3rem;

            @include phone {
                flex-basis: calc(100% - 1.5rem);
                margin: 0;
            }

            @media (max-width: 565px) {
                flex-basis: 17rem;
                padding: 1rem;
            }
        }

        .description {
            flex: 1 1 50%;

            @include phone {
                display: none;
            }
        }
    }

    // scss-lint:disable IdSelector
    section {
        overflow: hidden;
        padding: 6rem 0;
        position: relative;

        h1 {
            color: inherit;
            width: auto;
        }

        .background-imagery {
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;

            > img {
                position: absolute;
            }
        }
    }

    .divider {
        background-color: transparent;
        z-index: 1;
    }

    #new-frontier {
        color: color(blue);
        padding-bottom: 0;
        padding-top: 1.5rem;
        z-index: 2;

        .background-imagery {
            background: linear-gradient($lighter-gray 55%, rgba(color(gold), 0.6));

            > img {
                bottom: -1.7vw;
                left: -1%;
                width: 101%;
            }
        }

        .above-head {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            @include phone {
                display: block;
            }

            > :first-child {
                margin: 0 3rem;
            }

            .btn {
                padding: 1rem 2rem;
                white-space: nowrap;

                @include phone {
                    font-size: 1.4rem;
                    white-space: normal;
                }
            }
        }

        .boxed {
            align-items: flex-start;
        }

        h1 {
            .subhead {
                font-size: 2.4rem;
                font-weight: bold;
                letter-spacing: normal;
                margin: 3rem 0;
                padding: 0;

                @include phone {
                    text-align: left;
                }
            }
        }

        .two-halves {
            align-items: flex-end;
            display: flex;
            width: 100%;

            > * {
                flex-basis: 50%;

                @include phone {
                    flex-basis: 100%;

                    &:first-child {
                        display: none;
                    }
                }

                &:nth-child(2) {
                    padding-bottom: 2vw;
                }
            }

            .btn {
                font-size: 2rem;
                margin-bottom: 6rem;
                margin-top: 2rem;
                padding: 1.5rem 4rem;
                width: auto;
            }

            #moose {
                margin-left: 3%;
                margin-right: 5%;
                max-height: 28vw;
                width: 100%;
            }

            #tutor-logo {
                max-width: 100%;
                width: calc(20rem + 20%);
            }
        }

        + .divider {
            background-color: red;
            bottom: 0;
            height: 0;
            position: relative;
            width: 100%;
            z-index: 2;

            > img {
                height: 10vw;
                position: absolute;
                top: 0;
                transform: translateY(-55%);
                width: 100%;
            }
        }
    }

    #how-it-works {
        color: color(neutral-lightest);
        padding-bottom: 8vw;

        #how-it-works-target {
            height: 0;
            position: absolute;
            top: -3.5vw;
        }

        .background-imagery {
            background: linear-gradient($tree-color 3%, $work-top 15%, $work-top 60%, $work-bottom);

            > img {
                bottom: -10vw;
                left: -5%;
                width: 130%;
            }
        }

        h1 {
            color: color(gold);
        }

        h2,
        h3 {
            color: inherit;
            line-height: inherit;
        }

        h2 {
            font-size: 2.4rem;
        }

        .description {
            text-align: center;
        }

        .blurb-table {
            margin: 0 auto;
            padding: 3rem 0;
            width: 100%;
        }

        .by-4 {
            display: none;

            @include desktop {
                display: block;
            }

            .blurb {
                width: 25%;
            }
        }

        .by-2 {
            display: none;

            @include tablet {
                display: block;
            }

            .blurb {
                width: 50%;
            }
        }

        .by-1 {
            display: none;

            @include phone {
                display: block;
                width: 100%;
            }

            .blurb {
                display: block;
                width: 100%;
            }
        }

        .blurb {
            display: table-cell;
            padding: 0 1.5rem;
            text-align: center;

            > * {
                margin: 0;
                padding: 0;
            }

            > img {
                width: 40%;
            }
        }


        .icon-row {
            display: table-row;
            margin: 0 auto;
        }
    }

    #what-students-get {
        color: color(neutral-lightest);

        .background-imagery {
            background: linear-gradient($sea-top, $sea-bottom);

            >img {
                max-height: 50%;
                max-width: 30%;
                top: 10%;

                &:nth-child(2) {
                    max-height: 30%;
                    right: 0;
                    top: 20%;
                }
            }
        }

        h1 {
            margin-bottom: 3rem;
        }

        .description,
        .caption {
            text-align: center;
        }

        .viewer {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 1.5rem auto;
            max-width: calc(110vh - 17rem);

            i {
                cursor: pointer;
                font-size: 5rem;
                width: auto;
            }

            .viewport {
                margin: 1.5rem 3rem 0;
                overflow-x: hidden;
                width: 100%;
            }

            img,
            video {
                max-height: 60rem;
                max-width: calc(100vw - 14rem);
                transition: all 0.3s;
                width: 100%;

                &.transitioning {
                    opacity: 0;
                }
            }
        }


        .thumbnails {
            display: flex;
            height: 8rem;
            justify-content: space-between;
            margin: 3rem 0 8rem;
            overflow-x: auto;
            overflow-y: hidden;
            transition: 0.5s ease-in-out;

            >div {
                cursor: pointer;
                height: 100%;
                max-width: 23rem;
                padding-left: 3rem;

                &.active img,
                &.active video {
                    border: 0.2rem solid color(cyan);
                }

                &:first-child {
                    padding-left: 0;
                }

                img,
                video {
                    height: 100%;
                    max-width: 20rem;
                }
            }
        }

    }

    #feature-matrix {
        color: color(neutral-lightest);
        z-index: 0;

        .background-imagery {
            background: linear-gradient(0deg,
                color(gold),
                rgba(13, 192, 220, 1) calc(8% + 5vw),
                rgba(11, 166, 201, 1) calc(24% + 5vw),
                rgba(7, 120, 167, 1) calc(45% + 2vw),
                rgba(2, 57, 122, 1) 78%,
                $sea-bottom);
            overflow-y: visible;

            > img {
                &:first-child {
                    height: calc(5vw + 10rem);
                    left: 11%;
                    top: 0;
                }

                &:nth-child(2) {
                    bottom: calc(12vw + 3rem);
                    height: calc(3vw + 5rem);
                    left: 12%;
                }

                &:nth-child(3) {
                    bottom: 20vw;
                    height: calc(3vw + 5rem);
                    right: 8%;
                }
            }
        }

        h1 {
            margin-bottom: 3rem;
        }

        .description {
            text-align: center;
        }

        table {
            margin: 3rem 0 0;
            width: 100;

            .wide-body {
                display: none;

                @include desktop {
                    display: table-row-group;
                }
            }

            .narrow-body {
                display: table-row-group;

                @include desktop {
                    display: none;
                }
            }
        }

        .caption {
            color: color(blue);
            font-size: 1.3rem;
            margin: 0.5rem 0 1rem 0.5rem;
            text-align: left;
            width: 100%;
        }

        td {
            background-color: color(blue);
            border: thin solid transparent;
            padding: 1rem 3rem;

            @media (min-width: 1200px) {
                padding-left: 5rem;
            }

            &:nth-child(even) {
                padding-left: 3rem;
                width: 30%;

                @include desktop {
                    width: 15%;
                }
            }

            .description.smaller {
                font-size: 1.3rem;
            }

            .key {
                display: flex;
                justify-content: space-around;
                width: 100%;
            }

            .center-image {
                display: flex;
                justify-content: center;
            }

            img {
                height: 3.5rem;
                margin: 1rem;
                vertical-align: middle;
            }
        }

        .availability {
            color: color(blue);

            .book-covers {
                display: flex;
                justify-content: center;

                img {
                    height: 8rem;
                    margin: 1.5rem;
                    width: 8rem;
                }
            }
        }

        .divider {
            height: 10vw;

            > img {
                left: -2%;
                position: relative;
                width: 105%;
            }
        }
    }

    #where-money-goes {
        padding-bottom: 20vw;
        padding-top: 0;

        .background-imagery {
            background: linear-gradient($snow-top 80%, $snow-bottom 98%, color(neutral-lightest));
            top: 0;

            @media (min-width: 1400px) {
                background: linear-gradient($snow-top-mid 80%, $snow-bottom);
            }

            @media (min-width: 1700px) {
                background: linear-gradient($snow-top-wide 80%, $snow-bottom);
            }

            > img {
                bottom: 0;
                left: -2%;
                width: 106%;
            }
        }

        h1,
        .section-description {
            color: color(blue);
            margin-bottom: 3rem;
            text-align: center;
        }

        .color-bar {
            background-color: color(gold);
            height: 40vw;
            position: relative;
            width: 100%;

            @include desktop {
                height: 30.8rem;
                width: 74rem;
            }

            > div {
                bottom: 0;
                left: 0;
                position: absolute;
                top: 0;
                z-index: 0;
            }

            .segment {
                &:nth-child(1) {
                    background-color: $sickly-green;
                    width: 90%;
                }

                &:nth-child(2) {
                    background-color: $money-green;
                    width: 80%;
                }

                &:nth-child(3) {
                    background-color: color(cyan);
                    width: 50%;
                }
            }

            .content {
                align-items: center;
                display: flex;
                font-size: 4.8rem;
                font-weight: bold;
                justify-content: center;
                width: 100%;

                @include phone {
                    font-size: 4rem;
                }

                .circle {
                    align-items: center;
                    background-color: rgba(color(neutral-lightest), 0.1);
                    border-radius: 50%;
                    display: flex;
                    height: calc(5rem + 12vw);
                    justify-content: center;
                    width: calc(5rem + 12vw);

                    @include desktop {
                        height: 15rem;
                        width: 15rem;
                    }
                }
            }
        }

        .breakdown {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            @include desktop {
                width: 74rem;
            }
        }

        .box-and-description {
            align-items: center;
            display: flex;
            flex: 0 0 50%;
            margin-top: 3rem;

            .box {
                align-items: center;
                display: flex;
                flex: 0 0 6rem;
                font-size: 2.4rem;
                font-weight: bold;
                height: 6rem;
                justify-content: center;
            }

            &:first-child .box {
                background-color: color(cyan);
            }

            &:nth-child(2) .box {
                background-color: $money-green;
            }

            &:nth-child(3) .box {
                background-color: $sickly-green;
            }

            &:last-child .box {
                background-color: color(gold);
            }

            .description {
                line-height: normal;
                margin: 1rem;
            }
        }

    }

    #faq {
        background: linear-gradient(to top, color(cyan) 0, transparent 5px, transparent);

        h1 {
            margin-bottom: 8rem;
            margin-top: 0;

            @include phone {
                margin-bottom: 1rem;
                margin-top: 0;
            }
        }

        .questions {
            align-items: flex-start;
            color: color(blue);
        }

        .qna {
            // margin-bottom: 2rem;
            margin-left: 8rem;
            width: 100%;

            @include phone {
                margin-left: 0;
            }
        }

        .see-more {
            font-weight: bold;
            margin-top: 1rem;
            padding-left: 3.5rem;
        }

        .toggled-item {
            align-items: center;
            display: flex;
            width: 100%;

            &.hidden {
                display: none;
            }
        }

        .question {
            display: inline-block;
            font-weight: bold;
        }

        .toggler {
            align-items: center;
            background-color: color(gold);
            color: color(neutral-lightest);
            display: flex;
            flex: 0 0 1.25em;
            height: 1.25em;
            justify-content: center;
            margin-right: 1.5rem;
            padding: 0;

            span {
                padding-bottom: 0.2rem;
                padding-left: 0.2rem;
            }
        }

        .placeholder {
            visibility: hidden;
        }

        .divider {
            height: 10vw;
            width: 100%;

            @include tablet {
                height: 8vw;
            }

            @include phone {
                height: 3vw;
            }

            > img {
                left: -0.9%;
                position: relative;
                width: 101%;
                z-index: 3;
            }
        }
    }

    #learn-more {
        background: linear-gradient(to top, color(neutral-dark) 0%, gold 1%, color(cyan) 9vw);
        height: 60rem;
        padding: 4vw 0 0;

        h1 {
            color: color(blue);
            margin: 0;
            padding: 0;
        }

        .subhead {
            display: flex;
            font-size: 2.4rem;
            justify-content: center;
            padding-bottom: 0;
            padding-top: 2rem;
        }

        .buttons-row {
            display: flex;

            @include phone {
                display: block;
            }
        }

        .button-box {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 3rem 1.5rem 0;
            max-width: 32rem;
            text-align: center;

            .btn {
                background-color: color(blue);
                margin-bottom: 2rem;
                padding: 1rem 3rem;
            }
        }

        .divider {
            bottom: 0;
            left: -4%;
            pointer-events: none;
            position: absolute;
            transform: translateY(37vw);
            width: 108%;
        }
    }

    .btn {
        color: color(neutral-lightest);
        padding: 1em 2em;
    }

    .white-on-blue {
        background-color: color(blue);
        color: color(neutral-lightest);
    }
}
