@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.openstax-tutor-page {
    h1,
    h2 {
        margin: 0;
    }

    > section:nth-child(even) {
        background-color: ui-color(white);
    }

    > section:nth-child(odd){
        position: relative;

        &::before {
            background-blend-mode: overlay;
            background-image: url('/images/openstax-tutor/waves-ultralite.png');
            background-size: 31rem;
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0.018;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
    }

    .sticky-footer {
        background-color: ui-color(default);
        display: block;
        max-height: none;
        padding: 1rem 0;

        .button-row {
            align-items: center;
            justify-content: center;
            width: 100%;

            .btn {
                max-height: 5rem;
            }
        }
    }
}
