@import 'pattern-library/core/pattern-library/headers';

$deep-teal: rgb(0, 114, 151);
$mid-background: rgb(244, 240, 237);
$faq-icon-closed: ui-color(form-bg);
$faq-icon-open: rgb(40, 127, 171);
$sea-water: rgb(39, 62, 88);
$sea-bottom: rgb(19, 30, 42);
$sky: rgb(195, 234, 231);

$dot-1: rgb(29, 104, 140);
$dot-2: rgb(40, 123, 166);
$dot-3: rgb(40, 170, 197);
$dot-4: rgb(148, 221, 228);

$hover-shadow: 0.8rem 0.8rem 2rem 0 rgba(0, 0, 0, 0.12);

.openstax-tutor-footer {
    background-color: $sea-bottom;
    color: ui-color(white);

    .hero-quote {
        color: inherit;
    }

    .social > .btn {
        background-color: $sea-water;
    }
}

.openstax-tutor-page {

    background-color: ui-color(white);
    font-weight: 300;
    letter-spacing: 0.02em;

    h1 {
        @include width-up-to($phone-max) {
            @include set-font(h2);
        }
    }

    .floating-tools {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 3.5rem;
        top: 50%;
        transform: translateY(-60%);
        z-index: 5;

        @include width-up-to($phone-max) {
            display: none;
        }

        @media (max-height: $phone-max * 1.25) {
            top: 12rem;
            transform: none;
        }

        @media (max-height: $phone-max) {
            top: 10rem;
            transform: scale(0.9);
        }

        > * {
            margin-bottom: 2rem;
        }
    }

    .smaller,
    .sticky-footer {
        @include set-font(body-regular);
    }

    .sticky-footer {
        background-color: $sea-water;
        color: text-color(white);

        .button-group:first-child .btn {
            background-color: os-color(light-blue);
        }

        .btn {
            background-color: $deep-teal;
        }

        .description {
            flex: 1 1 50%;

            @include width-up-to($phone-max) {
                display: none;
            }
        }
    }

    button,
    .btn {
        @extend %button;

        border-radius: 0.25rem;
        cursor: pointer; // because pattern-library has default; remove when fixed
        font-weight: inherit;
        height: auto;
        letter-spacing: inherit;
        text-transform: none;
        white-space: nowrap; // Will be fixed in pattern library

        &.small {
            white-space: nowrap;
        }

        &.primary {
            @extend %primary;

            display: inline-flex;
            font-weight: inherit;
            letter-spacing: inherit;
        }
    }

    section {
        overflow: hidden;
        padding: 6rem 8.5rem 6rem 0;
        position: relative;

        @include width-up-to($phone-max) {
            padding: 3rem 2rem;
        }

        h1 {
            color: inherit;
            margin-top: $normal-margin;
            width: auto;
        }

        .background-imagery {
            background-repeat: no-repeat;
            background-size: cover;
            // background-color: transparent;
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

    #new-frontier {
        color: os-color(blue);
        height: calc(60vmax + 30rem);
        min-height: 100vh;
        padding-bottom: 0;
        padding-top: 1.5rem;
        z-index: 2;

        @include width-up-to($media-content-max) {
            height: 100vmax;
        }

        @include width-up-to($tablet-max) {
            height: calc(90vmax + 20rem);
        }

        .background-imagery {
            z-index: -1;

            .top-image,
            .middle-image,
            .bottom-image {
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                width: 100%;
                z-index: -1;

                @include width-up-to($media-content-max) {
                    background-position: left bottom;
                    left: calc(40vw - #{$media-content-max} * 0.4);
                    width: $media-content-max;
                }
            }

            .top-image {
                background-color: $sky;
                height: 100%;
                left: 0;
                width: 100%;
            }

            .middle-image {
                background-image: url('/images/openstax-tutor/hr-mountain.svg');
                bottom: 0;
                height: 60vw;
                left: -6vw;
                width: calc(107vw + 10rem);

                @include width-up-to($tablet-max) {
                    height: 80vh;
                    left: calc(-15rem - 15vw);
                    width: calc(50vw + 80rem);
                }
            }

            .bottom-image {
                background-image: url('/images/openstax-tutor/dr-cliff.svg');
                bottom: -2vw;
                height: 33vw;

                @include width-up-to($media-content-max) {
                    height: calc(0.33 * #{$media-content-max});
                }
            }
        }

        .above-head {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            @include width-up-to($phone-max) {
                display: block;
                margin-left: $normal-margin;
            }

            > :first-child {
                margin: 0 3rem;

                @include width-up-to($phone-max) {
                    margin: 0;
                }
            }

            .btn {
                background-color: os-color(medium-blue);

                @include width-up-to($phone-max) {
                    display: inline-flex;
                }
            }
        }

        .text-content {
            align-items: flex-start;
        }

        .headline {
            margin: 0;
            padding: $normal-margin;
        }

        .headline-text {
            // background-color: rgba($sky, 0.66);
            background-image: linear-gradient(to bottom, rgba($sky, 0), rgba($sky, 0.2) 20%, rgba($sky, 0.8) 50%);
            border-radius: 0.5rem;
            margin-left: -$normal-margin;
            padding: $normal-margin;
        }

        .blurb {
            margin-bottom: $normal-margin;
        }

        .btn {
            cursor: pointer;
            margin-left: 0;
        }

        #tutor-logo {
            max-width: 100%;
            width: 28rem;
        }

        h1 {
            margin-bottom: $normal-margin;

            @include wider-than($phone-max) {
                @include set-font(hero-h1);
            }
        }
    }

    #how-it-works {
        background-color: $mid-background;
        overflow: visible;
        z-index: 3;

        .text-content,
        #how-it-works-target {
            margin-top: -10rem;

            @include width-up-to($phone-max) {
                margin-top: 0;
            }
        }

        h1 {
            text-align: center;

            @include wider-than($phone-max) {
                @include set-font(hero-h1);
            }
        }

        h2 {
            @include set-font(h4);

            text-align: center;
        }

        .description {
            text-align: center;
        }

        .blurb-table {
            margin: 0 auto;
            padding: 3rem 0;
            width: 100%;

            @include width-up-to($phone-max) {
                padding-bottom: 0;
            }
        }


        .boxed {
            align-items: stretch;
            display: flex;
            flex-flow: row wrap;
            width: 100%;

        }

        .blurb {
            align-items: center;
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 $normal-margin;

            @include wider-than($phone-max) {
                flex-basis: 50%;
            }

            @include wider-than($tablet-max) {
                flex-basis: 25%;
            }

            .icon {
                align-items: center;
                display: flex;
                height: 8rem;
                width: 10rem;

                > img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            > h3 {
                @include set-font(h4);

                color: os-color(blue);
            }

            .smaller {
                height: 4em;
                text-align: center;
            }
        }
    }

    #what-students-get {
        // Would be simple background color, as the background image scales, it
        // reveals some of the background.
        background-image: linear-gradient(to top, ui-color(white), ui-color(white) 8vw, $mid-background 8vw);

        .background-imagery {
            background-image: url('/images/openstax-tutor/dm-trees.svg');
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 7% -4%;
            width: calc(100% + 12rem);
        }

        .carousel {
            z-index: 1;
        }

        h1 {
            margin-bottom: 3rem;

            text-align: center;
        }

        .description,
        .caption {
            text-align: center;
        }

        .viewer {
            background-image: url('/images/openstax-tutor/dm-mac@2x.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: auto;
            margin: 3.5rem auto -8%;
            padding: 1.5% 18.6% 15.6% 13%;
            pointer-events: none;
            position: relative;
            z-index: 3;

            i {
                cursor: pointer;
                font-size: 320%;
                width: auto;
            }

            .viewport {
                height: 100%;
                margin-left: 5.5%;
                margin-top: 3%;
                overflow-x: hidden;
                width: 100%;
            }

            img,
            video {
                max-height: 60rem;
                max-width: calc(100vw - 14rem);
                transition: all 0.3s;
                width: 100%;

                &.transitioning {
                    opacity: 0;
                }
            }

            .caption {
                background-color: ui-color(white);
                box-shadow: $hover-shadow;
                padding: 2 * $normal-margin;
                position: absolute;
                right: 0;
                text-align: left;
                top: 20%;
                transform: translateX(30%);
                width: 20%;

                @include width-up-to($tablet-max) {
                    display: none;
                }
            }
        }

        .video-description {
            display: flex;
            justify-content: center;

            .content {
                display: inline-block;
                max-width: 70%; // Keeps it out of the trees
                text-align: center;
            }
        }

        .thumbnails {
            display: inline-flex;
            height: auto;
            justify-content: space-between;
            margin: 3rem auto 8rem;
            max-width: 100%;
            overflow-x: auto;
            transition: 0.5s ease-in-out;

            > div {
                align-items: center;
                background-color: ui-color(white);
                border: thin solid ui-color(form-border);
                border-radius: 0.4rem;
                cursor: pointer;
                display: flex;
                font-weight: bold;
                height: 100%;
                justify-content: center;
                margin: 0 $normal-margin;
                padding: $normal-margin;
                width: 18rem;

                &.active,
                &.active {
                    border-color: os-color(light-blue);
                    box-shadow: $hover-shadow;
                }
            }
        }

    }

    #feature-matrix {
        z-index: 0;

        .two-cells {
            align-items: flex-start;
            display: flex;
            flex-flow: row wrap;

            @include width-up-to($phone-max) {
                display: block;

                .big-screen {
                    display: none;
                }
            }

            .small-screen {
                display: none;
                margin-left: 2rem;
                margin-right: 2rem;

                @include width-up-to($phone-max) {
                    display: block;
                }
            }

            .cell {
                align-items: flex-start;
                flex-basis: 30rem;
                flex-grow: 0;
                padding-bottom: 3rem;

                &:first-child {
                    flex-basis: 24rem;
                    flex-grow: 1;
                    margin-right: 2rem;
                    order: 2;
                }

                .flexrow {
                    align-items: flex-start;
                    display: flex;
                    padding-bottom: 2rem;
                }
            }

            .fa-check-circle {
                color: text-color(footer-header);
                font-size: 2.4rem;
                margin: 0.3rem 2rem;

                &.true {
                    color: os-color(green);
                }

                &.spacer {
                    visibility: hidden;
                }
            }

            .box {
                @include set-font(body-regular);

                border: thin solid ui-color(form-border);
                box-shadow: $hover-shadow;
                margin-top: 4rem;
                padding: (2 * $normal-margin);
                position: relative;

                h2 {
                    @include set-font(h4);

                    color: os-color(blue);
                    margin-top: 0;
                }

                .bottom-edge {
                    margin: 0 (-2 * $normal-margin) -3.6rem;
                    width: calc(100% + (2 * $normal-margin));
                }

                .gradient-strip {
                    background-image: linear-gradient(to right, os-color(green) 0%, os-color(light-blue) 70%);
                    height: 0.5rem;
                    margin: 0 (-2 * $normal-margin);
                    transform: translateY(2 * $normal-margin);
                    width: calc(100% + (2 * $normal-margin));
                }

                .stamp {
                    position: absolute;
                    right: $normal-margin;
                    top: $normal-margin;
                    width: 6rem;
                }
            }

            .future-text {
                line-height: 1.6;

                p {
                    margin-top: 0;
                    max-width: calc(100% - 4rem);
                }
            }
        }

        h1 {
            @extend %text-h2;

            margin-bottom: 3rem;
            margin-top: 1rem;
        }

        .caption {
            @include set-font(helper-label);

            color: text-color(helper);
            display: flex;
            margin: 0.5rem 0 1rem 0.5rem;
            text-align: left;
            width: 100%;
        }
    }

    #where-money-goes {
        .text-content {
            margin-bottom: 5%;
            text-align: center;
        }

        .big-screen {
            @include width-up-to($phone-max) {
                display: none;
            }
        }

        .small-screen {
            display: none;

            @include width-up-to($phone-max) {
                display: flex;
                margin: 0;
                padding: 0;
                width: 100%;

                .flexrow {
                    align-items: center;
                    display: flex;
                    height: 2.5rem;
                }

                .box {
                    box-shadow: $hover-shadow;
                    font-size: 75%;
                    padding: 2rem $normal-margin;
                }

                .dot {
                    border-radius: 0.6rem;
                    height: 1.2rem;
                    margin-right: 1rem;
                    width: 1.2rem;
                }

                .dot-1 {
                    background-color: $dot-1;
                }

                .dot-2 {
                    background-color: $dot-2;
                }

                .dot-3 {
                    background-color: $dot-3;
                }

                .dot-4 {
                    background-color: $dot-4;
                }
            }
        }
    }

    #science {
        .text-content {
            position: relative;
            text-align: center;
        }
    }

    #particles {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .divider {
        overflow: hidden;
        pointer-events: none;
        z-index: 1;

        > img {
            margin: 0 -3vw;
        }
    }

    #faq {
        background-image: url('/images/openstax-tutor/ocean-top.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: text-color(white);
        margin-top: calc(-2rem - 2vmin); // keeps divider and background images overlapped

        h1 {
            margin-bottom: 8rem;
            margin-top: 0;

            @include width-up-to($phone-max) {
                margin-bottom: 1rem;
                margin-top: 0;
            }
        }

        .questions {
            align-items: flex-start;
            background-color: ui-color(white);
            color: text-color(normal);
            padding: 0;
        }

        .qna {
            border-bottom: thin solid ui-color(form-border);
            padding: $normal-margin 4rem;
            width: 100%;

            @include width-up-to($phone-max) {
                margin-left: 0;
            }
        }

        .see-more {
            font-weight: bold;
            margin-top: 1rem;
            padding-left: 3.5rem;
        }

        .toggled-item {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;

            &.hidden {
                display: none;
            }
        }

        .question {
            @include set-font(body-large);

            display: inline-block;
            font-weight: 500;
        }

        .toggler {
            align-items: center;
            background-color: $faq-icon-closed;
            color: inherit;
            display: flex;
            flex: 0 0 1.25em;
            height: 1.25em;
            justify-content: center;
            margin-right: 1.5rem;
            padding: 1rem 0.4rem 1.4rem;

            &.open {
                background-color: $faq-icon-open;
                color: ui-color(white);
            }
        }

    }

    #learn-more {
        background-color: $sea-water;
        background-image: url('/images/openstax-tutor/ocean-bottom.svg');
        background-position: left calc(100% + 0.4rem);
        background-repeat: no-repeat;
        background-size: cover;
        color: text-color(white);
        min-height: 25vw;
        padding-bottom: 4rem;
        text-align: center;

        h1 {
            @include set-font(h2);

            color: os-color(gold);
            font-weight: 500;
            margin-top: 0;
            padding: 0;
        }

        .buttons-row {
            display: flex;
            justify-content: center;
            width: 100%;

            @include width-up-to($tablet-max) {
                align-items: center;
                flex-direction: column;
            }
        }

        .button-box {
            align-items: center;
            background-color: ui-color(white);
            color: text-color(normal);
            display: flex;
            flex: 0 0 50%;
            flex-direction: column;
            margin: 3rem 1.5rem 0;
            max-width: 32rem;
            padding: 4rem;
            text-align: center;

            > * {
                max-width: 100%;
            }

            .btn {
                background-color: os-color(blue);
                margin-bottom: 2rem;
                padding: 1rem 3rem;
            }
        }
    }

    .btn {
        color: text-color(white);
        font-weight: 500;
        padding: 1em 2em;
    }

    .white-on-blue {
        background-color: os-color(blue);
    }
}
