@import 'variables';
@import 'mixins';

$breakpoint-1: 908px;
$breakpoint-2: 806px;
$hero-break-width: 880px;

.ap-page {

    .strips {
        margin-bottom: 8rem;
    }

    .buckets-section {
        padding-bottom: 8rem;
        padding-top: 8rem;
    }

    .hero {
        align-items: center;
        background-color: color(blue);
        background-image: url('/images/k-12/k12-banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 60rem;
        justify-content: center;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 100%;

        @media (max-width: $hero-break-width) {
            min-height: 0;
        }

        @include collapsed {
            align-items: stretch;
            background: none;
            // height: calc(100vh - 6rem);
            max-height: 48rem;
        }

        > div {
            align-items: stretch;
            display: flex;
            width: 100%;
        }

        .container-wrap {
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;
            max-width: $boxed-width;
            width: 100%;
            z-index: 1;

            @include collapsed {
                align-items: stretch;
                flex-flow: row wrap;
            }

        }

        .overlay {
            background-color: rgba(saturate(color(orange), 10%), 0.85);
            color: color(neutral-lightest);
            display: flex;
            justify-content: flex-end;
            padding: 4rem;

            @media screen and (min-width: $boxed-width + 1) {
                padding-left: calc(-61rem + 55%);
            }

            @include collapsed {
                background-color: color(orange);
                width: 100%;
            }

            .text-block {
                flex-basis: 50%;

                @include collapsed {
                    flex-basis: 100%;
                }
            }

            h1 {
                color: inherit;
                line-height: 1;

                > sup {
                    font-size: 50%;
                    top: 0;
                }
            }

            .blurb {
                font-size: 1.8rem;
                padding: 1em 0;

                @include collapsed {
                    display: none;
                }
            }
        }

        .student {
            background-image: url('/images/k-12/student-k12.png');
            background-position: 0 bottom;
            background-repeat: no-repeat;
            background-size: 100% auto;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            transition: All ease 0.2s;
            width: 73rem;
            z-index: 3;

            @media screen and (max-width: $boxed-width) {
                left: calc(-73rem + 50%);
            }

            @media screen and (min-width: $boxed-width + 1) {
                left: calc(44% - 73rem);
            }

            @include collapsed {
                background-position: left 1.8rem;
                background-size: contain;
                bottom: 0;
                height: 50%;
                left: 0;
                right: 0;
                top: auto;
                width: 38rem;
            }

        }

        .square-1,
        .square-2 {
            display: block;
            position: absolute;
            z-index: 0;

            @media (max-width: $breakpoint-1) {
                display: none;
            }
        }

        .square-1 {
            background-color: rgba(darken(color(orange), 20%), 0.15);
            height: 23.785vw;
            left: 4.1rem;
            top: 4.8rem;
            width: 34.285vw;
        }

        .square-2 {
            background-color: rgba(darken(color(orange), 10%), 0.10);
            bottom: 4vw;
            height: calc(8vw + 10rem);
            right: 3vw;
            width: calc(9vw + 12rem);
        }
    }
}
