<style scoped>
    @import url(/app/pages/home/buckets/buckets.css);
</style>
<div class="bucket give right">
    <img src="/images/home/buckets/give.jpg" width="480" height="300" />
    <div class="quote">
        <span class="title">Give</span>
        <span class="blurb">
            Tanaya is a single mother and first generation college student.
            Your donations helped create the free Biology textbook
            she is now using on her path to become a nurse.
        </span>
        <a class="btn btn-yellow" href="/give">Give Today</a>
    </div>
</div>

<div class="bucket our-impact left">
    <img src="/images/home/buckets/our-impact.jpg" width="480" height="300" />
    <div class="quote">
        <span class="title">Our Impact</span>
        <span class="blurb">
            Prof. Craig has saved students $350,000 and opened the doors
            for over 1000 future engineers and scientists by adopting
            OpenStax Physics.
        </span>
        <a class="btn btn-cyan" href="/impact">Learn More About Our Impact</a>
    </div>
</div>

<div class="bucket allies full">
    <div class="quote">
        <span class="title">OpenStax Allies</span>
        <span class="blurb">
            OpenStax allies provide additional tools alongside our OpenStax
            texts, because we believe that education is a community effort.
        </span>
        <a class="btn btn-yellow" href="/allies">View Allies</a>
    </div>
</div>
