@import 'mixins/triangle';
@import 'mixins/responsive';
@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.buckets-section {
    display: grid;
    grid-gap: 2rem;
    padding: 0 $normal-margin;

    .bucket {
        border-radius: 0.3rem;
        color: text-color(white);
        max-width: 100%;
        overflow: hidden;

        @include collapsed {
            flex-direction: column;
        }

        &.our-impact {
            @extend %light-on-dark;

            background-color: ui-color(footer-bg);
            order: 2;

            > .image {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 30rem;
            }

            > .quote {
                &::before {
                    @include triangle(
                        $direction: right,
                        $position: top 27% right -2.4rem,
                        $color: ui-color(footer-bg),
                        $size: 2.4rem
                    );

                    @include collapsed {
                        @include triangle(
                            $direction: top,
                            $position: top -2.4rem right 5rem left auto,
                            $color: ui-color(footer-bg),
                            $size: 2.4rem
                        );
                    }
                }
            }
        }

        &.partners {
            @extend %light-on-dark;

            background-color: os-color(deep-green);
            order: 1;
        }

        .quote {
            display: grid;
            grid-gap: 4rem;
            grid-template-rows: 1fr auto;
            justify-items: left;

            > div {
                max-width: 100%;
            }
        }
    }
}
