@import 'variables';
@import 'mixins';

.buckets {
    padding: 3.8vw;
    width: 100vw;

    .bucket {
        color: color(neutral-lightest);
        display: flex;
        height: 30rem;
        margin: 0 auto 3.8vw;
        width: 85vw;

        &:last-child {
            margin-bottom: 0;
        }

        &.give {
            background-color: color(green);

            .title {
                color: color(yellow);
            }
        }

        &.our-impact {
            background-color: color(neutral-medium);

            .title {
                color: color(cyan);
            }
        }

        &.allies {
            background-color: color(orange);
            background-image: url('/images/home/buckets/allies.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.full {
            text-align: center;

            .quote {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .blurb {
                    margin: 0 auto;
                    max-width: 50%;
                }
            }
        }

        &.left {
            > img {
                order: 2;
            }

            > .quote {
                order: 1;
            }
        }

        &.right {
            > img {
                order: 1;
            }

            > .quote {
                order: 2;
            }
        }

        img {
            flex: 0 0 48rem;
        }

        .quote {
            flex: 1 1 auto;
            padding: 3rem;

            .title {
                display: block;
                font-size: 4.8rem;
                font-weight: 700;
            }

            .blurb {
                display: block;
                font-size: 1.8rem;
                line-height: 1.75;
            }

            .btn {
                margin-top: 2.5rem;
            }
        }
    }
}
