@import 'pattern-library/core/pattern-library/headers';

.os-loader {
    align-content: center;
    background-color: ui-color(white);
    display: grid;
    grid-template: 10rem / 10rem;
    height: 50vh;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    &.os-loader--full-page {
        flex: 1 0 auto;
        height: auto;
        min-height: 100vh;
    }

    svg {
        animation: osLoaderPulse 1.2s ease-in-out infinite alternate;
        display: block;
        height: 100%;
        width: 5rem;
    }
}

@keyframes osLoaderPulse {
    from {
        opacity: 0.35;
    }

    to {
        opacity: 1;
    }
}
