@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

.search {
    @include desktop {
        margin: 0 auto;
        width: 80%;
    }

    h2 {
        font-size: 2.4rem;
        letter-spacing: -0.1;
        margin-top: 0;

        @include desktop {
            text-align: center;
        }
    }

    form {
        display: flex;
    }

    input {
        border: 0;
        flex-basis: 80%;
        font-style: italic;
        font-weight: 100;

        @include desktop {
            flex-basis: 90%;
            font-size: 2.1rem;
        }
    }

    button {
        background-color: color(orange);
        flex-basis: 20%;
        margin: 0;

        @include desktop {
            flex-basis: 10%;
        }
    }
}

.articles {
    display: flex;
    flex-flow: column nowrap;

    @include desktop {
        background-color: lighten(color(neutral-lighter), 8%);
        flex-flow: row nowrap;
        padding: 8rem 0;

    }

    .boxed {
        @include desktop {
            flex-flow: row wrap;
            padding: 0;
        }
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
}
