<div class="search">
    <h2>Read more great stories</h2>
    {{!--<form accept-charset="UTF-8" class="form" id="search" action="/news/search" method="post">
        <input name="search" type="text" required="" placeholder="Search">
        <button type="submit" form="search" value="Submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>--}}
</div>
<div class="container"></div>
