@import 'pattern-library/core/pattern-library/headers';

.general.page {
    padding-bottom: 8rem;

    > section {
        width: 100%;
        margin: auto;
        padding: 0 $normal-margin;

        &:not(.block-heading) {
            @include wider-than($media-content-max) {
                max-width: $content-max;
            }
        }

        &.block-heading {
            @include set-font(h1);

            background-color: ui-color(white);
            padding: 4rem $normal-margin;
            position: relative;

            @include wider-than($media-content-max) {
                padding-left: calc(50vw - #{$content-max / 2 - $normal-margin});
                padding-right: calc(50vw - #{$content-max / 2 - $normal-margin});
            }

            .strips {
                bottom: 0;
            }
        }

        &.block-paragraph > div {
            max-width: $text-content-max;
        }

        @include width-up-to($media-content-max) {
            &:not(.block-paragraph) > div {
                max-width: 100%;
            }
        }

        &:first-child {
            margin-bottom: 2.5rem;
        }
    }
}
