@import 'pattern-library/core/pattern-library/headers';

.general.page {

    margin: 4rem auto;
    max-width: $content-max;
    width: 100%;

    > *,
    section > * {
        max-width: 100%;
    }

    .block-heading {
        @include set-font(h1);
    }

    .block-heading,
    .block-paragraph,
    .block-html {
        max-width: $text-content-max;
        width: 100%;
    }

}
