@import 'pattern-library/core/pattern-library/headers';

.general.page {

    .text-content > * {
        margin: $normal-margin 0;
        width: 100%;

        h2 {
            margin: 0;
        }

        [data-html] {
            > p:first-child {
                margin-top: 0;
            }

            > p:last-child {
                margin-bottom: 0;
            }
        }
    }

    .multicolumn {
        display: grid;
        grid-column-gap: #{2 * $normal-margin};
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        width: 100%;

        h2 {
            margin-bottom: 0.5rem;
        }
    }
}
