@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.accordion-group {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: (2 * $normal-margin);

    .accordion-button {
        @include form-border();

        align-items: center;
        background-color: ui-color(white);
        border-radius: 0.2rem;
        display: flex;
        height: 5rem;
        justify-content: space-between;
        padding: 0 2rem;

        .chevron {
            font-size: 80%;
        }

        .title-tag {
            @extend %light-on-dark;
            @include body-font(1rem);

            background-color: text-color(link);
            border-radius: 0.3rem;
            color: text-color(white);
            font-weight: bold;
            margin-left: 3rem;
            padding: 0.5rem;
            text-transform: uppercase;
        }
    }

    .content-pane {
        background-color: ui-color(white);
    }
}
