@import 'variables';
@import 'mixins';

$phone-up: #{breakpoints(phone) + 1};

@mixin desktop {
    @media (min-width: 1000px) {
        @content;
    }
}

.quotes {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem 0;
    position: relative;
    width: 100%;

    @include desktop {
        flex-flow: row nowrap;
        padding: 8rem 0;
    }

    .quote-bucket {
        background-color: color(neutral-lightest);
        display: flex;
        flex: 0 1 100%;
        flex-flow: column nowrap;
        margin: 0.75rem 1.5rem;
        min-height: 20rem;

        @include desktop {
            margin: 0.75rem 1.5rem;
            min-width: 31rem;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .cyan {
            background-color: color(cyan);
        }

        @media (min-width: $phone-up) {
            flex-flow: row wrap;

            div:first-child:nth-last-child(2),
            div:first-child:nth-last-child(2) ~ div {
                max-width: 50%; // IE fix
            }
        }

        &.right {

            @media (min-width: 700px) {
                margin-left: 1.5rem;
            }

            @media (min-width: 1050px) {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }

            > .image {
                order: 2;
            }

            > .quote {
                order: 1;

                &::before {
                    @include triangle(
                        $direction: left,
                        $position: top calc(50% - 2.4rem) left -2.4rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );
                }
            }
        }

        &.left {

            .image {
                background-position: 62%;
                order: 1;
            }

            > .quote {
                order: 2;

                &::before {
                    @include triangle(
                        $direction: top,
                        $position: left calc(50% - 2.4rem) top -1rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );

                    @media (min-width: $phone-up) {
                        @include triangle(
                            $direction: left,
                            $position: top 50% left -4.4rem,
                            $color: color(neutral-lightest),
                            $size: 2.4rem
                        );
                    }
                }
            }
        }

        &.full {
            background-color: color(orange);
            color: color(neutral-lightest);
            font-weight: 400;

            &:nth-child(odd) {
                background-color: color(cyan);
            }

            blockquote {
                @include constrained-variable-text(2.2, 0.2);

                p {
                    margin: -0.6rem 0 0;
                    padding: 0 4rem 2rem 1rem;
                    text-indent: -1rem;
                }

                .attribution {
                    @include constrained-variable-text(1.8, 0.2);

                    font-weight: 300;
                    line-height: 1.3;
                }
            }
        }
    }

    &.boxes-2 {
        > .quote-bucket {
            @include desktop {
                flex-basis: calc(50% - 1.5rem);
            }
        }
    }

    &.boxes-3 {
        > .quote-bucket {
            @include desktop {
                flex-basis: 33.33%;
                margin: 0 1.5rem;
            }
        }
    }

    .image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        flex: 1 1 auto;
        height: 20rem;
        width: 100%;

        @media (min-width: $phone-up) {
            flex: 1 1 50%;
            height: auto;
            width: auto;
        }
    }

    .quote {
        align-items: flex-start;
        display: flex;
        flex: 1 1 auto;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 2rem;
        position: relative;

        @media (min-width: $phone-up) {
            flex: 1 1 50%;
        }

        > * {
            max-width: 100%;
        }

        blockquote {
            display: block;
            line-height: 1.7;
            margin: 1rem 0;
        }

        .overlay {
            display: none;

            @media (min-width: $phone-up) {
                bottom: 0;
                display: block;
                height: calc(18% + 5rem);
                position: absolute;
                right: 5%;
            }
        }
    }
}
