<style scoped>
    @import url(/app/components/quotes/quotes.css);
</style>
<div class="quotes">
    <div class="quote-bucket right">
        <div class="image juan"></div>
        <div class="quote">
            <blockquote>
                At first I was like, nope, and now I'm like, yep!<br />
                &mdash; <cite>Juan C.</cite>
            </blockquote>
            <!-- <a class="btn btn-orange" href="#">Read It</a> -->
        </div>
    </div>

    <div class="quote-bucket left">
        <div class="image school"></div>
        <div class="quote">
            <blockquote>
                Here is a place where some cool stuff happened.<br />
                Check it out.
            </blockquote>
            <!-- <a class="btn btn-orange" href="#">Read It</a> -->
        </div>
    </div>

    <div class="quote-bucket full">
        <div class="quote">
            <blockquote>
                No picture, no big deal.
                Talking about how great something is. "It could be a
                testimonial from a teacher."
            </blockquote>
            <!-- <a class="btn" href="#">Read It</a> -->
        </div>
    </div>
</div>
