@import 'variables';
@import 'mixins';

.quotes {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem;
    max-width: $boxed-width;
    margin: 0 auto;

    @include desktop {
        padding: 8rem 1.5rem;
    }

    .quote-bucket {
        align-items: stretch;
        background-color: color(neutral-lightest);
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        margin: 0 0 1.5rem;
        min-height: 20rem;

        @media (min-width: 500px) {
            flex-flow: row wrap;

            div:first-child:nth-last-child(2),
            div:first-child:nth-last-child(2) ~ div {
                max-width: 50%; // IE fix
            }
        }


        @media (min-width: 800px) {
            flex: 1 1 45%;
            flex-flow: row wrap;
            margin: 0;

            &:first-child {
                margin-right: 1.5rem;
            }
        }

        > .quote {
            display: block;
        }

        &.left {

            @media (min-width: 700px) {
                margin-left: 1.5rem;
            }

            @media (min-width: 1050px) {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }

            > .image {
                order: 2;
                background-image: url('/images/home/quotes/quote-left.jpg');
            }

            > .quote {
                order: 1;

                &::before {
                    @include triangle(
                        $direction: left,
                        $position: top calc(50% - 2.4rem) left -2.4rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );
                }
            }
        }

        &.right {

            @media (min-width: 800px) {
                flex: 1 1 60%;
            }

            @media (min-width: 1000px) {
                flex: 1 1 45%;
            }

            .image {
                order: 1;
                background-image: url('/images/home/quotes/quote-right.jpg');
                background-position: 62%;



            }

            > .quote {
                order: 2;



                &::before {
                    @include triangle(
                        $direction: top,
                        $position: left calc(50% - 2.4rem) top -1rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );

                    @media (min-width: 500px) {
                        @include triangle(
                            $direction: left,
                            $position: top 50% left -4.4rem,
                            $color: color(neutral-lightest),
                            $size: 2.4rem
                        );
                    }
                }
            }
        }

        &.full {
            align-items: center;
            background-color: color(orange);
            margin: 0;
            min-height: 0;

            @media (min-width: 800px) {
                flex: 1 1 35%;
            }

            @media (min-width: 1000px) {
                flex: 1 1 45%;
            }

            .quote {
                padding: 2rem 3rem;
            }

            blockquote {
                color: white;
                font-size: 2.4rem;
                line-height: 2;
                font-weight: 400;
            }

            .btn {
                background-color: color(neutral-lightest);
                color: color(orange);
            }
        }
    }

    .image {
        background-position: center center;
        background-size: cover;
        display: block;
        flex: 1 1 auto;
        width: 100%;
        height: 20rem;

        @media (min-width: 500px) {
            flex: 1 1 50%;
            width: auto;
            height: auto;
        }
    }

    .quote {
        flex: 1 1 auto;
        padding: 2rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @media (min-width: 500px) {
            flex: 1 1 50%;
        }

        blockquote {
            display: block;
            line-height: 2;
            margin: 1rem 0;

            cite {
                font-size: 1.8rem;
                font-weight: 300;
            }
        }

        .btn {
            margin-top: 1.5rem;
            width: 100%;

            @media (min-width: 500px) {
                width: auto;
            }

            &:hover {
                transform: scale3d(1, 1, 1);
            }
        }
    }
}
