@import 'variables';
@import 'mixins';

.quotes {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem;
    max-width: $boxed-width;
    margin: 0 auto;

    @include desktop {
        padding: 8rem 1.5rem;
    }

    .quote-bucket {
        align-items: stretch;
        background-color: color(neutral-lightest);
        display: flex;
        flex: 1 1 100%;
        margin: 0 0 1.5rem;
        min-height: 20rem;

        @media (min-width: 700px) {
            flex: 1 0 45%;
        }

        @media (min-width: 1050px) {
            flex: 1 0 32%;
            margin: 0;
        }

        > .quote {
            display: block;
        }

        &.left {

            @media (min-width: 700px) {
                margin-left: 1.5rem;
            }

            @media (min-width: 1050px) {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }

            > .image {
                order: 2;
                background-image: url('/images/home/quotes/quote-left.jpg');
            }

            > .quote {
                order: 1;

                &::before {
                    @include triangle(
                        $direction: right,
                        $position: top calc(50% - 2.4rem) right -2.4rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );
                }
            }
        }

        &.right {
            .image {
                order: 1;
                background-image: url('/images/home/quotes/quote-right.jpg');
                background-position: 62%;
            }

            > .quote {
                order: 2;

                &::before {
                    @include triangle(
                        $direction: left,
                        $position: top calc(50% - 2.4rem) left -2.4rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );
                }
            }
        }

        &.full {
            background-color: color(orange);
            margin: 0;

            .quote {
                padding: 2rem 3rem;
            }

            blockquote {
                color: white;
                font-size: 1.8rem;
                line-height: 2.6rem;
                font-weight: 400;
            }

            .btn {
                background-color: color(neutral-lightest);
                color: color(orange);
            }
        }
    }

    .image {
        background-position: center center;
        background-size: cover;
        display: block;
        flex: 0 0 50%;
    }

    .quote {
        flex: 1 1 auto;
        padding: 2rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @media (min-width: 1050px) {
            align-self: auto;
        }

        blockquote {
            display: block;
            line-height: 2.4rem;
            margin: 1rem 0;

            cite {
                font-weight: bold;
            }
        }

        .btn {
            margin-top: 1.5rem;

            &:hover {
                transform: scale3d(1, 1, 1);
            }
        }
    }
}
