@import 'variables';
@import 'mixins';

$phone-up: #{breakpoints(phone) + 1};

.quotes {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem 0;

    @include desktop {
        padding: 8rem 0;
    }

    .quote-bucket {
        align-items: stretch;
        background-color: color(neutral-lightest);
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 100%;
        min-height: 20rem;
        margin-bottom: 1.5rem;

        @include desktop {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $phone-up) {
            flex-flow: row wrap;

            div:first-child:nth-last-child(2),
            div:first-child:nth-last-child(2) ~ div {
                max-width: 50%; // IE fix
            }
        }

        @media (min-width: $boxed-width) {
            flex-basis: 57rem;
        }

        > .quote {
            display: block;
        }

        &.left {

            @media (min-width: 700px) {
                margin-left: 1.5rem;
            }

            @media (min-width: 1050px) {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }

            > .image {
                order: 2;
            }

            > .quote {
                order: 1;

                &::before {
                    @include triangle(
                        $direction: left,
                        $position: top calc(50% - 2.4rem) left -2.4rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );
                }
            }
        }

        &.right {

            @include desktop {
                flex-basis: calc(13.125rem + 37.5%);
            }

            .image {
                order: 1;
                background-position: 62%;
                background-repeat: no-repeat;
                background-size: cover;
            }

            > .quote {
                order: 2;

                &::before {
                    @include triangle(
                        $direction: top,
                        $position: left calc(50% - 2.4rem) top -1rem,
                        $color: color(neutral-lightest),
                        $size: 2.4rem
                    );

                    @media (min-width: $phone-up) {
                        @include triangle(
                            $direction: left,
                            $position: top 50% left -4.4rem,
                            $color: color(neutral-lightest),
                            $size: 2.4rem
                        );
                    }
                }
            }
        }

        &.full {
            background-color: color(orange);
            color: color(neutral-lightest);
            font-weight: 400;

            @include desktop {
                flex-basis: calc(58.75% - 11.7375rem);
            }

            blockquote {
                @include constrained-variable-text(2.2, 0.2);

                p {
                    margin: -0.6rem 0 0;
                    padding: 0 4rem 2rem 1rem;
                    text-indent: -1rem;
                }

                .attribution {
                    @include constrained-variable-text(1.8, 0.2);

                    font-weight: 300;
                    line-height: 1.3;
                }
            }
        }
    }

    .image {
        background-position: center center;
        background-size: cover;
        display: block;
        flex: 1 1 auto;
        width: 100%;
        height: 20rem;

        @media (min-width: $phone-up) {
            flex: 1 1 50%;
            width: auto;
            height: auto;
        }
    }

    .quote {
        flex: 1 1 auto;
        padding: 2rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @media (min-width: $phone-up) {
            flex: 1 1 50%;
        }

        blockquote {
            display: block;
            line-height: 1.7;
            margin: 1rem 0;
        }

        .btn {
            margin-top: 1.5rem;
            width: 100%;

            @media (min-width: $phone-up) {
                width: auto;
            }

            &:hover {
                transform: scale3d(1, 1, 1);
            }
        }
    }
}
