<style scoped>
    @import url(/app/components/quotes/quotes.css);
</style>
<div class="quotes">
    <div class="quote-bucket right">
        <div class="image"></div>
        <div class="quote">
            <blockquote>
              We’re recruiting for our Fall 2016 pilot of OpenStax Tutor!
            </blockquote>
            <a class="btn btn-orange" href="/contact?subject=OpenStax Tutor Pilot Sign-up">Sign up for info</a>
        </div>
    </div>

    <div class="quote-bucket left">
        <div class="image"></div>
        <div class="quote">
            <blockquote>
                OpenStax is supported by major philanthropic foundations
            </blockquote>
            <a class="btn btn-orange" href="/foundation">Learn More</a>
        </div>
    </div>

    <div class="quote-bucket full">
        <div class="quote">
            <blockquote>
                “OpenStax is AMAZING. Access to these high quality textbooks is GAME CHANGING for our students.”
                <span>&mdash; <cite>Prof. Wendy Riggs, College of the Redwoods</cite></span>
            </blockquote>
            <!-- <a class="btn" href="#">Read It</a> -->
        </div>
    </div>
</div>
