@import 'pattern-library/core/pattern-library/headers';

.institutional-partnership .promoting {
    padding: 8rem 0 16rem;
    position: relative;

    @include width-up-to($phone-max) {
        padding: 6rem 2rem 2rem;
    }

    .cards {
        display: grid;
        grid-gap: $normal-margin;

        @include width-up-to($tablet-max) {
            grid-template-columns: 100%;
        }

        @include wider-than($tablet-max) {
            grid-template-columns: 3fr 2fr;
        }
    }

    .card {
        @extend %card;

        display: grid;
        line-height: 1.2;

        &:hover {
            box-shadow: $card-shadow;
        }

        &.wide {
            display: grid;
            grid-column-start: 1;
            padding: 0 3rem;

            .wide-card-entry {
                align-items: center;
                display: grid;
                grid-column-gap: 3rem;
                grid-template-columns: 4rem auto;
                padding: 3rem 0;

                &:not(:last-child) {
                    border-bottom: thin solid ui-color(form-border);
                }

                img {
                    width: 4rem;
                }
            }
        }

        &.tall {
            grid-row-gap: 4rem;
            grid-template-rows: 1fr auto;
            padding: 4rem;

            .btn {
                justify-self: center;
            }
        }
    }
}
