@import 'pattern-library/core/pattern-library/headers';

.subject-specific .blog-posts {
    background-color: ui-color(white);
    padding-bottom: 8rem;

    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 6rem;

        h2 {
            text-align: center;
        }
    }

    .top {
        display: flex;
        gap: 3rem;
        flex-direction: column;
        text-align: center;
    }

    .card {
        display: grid;
        grid-template-rows: 26rem 1fr;
        min-width: 26rem;

        img {
            align-self: center;
            max-width: 100%;
            max-height: 100%;
        }

        a {
            font-weight: bold;
            text-decoration: none;
        }
    }
}
