@import 'pattern-library/core/pattern-library/headers';

$half-content-max: $content-max / 2;

@mixin color-stripe($color) {
    &.#{$color}-stripe {
        border-color: os-color($color);
    }
}

.subject-specific {
    > .content {
        @extend %content;
        padding: 0;

        @include wider-than($tablet-max) {
            display: grid;
            grid-template-columns: 25rem 1fr;
        }

        @include wider-than($media-content-max) {
            max-width: calc(#{$half-content-max} + 50vw);
            margin-left: calc(50vw - #{$half-content-max});

            .targets > section > * {
                width: calc(100% - 50vw + #{$half-content-max} - #{$normal-margin});
            }
        }

        h1 {
            @include scale-set-font(h3, h2);

            margin: 0;
        }

        > .navigator {
            @include width-up-to($tablet-max) {
                display: none;
            }
        }
    }

    .btn {
        @include button();

        justify-self: left;

        &.primary {
            @extend %primary;
        }
    }

    .targets {
        @include wider-than($tablet-max) {
            border-left: $normal-margin solid os-color(gray);

            @include color-stripe(red);
            @include color-stripe(green);
            @include color-stripe(blue);
            @include color-stripe(orange);
            @include color-stripe(light-blue);
            @include color-stripe(gold);
            @include color-stripe(deep-green);
        }

        > section {
            width: 100%;

            > .content,
            > .text-content {
                @include width-up-to($phone-max) {
                    padding: $normal-margin;
                }
                @include wider-than($phone-max) {
                    padding: 3rem;
                }
            }
        }

        padding-bottom: 3rem;
    }

    .about-openstax .content {
        @include wider-than($phone-max) {
            .btn {
                align-self: end;
                grid-column-start: 2;
                grid-row-start: 2;
                grid-row-end: 4;
                justify-self: center;
                z-index: 1;
            }
        }
    }

    section.tutor-ad {
        background: linear-gradient(to top, ui-color(white) 50%, ui-color(page-bg) 50%);

        .content {
            margin: 0;
        }

        .unclipped .box-contents {
            .block-of-text {
                @include title-font(1.8rem);
            }

            .overlapping-image {
                max-width: 28vw;
            }
        }
    }
}
