@import 'pattern-library/core/pattern-library/headers';

.subject-specific .webinars {
    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .top {
        display: flex;
        gap: 3rem;
        flex-direction: column;
        text-align: center;

        > * {
            margin: 0;
        }
    }

    .card {
        @extend %card;

        background-color: ui-color(white);
        display: flex;
        flex-direction: column;
        padding: 2rem;
        row-gap: 2rem;

        h2 {
            @include set-font(h4);

            margin: 0;

            + div {
                max-height: 40rem;
                overflow: auto;
            }
        }
    }
}
