@import 'pattern-library/core/pattern-library/headers';

.selected-items {
  border: thin solid ui-color(form-border);
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 1rem;

  .items-box {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;

    .item {
      $box-background: rgb(231, 242, 246);
      $box-border: rgb(84, 143, 185);

      @include set-font(helper-label);

      align-items: center;
      background-color: $box-background;
      border: thin solid $box-border;
      border-radius: 0.2rem;
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem 0 1rem;
      white-space: nowrap;

      .put-away {
        font-size: 75%;
        margin-left: 2rem;
        padding: 0.5rem;
      }
    }
  }
}
