@import 'pattern-library/core/pattern-library/headers';

.research.page {
    h1 {
        @include set-font(h2);

        margin-bottom: 2rem;
    }

    section {
        padding: 6rem 0;
    }

    .projects-section,
    .publications-section {
        background-color: lighten(ui-color(default), 3%);
    }

    .content {
        @extend %content;
    }


    .card {
        @extend %card;

        background-color: ui-color(white);
        margin-bottom: 0.5rem;
        overflow: hidden;

        h2 {
            @include set-font(h4);

            margin-top: 0;
        }

        > a {
            color: inherit;
            text-decoration: inherit;
        }

        .card-content {
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-top: 0.4rem solid transparent;
            padding: 4rem;
        }

        &.blue .card-content {
            border-color: inherit;
            border-image: linear-gradient(to right, os-color(blue), lighten(os-color(light-blue), 20%)) 1 stretch;
        }

        &.green .card-content {
            border-color: inherit;
            border-image: linear-gradient(to right, os-color(deep-green), lighten(os-color(green), 25%)) 1 stretch;
        }

        &.yellow .card-content {
            border-color: inherit;
            border-image: linear-gradient(to right, os-color(gold), lighten(os-color(yellow), 20%)) 1 stretch;
        }

        &.red .card-content {
            border-color: inherit;
            border-image: linear-gradient(to right, darken(os-color(red), 10%), lighten(os-color(red), 20%)) 1 stretch;
        }

        &.orange .card-content {
            border-color: inherit;
            border-image: linear-gradient(to right, darken(os-color(orange), 20%), os-color(gold)) 1 stretch;
        }
    }
}
