@import 'pattern-library/core/pattern-library/headers';

.quiz-results {
    background-color: ui-color(white);

    .subhead {
        @include set-font(body-large);

        line-height: normal;
        padding: 1rem;
    }

    .content {
        @extend %content;
    }

    .see-all {
        text-align: center;
    }

    .divider-and-switch {
        align-items: center;
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr auto 1fr;
        justify-items: center;
        margin-bottom: 6rem;
        width: 100%;

        .line {
            border: thin solid ui-color(form-border);
            width: 100%;
        }

        #expander {
            appearance: none;
            background-color: transparent;
            color: ui-color(form-border);
            font-size: 2.8rem;
        }
    }

    .other-results {
        margin-bottom: 6rem;
    }
}
