@import 'pattern-library/core/pattern-library/headers';

.instructor-resources-pane {
    padding: 0 2rem 2.5rem;

    .swipe-zone {
        // TODO Handle swiping rather than scroll bar
        margin: 0 -0.3rem;
        overflow-x: scroll;
        padding: 0.3rem; // room for the shadow
        width: calc(100vw - #{2 * $normal-margin});
    }

    .free-resources-region,
    .paid-resources-region {
        display: grid;
        grid-gap: $normal-margin;
        grid-template-columns: repeat(50, 20rem);

        h3 {
            @include set-font(h4);

            margin-bottom: 2rem;
        }
    }

    .free-resources-region {

        .resource-box > .top {
            max-height: 30rem;
            overflow: hidden;
        }
    }

    .logo-box {
        align-items: center;
        border-radius: 0.4rem;
        // TODO Replace with variable, probably
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        height: 9rem;
        justify-content: center;

        img {
            max-width: 17rem;
            padding: $tight-margin;
        }
    }
}
