@import 'pattern-library/core/pattern-library/headers';

#account:not([hidden]) {
    > section {
        display: flex;
        flex-direction: column;
        line-height: 3.5rem;
        min-height: 20rem;
        position: relative;

        @include scale-feature(row-gap, 2rem, 3rem);

        &:not(:last-child) {
            border-bottom: thin solid ui-color(form-border);
            margin-bottom: 3rem;
            padding-bottom: 3rem;
        }
    }

    .edit-link {
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 0;
    }

    .email {
        padding: 0.7rem 0;

        &.primary::after {
            content: ' • Primary';
            font-weight: bold;
        }

        &.unconfirmed {
            opacity: 0.4;

            &::after {
                content: ' (Unconfirmed)';
            }
        }
    }
}

.fields {
    display: grid;

    @include scale-feature(gap, 2rem, 3rem);

    &.general-fields {
        grid-template-columns: repeat(auto-fill, minmax(24rem, 36rem));
    }

    &.password-fields {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 23rem));
    }
}

$facebook-blue: #3b5998;
$google-red: #db4437;

.login-table {
    .login-option-label {
        align-items: baseline;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        justify-content: start;
        padding: $normal-margin 3rem $normal-margin 0;

        $icon-size: 2.7rem;

        .icon {
            align-items: center;
            background-color: os-color(gray);
            border-radius: 50%;
            color: text-color(white);
            display: flex;
            font-size: #{$icon-size * 0.55};
            height: $icon-size;
            justify-content: center;
            width: $icon-size;

            &.facebook-f {
                background-color: $facebook-blue;
            }

            &.google {
                background-color: $google-red;
            }
        }
    }

    tr {
        @include width-up-to($phone-max) {
            display: grid;
            grid-template-columns: 100%;
        }

        vertical-align: text-top;
    }

    td > * + * {
        margin-top: 1rem;
    }
}
