<div class="contact-page page">
    <main id="maincontent">
        <div class="hero">
            <div class="boxed">
                <h1 data-id="title"></h1>
                <p data-id="tagline"></p>
            </div>
        </div>
        {{{strips}}}
        <div class="boxed">
            <div class="col">
                <form action="https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="post" class="form">
                    <input type=hidden name="orgid" value="00DU0000000Kwch">
                    <input type=hidden name="retURL" value="{{urlOrigin}}/contact-thank-you">
                    <input type="hidden" name="external" value="1" />
                    <div class="labeled-control">
                        What is your question about?
                        <select>
                            {{#each options}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                        <input name="subject" type="hidden" />
                    </div>
                    <div class="labeled-control">
                        Your Name
                        <input name="name" type="text" size="20" required />
                    </div>
                    <div class="labeled-control">
                        Your Email Address
                        <input name="email" pattern="[^@]+@([^@\.]+\.)+[^@\.]+" type="text" required />
                    </div>
                    <div class="labeled-control">
                        Your Message
                        <textarea cols="50" name="description" rows="6" required></textarea>
                    </div>
                    <button class="btn btn-orange" type="submit">Send</button>
                </form>
            </div>
            <div class="col">
                <h2 data-id="mailing_header"></h2>
                <address data-id="mailing_address"></address>
                <p class="phone"><span class="label">Main: </span><span data-id="phone_number"></span></p>
            </div>
        </div>
    </main>
</div>
