@import 'pattern-library/core/pattern-library/headers';

.openstax-tutor-page .split-section {
    background-color: rgb(254, 247, 217);
    display: grid;

    @include wider-than($tablet-max) {
        grid-template-columns: 50% 50%;
    }

    .clipped-image,
    .feedback-media {
        min-height: 40rem;

        @include width-up-to($tablet-max) {
            order: 2;
        }
    }

    .feedback-media {
        align-items: center;
        display: flex;
        justify-content: center;

        > * {
            width: calc(20vw + 32rem);
            height: calc(11.25vw + 18rem);
        }

        @include width-up-to($tablet-max) {
            justify-content: flex-start;

            > * {
                height: calc(56vw - 4rem);
                margin-left: 2rem;
                width: calc(100vw - 7rem);
            }
        }
    }

    section {
        @include scale-feature(font-size, 1.8rem, 2.4rem);
        line-height: normal;

        @include wider-than($phone-max) {
            padding-left: 3rem;
        }

        .content {
            @include width-up-to($phone-max) {
                padding: $normal-margin 0;
            }
        }

        .block-with-a-big-quote {
            margin-left: 8rem;
            max-width: 48rem;
            position: relative;

            &::before {
                @include title-font(8rem);

                content: '“';
                position: absolute;
                left: -6rem;
                margin-top: -4%;
            }

            .quote {
                margin-bottom: 3rem;
            }
        }
    }
}
