@import 'pattern-library/core/pattern-library/headers';
@import '../../common';

.institution-form {
  display: grid;
  flex-direction: column;
  grid-gap: 2rem;
  grid-template-rows: auto auto 1fr auto;
  max-height: 100%;
  overflow: hidden;

  .red-star {
    color: os-color(red);
  }

  .instructions,
  .field-label {
    @include set-font(helper-label);
  }

  .field-label {
    font-weight: bold;
  }

  .school-selector {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
  }

  .adopted-books {
    overflow: auto;

    .add-button {
      @include add-button();
    }
  }

  .actions {
    @include set-font(body-large);

    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-row-gap: 3rem;

    a {
      margin: 0.2rem;
      text-decoration: none;
    }
  }

  .book-selector-columns {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60% 1fr auto;
  }

  .book-selector-rows {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }

  .adoption-updater {
    border: thin solid ui-color(form-border);
    border-radius: 2px;
    padding: 0.3rem;

    .remover {
      border: 0;
      box-shadow: none;
      cursor: pointer;
      font-weight: bold;
      margin-left: -1.5rem;
      padding: 0 0.7rem;
    }
  }

  .buttons {
    display: flex;
    grid-gap: $normal-margin;
    justify-content: flex-end;
  }

  input {
    @include non-button-input();

    height: $form-element-height;
  }
}
