@import 'pattern-library/core/pattern-library/headers';

.language-selector {
    align-items: center;
    column-gap: 1rem;
    display: flex;

    @include wider-than($tablet-max) {
        justify-content: center;
    }
}
