@import 'pattern-library/core/pattern-library/headers';

.cta {
    padding: {
        left: 2rem;
        right: 2rem;
    }

    .content {
        @extend %content;

        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 100%;
        justify-items: center;
        max-width: 64rem;
        text-align: center;
    }

    h1 {
        margin: 0;
    }

    a {
        color: white;
        font-weight: bold;
    }

    .primary {
        @extend %primary;
    }
}
