@import 'pattern-library/core/pattern-library/headers';

.modal-overlay-gated-content {
    backdrop-filter: blur(8px);
}

.gated-content {
    dialog {
        width: 69rem;
    }

    .title-bar {
        @include width-up-to($phone-max) {
            display: none;
        }

        @include wider-than($phone-max) {
            @include title-font(2.4rem);

            height: 7rem;
            justify-content: center;

        }

        .put-away {
            display: none;
        }
    }

    .dialog-body {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        padding: 3rem 3rem 2rem;
        row-gap: 2rem;
        text-align: center;

        @include width-up-to($phone-max) {
            padding: 2rem $normal-margin;
        }

        form {
            display: grid;
            gap: 2rem;
            grid-template-columns: 100%;
            justify-items: center;
            width: 100%;

            .invalid-message {
                display: none;
            }
        }

        .btn {
            width: min-content;
        }

        .instructions {
            font-weight: bold;

            // Fake title bar on phone
            @include width-up-to($phone-max) {
                background-color: ui-color(page-bg);
                margin: -$normal-margin;
                padding: $normal-margin;
            }
        }
    }

    .contact-info {
        display: grid;
        text-align: left;
        width: 100%;

        @include width-up-to($phone-max) {
            gap: 0;
            grid-template-columns: 100%;
        }

        @include wider-than($phone-max) {
            gap: 2rem 3rem;
            grid-template-columns: 1fr 1fr;
        }
    }

    button,
    .btn {
        @include button();

        &.primary {
            @extend %primary;
        }
    }

}
