@import 'pattern-library/core/pattern-library/headers';

.header {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;

    @include scale-feature(column-gap, $normal-margin, 3rem);

    $circle-color: rgb(38, 114, 151);
    $circle-size: 6rem;
    $circle-size-mobile: 3rem;

    .initials {
        @include scale-feature(font-size, 1.6rem, 2.4rem);
        @include scale-feature(height, $circle-size-mobile, $circle-size);
        @include scale-feature(width, $circle-size-mobile, $circle-size);

        align-items: center;
        background-color: $circle-color;
        border-radius: 50%;
        color: text-color(white);
        display: flex;
        justify-content: center;
    }

    h1 {
        @include scale-set-font(h2, h1);

        margin: 0;
    }
}
