@import 'pattern-library/core/pattern-library/headers';

.active-filters {
    @extend %content;

    @include width-up-to($phone-max) {
        padding: 0;
    }

    @include wider-than($phone-max) {
        margin-top: 4rem;
    }

    > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 2rem;

        &[hidden] {
            display: none;
        }

        .filters {
            @include body-font(1.4rem);

            align-items: center;
            display: flex;
            flex-flow: row wrap;
            margin-bottom: -1rem;
            margin-right: -1rem;

            .filter-remover {
                background-color: ui-color(white);
                border: thin solid ui-color(form-border);
                border-radius: 0.2rem;
                display: grid;
                grid-column-gap: $normal-margin;
                grid-template-columns: 1fr auto;
                height: 4rem;
                line-height: 1.8rem;
                margin-bottom: 1rem;
                margin-right: 1rem;
                padding: 1rem;
            }

            button {
                appearance: none;
                background-color: transparent;
                color: text-color(normal);
                padding: 0;
                transform: scale(1.5);
            }

            & + a {
                margin-left: $normal-margin;
            }
        }

        a {
            white-space: nowrap;
        }
    }
}
