@import 'pattern-library/core/pattern-library/headers';

.active-filters {
    @extend %content;

    margin-top: 4rem;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;

        &[hidden] {
            display: none;
        }

        .filters {
            @include body-font(1.4rem);

            display: flex;
            flex-flow: row wrap;
            margin-bottom: -1rem;
            margin-right: -1rem;

            $baby-blue: rgb(230, 242, 247);
            $border-blue: rgb(19, 127, 179);
            .filter-remover {
                background-color: $baby-blue;
                border: thin solid $border-blue;
                border-radius: 0.2rem;
                margin-bottom: 1rem;
                margin-right: 1rem;
                padding: 0.5rem 1rem;
            }

            button {
                appearance: none;
                background-color: transparent;
                color: text-color(normal);
                font-size: 1rem;
                margin-left: 1rem;
                padding: 0;
            }
        }

        a {
            white-space: nowrap;
        }
    }
}
