@import 'variables';
@import 'mixins';

.comp-copy-form {

    .subhead .description {
        align-items: center;
        display: flex;
        flex-direction: column;

        p {
            max-width: 100%;
        }
    }

    .cta {
        @media (min-width: 641px) {
            margin-top: 12rem;
        }
    }

    .labeled-inputs.row.book-info {
        align-items: flex-start;
    }
}
