<style scoped>@import url(/app/pages/comp-copy/comp-copy.css);</style>
<h1>Request an iBooks Complimentary Copy</h1>
<div class="comp-copy">
    <div class="book-blurb">
        <p>
            All instructors with a verified instructor account can receive an
            iBooks comp copy of their book of choice.
        </p>
        <p>
            OpenStax textbooks are free for students in web view and PDF form,
            and for less than $5 in the iBooks Store.
        </p>
    </div>
    <div>
        <form>
            <fieldset class="labeled-inputs no-inset">
                <label>
                    <span>Name</span>
                    <input name="person_name" type="text" required />
                </label>
                <label>
                    <span>Email Address</span>
                    <input name="person_email" type="email" required />
                </label>
                <label>
                    <span>Phone</span>
                    <input name="person_phone" type="text" />
                </label>
                <label>
                    <span>Book Requested</span>
                    <select name="book_title" type="text" required />
                        <option value="" disabled selected>Select a title</option>
                        <option>Anatomy and Physiology</option>
                        <option>Biology</option>
                        <option>Chemistry</option>
                        <option>College Physics</option>
                        <option>Concepts of Biology</option>
                        <option>Introduction to Sociology 2e</option>
                        <option>Introductory Statistics</option>
                        <option>Principles of Economics</option>
                        <option>Principles of Microeconomics</option>
                        <option>Principles of Macroeconomics</option>
                        <option>Psychology</option>
                        <option>U.S. History</option>
                    </select>
                </label>
            </fieldset>
            <fieldset class="labeled-inputs no-inset">
                <label>
                    <span>Number of students this semester</span>
                    <input name="number_students" type="number" required />
                </label>
                <label>
                    <span>Your school</span>
                    <input name="school" type="text" required />
                </label>
                <label>
                    <span>Your department</span>
                    <input name="department" type="text" />
                </label>
                <div class="form-item">
                    <span>Have you adopted an OpenStax textbook?</span>
                    <label>
                        <input type="radio" name="have_adopted" value="yes" />
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="have_adopted" checked value="no" />
                        No
                    </label>
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Submit" role="button" />
            </div>
        </form>
    </div>
</div>
