@import 'pattern-library/core/pattern-library/headers';

.comp-copy-form {

    .text-content {
        @extend %text-content;
    }

    .subhead .description {
        align-items: center;
        display: flex;
        flex-direction: column;

        p {
            max-width: 100%;
        }
    }

    .strips {
        position: static;
    }

    .form {
        @extend %form;

        background-color: transparent;
    }

    .labeled-inputs {
        max-width: 40rem;
        width: 100%;

        input,
        .select {
            margin-bottom: 3rem;
        }

    }

    .btn {
        @extend %button;
        @extend %primary;

        float: none;
        margin-top: 4.5rem;
    }
}
