@import 'variables';
@import 'mixins';

.page-header .nav {
    box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(color(gray), 0.1);
    order: 1;
    width: 100%;

    @at-root .active#{&} {
        box-shadow: none;
        height: auto;
    }

    @include desktop {
        height: 6rem;
        order: 2;
        transform: translate3d(0, 0, 0);
        transition: transform;

        @at-root .transparent#{&} {
            background-color: rgba(color(neutral-darkest), 0.2);
        }

        @at-root .fixed#{&} {
            background-color: rgba(color(neutral-lightest), 0.97);
            left: 0;
            position: fixed;
            top: -6rem;
            transform: translate3d(0, 0, 0);
            width: 100%;
        }

        @at-root .visible#{&} {
            transform: translate3d(0, 100%, 0);
            transition: transform 0.2s 0.1s;

        }
    }

    .container {
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        position: relative;

        @include desktop {
            height: 100%;
            justify-content: space-between;
        }
    }

    .main-menu {
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: -6.6rem;
        order: 3;

        @include desktop {
            margin: 0;
        }
    }

    .nav-menu-item {
        margin: 0 0 1rem;

        @include desktop {
            margin: 0;
            padding: 0 2rem;
            position: relative;

            &:not(.dropdown):hover::after {
                background-color: color(green);
                bottom: -1.7rem;
                content: '';
                height: 0.5rem;
                left: 1rem;
                outline: 0;
                position: absolute;
                right: 1rem;
            }
        }

        > a {
            @include desktop {
                color: color(gray);
                padding-bottom: 2rem;

                @at-root .transparent#{&} {
                    color: color(neutral-lightest);
                }
            }
        }
    }

    .logo-wrapper {
        align-items: center;
        display: flex;
        flex: 0 auto;
        font-size: 1.4rem;
        left: 1.5rem;
        line-height: 0;
        order: 1;
        position: absolute;
        top: 1.2rem;

        @include desktop {
            left: auto;
            position: static;
            top: auto;
        }

        span {
            vertical-align: middle;
        }

        > a {
            display: inline-block;
        }
    }

    .logo {
        display: inline-block;
        margin-right: 2.5rem;

        a {
            display: inline-block;
            width: 15rem;

            &:active,
            &:focus,
            &:hover {
                &::after {
                    background-color: transparent;
                    box-shadow: none;
                }
            }
        }

        img {
            height: 100%;
            width: 100%;
        }

        .logo-color {
            display: inline-block;

            @include desktop {
                @at-root .transparent#{&} {
                    display: none;
                }
            }
        }

        .logo-white {
            display: none;

            @include desktop {
                @at-root .transparent#{&} {
                    display: inline-block;
                }
            }
        }
    }

    .logo-quote {
        color: color(gray);
        display: inline-block;
        height: 0;
        transform: scale3d(0, 0, 0);
        width: 0;

        @media (min-width: 1000px) {
            height: auto;
            transform: scale3d(1, 1, 1);
            width: auto;
        }

        @at-root .transparent#{&} {
            color: color(neutral-lightest);
        }

    }
}
