@import 'mixins/triangle';
@import 'pattern-library/core/pattern-library/headers';

.page-header .nav {
    box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(os-color(gray), 0.1);
    height: auto;
    width: 100%;

    @at-root .active#{&} {
        box-shadow: none;
    }

    @at-root .fixed#{&} {
        left: 0;
        overflow: visible;

        .dropdown-menu {
            position: fixed;
            top: 5.5rem;
        }
    }

    .training-wheel-overlay {
        @include wider-than($tablet-max) {
            background-color: rgba(ui-color(default-active), 0.5);
            height: 100vh;
            left: 0;
            position: fixed;
            top: 0;
            width: 100vw;
            z-index: 1;
        }
    }

    .training-wheel,
    .training-wheel-overlay {
        display: none;

        @include wider-than($tablet-max) {
            display: block;
        }
    }

    .logo-wrapper {
        @include set-font(helper-label);

        align-items: center;
        display: flex;
        flex: 0 auto;
        padding: 0.5rem 1.5rem;

        @at-root .active#{&} {
            left: 0;
            position: absolute;
            top: 0;
        }

        @include wider-than($tablet-max) {
            left: auto;
            position: static;
            top: auto;
        }

        span {
            vertical-align: middle;
        }

        > a {
            display: inline-block;
        }
    }

    .main-menu {
        @include set-font(h4);

        display: none;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        padding: 0;

        @at-root .active#{&} {
            display: flex;
            height: auto;
            margin: 0;
        }

        @include wider-than($tablet-max) {
            display: flex;
            flex-flow: row nowrap;
            height: auto;
            justify-content: flex-end;
            margin: 0;
        }
    }

    .nav-menu-item {
        white-space: nowrap;

        @at-root .active#{&} {
            margin-bottom: 1rem;
        }

        @include wider-than($tablet-max) {
            margin: 0.5rem 1rem;
            padding: 0 0.25rem;

            > a {
                color: os-color(gray);
                display: inline-block;
                padding: 1.2rem 0;

                @at-root .transparent#{&} {
                    color: text-color(white);
                }
            }

            @media (max-width: 1242px) {
                &:last-child .dropdown-menu {
                    right: 0.2rem;
                }
            }

            .dropdown-menu[aria-expanded="true"],
            &:hover .dropdown-menu {
                border-top: 0.5rem solid os-color(green);
                display: block;
                height: auto;
                opacity: 1;
                padding: 1rem;
                position: absolute;
                transition: opacity 0.3s;
                width: auto;

                @at-root .fixed#{&} {
                }
            }

            &:not(.dropdown):hover {
                border-bottom: 0.5rem solid os-color(green);
                margin-bottom: 0;
            }
        }

        @media (min-width: 800px) {
            padding: 0 0.35rem;
        }

        @media (min-width: 1100px) {
            padding: 0 0.45rem;
        }

        .dropdown-menu {
            @include set-font(body-regular);

            background-color: ui-color(white);
            color: os-color(gray);
            display: none;
            padding-left: 0;

            a {
                color: os-color(gray);
                display: block;
            }

            // scss-lint:disable SelectorDepth
            a:focus,
            a:hover {
                color: os-color(light-blue);
            }
            // scss-lint:enable SelectorDepth
        }
    }

    .training-wheel {
        background-color: ui-color(white);
        overflow: visible;
        padding: 3rem;
        position: absolute;
        transform: translate(-110%, -50%);
        z-index: 3;

        &::after {
            @include triangle(
                $direction: right,
                $position: top 33% right -2.4rem,
                $color: ui-color(white),
                $size: 2.4rem
            );
        }

        .put-away-row {
            @include set-font(h3);

            height: 0;
            overflow: visible;
            text-align: right;
            transform: translate(0.5em, -1em);

            .put-away {
                background: transparent;
                color: inherit;
            }
        }

        img {
            max-width: 75%;
        }

        hr {
            border-bottom: thin solid os-color(orange);
        }

        .message {
            @include set-font(helper-label);
        }

        .button-row {
            @include set-font(helper-label);

            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;

            button {
                background-color: os-color(blue);
                color: text-color(white);

            }
        }
    }

    .chevron {
        fill: os-color(blue);
        height: 1.33rem;
        margin-left: 1rem;
        width: 0.8rem;

        @include wider-than($tablet-max) {
            fill: os-color(gray);
            transform: rotate(90deg);
            transform-origin: center;

            @at-root .transparent#{&} {
                fill: text-color(white);
            }
        }
    }

    .logo {
        display: inline-block;
        margin-right: 2rem;

        a {
            display: inline-block;
            width: 15rem;

            &:active,
            &:focus,
            &:hover {
                &::after {
                    background-color: transparent;
                    box-shadow: none;
                }
            }
        }

        img {
            height: 100%;
            margin-top: 0.5rem;
            width: 100%;
        }

        .logo-color {
            display: inline-block;

            @include wider-than($tablet-max) {
                @at-root .transparent#{&} {
                    display: none;
                }
            }
        }

        .logo-white {
            display: none;

            @include wider-than($tablet-max) {
                @at-root .transparent#{&} {
                    display: inline-block;
                }
            }
        }
    }

    .logo-quote {
        color: os-color(gray);
        display: inline-block;
        height: 0;
        transform: scale3d(0, 0, 0);
        width: 0;

        @media (min-width: 1000px) {
            height: auto;
            transform: scale3d(1, 1, 1);
            width: auto;
        }

        @at-root .transparent#{&} {
            color: text-color(white);
        }

    }
}
