<div class="article page">
    <div class="hero">
        {{{strips}}}
    </div>
    <div class="boxed">
        <h1 data-id="title"></h1>
        <h2 data-id="subheading"></h2>
        <div class="meta">
            <p><a href="/author" class="author" data-id="author"></a>  &nbsp;|&nbsp;  <span class="date" data-id="date"></span></p>
        </div>
        <div class="body" data-id="body"></div>
        <div class="tags" data-id="tags"></div>
        <div id="disqus_thread" class="disqus"></div>
    </div>
    <div class="articles"></div>
</div>
