@import 'variables';
@import 'mixins';

.article.page {
    $boxed-width: 730px;

    @mixin tablet {
        @media (min-width: #{breakpoints(phone) + 1}) {
            @content;
        }
    }

    .hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60rem;
        overflow: hidden;
        padding: 0;
        position: relative;

        .strips {
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            position: absolute;
            right: 0;
        }
    }

    > .boxed {
        max-width: $boxed-width;
        padding: 2rem 1.5rem 8rem;
    }

    .meta {
        color: color(neutral-light);
    }

    .author {
        color: color(cyan);
        font-style: italic;
    }

    .body {
        font-size: 1.8rem;
        line-height: 3rem;

        img {
            margin: 1.5rem 0 0;
            width: 100%;
        }

        .image {
            margin-top: 2.5rem;

            + .quote blockquote {
                color: color(gray);
                font-size: 1.4rem;
                margin: 0;

                p {
                    margin: 0;
                }
            }
        }

        .quote-bucket.undefined blockquote {
            font-size: 3.6rem;
            font-style: italic;
            font-weight: 500;
            line-height: 4.8rem;
            margin: 2.5rem 0;
            padding: 2.5rem 0;
            position: relative;

            &::before {
                background-color: color(neutral-lighter);
                content: '';
                display: block;
                height: 0.4rem;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }

            &::after {
                background-color: color(neutral-lighter);
                bottom: 0;
                content: '';
                display: block;
                height: 0.4rem;
                left: 0;
                position: absolute;
                right: 0;
                width: 100%;
            }

            .attribution {
                font-size: 2.4rem;
                font-weight: 400;
                text-align: right;
            }
        }

        iframe {
            margin: 3rem 0;
            width: 100%;
        }
    }

    .tags span {
        background-color: lighten(color(neutral-lighter), 8%);
        color: color(gray);
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1;
        margin-right: 1rem;
        padding: 1rem;
    }

    .disqus {
        padding: 4rem 0 0;
    }

    .articles .boxed {
        padding: 0 1.5rem;

        @include desktop {
            padding: 0;
        }
    }
}
