@import 'pattern-library/core/pattern-library/headers';

toc-dialog {
    display: grid;
    grid-gap: 3rem;
    grid-template-rows: auto auto;
    height: calc(100vh - 25.5rem);
    padding: 3rem;

    .toc-region {
        border-bottom: thin solid ui-color(default);
        border-top: thin solid ui-color(default);
        overflow-y: auto;
        padding-top: 1rem;
    }

    .btn {
        max-width: 17rem;
    }
}
