<h1>OpenStax College Interest Form</h1>
<p>
    Thank you for your interest in OpenStax College textbooks! Please complete the form below so that we may provide
    you with the information you need to start saving your students thousands of dollars each semester.
</p>
<form accept-charset="UTF-8" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
 class="new_adoption_interest" method="post">
    <p>Have you already adopted an OpenStax College textbook? <a href="/adoption">Let us know!</a></p>
    <h2>Contact Information</h2>
    <div>
        <input type=hidden name="oid" value="00DU0000000Kwch">
        <input type=hidden name="retURL" value="{{urlOrigin}}/home">
        <input type=hidden name="lead_source" value="OS Interest Form">
        <input type=hidden name="00NU00000055spw" value="High Interest in Adopting">
    </div>
    <fieldset class="labeled-inputs">
        <label>
            <span>First name</span>
            <input name="first_name" type="text" required />
        </label>
        <label>
            <span>Last name</span>
            <input name="last_name" type="text" required />
        </label>
        <label>
            <span>School name</span>
            <input name="company" type="text" required />
        </label>
        <label>
            <span>School url</span>
            <input name="URL" type="text" required />
        </label>
        <label>
            <span>Email address</span>
            <input name="email" type="email"
             pattern="[^@]+@([^@\.]+\.)+[^@\.]+" required />
        </label>
        <label>
            <span>Phone number</span>
            <input name="phone" type="text" required />
        </label>
    </fieldset>
    <h2>Textbook Interest</h2>
    <p>OpenStax College textbook are you interested in adopting:</p>
    <fieldset class="labeled-buttons require-one">
        <legend class="validation-message">
            Select at least one
        </legend>
        {{#each titles}}
            <label>
                <input name="00NU00000053nzR" type="checkbox" value="{{this}}">
                {{this}}
            </label>
        {{/each}}
    </fieldset>
    <fieldset class="labeled-inputs">
        <label>
            <span>Students per semester</span>
            <input name="00NU00000052VId" type="number" required>
        </label>
    </fieldset>
    <p>
        Which partners may we share your information with so they may contact you about
        additional resources supporting the OpenStax College books?
    </p>
    <fieldset class="labeled-buttons">
        <label>
            <input name="00NU00000055spm" type="checkbox" value="Online homework providers">
            Online homework providers
        </label>
        <label>
            <input name="00NU00000055spm" type="checkbox" value="Courseware providers">
            Courseware providers
        </label>
        <label>
            <input name="00NU00000055spm" type="checkbox" value="Print custom editions">
            Print custom editions
        </label>
    </fieldset>
    <p class="">How did you hear about OpenStax College?</p>
    <fieldset class="labeled-buttons require-one">
        <legend class="validation-message">
            Select at least one
        </legend>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Web search">
            Web search
        </label>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Colleague">
            Colleague
        </label>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Conference">
            Conference
        </label>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Email">
            Email
        </label>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Facebook">
            Facebook
        </label>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Twitter">
            Twitter
        </label>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Webinar">
            Webinar
        </label>
        <label>
            <input name="00NU00000055spr" type="checkbox" value="Partner organization">
            Partner organization
        </label>
        <label>
            <input class="other" type="checkbox" value="">
            Other:
            <input  name="00NU00000055spr" type="text">
        </label>
    </fieldset>
    <div>
        <label>
            <p>Any feedback you'd like to share with us?</p>
            <textarea cols="50" name="00NU00000056Rls" rows="6"></textarea>
        </label>
    </div>
    <input name="commit" type="submit" value="Submit" role="button" aria-disabled="false" />
</form>
