@import 'variables';
@import 'mixins';

.buckets-section {
    width: 100%;
    max-width: $boxed-width;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .bucket {
        color: color(neutral-lightest);
        max-width: 100%;
        min-height: 30rem;

        @include collapsed {
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.give {
            background-color: color(green);

            > .image {
                background-image: url('/images/home/buckets/give.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            > .quote {
                &::before {
                    @include triangle(
                        $direction: left,
                        $position: top 27% left -2.4rem,
                        $color: color(green),
                        $size: 2.4rem
                    );

                    @include collapsed {
                        @include triangle(
                            $direction: top,
                            $position: top -2.4rem right 5rem left auto,
                            $color: color(green),
                            $size: 2.4rem
                        );
                    }
                }

                .title {
                    color: color(yellow);
                }
            }
        }

        &.our-impact {
            background-color: color(neutral-medium);

            > .image {
                background-image: url('/images/home/buckets/our-impact.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            > .quote {
                &::before {
                    @include triangle(
                        $direction: right,
                        $position: top 27% right -2.4rem,
                        $color: color(gray),
                        $size: 2.4rem
                    );

                    @include collapsed {
                        @include triangle(
                            $direction: top,
                            $position: top -2.4rem right 5rem left auto,
                            $color: color(gray),
                            $size: 2.4rem
                        );
                    }
                }

                .title {
                    color: color(cyan);
                }
            }
        }

        &.partners {
            background-color: color(orange);
            background-image: url('/images/home/buckets/partners.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
}
