@import 'variables';
@import 'mixins';

.buckets-section {
    margin: 0 auto;
    max-width: $boxed-width;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;

    .bucket {
        color: color(neutral-lightest);
        max-width: 100%;

        @include collapsed {
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.our-impact {
            background-color: color(neutral-medium);

            > .image {
                background-image: url('/images/home/buckets/our-impact.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 30rem;
            }

            > .quote {
                &::before {
                    @include triangle(
                        $direction: right,
                        $position: top 27% right -2.4rem,
                        $color: color(gray),
                        $size: 2.4rem
                    );

                    @include collapsed {
                        @include triangle(
                            $direction: top,
                            $position: top -2.4rem right 5rem left auto,
                            $color: color(gray),
                            $size: 2.4rem
                        );
                    }
                }

                .title {
                    color: color(cyan);
                }
            }
        }

        &.partners {
            background-color: color(orange);
            background-image: url('/images/home/buckets/partners.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .quote {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include collapsed {
                min-height: 30rem;
            }

            > div {
                max-width: 100%;
            }
        }

        &.left .quote {
            align-items: flex-start;
        }

        &.full .quote {
            align-items: center;

            @include collapsed {
                align-items: flex-start;
            }
        }

    }
}
