@import '../../node_modules/pattern-library/core/pattern-library/headers';

.support-page {
    .hero {
        background-color: os-color(light-blue);
        color: text-color(white);

        h1 {
            margin-bottom: 2.5rem;
        }

        a {
            color: os-color(blue);
        }
    }

    .strips {
        margin: 0;
    }

    .main {
        padding: 0;
    }

    .resource-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .resource-box {
            background-color: ui-color(white);
            display: flex;
            flex: 1 0 20rem;
            flex-direction: column;
            justify-content: space-between;
            margin: 1.5rem;
            padding: 1.5rem;

            .name {
                @include set-font(h4);
                color: os-color(green);
            }

            .description {
                padding-bottom: 1rem;
                padding-top: 1rem;
            }

            .link > a {
                font-size: 80%;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}
