@import 'pattern-library/core/pattern-library/headers';

// Just for math book
.mapdiv {
    height: 80rem;
    width: 100%;

    @include width-up-to($tablet-max) {
        top: 0;
    }

    @include width-up-to($phone-max) {
        height: 50rem;
    }

    .mapboxgl-ctrl-bottom-left {
        display: none;
    }

    .mapboxgl-ctrl-bottom-right {
        display: none;
    }

}
