@import 'pattern-library/core/pattern-library/headers';

.sign-up {
    padding: 24rem 0;

    @include width-up-to($tablet-max) {
        padding: 4rem 2rem;
    }

    .content {
        @extend %content;

        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 100%;
        justify-items: center;
        max-width: 64rem;
        text-align: center;
    }

    .envelope-icon {
        font-size: 6rem;
    }

    h1 {
        margin: 0;
    }

    form {
        display: grid;
        grid-gap: $normal-margin;
        grid-template-columns: 1fr auto;
        max-width: $phone-max;
        width: 100%;

        input {
            @include set-font(body-regular);

            text-indent: $normal-margin;
        }
    }

    button {
        @extend %button;

        padding: 0 2rem;
    }

    .contact {
        @include set-font(body-large);

        a {
            color: inherit;
        }
    }

    .primary {
        @extend %primary;
    }
}
