@import 'pattern-library/core/pattern-library/headers';

.annual-report.page .revolution {

    .text-left-photo-right > :nth-child(2) {
        max-width: 36rem;
    }

    .signature-section {
        @include width-up-to($phone-max) {
            display: grid;
            grid-column-gap: $normal-margin;
            grid-template-columns: auto 1fr;
        }

        .signature-image {
            max-width: calc(15rem + 3vw);
        }
    }

    .little-headshot {
        border-radius: 50%;
        float: left;
        max-width: 10rem;
    }

}
