@import 'pattern-library/core/pattern-library/headers';

.annual-report.page .tutor {
    padding: 0;

    @include wider-than($tablet-max) {
        padding-bottom: calc(30vw - 5rem);
    }

    > .content {
        margin: 0 0 calc(8rem + 3vw);

        @include wider-than($media-content-max) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .right-image {
        float: right;
        margin-left: $normal-margin;
        margin-right: -6rem;
        max-width: 80rem;
        width: 50%;

        @include width-up-to($phone-max) {
            display: none;
        }
    }

    .bottom-image {
        bottom: 0;
        margin-left: -8rem;
        max-width: none;
        position: absolute;
        width: calc(100% + 2rem);
    }
}
