@import 'pattern-library/core/pattern-library/headers';

.mapdiv {
    height: 80rem;
    width: 100%;

    @include width-up-to($tablet-max) {
        top: 0;
    }

    @include width-up-to($phone-max) {
        height: 43rem;
        top: 0;
        width: 100%;
    }
}

.mapbox {
    @include wider-than(60rem) {
        height: 80rem;
    }

    @include width-up-to($phone-max) {
        .institute-prtnr-toggle {
            margin-left: 8.5rem;
        }

        .type-institute-toggle {
            margin-left: 16.4rem;
        }

        .one-million-toggle {
            margin-left: 2.7rem;
        }

        .testmonal-toggle {
            margin-left: 16.3rem;
        }

        .apply-fltr-btn {
            background-color: #f36b32;
            border-radius: 0.2rem;
            height: 3.8rem;
            width: 11.5rem;
        }
    }

    .search-container {
        margin-left: 5rem;
        margin-top: 15rem;
        position: relative;
        width: 67.8rem;
        z-index: 99999;

        @include width-up-to($tablet-max) {
            display: flex;
            flex-direction: column;
            height: 42rem;
            justify-content: flex-end;
            margin-left: unset;
            margin-top: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
        }
    }

    .search-div-container {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            max-width: 63.4rem;
            order: 2;
            width: 100%;
        }
    }

    .separate-map-link {
        display: unset;
    }

    .maptxt {
        color: white;
        font-size: 4.8rem;
        font-weight: bold;
        letter-spacing: -0.192rem;
        line-height: 5rem;
        padding-top: 4rem;
        width: 55rem;

        @include width-up-to($phone-max) {
            order: 1;
            padding-bottom: 3rem;
            padding-left: 2rem;
            padding-top: 1rem;
            width: 33rem;
        }
    }

    .on-map {
        background-color: #002469;
        bottom: 35.8rem;
        height: 95rem;
        opacity: 0.8;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 999;

        @include width-up-to($phone-max) {
            bottom: 42rem;
            height: 43rem;
        }
    }

    .search {
        align-items: center;
        background-color: white;
        border: 0.1rem solid white;
        border-radius: 0.3rem;
        display: flex;
        height: 6.7rem;
        padding: 0 1rem;
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            height: 6rem;
            width: 100%;

            .search-input-div {
                order: 2;
                width: 90%;
            }

            .search-filter-div {
                order: 2;
            }
        }

        .search-input-div {
            flex-grow: 1;
            padding-right: 1rem;
        }
    }

    .srch {
        border: 0.1rem solid white;
        border-radius: 0.3rem;
        color: #4a4a4a;
        font-size: 1.6rem;
        height: 3.83rem;
        transition: all 0.3s ease-in-out;
        width: 100%;

        @include width-up-to($tablet-max) {
            font-size: 1.4rem;
            padding: 0.6rem;
<<<<<<< abc677991e0136a77783b02e7dcee3f0ea74dfc0
            width: 97.5%;
=======
>>>>>>> Fix seach box styling for tablet
        }

        @include width-up-to($phone-max) {
            height: auto;
        }

    }

    .back-search-div,
    .back-result-div,
    .back-detail-div {
        display: none;
        margin-bottom: 1rem;
        order: 2;
    }

    .back-search-btn,
    .back-result-btn,
    .back-detail-btn {
        background-color: white;
        border-radius: 2.8rem;
        box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.3);
        height: 4rem;
        width: 4rem;
    }

    .left-arrow-bak {
        color: #4a4a4a;
    }

    .dropdownlist-id {
        border-top: 0.1rem solid #d5d5d5;
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            border-top: unset;
            width: 100%;
        }
    }

    .switch {
        display: inline-block;
        height: 2.6rem;
        margin-left: auto;
        position: relative;
        width: 5rem;

        @include width-up-to($phone-max) {
            height: 1.6rem;
            top: 0.4rem;
            width: 3rem;
        }

        input {
            display: none;
        }
    }

    .slider {
        background-color: #c7cbd2;
        border-radius: 2rem;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
    }

    .slider::before {
        background-color: white;
        border-radius: 2rem;
        bottom: 0.2rem;
        content: '';
        height: 2.2rem;
        left: 0.3rem;
        position: absolute;
        transition: 0.4s;
        width: 2.2rem;

        @include width-up-to($phone-max) {
            bottom: 0.15rem;
            height: 1.4rem;
            left: 0.2rem;
            width: 1.4rem;
        }
    }

    /* Rounded sliders */
    &.round {
        border-radius: 3.4rem;

        &::before {
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        background-color: #498de2;
    }

    input:focus+.slider {
        box-shadow: 0 0 0.1rem #498de2;
    }

    input:checked+.slider::before {
        transform: translateX(2.1rem);

        @include width-up-to($phone-max) {
            transform: translateX(1.2rem);
        }
    }

    .filter-div {
        background-color: white;
        display: none;
        list-style-type: none;
        padding-left: unset;
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            border-top: 0.1rem solid #d5d5d5;
            max-width: 63.4rem;
            order: 3;
            width: 100%;
        }
    }

    .search-empty-result {
        background-color: white;
        border-radius: 0 0 0.3rem 0.3rem;
        font-size: 1.4rem;
        overflow-x: hidden;
        padding: 1.5rem;
        width: 100%;
    }

    .search-list {
        background-color: white;
        border-radius: 0 0 0.3rem 0.3rem;
        list-style-type: none;
        margin: unset;
<<<<<<< abc677991e0136a77783b02e7dcee3f0ea74dfc0
        max-height: 28rem;
=======
        max-height: calc(100vh - 23.8rem);
>>>>>>> Fix seach box styling for tablet
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: unset;
        width: 100%;

<<<<<<< abc677991e0136a77783b02e7dcee3f0ea74dfc0
        @include width-up-to($phone-max) {
            max-height: 23rem;
=======
        @include width-up-to($tablet-max) {
            max-height: 21rem;
>>>>>>> Fix seach box styling for tablet
            overflow-y: scroll;
        }
    }

    .toggle-on-off {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .toggle-dataList {
        display: none;
    }

    .search-list-element {
        border-bottom: 0.1rem solid #d5d5d5;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .list-show-more {
        align-items: center;
        background-color: #e5e5e5;
        border-radius: 50%;
        display: flex;
        height: 3.2rem;
        justify-content: center;
        text-align: center;
        width: 3.2rem;
    }

    .list-data {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 2rem;
<<<<<<< abc677991e0136a77783b02e7dcee3f0ea74dfc0
        width: 90%;

        @include width-up-to($phone-max) {
            padding-bottom: 1rem;
=======
        width: calc(100% - 4.2rem);

        @include width-up-to($tablet-max) {
            padding-bottom: 0.7rem;
>>>>>>> Fix seach box styling for tablet
        }
    }

    .angle-circle {
        font-size: 1.6rem;
    }

    .list-address {
        color: #4a4a4a;
        font-size: 1.4rem;
        height: 1.6rem;
        line-height: 1.6rem;
        margin-top: 1.3rem;

        @include width-up-to($tablet-max) {
            color: #4a4a4a;
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin-top: 0.7rem;
        }
    }

    .list-heading {
        color: #4a4a4a;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        max-width: 100%;

        @include width-up-to($tablet-max) {
            color: #4a4a4a;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .toggle-datalist-head {
        display: flex;
        flex-direction: row;

<<<<<<< abc677991e0136a77783b02e7dcee3f0ea74dfc0
        @include width-up-to($phone-max) {
        }
    }

    .nxt-previous-links {
        display: none;

        @include width-up-to($phone-max) {
            cursor: pointer;
            display: block;
            width: 3%;
        }
    }

    .content-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include width-up-to($phone-max) {
=======
        @include width-up-to($tablet-max) {
>>>>>>> Fix seach box styling for tablet
            flex-direction: column;
            width: 94%;
        }
    }

    .left-column {
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.3rem 0 0 0.3rem;
        width: 55%;

        @include width-up-to($tablet-max) {
            border: 0.1rem solid #d5d5d5;
            border-radius: 0.3rem;
            display: block;
            margin-top: 1rem;
            width: 100%;
        }
    }

    .left-column-inner {
        padding: 1.5rem 1rem;
    }

    .right-column {
        border-bottom: 0.1rem solid #d5d5d5;
        border-radius: 0 0.3rem 0.3rem 0;
        border-right: 0.1rem solid #d5d5d5;
        border-top: 0.1rem solid #d5d5d5;
        width: 45%;

        @include width-up-to($tablet-max) {
            border: 0.1rem solid #d5d5d5;
            border-left: 0.1rem solid #d5d5d5;
            border-radius: 0.3rem;
            display: block;
            margin-bottom: 1rem;
            margin-top: 1rem;
            width: 100%;
        }
    }

    .right-column-inner {
        padding: 1.5rem 1rem;
    }

    .lcolumn-head {
        color: #4a4a4a;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
    }

    .lcolumn-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;

        @include width-up-to($phone-max) {
            margin-top: 0.5rem;
        }
    }

    .lcol-body-left {
        color: #4a4a4a;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .lcol-body-right {
        color: #4a4a4a;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .rcolumn-head {
        color: #4a4a4a;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
    }

    .rcolumn-body {
        margin-top: 1rem;

        @include width-up-to($phone-max) {
            margin-top: 0.5rem;
        }
    }

    .toggle-hide {
        display: none;
    }

    .toggle-datalist {
        display: none;
    }

    .toggle-datalist-body {
        background-color: white;

        @include width-up-to($phone-max) {
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
        }
    }

    .toggle-datalist-footer {
        color: #027eb5;
        font-size: 1.6rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-right: 0.3rem;
        text-align: right;

        @include width-up-to($phone-max) {
            padding-right: 1.3rem;
        }
    }

    .testimonial-head {
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.3rem;
        cursor: pointer;
        display: none;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
        padding: 2rem 1rem;

        @include width-up-to($tablet-max) {
            display: block;
        }
    }

    .testimonial-div-mob {
        display: none;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .tdlb-container {
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.3rem;
        padding: 5rem 2rem 3rem;

        @include width-up-to($phone-max) {
            border: 0.1rem solid #d5d5d5;
            margin: 1rem;
            padding: 0;
        }
    }

    .tdlb-para {
        display: flex;
        flex-direction: row;

        @include width-up-to($phone-max) {
            flex-direction: column;
            padding: 1rem;
        }
    }

    .para-quote {
        color: #f66400;
        font-size: 1.8rem;
    }

    .tdl-body-desc {
        color: #424242;
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding-left: 1rem;
        padding-top: 0.7rem;

        @include width-up-to($phone-max) {
            font-size: 1.4rem;

            br {
                display: none;
            }
        }
    }

    .tdl-body-regards {
        padding-top: 3rem;

        @include width-up-to($phone-max) {
            padding-bottom: 1rem;
            padding-right: 1rem;
            padding-top: 0;
        }
    }

    .tdlb-regards-name {
        color: #4b4b4b;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -0.083rem;
        line-height: 2.5rem;
        margin-bottom: unset;
        text-align: right;
    }

    .tdlb-regards-desc {
        color: #4b4b4b;
        font-size: 1.6rem;
        letter-spacing: -0.083rem;
        line-height: 2.5rem;
        margin-top: unset;
        text-align: right;
    }

    .testimonial-mobclick {
        position: absolute;
        right: -10.7rem;
        top: -13.3rem;
    }

    .filter-btn {
<<<<<<< abc677991e0136a77783b02e7dcee3f0ea74dfc0
        background-color: #fff;
=======
        background-color: white;
>>>>>>> Fix seach box styling for tablet
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.2rem;

        @include width-up-to($phone-max) {
            height: 3.2rem;
            margin: unset;
            width: 3.2rem;
        }
    }

    .filter-style {
        font-size: 1.6rem;
        width: 1.8rem;

        @include width-up-to($phone-max) {
            font-size: 1.5rem;
            margin-left: -0.5rem;
            margin-top: -0.2rem;
        }
    }

    .fa-sliders-h {
        color: #5e6062;
    }

    .fa-times {
        color: #5e6062;
    }

    .filter-by {
        color: #5e6062;
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding-right: 0.2rem;
        text-align: right;

        @include width-up-to($phone-max) {
            display: none;
        }
    }

    .filter-icons {
        padding-left: 0.2rem;
        padding-right: 0.5rem;
    }

    element {
        margin-left: 1.5rem;
    }

    .filter-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .label-text {
        font-size: 1.6rem;

        @include width-up-to($phone-max) {
            font-size: 1.4rem;
        }
    }

    .institute-prtnr {
        display: flex;
        padding: 3rem 0 1.5rem;

        @include width-up-to($phone-max) {
            padding-top: 1.2rem;
        }
    }

    .type-institute {
        display: flex;
        padding: 1rem 0 1.5rem;

        @include width-up-to($phone-max) {
            .type-institute {
                margin-top: 1.2rem;
            }
        }
    }

    .one-million {
        display: flex;
        padding: 1rem 0 1.5rem;

        @include width-up-to($phone-max) {
            margin-top: 1.2rem;
        }
    }

    .testmonal {
        display: flex;
        margin-bottom: 4.3rem;

        @include width-up-to($phone-max) {
            margin-bottom: 3.3rem;
        }
    }

    .applyfltrbtn {
        background-color: #f36b32;
        border-radius: 0.2rem;
        height: 5rem;
        width: 14rem;

        @include width-up-to($phone-max) {
            height: 4rem;
            width: 12rem;
        }
    }

    .apply-filter {
        padding-bottom: 1.5rem;
        text-align: end;
    }

    .searchimg {
        padding-top: 0.2rem;
        width: 2rem;

        @include width-up-to($phone-max) {
            padding-top: 0.5rem;
        }
    }

    .detailinfo-container {
        margin-bottom: 1.3rem;
    }

    .detail-info-mob {
        background: white;
        display: none;
        width: 100%;
    }

    .testimonial-body-mob {
        display: none;

        @include width-up-to($tablet-max) {
            background: white;
            border-radius: 0.3rem;
            padding: 0 1rem;
        }

    }

    .detail-info-head {
        display: none;

        @include width-up-to($tablet-max) {
            display: block;
        }
    }

    .search-img-div {
        margin-right: 1.7rem;

        @include width-up-to($tablet-max) {
            margin-right: 0;
        }
    }

    .sub-testimonial {
        padding-right: 1rem;
        text-decoration: underline;
    }

    .sub-testimonial-icon {

        svg {
            height: 1.25rem;
            width: 0.75rem;
        }
    }
}
