@import 'pattern-library/core/pattern-library/headers';

$slider-background: #efefef;
$slider-active-bg: #498de2;
$slightly-lighter-text: #4a4a4a;
$slightly-lighter-bg: #f8f8f8;
$quote-orange: #f66400;

.mapdiv {
    height: 80rem;
    width: 100%;

    @include width-up-to($tablet-max) {
        top: 0;
    }

    @include width-up-to($phone-max) {
        height: 43rem;
        top: 0;
        width: 100%;
    }
}

.mapbox {
    @include wider-than(60rem) {
        height: 80rem;
    }

    @include width-up-to($phone-max) {
        .apply-fltr-btn {
            background-color: ui-color(primary);
            border-radius: 0.2rem;
            height: 3.8rem;
            width: 11.5rem;
        }
    }

    .search-container {
        margin-left: 5rem;
        margin-top: 13rem;
        position: relative;
        width: 63.4rem;
        z-index: 99999;

        @include width-up-to($tablet-max) {
            display: flex;
            flex-direction: column;
            height: 42rem;
            justify-content: flex-end;
            margin-bottom: 1rem;
            margin-left: unset;
            margin-top: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
        }
    }

    .search-div-container {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            max-width: 63.4rem;
            order: 2;
            width: 100%;
        }
    }

    .separate-map-link {
        display: unset;
    }

    .maptxt {
        @include set-font(h1);
        color: white;
        padding-left: 4rem;
        padding-top: 4rem;
        position: relative;
        width: 64rem;
        z-index: 9999;

        @include width-up-to($phone-max) {
            order: 1;
            padding-bottom: 3rem;
            padding-left: 2rem;
            padding-top: 1rem;
            width: 33rem;
        }
    }

    .on-map {
        background-color: os-color(blue);
        bottom: 35.8rem;
        height: 95rem;
        opacity: 0.8;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 999;

        @include width-up-to($phone-max) {
            bottom: 42rem;
            height: 43rem;
        }
    }

    .search {
        align-items: center;
        background-color: white;
        border: 0.1rem solid white;
        border-radius: 0.3rem;
        display: flex;
        height: 6.7rem;
        padding: 0 1rem;
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            height: 6rem;
            width: 100%;

            .search-input-div {
                order: 2;
            }

            .search-filter-div {
                order: 2;
            }
        }

        .search-input-div {
            flex-grow: 1;
            padding-right: 1rem;
        }
    }

    .srch {
        @include set-font(body-regular);
        border: 0.1rem solid white;
        border-radius: 0.3rem;
        color: $slightly-lighter-text;
        height: 3.83rem;
        transition: all 0.3s ease-in-out;
        width: 100%;

        @include width-up-to($tablet-max) {
            @include set-font(helper-label);
            padding: 0.6rem;
        }

        @include width-up-to($phone-max) {
            height: auto;
        }

    }

    .back-search-div,
    .back-result-div,
    .back-detail-div {
        display: none;
        margin-bottom: 1rem;
        order: 2;
    }

    .back-search-btn,
    .back-result-btn,
    .back-detail-btn {
        background-color: white;
        border-radius: 2.8rem;
        box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.3);
        height: 4rem;
        width: 4rem;
    }

    .left-arrow-bak {
        color: $slightly-lighter-text;
    }

    .dropdownlist-id {
        border-top: 0.1rem solid ui-color(form-border);
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            border-top: unset;
            width: 100%;
        }
    }

    .single-item-info {
        background: #fff;
        max-height: calc(100vh - 23.8rem);
        overflow-y: scroll;
        padding: 0 1rem;
    }

    .switch {
        display: inline-block;
        height: 2.6rem;
        position: relative;
        width: 5rem;

        @include width-up-to($phone-max) {
            height: 1.6rem;
            min-width: 3rem;
            top: 0.4rem;
            width: 3rem;
        }

        input {
            display: none;
        }
    }

    .switch-wrap {
        @include set-font(helper-label);
        height: 2.6rem;
        line-height: 2.6rem;
        position: relative;
        width: 9rem;

        &::after {
            background-color: white;
            border-radius: 0 0.2rem 0.2rem 0;
            bottom: 0;
            content: 'ï„‡';
            display: block;
            font-family: 'FontAwesome';
            height: 2.4rem;
            line-height: 2.4rem;
            padding-left: 0.5rem;
            pointer-events: none;
            position: absolute;
            right: 0.06rem;
            top: 0.2rem;
            width: 1.5rem;
            z-index: 3;
        }

        &:hover::after {
            background-color: $slider-background;
            transition: background-color 0.3s ease-in-out;
        }

        .type-institute-toggle {
            appearance: none;
            background: white;
            border: 0.1rem solid ui-color(form-border);
            border-radius: 0.3rem;
            cursor: pointer;
            height: 100%;
            padding: 0 0.5rem;
            position: relative;
            top: 0;
            width: 9rem;
            z-index: 3;

            &:hover {
                background: ui-color(white);
            }
        }
    }

    .slider {
        background-color: $slider-background;
        border-radius: 2rem;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
    }

    .slider::before {
        background-color: white;
        border-radius: 2rem;
        bottom: 0.2rem;
        content: '';
        height: 2.2rem;
        left: 0.3rem;
        position: absolute;
        transition: 0.4s;
        width: 2.2rem;

        @include width-up-to($phone-max) {
            bottom: 0.15rem;
            height: 1.4rem;
            left: 0.2rem;
            width: 1.4rem;
        }
    }

    /* Rounded sliders */
    &.round {
        border-radius: 3.4rem;

        &::before {
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        background-color: $slider-active-bg;
    }

    input:focus+.slider {
        box-shadow: 0 0 0.1rem $slider-active-bg;
    }

    input:checked+.slider::before {
        transform: translateX(100%);

        @include width-up-to($phone-max) {
            transform: translateX(100%);
        }
    }

    .filter-div {
        background-color: white;
        display: none;
        list-style-type: none;
        padding-left: unset;
        width: 63.4rem;

        @include width-up-to($tablet-max) {
            border-top: 0.1rem solid ui-color(form-border);
            max-width: 63.4rem;
            order: 3;
            width: 100%;
        }
    }

    .search-empty-result {
        @include set-font(helper-label);
        background-color: white;
        border-radius: 0 0 0.3rem 0.3rem;
        overflow-x: hidden;
        padding: 1.5rem;
        width: 100%;
    }

    .search-list {
        background-color: white;
        border-radius: 0 0 0.3rem 0.3rem;
        list-style-type: none;
        margin: unset;
        //max-height: calc(100vh - 23.8rem);
        max-height: 41rem;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: unset;
        width: 100%;

        @include width-up-to($tablet-max) {
            max-height: 21rem;
            overflow-y: scroll;
        }

        &.active {
            max-height: calc(100vh - 23.8rem);
        }
    }

    .toggle-on-off {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &[data-toggle="hide"] {

            .list-show-more {
                background-color: ui-color(default-hover);
            }
        }
    }

    .toggle-datalist {
        display: none;
    }

    .search-list-element {
        border-bottom: 0.1rem solid ui-color(form-border);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .list-show-more {
        align-items: center;
        background-color: $slightly-lighter-bg;
        border-radius: 50%;
        display: flex;
        height: 3.2rem;
        justify-content: center;
        text-align: center;
        width: 3.2rem;
    }

    .list-data {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: calc(100% - 4.2rem);

        @include width-up-to($tablet-max) {
            padding-bottom: 0.7rem;
        }
    }

    .detail-info-head {
        @include width-up-to($tablet-max) {
            padding-left: 1.5rem;
        }
    }

    .angle-circle {
        @include set-font(body-regular);
        width: 0.625em;
    }

    .list-address {
        @include set-font(helper-label);
        color: $slightly-lighter-text;
        height: 1.6rem;
        line-height: 1.6rem;
        margin-top: 1.3rem;

        @include width-up-to($tablet-max) {
            @include set-font(helper-label);
            margin-top: 0.7rem;
        }
    }

    .list-heading {
        @include set-font(h4);
        color: $slightly-lighter-text;
        line-height: 2.3rem;
        max-width: 100%;

        @include width-up-to($tablet-max) {
            @include title-font(1.6rem);
            color: $slightly-lighter-text;
        }
    }

    .toggle-datalist-head {
        display: flex;
        flex-direction: row;

        @include width-up-to($tablet-max) {
            width: 100%;
        }
    }

    .nxt-previous-links {
        display: none;

        @include width-up-to($tablet-max) {
            background: #fff;
            cursor: pointer;
            display: block;
            width: 3%;
        }
    }

    .content-container {
        display: flex;
        margin-bottom: 1.3rem;
        width: 100%;

        @include width-up-to($tablet-max) {
            flex-direction: column;
            margin-bottom: 0;
        }

    }

    .left-column {
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0.3rem 0 0 0.3rem;
        width: 55%;

        @include width-up-to($tablet-max) {
            border: 0.1rem solid ui-color(form-border);
            border-radius: 0.3rem;
            display: block;
            margin-top: 1rem;
            width: 100%;
        }
    }

    .left-column-inner {
        padding: 1.5rem 1rem;
    }

    .right-column {
        border-bottom: 0.1rem solid ui-color(form-border);
        border-radius: 0 0.3rem 0.3rem 0;
        border-right: 0.1rem solid ui-color(form-border);
        border-top: 0.1rem solid ui-color(form-border);
        width: 45%;

        @include width-up-to($tablet-max) {
            border: 0.1rem solid ui-color(form-border);
            border-left: 0.1rem solid ui-color(form-border);
            border-radius: 0.3rem;
            display: block;
            margin-bottom: 1rem;
            margin-top: 1rem;
            width: 100%;
        }
    }

    .right-column-inner {
        padding: 1.5rem 1rem;
    }

    .lcolumn-head {
        @include set-font(helper-label);
        color: $slightly-lighter-text;
        font-weight: bold;
        line-height: 1.7rem;
    }

    .lcolumn-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;

        @include width-up-to($phone-max) {
            margin-top: 0.5rem;
        }
    }

    .lcol-body-left,
    .lcol-body-right {
        @include set-font(helper-label);
        color: $slightly-lighter-text;
        line-height: 1.6rem;
    }

    .rcolumn-head {
        @include set-font(helper-label);
        color: $slightly-lighter-text;
        font-weight: bold;
        line-height: 1.7rem;
    }

    .rcolumn-body {
        margin-top: 1rem;

        @include width-up-to($phone-max) {
            margin-top: 0.5rem;
        }
    }

    .toggle-hide {
        display: none;
    }

    .toggle-datalist-body {
        background-color: white;

        @include width-up-to($phone-max) {
            padding-bottom: 0.3rem;
            padding-top: 1rem;
        }
    }

    .toggle-datalist-footer {
        @include set-font(body-regular);
        color: text-color(link);
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-right: 0.3rem;
        text-align: right;

        @include width-up-to($phone-max) {
            padding-right: 1.3rem;
        }
    }

    .testimonial-head {
        @include set-font(helper-label);
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0.3rem;
        cursor: pointer;
        display: none;
        font-weight: bold;
        line-height: 1.7rem;
        padding: 2rem 1rem;

        @include width-up-to($tablet-max) {
            display: block;
        }
    }

    .testimonial-div-mob {
        @include set-font(helper-label);
        display: none;
        font-weight: bold;
    }

    .tdlb-container {
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0.3rem;
        padding: 5rem 2rem 3rem;

        @include width-up-to($phone-max) {
            border: 0.1rem solid ui-color(form-border);
            padding: 0;
        }
    }

    .tdlb-para {
        display: flex;
        flex-direction: row;

        @include width-up-to($phone-max) {
            flex-direction: column;
            padding: 1rem;
        }
    }

    .para-quote {
        @include set-font(body-large);
        color: $quote-orange;
    }

    .tdl-body-desc {
        @include set-font(body-regular);
        color: text-color(normal);
        padding-left: 1rem;
        padding-top: 0.7rem;

        @include width-up-to($phone-max) {
            @include set-font(helper-label);

            br {
                display: none;
            }
        }
    }

    .tdl-body-regards {
        padding-top: 3rem;

        @include width-up-to($phone-max) {
            padding-bottom: 1rem;
            padding-right: 1rem;
            padding-top: 0;
        }
    }

    .tdlb-regards-desc,
    .tdlb-regards-name {
        @include title-font(1.6rem);
        color: $slightly-lighter-text;
        line-height: 2.5rem;
        margin-top: unset;
        text-align: right;
    }

    .testimonial-mobclick {
        position: absolute;
        right: -10.7rem;
        top: -13.3rem;
    }

    .filter-btn {
        background-color: white;
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0.2rem;

        @include width-up-to($phone-max) {
            height: 3.2rem;
            margin: unset;
            width: 3.2rem;
        }
    }

    .filter-style {
        @include body-font(1.6rem);
        width: 1.8rem;

        @include width-up-to($phone-max) {
            @include body-font(1.5rem);
            margin-left: -0.5rem;
            margin-top: -0.2rem;
        }
    }

    .fa-sliders-h {
        color: text-color(button-bar);
    }

    .fa-times {
        color: text-color(button-bar);
    }

    .filter-by {
        @include set-font(body-regular);
        color: text-color(button-bar);
        line-height: 1.6rem;
        padding-right: 0.2rem;
        text-align: right;

        @include width-up-to($phone-max) {
            display: none;
        }
    }

    .filter-icons {
        padding-left: 0.2rem;
        padding-right: 0.5rem;
    }

    element {
        margin-left: 1.5rem;
    }

    .filter-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .label-text {
        @include set-font(body-regular);

        @include width-up-to($phone-max) {
            @include set-font(helper-label);
        }
    }

    .institute-prtnr {
        padding: 3rem 0 1.5rem;
    }

    .filter-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 1.5rem;

        @include width-up-to($phone-max) {
            padding-top: 1.2rem;
        }

        button {
            border-radius: 0.2rem;
        }
    }

    .testimonial {
        display: flex;
        margin-bottom: 4.3rem;
        padding-top: 0;

        @include width-up-to($phone-max) {
            margin-bottom: 3.3rem;
        }
    }

    .applyfltrbtn {
        border-radius: 0.2rem;
        height: 5rem;
        width: 14rem;

        @include width-up-to($phone-max) {
            height: 4rem;
            width: 12rem;
        }
    }

    .apply-flt-enabled {
        background-color: #f36b32;
        cursor: pointer;
    }

    .apply-flt-disabled {
        background-color: ui-color(secondary);
        cursor: not-allowed;
    }

    .apply-filter {
        justify-content: end;
        padding-bottom: 1.5rem;
    }

    .searchimg {
        padding-top: 0.2rem;
        width: 2rem;

        @include width-up-to($phone-max) {
            padding-top: 0.5rem;
        }
    }

    .detail-info-mob {
        background: white;
        border-radius: 0.3rem;
        display: none;
        width: 100%;
    }

    .testimonial-body-mob {
        display: none;

        @include width-up-to($tablet-max) {
            background: white;
            border-radius: 0.3rem;
            padding: 1rem 1rem 0;
            width: 100%;
        }

    }

    .search-img-div {
        margin-right: 1.7rem;

        @include width-up-to($tablet-max) {
            margin-right: 0;
        }
    }

    .sub-testimonial {
        padding-right: 1rem;
        text-decoration: underline;
    }

    .sub-testimonial-icon {

        svg {
            height: 1.25rem;
            width: 0.75rem;
        }
    }
}
