@import 'pattern-library/core/pattern-library/headers';

.mapdiv {
    height: 80rem;
//    margin-top: 6rem;
    width: 100%;

    @include width-up-to($tablet-max) {
        top: 0;
    }

    @include width-up-to($phone-max) {
        height: 43rem;
        top: 0;
        width: 100%;
    }

}

.mapbox {
    //background-attachment: local;
    //background-image: url('/images/home/map.png');
    //background-repeat: no-repeat;
    //background-size: cover;
    @include wider-than(60rem) {
        height: 80rem;
    }

    @include width-up-to($phone-max) {

        .institute-prtnr-toggle {
            margin-left: 8.5rem;
        }

        .type-institute-toggle {
            margin-left: 16.4rem;
        }

        .one-million-toggle {
            margin-left: 2.7rem;
        }

        .testmonal-toggle {
            margin-left: 16.3rem;
        }

        .apply-fltr-btn {
            background-color: #f36b32;
            border-radius: 0.2rem;
            height: 3.8rem;
            width: 11.5rem;
        }

    }

    .search-container {
        margin-left: 5rem;
        margin-top: 15rem;
        position: relative;
        width: 67.8rem;
        z-index: 99999;
    }

    // #map {
    //     height: 74rem;
    //     opacity: 1;
    //     overflow: hidden;
    //     position: relative;
    //     top: -3rem;
    //     width: 100%;
    // }

    .maptxt {
        color: white;
        font-size: 4.8rem;
        font-weight: bold;
        letter-spacing: -0.192rem;
        line-height: 5rem;
        padding-top: 4rem;
        width: 55rem;

        @include width-up-to($phone-max) {
            order: 1;
            padding-bottom: 3rem;
            padding-left: 2rem;
            padding-top: 1rem;
            width: 33rem;
        }

    }

    .on-map {
        background-color: #002469;
        bottom: 35.8rem;
        height: 80rem;
        opacity: 0.8;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 999;

        @include width-up-to($phone-max) {
            bottom: 42rem;
            height: 43rem;
        }

    }

    .search {
        align-items: center;
        background-color: white;
        border: 0.1rem solid white;
        border-radius: 0.3rem;
        display: flex;
        height: 6.7rem;
        width: 63.4rem;

        @include width-up-to($phone-max) {
            height: 6rem;
            width: 100%;

            .search-input-div {
                order: 2;
                width: 90%;
            }

            .filter-btn {
                border: 0.1rem solid #d5d5d5;
                border-radius: 0.3rem;
                height: 3.2rem;
                width: 3.4rem;
            }

            .filter-style {
                font-size: 1.5rem;
                margin-left: -0.5rem;
                margin-top: -0.2rem;
            }

        @include width-up-to($phone-max) {
            font-size: 1.4rem;
            padding: 0.6rem;
            width: 97.5%;
        }

    .back-search-btn,
    .back-result-btn,
    .back-detail-btn {
        background-color: white;
        border-radius: 2.8rem;
        box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.3);
        height: 4rem;
        width: 4rem;
    }

    .left-arrow-bak {
        color: #4a4a4a;
    }

    .dropdownlist-id {
        border-top: 0.1rem solid #d5d5d5;
        width: 63.4rem;

        @include width-up-to($phone-max) {
            border-top: unset;
            width: 100%;
        }
    }

    .switch {
        display: inline-block;
        height: 2.6rem;
        margin-left: auto;
        position: relative;
        width: 5rem;

        input {
            display: none;
        }

    }

    .slider {
        background-color: #c7cbd2;
        border-radius: 2rem;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
    }

    .slider::before {
        background-color: white;
        border-radius: 2rem;
        bottom: 0.2rem;
        content: '';
        height: 2.2rem;
        left: 0.3rem;
        position: absolute;
        transition: 0.4s;
        width: 2.2rem;

        @include width-up-to($phone-max) {
            .slider::before {
                bottom: 0.15rem;
                height: 1.4rem;
                left: 0.2rem;
                width: 1.4rem;
            }

            .switch {
                height: 1.6rem;
                top: 0.4rem;
                width: 3rem;
            }

            input:checked+.slider::before {
                transform: translateX(1.2rem);
            }

            .dropdownlist-id {
                margin-top: 1rem;
            }
        }

        /* Rounded sliders */
        &.round {
            border-radius: 3.4rem;

            &::before {
                border-radius: 50%;
            }
        }
    }

    input:checked+.slider {
        background-color: #498de2;
    }

    input:focus+.slider {
        box-shadow: 0 0 0.1rem #498de2;
    }

    input:checked+.slider::before {
        transform: translateX(2.1rem);
    }

    .filter-div {
        background-color: white;
        display: none;
        list-style-type: none;
        padding-left: unset;
        width: 63.4rem;

        @include width-up-to($phone-max) {
            border-top: 0.1rem solid #d5d5d5;
            order: 3;
            width: 100%;
        }
    }

    .search-list {
        background-color: white;
        border-radius: 0.3rem;
        list-style-type: none;
        margin: unset;
        max-height: 28.8rem;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: unset;

        @include width-up-to($phone-max) {
            max-height: 20.8rem;
            overflow-y: scroll;
        }
    }

    .toggle-on-off {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search-list-element {
        border-bottom: 0.1rem solid #d5d5d5;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .list-data {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .angle-circle {
        background-color: #e5e5e5;
        border-radius: 50%;
        height: 3.2rem;
        width: 3.2rem;
    }

    .list-address {
        color: #4a4a4a;
        font-size: 1.4rem;
        height: 1.6rem;
        line-height: 1.6rem;
        margin-top: 1.7rem;

        @include width-up-to($phone-max) {
            color: #4a4a4a;
            font-size: 1.4rem;
            height: 1.6rem;
            line-height: 1.6rem;
            margin-bottom: 0.9rem;
            margin-top: 0.8rem;
            width: 29.2rem;
        }
    }

    .list-heading {
        color: #4a4a4a;
        font-size: 1.8rem;
        font-weight: bold;
        height: 2.2rem;
        line-height: 2.3rem;

        @include width-up-to($phone-max) {
            color: #4a4a4a;
            font-size: 1.63rem;
            font-weight: bold;
            height: 1.9rem;
            line-height: 1.9rem;
            margin-bottom: unset;
            width: 29.2rem;
        }
    }

    .toggle-datalist-head {
        display: flex;
        flex-direction: row;

        @include width-up-to($phone-max) {
        }
    }

    .nxt-previous-links {
        display: none;

        @include width-up-to($phone-max) {
            cursor: pointer;
            display: block;
            width: 3%;
        }
    }

    .content-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include width-up-to($phone-max) {
            flex-direction: column;
            width: 94%;
        }
    }

    .left-column {
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.3rem 0 0 0.3rem;
        width: 55%;

        @include width-up-to($phone-max) {
            border: 0.1rem solid #d5d5d5;
            border-radius: 0.3rem;
            display: block;
            width: 100%;
        }
    }

    .left-column-inner {
        padding: 1.5rem 1rem;
    }

    .right-column {
        border-bottom: 0.1rem solid #d5d5d5;
        border-radius: 0 0.3rem 0.3rem 0;
        border-right: 0.1rem solid #d5d5d5;
        border-top: 0.1rem solid #d5d5d5;
        width: 45%;

        @include width-up-to($phone-max) {
            border-left: 0.1rem solid #d5d5d5;
            display: block;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }

    .right-column-inner {
        padding: 1.5rem 1rem;
    }

    .lcolumn-head {
        color: #4a4a4a;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
    }

    .lcolumn-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;

        @include width-up-to($phone-max) {
            margin-top: 0.5rem;
        }
    }

    .lcol-body-left {
        color: #4a4a4a;
        font-size: 1.4rem;
        line-height: 1.6rem;

        @include width-up-to($phone-max) {
            margin-right: 1.9rem;
        }
    }

    .lcol-body-right {
        color: #4a4a4a;
        font-size: 1.4rem;
        line-height: 1.6rem;

        @include width-up-to($phone-max) {
            margin-right: 0.5rem;
        }
    }

    .rcolumn-head {
        color: #4a4a4a;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
    }

    .rcolumn-body {
        margin-top: 1rem;

        @include width-up-to($phone-max) {
            margin-top: 0.5rem;
        }
    }

    .toggle-hide {
        display: none;
    }

    .toggle-datalist {
        display: none;
    }

    .toggle-datalist-body {
        background-color: white;
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.3rem;
        margin-top: 1.5rem;

        @include width-up-to($phone-max) {
            margin-top: 0;
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
        }
    }

    .toggle-datalist-footer {
        color: #027eb5;
        font-size: 1.6rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-right: 0.3rem;
        text-align: right;

        @include width-up-to($phone-max) {
            padding-right: 1.3rem;
        }
    }

    .testimonial-head {
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.3rem;
        cursor: pointer;
        display: none;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
        padding: 2rem 1rem;

        @include width-up-to($phone-max) {
            display: block;
        }
    }

    .testimonial-div-mob {
        display: none;
        font-size: 1.4rem;
        font-weight: bold;

        @include width-up-to($phone-max) {
            display: block;
        }
    }

    .tdlb-container {
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.3rem;
        padding: 5rem 2rem 3rem;

        @include width-up-to($phone-max) {
            border: 0.1rem solid #d5d5d5;
            margin: 1rem;
            padding: 0;
        }
    }

    .tdlb-para {
        display: flex;
        flex-direction: row;

        @include width-up-to($phone-max) {
            flex-direction: column;
            padding: 1rem;
        }
    }

    .para-quote {
        color: #f66400;
        font-size: 1.8rem;
    }

    .tdl-body-desc {
        color: #424242;
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding-left: 1rem;
        padding-top: 0.7rem;

        @include width-up-to($phone-max) {
            font-size: 1.4rem;

            br {
                display: none;
            }
        }
    }

    .tdl-body-regards {
        padding-top: 3rem;

        @include width-up-to($phone-max) {
            padding-right: 1rem;
            padding-top: 0;
        }

    }

    .tdlb-regards-name {
        color: #4b4b4b;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -0.083rem;
        line-height: 2.5rem;
        margin-bottom: unset;
        text-align: right;
    }

    .tdlb-regards-desc {
        color: #4b4b4b;
        font-size: 1.6rem;
        letter-spacing: -0.083rem;
        line-height: 2.5rem;
        margin-top: unset;
        text-align: right;
    }

    .testimonial-mobclick {
        position: absolute;
        right: -10.7rem;
        top: -13.3rem;
    }

    .filter-btn {
        background-color: #ffffff;
        border: 0.1rem solid #d5d5d5;
        border-radius: 0.2rem;

        @include width-up-to($phone-max) {
            height: 3.2rem;            
            margin: unset;
            width: 3.2rem;
        }
    }

    .filter-style {
        font-size: 1.6rem;
        width: 1.8rem;
    }

    .fa-sliders-h {
        color: #5e6062;
    }

    .fa-times {
        color: #5e6062;
    }

    .filter-by {
        color: #5e6062;
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding-right: 0.2rem;
        text-align: right;
    }

    .filter-icons {
        padding-left: 0.2rem;
        padding-right: 0.5rem;
    }

    element {
        margin-left: 1.5rem;
    }

    .filter-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .label-text {
        font-size: 1.6rem;

        @include width-up-to($phone-max) {

            .label-text {
                font-size: 1.4rem;
            }
        }
    }

    .institute-prtnr {
        display: flex;
        padding: 3rem 0 1.5rem;

        @include width-up-to($phone-max) {

            .institute-prtnr {
                padding-top: 1.2rem;
            }
        }

    }

    .type-institute {
        display: flex;
        padding: 1rem 0 1.5rem;

        @include width-up-to($phone-max) {

            .type-institute {
                margin-top: 1.2rem;
            }
        }

    }

    .one-million {
        display: flex;
        padding: 1rem 0 1.5rem;

        @include width-up-to($phone-max) {

            .one-million {
                margin-top: 1.2rem;
            }
        }

    }

    .testmonal {
        display: flex;
        margin-bottom: 4.3rem;

        @include width-up-to($phone-max) {

            .testmonal {
                margin-bottom: 2.4rem;
                margin-top: 1.2rem;
            }
        }

    }

    .applyfltrbtn {
        background-color: #f36b32;
        border-radius: 0.2rem;
        height: 5rem;
        width: 14rem;

        @include width-up-to($phone-max) {
            height: 4rem;
            width: 12rem;
        }
    }

    .apply-filter {
        padding-bottom: 1.5rem;
        text-align: end;
    }

    .searchimg {
        width: 2rem;
        padding-top: 0.2rem;

        @include width-up-to($phone-max) {
            padding-top: 0.5rem;
        }
    }

    .detail-info-mob {
        background: white;
        display: none;
        width: 100%;
    }

    .testimonial-body-mob {
        display: none;
    }

    .detail-info-head {
        display: none;

            .apply-filter {
                margin-left: 16.2rem;
                padding-bottom: 0.9rem;
            }
        }
    }

    .search-img-div {
        margin-left: 2rem;
        margin-right: 1.7rem;

        @include width-up-to($phone-max) {
            margin-left: 1rem;
            margin-right: 0;
        }
    }

    .searchimg {
        width: 2rem;
    }
}
