@import 'pattern-library/core/pattern-library/headers';

.testimonial-form {
    padding: $normal-margin;

    form {
        display: grid;
        grid-gap: $normal-margin;
    }

    .control-group {
        margin: 0;
    }

    [type="submit"] {
        @extend %button;

        float: none;
        justify-self: right;

        &:not(:disabled) {
            @extend %primary;
        }
    }
}
