@import 'pattern-library/core/pattern-library/headers';

.arrow-toggle {
    align-items: center;
    background-color: white;
    border: thin solid rgba(os-color(gray), 0.33);
    color: text-color(normal);
    cursor: pointer;
    display: flex;
    height: 100%;
    min-height: $form-element-height;
    padding-right: $form-element-height;
    position: relative;

    &::before {
        background-color: ui-color(page-bg);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: $form-element-height;
    }

    &::after {
        background-color: transparent;
        color: text-color(normal);
        position: absolute;
        right: 1.3rem;
        text-align: center;
        transform: rotate(90deg);
        transform-origin: 68% 52%;
        transition: All 0.2s ease-in-out;
        width: 2rem;
    }

    &.open::after {
        transform: rotate(270deg);
    }
}
