@import 'variables';
@import 'mixins';

$label-1: #575958;
$label-3: #4a4a4a;

detail-block {

    display: flex;
    justify-content: center;

    > div {
        background-color: color(neutral-lightest);
        max-width: 97rem;
        padding: 3rem 4rem;

        @include phone {
            padding: 1rem;
        }
    }

    a {
        color: color(cyan);
    }

    .padded {
        margin-bottom: 4rem;
    }

    .label-value-pair {
        display: table-row;
        height: 4rem;

        @include phone {
            display: block;
            height: auto;
            padding-bottom: 1rem;
        }

        .label,
        .value {
            display: table-cell;
            line-height: normal;
            padding: 1rem 0;
            word-wrap: break-word;

            @include phone {
                display: block;
                line-height: 1.3;
                padding: 0;
            }
        }

        .label {
            color: $label-3;
            font-weight: bold;
            text-align: left;
            width: 20rem;

            @include phone {
                width: auto;
            }
        }

        .value {
            max-width: calc(100% - 20rem);

            @include phone {
                max-width: 100%;
            }
        }
    }

    .note {
        color: $label-1;
        font-size: 1.2rem;
        line-height: normal;
        margin-bottom: 8rem;
    }

}
