@import 'variables';
@import 'mixins';

$label-1: #575958;
$label-3: #4a4a4a;
$graytop-border: #f4f4f4;
$graytop-start: #fcfcfc;

detail-block {

    display: flex;
    justify-content: center;

    > div {
        width: 100%;

        @include phone {
            padding: 1rem;
        }

        > .body-block {
            background-color: color(neutral-lightest);
        }
    }

    .info {
        padding: 3rem 4rem;

        @include phone {
            padding: 2rem 1rem;
        }
    }

    .label-value-pair {
        display: table-row;
        height: 4rem;

        @include phone {
            display: block;
            height: auto;
            padding-bottom: 1rem;
        }

        .label,
        .value {
            display: table-cell;
            line-height: normal;
            padding: 1rem 0;
            word-wrap: break-word;

            @include phone {
                display: block;
                line-height: 1.3;
                padding: 0;
            }
        }

        .label {
            color: $label-3;
            font-weight: bold;
            text-align: left;
            width: 20rem;

            @include phone {
                width: auto;
            }
        }

        .value {
            max-width: calc(100% - 20rem);

            @include phone {
                max-width: 100%;
            }
        }
    }

    .body-block.graytop {
        background-image: linear-gradient(to bottom, $graytop-start, rgba(color(neutral-lightest), 0) 40%);
        border-top: thin solid $graytop-border;
    }

    .note {
        color: $label-1;
        font-size: 1.2rem;
        line-height: normal;
        margin: 1rem 0 4rem 4rem;

        @include phone {
            margin-bottom: 6rem;
            margin-left: 1rem;
        }
    }

}
