<template args="model">
    <component data-id="popup" skip="true"></component>
    <div class="col">
        <component data-id="firstName" skip="true"></component>
        <component data-id="lastName" skip="true"></component>
        <component data-id="email" skip="true"></component>
    </div>
    <div class="col">
        <component data-id="phone" skip="true"></component>
        <component data-id="school" skip="true"></component>
        <component data-id="schoolUrl" skip="true"></component>
    </div>
</template>
