@import 'pattern-library/core/pattern-library/headers';
@import '../../components/sticky-footer/button-group-mixin';

$near-white: #f8f8f8;

.institutional-partnership.page {

    section {
        max-width: 100%;
        overflow: auto;
    }

    .content-block {
        @extend %content;
        @include scale-feature(grid-gap, $normal-margin, 4rem);

        display: grid;

        > * {
            margin: 0;
        }
    }

    .btn.primary {
        @extend %button;
        @extend %primary;
    }

    .near-white {
        background-color: $near-white;
    }

    .white {
        background-color: ui-color(white);
    }

    .green {
        background-color: os-color(deep-green);
        color: text-color(white);
    }

    .sticky-footer {
        background-color: $near-white;
        grid-template-columns: auto;
        max-height: none;
        padding: 1.5rem 3rem;

        @include button-group-mixin();
    }

    [data-html] > p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}
