@import '../../../node_modules/pattern-library/core/pattern-library/headers';

.give-page {

    .btn-orange {
        background-color: os-color(orange);
    }

    .hero {
        color: text-color(white);
        line-height: 1.67;
        padding: 4em 0;
        position: relative;

        .background-image,
        .background-overlay {
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .background-overlay {
            background-color: os-color(green);
        }

        .background-image {
            background-image: url('/images/give/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%) contrast(120%);
            opacity: 0.1;
        }

        .text-content {
            align-items: flex-start;
            position: relative;

            @include wider-than($tablet-max) {
                align-items: center;
            }
        }

    }

    .instructions {
        padding: 8rem 1.5rem 4rem;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .amount-boxes {
        margin: 3rem auto;
        max-width: 100%;

        @include width-up-to($phone-max) {
            width: 100%;
        }

        @media (min-width: 340px) {
            width: 32rem;
        }

        @media (min-width: 481px) {
            width: 43rem;
        }

        form {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 0;

            [type="submit"] {
                @include button(primary);

                background-color: os-color(gold);

                @include width-up-to($phone-max) {
                    flex-basis: 100%;
                }
            }

            .boxed {
                padding: 0;
            }
        }

        .box-row {
            display: flex;
            flex: 0 0 100%;
            flex-wrap: wrap;
            justify-content: center;
        }

        .amount,
        .amount-input {
            height: $form-element-height;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            &.selected {
                background-color: os-color(light-blue);
                color: text-color(white);
            }
        }

        .amount {
            @include center();
            background-color: ui-color(white);
            color: text-color(normal);
            cursor: pointer;
            flex: 1 0 9rem;
            margin-bottom: 1rem;
            padding: 0.5rem 0;
            text-align: center;

            @include width-up-to($phone-max) {
                flex-basis: calc(50% - 0.5rem);
            }
        }

        .amount-input {
            flex: 1 0 19.5rem;
            max-width: 20.5rem;
            padding-left: 1.5rem;

            @include width-up-to($phone-max) {
                flex-basis: 100%;
                margin-bottom: 0.5rem;
                max-width: calc(100% - 1rem);
            }

            &::placeholder {
                @include set-font(body-large);

                font-style: italic;
            }
        }
    }

    hr {
        background: ui-color(form-border);
        border: 0;
        height: 0.4rem;
        margin: 2rem 0;
        opacity: 0.5;
        width: 100%;
    }

    address {
        font-style: normal;
        white-space: pre-line;
    }

    .container {
        display: inline;
        position: relative;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .col {
            flex-basis: calc(50% - 2rem);

            @include width-up-to($phone-max) {
                flex-basis: 100%;
            }
        }
    }

    .btn {
        padding: 2rem;
    }

    .cta-container {
        margin: 1rem 0;
        width: 100%;
    }

    .cta {
        background-color: os-color(orange);
        color: text-color(white);
        margin-bottom: 7rem;
    }

    .share-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .testing-only {
        padding-left: 1.5rem;
        width: 100%;
    }

    form .boxed {
        @extend %form;

        max-width: 100%;
    }
}
