@import 'pattern-library/core/pattern-library/headers';

.flex-page.page div.content-block-cards {
    display: grid;
    margin: 0 auto;

    /* needs responsive design */
    grid-template-columns: repeat(auto-fit, calc(var(--card-size, 27) * 1rem));
    grid-gap: ($normal-margin * 2);
    justify-content: center;

    > .content-block-card {
      padding: $normal-margin;

      /* to show above divider images */
      position: relative;
      z-index: 1;
    }

    &.card_style_rounded > .content-block-card {
      border-radius: 1rem;
      border: thin solid ui-color(black);

      /* is this the right color for default background? */
      background-color: #fff;
    }

    &.card_style_square > .content-block-card {
      border: thin solid ui-color(black);
      border-top: 0.5rem solid ui-color(black);

      /* is this the right color for default background? */
      background-color: #fff;
    }
}
