@import 'pattern-library/core/pattern-library/headers';

.flex-page.page div.content-block-cards {
    display: grid;
    margin: 0 auto;

    /* needs responsive design */
    grid-template-columns: repeat(auto-fit, calc(var(--card-size, 27) * 1rem));
    grid-gap: ($normal-margin * 2);
    justify-content: center;

    @include width-up-to($phone-max) {
      grid-template-columns: 100%;
    }

    > .content-block-card {
      /* to show above divider images */
      position: relative;
      z-index: 1;
    }

    &.card_style_rounded > .content-block-card {
      border-radius: 1rem;
      border-width: thin;
      border-style: solid;
      padding: $normal-margin;
      background-color: ui-color(white);

      &:nth-child(4n+1) {
        border-color: os-color(yellow);
      }
      &:nth-child(4n+2) {
        border-color: os-color(red);
      }
      &:nth-child(4n+3) {
        border-color: os-color(orange);
      }
      &:nth-child(4n+4) {
        border-color: os-color(green);
      }
    }

    &.card_style_square > .content-block-card {
      border: thin solid ui-color(form-border);
      border-top: none;
      padding: $normal-margin;
      background-color: ui-color(white);

      &:nth-child(4n+1) {
        box-shadow: 0 -1rem 0 os-color(blue);
      }
      &:nth-child(4n+2) {
        box-shadow: 0 -1rem 0 os-color(green);
      }
      &:nth-child(4n+3) {
        box-shadow: 0 -1rem 0 os-color(light-blue);
      }
      &:nth-child(4n+4) {
        box-shadow: 0 -1rem 0 os-color(red);
      }
    }
}
