@import 'pattern-library/core/pattern-library/headers';

.flex-page.page div.content-block-cta-block {
  margin: ($normal-margin * 2) 0;

  > a + a {
      margin-left: $normal-margin;
  }

  > a:nth-of-type(1):not(.styled-button) {
      @include button();
      @extend %primary;
  }
  > a:nth-of-type(2):not(.styled-button) {
      @include button();
      background-color: ui-color(white);
  }

  > a.style-blue_outline {
      @include button();
      background-color: ui-color(white);
      border-color: os-color(blue);
  }
  
  > a.style-deep_green_outline {
      @include button();
      background-color: ui-color(white);
      border-color: os-color(deep-green);
  }
}
