@import 'pattern-library/core/pattern-library/headers';

.flex-page.page > section.content-block-hero {
    width: 100%;
    margin: 0;

    &.dark-background .hero-content {
        color: text-color(white);
    }

    > div.hero-inner-wrapper {
        /* to show above divider images */
        position: relative;
        z-index: 1;

        display: grid;
        grid-template: 1fr / 1fr 1fr;
        grid-gap: $normal-margin;

        width: 100%;
        max-width: var(--max-content-width);
        margin: 0 auto;
        padding: 0 $normal-margin;
        margin-top: calc( #{$normal-margin} * var(--padding-top-multiplier, var(--padding-multiplier, 0)));
        margin-bottom: calc( #{$normal-margin} * var(--padding-bottom-multiplier, var(--padding-multiplier, 0)));

        @include width-up-to($phone-max) {
            grid-template-columns: 100%;
        }

        .hero-content {
            max-width: $text-content-max;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include width-up-to($phone-max) {
                margin: 0 auto 2rem;
            }
        }

        > div.hero-image-container {
            display: flex;
            flex-direction: row;

            /* should change these based on the desired image alignment (if set) */
            justify-content: center;
            align-items: var(--image-vertical-align);

            /* this assumes the image is wide, we can handle it better we know the image dimensions */
            img {
              width: 100%;
              height: auto;
            }
        }
    }
}
