@import 'pattern-library/core/pattern-library/headers';

.flex-page.page div.content-block-rich-text {

  img.richtext-image.full-width {
    width: 100%;
    height: auto;
  }

  > *:first-child {
    margin-top: 0;
  }

  h5, h6 {
    @extend %text-h4;
  }

  p {
    @include body-font(1.6rem);
    line-height: 2.5rem;
  }
}

#main.layout-landing .flex-page.page div.content-block-rich-text {
  p {
    @include body-font(2rem);
    line-height: 3rem;
  }
}
