@import 'pattern-library/core/pattern-library/headers';

.flex-page.page > section.content-block-section {
    width: 100%;
    margin: 0;

    > div.section-content {
        /* to show above divider images */
        position: relative;
        z-index: 1;

        width: 100%;
        max-width: var(--max-content-width);
        margin: calc( #{$normal-margin} * var(--padding-multiplier, 0)) auto;
        padding: 0 $normal-margin;
    }
}
