@import 'pattern-library/core/pattern-library/headers';

.webinars.page {
    background-color: ui-color(white);
    justify-items: center;
    width: 100%;

    h1 {
        @include set-font(h2);

        margin: 0;
    }

    h2 {
        @include set-font(h3);
    }

    .boxed {
        align-items: start;
        gap: 3rem;
        padding: 2.5rem $normal-margin;
    }

    section {
        width: 100%;
    }
}
