@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.webinars.page {
    background-color: ui-color(white);
    justify-items: center;
    width: 100%;

    h1 {
        @include set-font(h2);

        margin: 0;
    }

    .boxed {
        align-items: start;
        gap: 2rem;
        padding: 2.5rem $normal-margin;
    }
}
