@import 'pattern-library/core/pattern-library/headers';

.interest-form-v2 {
    background-color: ui-color(white);

    .top-of-form {
        margin-bottom: 6rem;
        padding-top: inherit;
    }

    [data-page="0"] > div,
    [data-page="0"]:not([hidden]) ~ .button-row {
        margin: auto;
        max-width: 47rem;
        width: 100%;
    }

    .page-2 {
        display: grid;
        grid-gap: 4rem;

        > .form-input > .control-group {
            margin-bottom: 0;
        }
    }

    .text-content {
        @extend %text-content;
    }

    .hint {
        @include set-font(helper-label);
        color: text-color(helper);
        font-style: italic;
    }
}
