@import 'pattern-library/core/pattern-library/headers';

.annual-report.page .map {

    @include width-between($phone-max, $tablet-max) {
        padding-bottom: 16rem;
        padding-top: 16rem;
    }

    @include wider-than($tablet-max) {
        padding-bottom: 32rem;
        padding-top: 32rem;
    }

    .floating {
        left: 0;
        max-height: 100%;
        max-width: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .with-layers {
        align-items: center;
        display: grid;
        grid-gap: 4rem;
        position: relative;

        @include wider-than($phone-max) {
            grid-template-columns: 1fr 1fr;
        }

        > :first-child {
            justify-self: end;
        }

        > .text-block {
            justify-self: start;
            max-width: 35rem;
        }
    }

}
