@import 'pattern-library/core/pattern-library/headers';

.annual-report.page .philanthropic-partners {

    .quote-on-left {
        display: grid;
        grid-template-columns: auto auto;

        .big-orange-quote {
            @include title-font(6rem);
            color: os-color(orange);
            margin-top: -1rem;
        }

        :nth-child(2) {
            padding-left: 0;
        }
    }

}
