@import 'pattern-library/core/pattern-library/headers';

.annual-report.page .philanthropic-partners {

    .text-overlapping-photo > .text-block {
        padding: 0;
    }

    .card {
        @include width-up-to($phone-max) {
            padding: $normal-margin 0;
        }

        .text-block {
            @include width-up-to($tablet-max) {
                margin-left: 1rem;
            }
        }

        .name {
            font-weight: bold;

            &::before {
                content: '– ';
            }
        }
    }

    .quote-on-left {
        display: grid;
        grid-template-columns: auto auto;

        .big-orange-quote {
            @include title-font(6rem);
            color: os-color(orange);
            margin-top: -1rem;
        }
    }

}
