@import 'pattern-library/core/pattern-library/headers';

.annual-report.page .reach {

    .fact-boxes {
        grid-template-columns: repeat(4, 1fr);

        .card {
            min-width: 28rem;
            overflow: hidden;
            padding: 0;

            .card-content {
                padding: 4rem;
            }

            &:first-child .color-header {
                background-color: os-color(yellow);
            }

            &:nth-child(2) .color-header {
                background-color: os-color(light-blue);
            }

            &:nth-child(3) .color-header {
                background-color: os-color(deep-green);
            }

            &:last-child .color-header {
                background-color: os-color(red);
            }

        }

        .color-header {
            height: 6rem;
        }

        .card-header {
            @include title-font(6rem);

            .smaller {
                @include title-font(3rem);
            }
        }
    }

}
