@import 'pattern-library/core/pattern-library/headers';

.subject-specific .learn-more {
    background-color: ui-color(white);

    .accordion-group {
        grid-gap: 0;

        .accordion-item {
            border: thin solid ui-color(form-border);

            &:not(:first-child) {
                border-top: 0;
            }

            .accordion-button {
                border: 0;

                > .label {
                    @include set-font(h4);
                }

                > .chevron {
                    font-size: inherit;
                }
            }

            .content-pane {
                padding: 2rem;
            }
        }
    }
}
