@import 'pattern-library/core/pattern-library/headers';

.give-button {
    @include button();
    background-color: os-color(gold);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-shadow: none;
    border-radius: 0;
    border: 0;

    &:hover,
    &:focus {
        background-color: darken(os-color(gold), 20%);
        color: text-color(white);
    }
}
