@import 'pattern-library/core/pattern-library/headers';

.my-openstax-dialog dialog {
    border: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0;
    position: static;
    width: 100%;

    > .content {
        @include width-up-to($tablet-max) {
            padding: $normal-margin;
        }

        @include wider-than($tablet-max) {
            max-height: calc(100vh - 16.6rem);
            padding: 3rem;
        }

        display: grid;
        grid-template-rows: 100%;
        overflow: hidden;
        padding: 3rem;
    }

    .title-bar {
        @include set-font(h4);

        align-content: center;
        background-color: ui-color(page-bg);
        display: grid;
        grid-gap: 5rem;
        grid-template-columns: 1fr auto;
        grid-template-rows: 100%;

        .put-away {
            font-size: 3.2rem;
            height: 100%;
        }
    }
}
