@import 'pattern-library/core/pattern-library/headers';

.landing-page-header {
    background-color: ui-color(white);

    .container {
        margin: auto;
        max-width: 94rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            height: 100%;
            width: auto;
        }

        menu,
        .pseudo-menu {
          overflow: hidden;
          height: 8rem;
          margin: 0;
          padding: 0;
          font-size: 1.8rem;
          font-weight: bold;
          letter-spacing: -0.072rem;
          line-height: 2.5rem;

          li,
          > img {
            display: inline-block;
            height: 100%;
            margin: 0 1rem;
            padding: 2rem 0;
          }

          a {
            line-height: 4rem;
            text-decoration: none;
            color: text-color(normal);
            white-space: nowrap;
          }
        }

        .give-button {
            @include button();
            background-color: os-color(gold);
            color: inherit;
            height: 100%;
            font-size: inherit;
            font-weight: inherit;
            box-shadow: none;
            border-radius: 0.3rem;
            border: 0;

            &:hover,
            &:focus {
                background-color: darken(os-color(gold), 20%);
                color: text-color(white);
            }
        }
    }

    @include width-up-to($tablet-max) {
        ul,
        .pseudo-menu {
            padding-inline-start: 4rem;
            margin-block: 0;
            width: 100%;
        }
        ul li {
            float: left;
        }
        ul li:last-child {
            float: right;
        }
        ul:first-child {
            display: none;
        }
    }
}

