@import 'pattern-library/core/pattern-library/headers';

.facet-controls {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $normal-margin;
    padding: $normal-margin 0;
}

.facet-group,
.facet-sort {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.facet-chip {
    background-color: ui-color(default);
    border: 0.1rem solid ui-color(form-border);
    border-radius: 2rem;
    color: text-color(normal);
    cursor: pointer;
    padding: 0.4rem 1rem;

    &:hover {
        background-color: ui-color(default-hover);
    }

    &[aria-pressed='true'] {
        background-color: text-color(link);
        border-color: text-color(link);
        color: text-color(white);

        &:hover {
            background-color: text-color(link-hover);
            border-color: text-color(link-hover);
        }
    }
}

.facet-sort {
    button {
        background-color: ui-color(default);
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0.5rem;
        color: text-color(normal);
        cursor: pointer;
        padding: 0.4rem 1rem;

        &:hover {
            background-color: ui-color(default-hover);
        }

        &[aria-pressed='true'] {
            background-color: text-color(link);
            border-color: text-color(link);
            color: text-color(white);

            &:hover {
                background-color: text-color(link-hover);
                border-color: text-color(link-hover);
            }
        }
    }
}

.facet-select {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    select {
        background-color: ui-color(default);
        border: 0.1rem solid ui-color(form-border);
        border-radius: 0.5rem;
        color: text-color(normal);
        padding: 0.4rem 0.5rem;
    }
}
