@import 'pattern-library/core/pattern-library/headers';

.search-bar {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template: 'input button' / 1fr min-content;
    justify-items: left;

    @include width-up-to($phone-max) {
        width: 100%;
    }

    @include wider-than($phone-max) {
        width: 50%;
    }

    .input-with-clear-button {
        align-items: center;
        display: grid;
        grid-area: input;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;

        input {
            @include non-button-input;

            grid-column: 1;
            grid-row: 1;
            height: 100%;
            border: 0;
            outline: 0;
            width: 100%;
            padding: 0 0.9rem;
        }

        @include wider-than($phone-max) {
            min-width: 40rem;
        }

        .clear-search {
            grid-column: 1;
            grid-row: 1;
            justify-self: end;
            margin-right: 1rem;
            padding: 0 0.5rem;
        }
    }

    .placeholder-label {
        display: block;
        position: relative;
        border: thin solid ui-color(form-border);
        height: 100%;
        width: 100%;

        &:focus-within {
            outline: 0.2 solid ui-color(focus-outline);
        }

        .floating-label {
            color: text-color(helper);
            position: absolute;
            left: 0.9rem;
            top: 1.3rem;
            transition: all 0.2s;
        }

        &:not(.empty) .floating-label {
            @include body-font(1.2rem);

            color: inherit;
            top: 0.1rem;
        }

        &.empty .clear-search {
            display: none;
        }
    }

    button {
        @extend %button;

        font-size: 2rem;
        grid-area: button;
        padding: 0;
        width: 7.5rem;

        &.primary {
            @extend %primary;
        }
    }
}

.heading-and-searchbar {
    display: flex;
    max-width: $content-max;
    width: 100%;

    @include width-up-to($tablet-max) {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 2rem;
    }

    @include wider-than($tablet-max) {
        align-items: center;
        justify-content: space-between;
    }
}
