@import 'pattern-library/core/pattern-library/headers';

.errata-form.page {
    .horizontal-group {
        display: flex;
    }
    select {
        @include set-font(body-regular);
        display: initial;
        padding-left: 0.7rem;

        option {
            white-space: normal;
        }

        .indent-1 {
            margin-left: 1rem;
        }

        .indent-2 {
            margin-left: 2.5rem;
        }
    }
}
