<template args="model">
    <div class="control-group">
        <label if="model.label" class="field-label">{model.label}</label>
        <label if="model.longLabel" class="field-long-label">{model.longLabel}</label>
        <input name="{model.name}" type="{model.type}" value="{model.value}"
         pattern="{model.pattern}" min="{model.min}" max="{model.max}"
         placeholder="{model.placeholder}"
         required="{model.required ? '' : null}"
        >
        <div class="invalid-message">{model.validationMessage(model.name)}</div>
        <div if="model.matches" class="suggestions">
            <div class="suggestion-box">
                <div class="suggestion{match === model.activeSuggestion ? ' active' : ''}" each="match in model.matches">{match}</div>
            </div>
        </div>
    </div>
</template>
