@import 'pattern-library/core/pattern-library/headers';

.form-input {
    .suggestions {
        height: 0;
        overflow: visible;
        position: relative;
        z-index: 2;
    }

    .suggestion-box {
        background-color: ui-color(white);
        box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(os-color(gray), 0.1);
        max-height: 50vh;
        overflow: auto;
    }

    .suggestion {
        cursor: pointer;
        padding: 0 1rem;

        &.active {
            background-color: ui-color(page-bg);
        }
    }

    .has-error {
        background-color: ui-color(error-bg);
        border-color: ui-color(error-border);
        color: ui-color(error-fg);
    }
}
