@import 'pattern-library/core/pattern-library/headers';

.how-using {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;

    .book-card {
        @include form-border();

        background-color: ui-color(white);
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .book-card-header {
        align-items: center;
        background-color: darken(ui-color(page-bg), 2%);
        border-bottom: thin solid ui-color(form-border);
        display: flex;
        gap: 1rem;
        padding: 1rem 1.5rem;
    }

    .book-cover {
        border-radius: 0.2rem;
        height: 4rem;
        object-fit: cover;
        width: 3rem;
    }

    .book-title {
        @include set-font(body-large);

        color: text-color(normal);
        font-weight: 600;
    }

    .book-card-fields {
        display: grid;
        gap: 1.5rem;
        padding: 1.5rem;

        @include wider-than($phone-max) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .field-group {
        display: grid;
        align-content: end;
        gap: 0.25rem;
    }

    .compact-label {
        @include set-font(body-regular);

        color: text-color(normal);
        font-weight: 600;
    }

    .hint {
        @include set-font(helper-label);

        color: text-color(helper);
        font-style: italic;
        margin-bottom: 0.25rem;
    }

    [type="number"] {
        max-width: 100%;
    }

    .has-error {
        background-color: ui-color(error-bg);
        border-color: ui-color(error-border);
        color: ui-color(error-fg);
    }

    .invalid-message {
        margin-top: $normal-margin;
    }
}
