// scss-lint:disable IdSelector
@import 'variables';
@import 'mixins';

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin: 0;
    min-height: 100vh;

    #main {
        flex: 1 1 auto;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: color(primary);
    text-decoration: none;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}

#main {
    animation: fadeIn ease-in 1;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#maincontent {
    outline: none;

    &:focus {
        animation: pulse ease-in 1;
        animation-duration: 1s;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes pulse {
    from {
        background-color: rgba(color(primary), 0.2);
    }
}

@import 'components/buttons';
@import 'components/headers';
@import 'components/responsive';
@import 'components/social';
