@import 'pattern-library/core/pattern-library/fonts';
@import 'pattern-library/core/pattern-library/headers';
@import 'pattern-library/core/pattern-library/elements/document';
@import 'pattern-library/core/pattern-library/elements/typography';

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    width: auto;
}

plug-in {
    width: 100%;
}

dialog {
    position: absolute;
}

iframe {
    border: 0;
}

a {
    &.btn {
        text-decoration: none;
    }
}

p {
    margin-bottom: 1rem;
}

strong {
    font-weight: bold;
}

.page-loading > .os-loader {
    opacity: 0;
}

.os-loader {
    height: 0;
    opacity: 0;
    width: 0;
}

.no-bullets {
    // Hide bullets in IE
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    list-style-type: none;
}

sup {
    font-size: 66%;
    margin-left: 0.1rem;
    position: relative;
    top: -0.25em; // em because it is relative to current font size
    vertical-align: top;
}

.go-to {
    @include set-font(body-large);
    @include link();

    font-weight: 500;
}

.go-to,
.with-arrow {
    text-decoration: none;

    &::after {
        content: '▸';
        font-size: 120%;
        padding-left: 0.5em;
    }

    &.down-page::after {
        display: inline-block;
        margin-left: 0.5em;
        transform: rotate(90deg);
        transform-origin: 0.5em 0.4em;
    }
}

.download-link {
    @include set-font(helper-label);

    font-weight: 500;
    text-transform: uppercase;

    &.unavailable {
        color: text-color(link-hover);
    }
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}

.hidden {
    display: none;
}

.hide-until-loaded {
    opacity: 0;
    transition: opacity 0.3s linear;
    visibility: hidden;

    &.loaded {
        opacity: 1;
        visibility: visible;
    }
}

.no-scroll,
.no-scroll-dialog {
    overflow: hidden;
    max-height: 100vh;
}

.mac-scroll {
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(ui-color(footer-bg), 0.3);
        border: thin solid ui-color(white);
        border-radius: 0.8rem;
    }

    &::-webkit-scrollbar-track {
        background-color: ui-color(white);
        border-radius: 0.8rem;
    }
}

.nojs {
    background-color: darken(os-color(light-blue), 15%);
    height: 100vh;
    width: 100vw;

    p {
        background-color: ui-color(white);
        left: 50%;
        padding: 5rem 3rem;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

#header {
    z-index: 3;

    @include width-up-to($tablet-max) {
        position: fixed;
        top: 0;
        width: 100vw;
    }

    @include wider-than($tablet-max) {
        position: sticky;
        top: -5rem;
    }
}

#lower-sticky-note {
    position: sticky;
    top: 5rem;
    z-index: 2;
}

#microsurvey {
    background-color: ui-color(white);
    border-radius: 0.3rem;
    bottom: $normal-margin;
    box-shadow: 0 0.2rem 0.6rem 0 rgba(ui-color(black), 0.25);
    max-width: 32rem;
    overflow: hidden;
    position: fixed;
    right: $normal-margin;
    z-index: 3;

    > div:not(:empty) {
        padding: 2.5rem 2.5rem $normal-margin $normal-margin;
    }

    .put-away {
        height: 2rem;
        line-height: 1.8rem;
        right: 0.7rem;
        top: 0.7rem;
        width: 2rem;
    }
}

#main {
    flex: 1 0 auto;
    z-index: 0;

    @include width-up-to($tablet-max) {
        padding-top: 5rem;
    }

    &.with-sticky:not(.with-modal) {
        z-index: 1;
    }

    &.with-modal {
        z-index: 2;
    }
}

#footer {
    z-index: 0;
}

#maincontent {
    outline: none;

    &:focus {
        animation: pulse ease-in 1;
        animation-duration: 1s;
        opacity: 1;
    }
}

// Boxed Page

.page:not([hidden]) {
    display: flex;
    flex-flow: column nowrap;
}

.boxed,
.text-content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;

    &.left-justified {
        align-items: flex-start;
    }

    > * {
        max-width: 100%;
    }

}

.text-content {
    max-width: $text-content-max;
}

.boxed {
    max-width: $content-max;
}

// The items in the row will provide the padding
.boxed-row {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    max-width: $content-max;
    width: 100%;
}

.no-style.page .boxed {
    margin: 4rem auto 8rem;

    @include wider-than($tablet-max) {
        text-align: center;
    }
}

.subhead { // for banner with text only
    align-items: center;
    display: flex;
    font-weight: normal;
    max-width: $content-max;
    padding: 8rem 1.5rem;
    text-align: center;
    width: 100%;

    h1 {
        line-height: 1;
        margin: 0;
    }
}

.strips {
    left: 0;
    position: absolute;
    width: 100%;
}

// Empty or malformed links
[href=""],
[href="#"],
[href*="undefined"],
a:not([href]) {
    border: 0.3rem solid ui-color(error-border);
}

@import 'components/animations';
@import 'components/bucket';
@import 'components/buttons';
@import 'components/filter-buttons';
@import 'components/forms';
@import 'components/hero';
@import 'components/loader';
@import 'components/radio-buttons';
@import 'components/social';
@import 'components/tooltip';
@import 'components/tag-multi-select';
