// scss-lint:disable IdSelector
@import 'variables';
@import 'mixins';
//loader
.os-loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    z-index: 200;
    overflow: hidden;
    perspective: 1000;
    opacity: 1;
    transition: opacity 0.5s 0.5s ease-in-out;

    .loaded & {
        opacity: 0;
        z-index: -1;
    }

    .os-overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, color(cyan) 50%, color(orange) 50%);
        // animation: loaderBubble 1s forwards;

        @keyframes loaderBubble {
            0 {
                // background-position: 0;
              }
            25% {
                // background-position: -100% 0;
              }
            50% {
                // background-position: -100% 0;
              }
            100%  {
                background-position: 0;
                background-image: transparent;
              }
        }

    }


    .os-loader--inner {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 50%;
        left: 50%;
        margin-top: -75px;
        margin-left: -75px;
        background-color: transparent;
        animation: loaderInner 500ms forwards 75ms;
        transform-style: preserve-3d;
        transform: rotateY(90deg);

        @keyframes loaderInner {
            from {

              }

            to {
                transform: rotateY(180deg);
                background-color: white;
                box-shadow: 0 1px 0 rgba(color(gray), .6);
              }
        }

        svg {
            position: relative;
            display: block;
            width: 70px;
            height: 100%;
            margin: 0 auto;
            opacity: 0;
            animation: loadSvg 300ms forwards 500ms;
            transform: scale(0) rotateY(180deg);
            transform-origin: center;

            @keyframes loadSvg {
                from {
                    transform: scale(0) rotateY(180deg);
                  }

                to {
                    transform: scale(1) rotateY(180deg);
                    opacity: 1
                  }
            }

            * {
                animation: fadeIn 500ms forwards;
            }

            #os-green,
            #os-orange,
            #os-gray,
            #os-yellow,
            #os-blue {
                -webkit-animation-delay: 500ms;
                animation-delay: 500ms;
            }

            #os-green {
                animation: moveGreen .6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 500ms infinite alternate;
                transform-origin: center left;

                @keyframes moveGreen {
                    from {
                            transform: matrix(1, 0, 0, 1, 0, 0);
                      }
                    to {
                            transform: matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, -18);
                      }
                }
            }

            #os-orange {
                animation: moveOrange .6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 500ms infinite alternate;
                transform-origin: center right;

                @keyframes moveOrange {
                    from {
                            transform: matrix(1, 0, 0, 1, 0, 0);
                      }
                    to {
                            transform: matrix(0.994522, 0.104528, -0.104528, 0.994522, 0, -14);
                      }
                }
            }

            #os-gray {
                animation: moveGray .6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 500ms infinite alternate;
                transform-origin: center right;

                @keyframes moveGray {
                    from {
                            transform: matrix(1, 0, 0, 1, 0, 0);
                      }
                    to {
                            transform: matrix(0.99863, 0.052336, -0.052336, 0.99863, 0, -8);
                      }
                }
            }

            #os-yellow {
                animation: moveYellow .6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 600ms infinite alternate;
                transform-origin: center right;

                @keyframes moveYellow{
                    from {
                            transform: matrix(1, 0, 0, 1, 0, 0);
                      }
                    to {
                            transform: matrix(1, 0, 0, 1, 0, -8);
                      }
                }
            }

            #os-blue {
                animation: moveBlue .6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 500ms infinite alternate;
                transform-origin: center;

                @keyframes moveBlue{
                    from {
                            transform: matrix(1, 0, 0, 1, 0, 0);
                      }
                    to {
                            transform: matrix(0.99863, 0.052336, -0.052336, 0.99863, 0, -4);
                      }
                }
            }

        }

    }

}
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    font-weight: 300;
    line-height: 1.42857143;
    text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    color: $text-dark;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    color: color(primary);
    text-decoration: none;
}

p {
    margin-bottom: 1rem;
}

sup {
    font-size: 66%;
    margin-left: 0.1rem;
    position: relative;
    top: -0.5rem;
    vertical-align: top;
}

.text-content {
    flex-direction: column;
    margin: 0 auto;
    max-width: 120rem;
}

.go-to {
    color: color(cyan);
    font-size: 1.7rem;
    font-weight: 500;

    &::after {
        content: ' >';
    }
}

.scrolldown-chevron {
    align-items: center;
    display: flex;
    font-size: 4rem;
    height: 0;
    justify-content: space-around;
    opacity: 0.5;
    position: relative;
    top: -3rem;
    z-index: 100;

    @include phone {
        display: none;
    }

    i {
        background-color: rgba(color(neutral-dark), 0.3);
        border-radius: 1em;
        box-shadow: 0 0 2rem rgba(color(neutral-dark), 0.5);
        color: color(neutral-lightest);
        padding: 0 2rem 0.4rem;
    }
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

#site-wrapper {
    transition: transform 1s ease-in;

    @at-root body:not(.loaded) {
        #site-wrapper {
            transform: translate3d(0, 100%, 0);
        }
    }
}

#main > *,
.page-header,
#footer {
    animation: fadeIn ease-in 1;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#main {
    flex: 1 0 auto;
    padding-top: 6rem;
    z-index: 0;

    @include desktop {
        padding-top: 11rem;
    }
}

#maincontent {
    outline: none;

    &:focus {
        animation: pulse ease-in 1;
        animation-duration: 1s;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes pulse {
    from {
        background-color: rgba(color(primary), 0.2);
    }
}

// Boxed Page

.page {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
}

.boxed {
    display: flex;
    flex-flow: column nowrap;
    max-width: $boxed-width;
    margin: 0 auto 4rem;
    padding: 0 1.5rem;
    width: 100%;
}

.no-style.page .boxed {
    margin: 4rem auto 8rem;

    @include desktop {
        text-align: center;
    }
}

.subhead {
    font-weight: 100;

    @include desktop {
        text-align: center;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        line-height: 1;
    }

    a {
        color: color(cyan);

        &:hover,
        &:focus {
            color: rgba(color(cyan), 0.5);
            }
    }

}

[href=""],  // for testing empty links
[href="#"] {
    border: 0.3rem solid color(danger);
}

@import 'components/add-another';
@import 'components/bucket';
@import 'components/buttons';
@import 'components/filter-buttons';
@import 'components/forms';
@import 'components/headers';
@import 'components/option-list';
@import 'components/intro';
@import 'components/responsive';
@import 'components/single-select';
@import 'components/social';
@import 'components/strips';
@import 'components/tag-multi-select';
