.st0{fill:#FFFFFF;}
.st1{fill:#424242;}
.st2{fill:none;stroke:#5E6062;stroke-miterlimit:10;}
.st3{fill:#0DC0DC;}
.st4{fill:#9A9A9B;}
.st5{fill:#5E6062;}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#E5E5E5;}
.st7{fill:#E5E5E5;}
.st8{fill:#F47641;}
.st9{opacity:0.88;fill:#F47641;}
.st10{fill:#FFBD3E;}
.st11{fill:#77AF42;}
.st12{fill:#F4D019;}
.st13{clip-path:url(#SVGID_2_);}
.st14{opacity:0.9;fill:#F47641;}
.st15{clip-path:url(#SVGID_5_);}
.st16{clip-path:url(#SVGID_7_);}
.st17{clip-path:url(#SVGID_8_);}
.st18{fill:#00246A;fill-opacity:0.2;}
.st19{opacity:0.6;fill:#0DC0DC;}
.st20{filter:url(#Adobe_OpacityMaskFilter);}
.st21{clip-path:url(#SVGID_12_);fill:url(#SVGID_14_);}
.st22{clip-path:url(#SVGID_12_);mask:url(#SVGID_13_);}
.st23{filter:url(#Adobe_OpacityMaskFilter_1_);}
.st24{clip-path:url(#SVGID_18_);fill:url(#SVGID_20_);}
.st25{clip-path:url(#SVGID_18_);mask:url(#SVGID_19_);}
.st26{fill:#F0F0F0;}
.st27{opacity:0.1;fill:#00246A;stroke:#231F20;stroke-miterlimit:10;}
.st28{opacity:0.1;fill:#00246A;}
.st29{clip-path:url(#SVGID_26_);fill:#222E65;}
.st30{clip-path:url(#SVGID_26_);fill:#FFFFFF;}
.st31{clip-path:url(#SVGID_26_);}
.st32{clip-path:url(#SVGID_28_);fill:#FFFFFF;}
.st33{clip-path:url(#SVGID_28_);fill:#F47640;}
.st34{fill:#0C9390;fill-opacity:0.9;}
.st35{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st36{fill:#00246A;}
.st37{fill:#222C65;}
.st38{fill:#F37640;}
.st39{fill:#0C9390;}
.st40{fill:none;}
.st41{opacity:0.2;fill:#E5E5E5;}
.st42{opacity:0.5;fill:none;stroke:#E5E5E5;}
.st43{fill:#555759;}
.st44{opacity:0.8;fill:#FFFFFF;fill-opacity:0.8;}
.st45{display:none;}
.st46{display:inline;}
.st47{opacity:0.1;fill:#E20613;}
.st48{fill:none;stroke:#00A651;stroke-width:0.1;}
