@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.instructor-resources .partners {
    @extend %card;

    border-radius: 0.3rem;
    display: grid;
    grid-column: 2;
    grid-template-rows: min-content min-content;
    height: min-content;
    overflow: hidden;

    .title-bar {
        @include set-font(h4);

        display: flex;
        justify-content: space-between;
        padding: $normal-margin;

        a {
            @include set-font(body-regular);
            color: inherit;
        }
    }

    .blurb-scroller {
        overflow-y: auto;
    }

    .blurbs {
        max-height: calc(100vh - 16rem);
    }

    .blurb {
        align-items: center;
        background-color: ui-color(white);
        border-bottom: thin solid ui-color(form-border);
        color: inherit;
        display: grid;
        grid-column-gap: $normal-margin;
        grid-row-gap: 0.5rem;
        grid-template: 'logo title'
        'logo info' / 10rem 1fr;
        min-height: 13rem;
        padding: 1.2rem 1rem 1.2rem 1.2rem;
        position: relative;
        text-decoration: none;

        &:hover::after,
        &:active::after {
            background: rgba(ui-color(black), 0.1);
            content: '\A';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .logo {
            align-items: center;
            display: grid;
            grid-area: logo;
            max-width: 100%;

            > img {
                max-width: 100%;
            }
        }

        .badge {
            @extend %verified-badge;

            align-self: start;
            grid-area: logo;
            justify-self: end;
            margin-top: 0.5rem;
        }

        .name {
            @include title-font(1.6rem);

            grid-area: title;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            grid-area: info;
            margin-bottom: -1rem;
            margin-right: -0.5rem;
            min-height: 2.5rem;

            .info {
                margin-bottom: 1rem;
                margin-right: 0.5rem;
            }
        }

        .info {
            @include body-font(1.2rem);

            background-color: ui-color(default);
            border-radius: 0.3rem;
            display: flex;
            padding: 0.5rem $normal-margin;
            text-transform: uppercase;

            .label {
                font-weight: bold;
                margin-right: 0.3rem;

                &:not(:first-child)::before {
                    content: '|';
                    margin: 0 0.7rem;
                }
            }
        }
    }
}
