@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.instructor-resources .partners {
    @extend %card;

    display: grid;
    grid-column: 2;
    grid-template-rows: auto 1fr;
    max-height: 100%;
    overflow: hidden;

    .title-bar {
        @include set-font(h4);

        display: flex;
        justify-content: space-between;
        padding: $normal-margin;

        a {
            @include set-font(body-regular);
            color: inherit;
        }
    }

    .blurb-scroller {
        overflow-y: auto;
    }

    .blurbs {
        height: 0;
        overflow-y: visible;
    }

    .blurb {
        align-items: center;
        background-color: ui-color(white);
        border-bottom: thin solid ui-color(form-border);
        color: inherit;
        display: grid;
        grid-column-gap: $normal-margin;
        grid-row-gap: 0.5rem;
        grid-template: 'logo title'
        'logo description'
        'logo info' / 10rem auto;
        height: 13rem;
        padding: 1rem $normal-margin;
        position: relative;
        text-decoration: none;

        &:hover::after,
        &:active::after {
            background: rgba(ui-color(black), 0.1);
            content: '\A';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        img {
            grid-area: logo;
            max-width: 100%;
        }

        .name {
            @include set-font(h4);

            grid-area: title;
        }

        .description {
            grid-area: description;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            > p:first-child {
                margin: 0;
            }
        }

        .tags {
            display: grid;
            grid-area: info;
            grid-auto-flow: column;
            grid-column-gap: 0.5rem;
            height: 2.5rem;
            justify-self: left;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }

        .info {
            @include body-font(1.2rem);

            background-color: ui-color(default);
            border-radius: 0.3rem;
            display: flex;
            padding: 0.5rem $normal-margin;
            text-transform: uppercase;

            .label {
                font-weight: bold;
                margin-right: 0.3rem;

                &:not(:first-child)::before {
                    content: '|';
                    margin: 0 0.7rem;
                }
            }
        }
    }
}
