@import 'pattern-library/core/pattern-library/headers';

.bulk-order.page {
    table th {
        text-align: left;
    }

    [type="submit"] {
        background-color: os-color(orange);
        color: text-color(white);
        float: none;
    }

    .unpadded {
        padding: 0;
    }
}
