<style scoped>
    @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
    @import url(/app/pages/home/banners/biology/biology.css);
</style>
<div class="biology">
    <div class="diagram"></div>
    <div class="leaf"></div>
    <div class="book"></div>
    <div class="video-banner"></div>
    <div class="square-1"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>

    <div class="now-i-can">
        <span>Now I can</span>
        <span class="quote">Live the wild life</span>
    </div>

    <div class="subject-links">
        <ul>
            <li>
                <a class="btn btn-large btn-yellow explore-subject" href="/books/biology">
                    Explore Biology
                </a>
            </li>
            <li>
                <a class="btn btn-large btn-green explore-all" href="/subjects">
                    Explore All Subjects
                </a>
            </li>
        </ul>
    </div>
</div>
