@import 'variables';
@import 'mixins';

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) and (max-width: 1024px) {
        @content;
    }
}

.flyin,
.flyout {
    @include desktop {
        opacity: 0;
    }
}

.biology {
    background-image: url('/images/home/subjects/biology/background.jpg');
    background-attachment: fixed;
    background-position: -15rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    overflow: hidden;
    position: relative;

    @include desktop {
        background-position: center top;
    }

    @media (min-width: #{breakpoints(tablet) + 1}) {
        height: 65rem;
    }

    @include phone {
        background-color: color(blue);
        background-image: none;
        background-position: left top;
        height: 45rem;
    }

    .container {
        display: flex;
        margin: 0 auto;
        padding: 0 1.5rem;
        max-width: $boxed-width;
        flex-flow: column wrap;
        position: relative;
        height: 100%;

        @include tablet {
            flex-flow: row wrap;
        }

        @include desktop {
            flex-flow: row wrap;
        }
    }

    .square-1,
    .square-2,
    .square-3,
    .square-4 {
        background-color: rgba(color(green), 0.2);
        display: none;
        position: absolute;
        z-index: 0;

        @include desktop {
            display: block;
            animation: flyin 0.5s 1.2s 1 normal ease-in forwards, loop 30s 1.5s normal infinite linear forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .square-1 {
        height: 37rem;
        left: 8rem;
        top: 25rem;
        width: 37rem;
    }

    .square-2 {
        height: 5rem;
        left: 12rem;
        top: 16rem;
        width: 5rem;
    }

    .square-3 {
        height: 35rem;
        left: 52rem;
        top: 20rem;
        width: 56rem;
    }

    .square-4 {
        height: 3.2rem;
        right: 4.5rem;
        top: 34rem;
        width: 3.2rem;
    }

    .diagram,
    .leaf,
    .book,
    .video-banner {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
    }

    .diagram,
    .leaf {
        display: none;

        @include desktop {
            display: block;
            animation: flyin 0.5s 1.4s 1 normal ease-in forwards, loop 40s 1.8s reverse infinite linear forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .diagram {
        background-image: url('/images/home/subjects/biology/diagram.png');
        height: 19rem;
        left: 5rem;
        position: absolute;
        bottom: 6rem;
        width: 27.4rem;
    }

    .leaf {
        background-image: url('/images/home/subjects/biology/leaf.png');
        height: 14rem;
        right: 19rem;
        position: absolute;
        top: 24rem;
        width: 14rem;
        opacity: 0.5;
    }

    .book {
        background-color: color(green);
        background-image: url('/images/subjects/biology.svg');
        height: 29rem;
        left: 50rem;
        position: absolute;
        top: 9rem;
        width: 29rem;

        @include tablet {
            left: 28rem;
        }
    }

    canvas,
    .video,
    .video-banner {
        bottom: 0;
        height: 25rem;
        left: 3rem;
        position: absolute;
        width: 23.52rem;
        z-index: 2;

        @include tablet {
            left: calc(16rem - 10%);
        }

        @include desktop {
            height: 51rem;
            width: 48rem;
            left: calc(16rem + 10%);
        }
    }

    .video {
        display: none;
    }

    .video-banner {
        background-image: url('/images/home/subjects/biology/student.png');
        background-position: 92% 100%;
    }

    .now-i-can {
        background-color: rgba(color(neutral-medium), 0.85);
        bottom: 15rem;
        color: color(neutral-lightest);
        font-size: 3rem;
        font-weight: 600;
        height: 8rem;
        line-height: 8.5rem;
        right: 5rem;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: none;
        width: 50rem;
        z-index: 3;

        @media (min-width:650px) {
            display: initial;
        }

        @include desktop {
            right: 1.5rem;
            width: 59rem;
            height: 9rem;
            font-size: 3.6rem;
            animation: flyin 0.5s 1.8s 1 normal forwards;

            &.flyout {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        .quote {
            display: inline-block;
            font-family: 'Permanent Marker', cursive;
            transform: rotate(-1.2deg) translate(0.75vw, -0.45vw);
        }

        &::after {
            border-bottom: 0.1rem solid color(neutral-lightest);
            content: '';
            right: 1rem;
            position: absolute;
            top: 6rem;
            width: 32rem;

            @include desktop {
                width: 35rem;
                right: 2rem;
            }
        }
    }

    .subject-links {
        right: 8.5rem;
        position: absolute;
        bottom: 7rem;
        z-index: 3;

        @include tablet {
            width: 27rem;
            bottom: 5rem;
        }

        @media (min-width:650px) {
            width: auto;
            right: 8.5rem;
            left: auto;
        }

        @include desktop {
            animation: flyin 0.5s 1.8s 1 normal forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                &:first-child {
                    margin-right: 1rem;
                }
            }
        }

        .btn {
            padding: 2rem 4rem;

            @include tablet {
                font-size: 1.7vw;
            }
        }

        .explore-subject,
        .explore-all {
            box-shadow: 0 0 1rem color(neutral-dark);
        }

    }
}
