@import 'pattern-library/core/pattern-library/headers';

.resource-box {
    background-color: ui-color(white);
    border-radius: 0.4rem;
    box-shadow: $card-shadow;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: $normal-margin 1.8rem;
    text-decoration: none;

    @include wider-than($tablet-max) {
        &:hover {
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
        }
    }

    &.double {
        grid-column: span 2;
    }

    .top-line {
        display: flex;
        justify-content: space-between;

        img {
            margin-bottom: 0.5rem;
            max-height: 5rem;
            max-width: 16rem;
        }
    }

    h3 {
        @include set-font(h4);

        margin: 0;
    }

    .top {
        color: text-color(normal);
    }

    .bottom {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .left {
            @include set-font(helper-label);
        }
    }

    @at-root :not(:hover) .bottom .left {
        color: text-color(helper);
    }

    .fa-download {
        color: os-color(green);
    }
}
