@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/coming-soon';
@import 'mixins/placeholder-selectors';

.resource-box {
    background-color: ui-color(white);
    border-radius: 0.4rem;
    box-shadow: $card-shadow;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    padding: $normal-margin 1.8rem;
    position: relative;
    text-decoration: none;

    &.video {
        cursor: pointer;

        video {
            pointer-events: none;
        }
    }

    &.coming-soon::before {
        @include coming-soon;

        background-color: ui-color(white);
        border-radius: 2rem 0 0 2rem;
        bottom: 2rem;
        box-shadow: $card-shadow;
        height: 4rem;
        min-width: 10rem;
        top: unset;
    }

    @include wider-than($tablet-max) {
        &:hover {
            box-shadow: 0 0.8rem 2rem 0 rgba(0, 0, 0, 0.25);
        }
    }

    &.double {
        grid-column: span 2;

        @include width-up-to($phone-max) {
            .blurb {
                display: none;
            }
        }
    }

    .new-label-container {

        text-align: right;
        transform: translate(1rem, -1rem);

        .new-label {
            @extend %light-on-dark;
            @include body-font(1rem);

            background-color: text-color(link);
            border-radius: 0.3rem;
            color: text-color(white);
            display: inline;
            font-weight: bold;
            padding: 0.5rem;
        }
    }

    .reference-number {
        align-content: center;
        background-color: os-color(light-blue);
        color: text-color(white);
        display: grid;
        font-size: 1.4rem;
        font-weight: bold;
        height: 1.5rem;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 1.5rem;
    }

    .top-line {
        display: flex;
        justify-content: space-between;

        .space-for-badge {
            margin-right: 3rem;
        }

        img {
            margin-bottom: 0.5rem;
            max-height: 5rem;
            max-width: 16rem;
        }
    }

    h3 {
        @include set-font(h4);

        margin: 0;
    }

    p:empty {
        margin: 0;
    }

    .badge {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 3.5rem;
    }

    .top {
        color: text-color(normal);
    }

    .bottom {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .left {
            @include set-font(helper-label);
        }
    }

    @at-root :not(:hover) .bottom .left {
        color: text-color(helper);
    }

    .fa-download {
        color: os-color(green);
    }

    .fa-play {
        color: os-color(red);
    }

    .fa-link {
        color: text-color(link);
    }
}

.instructor-resource-video-viewer {
    display: grid;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    video {
        max-width: 100%;
        width: 72rem;
    }
}
