<template args="model">
    <div class="modal-region" hidden="{model.modalHiddenAttribute}" skip="true"></div>
    <div class="get-this-title">
        <div class="options">
            <div if="model.includeTOC" class="option toc-option">
                <a href="/" role="button" class="show-toc" aria-pressed="{model.tocActive}">
                    <span class="fa fa-list-ol"></span>
                    <span class="text">Table of contents</span>
                </a>
            </div>
            <div if="!model.comingSoon && model.webviewLink" class="option">
                <div class="option-with-callout">
                    <a href="{model.webviewLink}" data-local="{model.isRex}" data-track="Rex"
                        _target="{model.isTutor ? '_blank' : ''}"
                        tabindex="{model.submenu === '' ? 0 : -1}" data-submenu="{model.submenu}">
                        <if condition="model.isTutor">
                            <span class="fa fa-atom"></span>
                            <span class="text">Go to OpenStax Tutor</span>
                        <else>
                            <span class="fa fa-laptop"></span>
                            <span class="text">View online</span>
                        </if>
                    </a>
                    <div class="callout" skip="true"></div>
                </div>
            </div>
            <div if="model.studyEdge" class="option">
                <a href="/" class="show-study-edge"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fas fa-mobile-alt"></span>
                    <span class="text">
                        Download the app
                    </span>
                </a>
            </div>
            <div if="model.pdfLink" class="option">
                <a href="{model.pdfLink}" data-track="PDF"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fas fa-cloud-download-alt"></span>
                    <span class="text">
                        {model.pdfText}
                        <if condition="model.comingSoon">{model.sampleText}</if>
                    </span>
                </a>
            </div>
            <div if="model.printLink" class="option">
                <a href="/" class="show-print-submenu"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fa fa-book"></span>
                    <span class="text">
                        Order a print copy
                    </span>
                </a>
            </div>
            <if condition="model.optionsExpanded || model.additionalOptions < 1">
                <div if="model.bookshareLink" class="option">
                    <a href="{model.bookshareLink}" data-track="iBooks"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        <span class="fa fa-volume-up"></span>
                        <span class="text">
                            Bookshare
                        </span>
                    </a>
                </div>
                <if condition="model.ibookLink">
                    <div if="model.ibookLink2" class="option">
                        <span class="option-header">
                            <span class="fab fa-apple"></span>
                            <span class="text">
                                Download on iBooks
                            </span>
                        </span>
                        <a href="{model.ibookLink}" data-track="iBooks"
                            tabindex="{model.submenu === '' ? 0 : -1}">
                            Part 1
                        </a>
                        <a href="{model.ibookLink2}" data-track="iBooks"
                            tabindex="{model.submenu === '' ? 0 : -1}">
                            Part 2
                        </a>
                    </div>
                    <div if="!model.ibookLink2" class="option">
                        <a href="{model.ibookLink}" data-track="iBooks"
                            tabindex="{model.submenu === '' ? 0 : -1}">
                            <span class="fab fa-apple"></span>
                            <span class="text">
                                Download on iBooks
                            </span>
                        </a>
                    </div>
                </if>
                <div if="model.kindleLink" class="option">
                    <a href="{model.kindleLink}" data-track="Kindle"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        <span class="fab fa-amazon"></span>
                        <span class="text">
                            Download for Kindle
                        </span>
                    </a>
                </div>
                <div if="model.cheggLink" class="option">
                    <a href="{model.cheggLink}" data-track="Chegg"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        <img class="logo-img" src="/images/icons/Chegglogo.svg" alt="">
                        <span class="text">
                            {model.cheggLinkText}
                        </span>
                    </a>
                </div>
                <div if="model.optionsExpanded" class="option expander">
                    <a href="." tabindex="{model.submenu === '' ? 0 : -1}">
                        See {model.additionalOptions} fewer options
                    </a>
                </div>
            <else>
                <div if="model.additionalOptions" class="option expander">
                    <a href="." tabindex="{model.submenu === '' ? 0 : -1}">
                        + {model.additionalOptions} more option{model.s}...
                    </a>
                </div>
            </if>
        </div>
    </div>
</template>
