<template args="model">
    <div class="modal-region" hidden="{model.modalHiddenAttribute}" skip="true"></div>
    <div class="toc-region" hidden="{model.tocHiddenAttribute}" skip="true"></div>
    <div class="get-this-title">
        <div class="submenu {model.submenu}">
            <div class="print-submenu">
                <h3>Place an Order</h3>
                <p if="model.bookstore.link">
                    <a href="{model.bookstore.link}" class="btn"
                        tabindex="{model.submenu === 'print' ? 0 : -1}">Bookstore Orders</a>
                    Order through indiCo
                </p>
                <p if="model.isHighSchool">
                    <a href="/bulk-order?{model.slug}" class="btn"
                        tabindex="{model.submenu === 'print' ? 0 : -1}">Bulk Orders</a>
                    Fill out our form to order in bulk for your school.
                </p>
                <p if="model.amazon.link">
                    <a href="{model.amazon.link}" class="btn"
                        tabindex="{model.submenu === 'print' ? 0 : -1}">Individual Orders</a>
                    {model.amazon.price} from seller \"OpenStax\" on Amazon
                </p>
                <div if="!model.bookstore.link && model.bookstore.comingSoon" class="coming-soon-wrapper">
                    <img class="coming-soon" src="/images/subjects/coming-soon.svg" alt="coming soon">
                    BOOKSTORE ORDERS
                </div>
                <div if="!model.amazon.link && model.amazon.comingSoon" class="coming-soon-wrapper">
                    <img class="coming-soon" src="/images/subjects/coming-soon.svg" alt="coming soon">
                    INDIVIDUAL ORDERS
                </div>
                <div class="remover" role="button"
                    tabindex="{model.submenu === 'print' ? 0 : -1}"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="options">
            <div if="model.includeTOC" class="option">
                <a href="/" role="button" class="show-toc">
                    <span class="fa fa-list-ol"></span>
                    <span class="text">Table of contents</span>
                </a>
            </div>
            <div if="!model.comingSoon && model.webviewLink" class="option">
                <a href="{model.webviewLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}" data-submenu="{model.submenu}">
                    <span class="fa fa-laptop"></span>
                    <span class="text">View online</span>
                </a>
            </div>
            <div if="model.pdfLink" class="option">
                <a href="{model.pdfLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fas fa-cloud-download-alt"></span>
                    <span class="text">
                        <if condition="model.slug.substr(-6) === 'polska'">
                            {' Pobierz książkę'}
                        <else>
                            {' Download a PDF'}
                            <if condition="model.comingSoon">{' sample'}</if>
                        </if>
                    </span>
                </a>
            </div>
            <div if="model.printLink" class="option">
                <a href="{model.printLink}" class="show-print-submenu"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fa fa-book"></span>
                    <span class="text">
                        Order a print copy
                    </span>
                </a>
            </div>
            <div if="model.bookshareLink" class="option">
                <a href="{model.bookshareLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fa fa-volume-up"></span>
                    <span class="text">
                        Bookshare
                    </span>
                </a>
            </div>
            <if condition="model.ibookLink">
                <div if="model.ibookLink2" class="option">
                    <span class="option-header">
                        <span class="fab fa-apple"></span>
                        <span class="text">
                            Download on iBooks
                        </span>
                    </span>
                    <a href="{model.ibookLink}"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        Part 1
                    </a>
                    <a href="{model.ibookLink2}"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        Part 2
                    </a>
                </div>
                <div if="!model.ibookLink2" class="option">
                    <a href="{model.ibookLink}"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        <span class="fab fa-apple"></span>
                        <span class="text">
                            Download on iBooks
                        </span>
                    </a>
                </div>
            </if>
            <div if="model.kindleLink" class="option">
                <a href="{model.kindleLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fab fa-amazon"></span>
                    <span class="text">
                        Download for Kindle
                    </span>
                </a>
            </div>
        </div>
    </div>
</template>
