<style scoped>
    @import url(/app/components/get-this-title/get-this-title.css);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
</style>
<div class="get-this-title">
    <div class="options">
        {{#if webviewLink}}
            <div class="option">
                <a href="{{webviewLink}}">
                    <span class="fa fa-laptop"></span>
                    View online
                </a>
            </div>
        {{/if}}
        {{#if pdfLink}}
            <div class="option">
                <a href="{{pdfLink}}">
                    <span class="fa fa-cloud-download"></span>
                    Download a PDF
                </a>
            </div>
        {{/if}}
        {{#if printCopy}}
            <div class="option">
                <span class="fa fa-book"></span>
                Order a print copy
            </div>
        {{/if}}
        {{#if daisyLink}}
        <div class="option">
            <span class="fa fa-wheelchair"></span>
            DAISY or BRF
        </div>
        {{/if}}
        {{#if ibookLink}}
            <div class="option">
                <a href="{{ibookLink}}">
                    <span class="fa fa-bookmark-o"></span>
                    iBook
                </a>
            </div>
        {{/if}}
    </div>
</div>
