@import 'mixins';
@import '../../node_modules/pattern-library/core/pattern-library/headers';



.get-this-title {
    .remover {
        @include set-font(h3);
        @include absolute(top 0 right 0);

        cursor: pointer;
        text-align: center;
    }

    .submenu {
        position: relative;

        p {
            color: text-color(helper);
        }

        &.pdf .pdf-submenu,
        &.print .print-submenu {
            height: auto;
            opacity: 1;
            transform: scale3d(1, 1, 1);
            width: auto;

        }

        .pdf-submenu,
        .print-submenu {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transform: scale3d(0, 0, 0);
            transition: opacity 0.2s;
            width: 0;

        }

        .coming-soon-wrapper {
            align-items: center;
            border: thin solid ui-color(form-border);
            color: text-color(helper);
            display: flex;
            font-weight: 500;
            height: 7rem;
            justify-content: flex-start;
            line-height: normal;
            margin: 1rem 1rem 0 0;
            padding: 0 8rem 0 2rem;
            position: relative;

            .coming-soon {
                border-bottom-left-radius: 1.5rem;
                border-top-left-radius: 1.5rem;
                box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(ui-color(default), 0.4);
                height: 3.2rem;
                position: absolute;
                right: -0.2rem;
                top: 1.2rem;
            }
        }

        button,
        .btn {
            background-color: ui-color(secondary);
            color: text-color(white);
            font-variant: normal;
            padding: 1.5rem;
            text-transform: uppercase;
            width: 100%;

            &:hover,
            &:focus {
                background-color: ui-color(secondary-hover);
            }
        }
    }

    .options {
        margin-bottom: 1rem;
        opacity: 1;
        transition: opacity 0.2s;
    }

    .pdf + .options,
    .print + .options {
        height: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        width: 0;
    }

    .option {
        border-bottom: 0.1rem solid ui-color(form-border);
        padding: 0.5rem;

        &:last-child {
            border-bottom: 0;
        }

        a,
        .option-header {
            display: block;
            padding-left: 3rem;
        }

        a {
            color: text-color(link);

            &:hover {
                color: text-color(link-hover);
            }
        }
    }

    .fa:not(.fa-times) {
        color: darken(os-color(light-blue), 10%);
        margin-left: -3rem;
        transform: scale(1.2);
        width: 2.5rem;
    }
}
