@import 'pattern-library/core/pattern-library/headers';

toc-dialog {
    display: grid;
    grid-gap: 3rem;
    grid-template-rows: auto auto;
    height: calc(100vh - 25.5rem);
    padding: 3rem;

    .toc-region {
        border-bottom: thin solid ui-color(form-border);
        border-top: thin solid ui-color(form-border);
        overflow-y: auto;

        ol {
            font-weight: bold;
            list-style: none;

            .subunit {
                font-weight: normal;
            }
        }
    }

    .btn {
        @extend %button;
        @extend %primary;

        max-width: 17rem;
    }
}
