@import 'pattern-library/core/pattern-library/headers';

dialog.footer-dialog.cookie-footer {
    margin: $normal-margin auto;
    max-width: 117rem;
}

.cookie-notice {
    display: grid;
    gap: 2rem 3rem;
    padding: 2rem;

    @include width-up-to($phone-max) {
        grid-template-columns: 1fr 1fr;

        .message {
            grid-column: 1 / -1;
        }
    }

    @include wider-than($phone-max) {
        grid-auto-flow: column;
        padding: 2rem;
    }

    .message {
        max-width: $text-content-max;

        a {
            text-decoration: none;
        }
    }

    button,
    .btn {
        @extend %button;

        &.primary {
            @extend %primary;

            @include width-up-to($phone-max) {
                justify-self: start;
            }

            @include wider-than($phone-max) {
                align-self: center;
                justify-self: end;
            }
        }
    }
}
