@import 'pattern-library/core/pattern-library/headers';

.footer-style {
    align-self: flex-end;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
    margin: $normal-margin;
    max-width: none;
    position: fixed;
    width: calc(100vw - 3rem);
}

.cookie-notice {
    display: grid;
    grid-row-gap: 3rem;
    padding: 3rem;

    @include width-up-to($phone-max) {
        grid-template-columns: 1fr 1fr;

        .message {
            grid-column: 1 / -1;
        }
    }

    @include wider-than($phone-max) {
        grid-auto-flow: column;
        padding: 5rem;
    }

    .message {
        max-width: $text-content-max;

        a {
            text-decoration: none;
        }
    }

    button,
    .btn {
        @extend %button;

        &.primary {
            @extend %primary;

            padding-left: 6rem;
            padding-right: 6rem;
            justify-self: end;
        }
    }
}
