@import 'pattern-library/core/pattern-library/headers';

.dropdown {
    position: relative;
}

// This is necessary to allow the menu to be wider than the header item
.dropdown-container {
    height: 0;
    min-width: 20rem;
    overflow: visible;
    position: absolute;
}

// Keeps rightmost menu from hanging off the screen
.rightmost .dropdown-container {
    right: -100%;

    @include width-up-to($tablet-max) {
        right: auto;
    }
}

.dropdown-menu {
    @include set-font(body-regular);

    background-color: ui-color(white);
    color: os-color(gray);
    display: none;
    left: 0;
    padding: 1rem;
    width: auto;

    @include wider-than($tablet-max) {
        box-shadow: 0 0.5rem 0.5rem 0 rgba(black, 0.1);
    }

    // inline-block allows width control
    &[aria-expanded="true"] {
        display: inline-block;
        height: auto;
        opacity: 1;
        transition: opacity 0.3s;

        @include width-up-to($tablet-max) {
            padding-left: 101.5rem;
        }
    }

    a {
        color: os-color(gray);
        display: block;
    }

    // scss-lint:disable SelectorDepth
    a:focus,
    a:hover {
        color: text-color(link-hover);
    }
    // scss-lint:enable SelectorDepth
}
