@import 'pattern-library/core/pattern-library/headers';

.home.page .banner {
    background-color: #dbf3f8;
    position: relative;
    z-index: 1;

    .boxed {
        @include width-up-to($phone-max) {
            padding-bottom: 0;
        }

        @include wider-than($phone-max) {
            padding-bottom: 11rem;
        }
    }

    .right-bg {
        max-height: none;
        max-width: none;

        @include width-up-to($phone-max) {
            background-size: contain;
            bottom: -10vw;
            height: 70vw;
            left: -6vw;
            margin-top: -10vw;
            width: 115vw;
            position: relative;
        }
        @include wider-than($phone-max) {
            background-position: left bottom;
            height: 116%;
            top: -2rem;
            width: 50%;
        }
    }

    .text-block {
        @include wider-than($phone-max) {
            max-width: 57rem;
            width: 50%;
        }
    }
}
