@import 'pattern-library/core/pattern-library/headers';

.banner-carousel {
    display: table-row;
    height: 100%;
    position: relative;
    width: 100%;

    .frame-control {
        align-items: center;
        // background-color: rgba(ui-color(black), 0.2);
        border-radius: 1.4rem;
        border-spacing: 0.1rem;
        bottom: 0;
        display: grid;
        left: 50vw;
        position: absolute;
        transform: translateX(-50%);

        .dots {
            display: table-row;

            > div {
                display: table-cell;
            }

            .dot {
                background-color: transparent;
                border: thin solid text-color(helper);
                border-radius: 50%;
                margin: 0 0.8rem 0.26rem;
                transform: scale(0.90, 0.90);
                vertical-align: middle;

                &.active {
                    background-color: os-color(gold);
                    transform: scale(1, 1);
                }
            }
        }
    }

    .image-row {
        display: grid;
        grid-template-columns: repeat(6, 100vw);
        height: 100%;
        position: absolute;

        > * {
            background-position: left center;
            background-size: cover;
            height: 50vw;
            width: 100vw;
        }
    }
}
