@import 'pattern-library/core/pattern-library/headers';

.banner-carousel {
    height: 100%;
    overflow-x: hidden;
    position: relative;

    .frame-control {
        align-items: center;
        border-spacing: 0.1rem;
        bottom: 0;
        display: grid;
        left: 50vw;
        position: absolute;
        transform: translateX(-50%);

        @include wider-than($tablet-max) {
            background-color: rgba(ui-color(white), 0.33);
            border-radius: 1.4rem;
            bottom: auto;
            top: calc(50vw - 6rem);
        }

        .dots {
            display: table-row;

            > div {
                display: table-cell;
            }

            .dot {
                background-color: transparent;
                border: thin solid text-color(helper);
                border-radius: 50%;
                margin: 0 0.8rem 0.26rem;
                transform: scale(0.90, 0.90);
                vertical-align: middle;

                &.active {
                    background-color: os-color(gold);
                    transform: scale(1, 1);
                }
            }
        }
    }

    .image-row {
        display: flex;
        height: 100%;
        position: relative;
        width: fit-content;

        > * {
            background-position: left center;
            background-size: cover;
            height: 50vw;
            width: 100vw;
        }
    }
}
