@import 'pattern-library/core/pattern-library/headers';

.rover.page .info-pane {
    padding: 2rem 0 6rem;

    .cards {
        margin: 4rem 0;

        @include wider-than($phone-max) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .card {
        align-items: center;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        grid-row-gap: 2rem;
        grid-template-rows: 5rem auto 1fr;
        justify-items: center;
        padding: 0;
        text-align: center;
    }
}
