@import 'variables';

.confirmation-page {

    .subhead {
        padding-bottom: 8rem;

        a {
            color: color(yellow);
        }
    }

    .strips {
        margin-bottom: 0;
    }

}
