<div class="finished-no-verify no-style page">
    {{{strips}}}
    <div class="boxed">
        <h1>Thanks.</h1>
        <p>
            If you need faculty-only resources, you will need to get your account
            verified.
        </p>
    </div>
</div>
