{{#if hasImage}}<div class="image"></div>{{/if}}
<div class="quote">
    <blockquote>{{{quoteHtml}}}</blockquote>
    {{#if linkText}}
    <a class="btn btn-orange" href="{{linkUrl}}">{{linkText}}</a>
    {{/if}}
</div>
