<span class="remover">&times;</span>
<h2>Choose PDF</h2>
<a href="{{hiRes}}" class="btn">High Resolution</a>
<p>Better images, but a large file and a longer download time</p>
{{#if loRes}}
<a href="{{loRes}}" class="btn">Low Resolution</a>
<p>Same content and shorter download, but some lower resolution images</p>
{{else}}
<p>Low resolution not available</p>
{{/if}}
