@import 'pattern-library/core/pattern-library/headers';
@import '../common';

.add-institution,
.add-book {
  background-color: ui-color(default);
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-grid;
  padding: 1rem;
}

.add-book {
  align-self: center;
  font-size: inherit;
  grid-row-gap: 1rem;
  text-align: center;

  .plus-box {
    font-size: 1.8rem;
    height: 16rem;
    width: 16rem;
  }
}

.plus-box {
  @extend %icon;
}
