<template args="model">
    <label if="model.label" class="field-label">{model.label}</label>
    <label if="model.longLabel" class="field-long-label">{model.longLabel}</label>
    <label if="model.instructions" class="hint">{' ' + model.instructions}</label>
    <div each="item in model.options" class="checkbox-control-group">
        <label>
            <if condition="item.value">
                <input type="checkbox"
                    name="{model.name}"
                    value="{item.value}">
            <else>
                <input type="checkbox">
            </if>
            {item.label}
        </label>
    </div>
    <div class="invalid-message">{model.validationMessage(model.name)}</div>
</template>
