@import 'pattern-library/core/pattern-library/headers';

.headline-paginator {
    display: grid;
    grid-row-gap: 4rem;

    .nav-buttons {
        display: flex;
        justify-content: space-between;

        > div {
            align-items: center;
            display: grid;
            grid-gap: 0.8rem;
            grid-template-columns: auto 1fr;
        }

        [role="presentation"] {
            opacity: 0.5;
        }
    }
}
