@import 'pattern-library/core/pattern-library/headers';

.transition-popup {
    background-color: ui-color(white);
    background-image: url('/images/rover-by-openstax/popup-mobile-bg.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    border-radius: 0.4rem;
    color: text-color(normal);
    max-width: 140rem;
    overflow: hidden;
    padding: 3rem;
    position: relative;
    width: 100%;

    @include width-up-to($phone-max) {
        background-size: 35vw;
        padding-bottom: 9rem;
        padding-top: 4rem;
    }

    @include width-between($phone-max, $tablet-max) {
        background-size: 35vw;
    }

    @include wider-than($tablet-max) {
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: auto 118%;
        padding-left: 51rem;
    }

    @include width-between($tablet-max, $media-content-max) {
        background-position: calc(100vw - 120rem) bottom;
    }

    h2 {
        @include set-font(h2);

        @include width-up-to($phone-max) {
            @include title-font(2.4rem);

            line-height: 3rem;
        }
    }

    .text-content {
        text-align: center;
        padding: 6rem 0;

        @include width-up-to($phone-max) {
            padding: 2.5rem 0;
        }

        > * {
            margin: 0;
        }

        > * ~ * {
            margin-top: 3rem;

            @include width-up-to($phone-max) {
                margin-top: 1rem;
            }
        }
    }

    .close-popup {
        cursor: pointer;
        font-size: 2.4rem;
        padding-right: 0.5rem;
        position: absolute;
        right: 2.5rem;
        top: 2.5rem;
    }

    .button-area {
        align-items: center;
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 2rem;
        grid-template-columns: 100%;
    }

    .btn {
        @include width-up-to($phone-max) {
            padding: 1rem;
        }
    }
}
