@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

$orange-bg: rgb(255, 128, 73);

.rover-by-openstax #getting-started {
    @extend %light-on-dark;

    background-image: url('/images/rover-by-openstax/orange-bg.svg');
    background-position: -0.2rem bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: text-color(white);
    position: relative;

    @include width-up-to($phone-max) {
        padding-top: 6rem;
    }

    @include wider-than($phone-max) {
        padding-top: calc(8rem + 4vw);
    }

    .boxed {
        align-items: flex-start;

        >* ~ * {
            @include width-up-to($phone-max) {
                margin-top: $normal-margin;
            }

            @include wider-than($phone-max) {
                margin-top: 4rem;
            }
        }

        h2 {
            margin: 0;
        }
    }

    .cards {
        display: grid;
        grid-gap: $normal-margin;
        grid-template-columns: repeat(auto-fit, minmax(46rem, 1fr));
        padding: 0;
        width: 100%;

        @include width-up-to($phone-max) {
            grid-template-columns: 100%;
        }
    }

    .text-left-image-right {
        background-color: ui-color(white);
        border-radius: 0.4rem;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
        color: text-color(normal);
        display: grid;
        grid-gap: $normal-margin;
        justify-content: left;
        padding: $normal-margin;

        @include width-up-to($tablet-max) {
            grid-template-columns: 100%;
        }

        @include wider-than($tablet-max) {
            grid-template-columns: minmax(auto, 60%) auto;
        }

        iframe {
            width: 100%;
        }
    }

    .right-bottom {
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .edge-mask {
            background-color: ui-color(white);
            bottom: 1.5vw;
            height: 2rem;
            position: absolute;
            transform: rotate(-1.8deg) translateY(80%);
            width: 100%;
        }

        img {
            bottom: calc(3vw - 0.5rem);
            max-width: 100%;
            position: relative;
        }
    }
}
