@import 'variables';
@import 'mixins';

$text-dark2: rgba(0, 0, 0, 0.7);

.partners-page {
    line-height: 3rem;

    .container {
        align-items: left;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: $boxed-width;
        padding: 0 1.5rem;

        @include desktop {
            align-items: center;
        }
    }

    .hero {
        background-color: color(green);
        color: color(neutral-lightest);
        padding-bottom: 11rem;

        h1 {
            color: inherit;
            margin-bottom: 0.5em;
        }

        p {
            @include constrained-variable-text(1.8, 0.2);
        }

        .ally-logo {
            // border: solid color(neutral-lightest) 0.15em;
            border-radius: 0.15em;
            display: block;
            height: 100%;
            margin-top: 2rem;
            width: calc(15rem + 5%);
        }

        .logo-text {
            margin-top: 0.6em;
        }
    }

    h3 {
        margin-bottom: 0;
    }

    .icons {
        color: color(gray);
        display: block;
        font-weight: 500;
        margin: 0 auto;
        min-height: 10rem;
        position: relative;
        width: 100%;

        a {
            color: inherit;
        }

        .container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding-top: 9rem;
        }

        .logo {
            min-width: 22rem;
            padding: 4rem;

            &.hidden {
                display: none;
            }

            &.spacer {
                padding: 0;
            }

            a {
                transition: All ease-in-out 0.3s;

                &:hover,
                &:focus {
                    opacity: 0.7;
                }
            }

            .logo-text,
            img {
                max-height: 7.5rem;
                max-width: 14rem;
            }
        }
    }

    .divider {
        margin: 0 auto;

        > hr {
            border: 0;
            border-bottom: solid 3px color(neutral-lighter);
            width: 100%;
        }
    }

    .blurbs {
        align-items: center;
        background-color: color(neutral-lightest);
        font-weight: 400;
        margin-bottom: 1.5rem;

        @include tablet {
            padding: 3rem calc(34.7vw - 16rem);
        }

        @include desktop {
            padding: 3rem 11.5rem;
        }

        .text {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 100%;

            &.hidden {
                display: none;
            }

            p {
                width: 100%;
            }
        }

        a {
            font-weight: 500;
        }
    }

    .filter {
        padding: 0.2rem 0;
        width: 100%;
    }
}
