@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.partners.page {
    --background-url: url('/dist/images/partners/header-right.jpg');
    background-color: ui-color(white);

    .above-the-banner {
        background-color: #d9edf7;
        color: #31708f;

        .content {
            @extend %content;

            align-items: center;
            display: flex;
            justify-content: space-between;
            line-height: normal;

            @include width-up-to($phone-max) {
                padding-bottom: $normal-margin;
                padding-top: $normal-margin
            }

            @include wider-than($phone-max) {
                padding-bottom: 0.6rem;
                padding-top: 0.6rem;
            }

            .put-away {
                background-color: inherit;
                color: inherit;
                margin-left: $normal-margin;

                @include width-up-to($phone-max) {
                    align-self: start;
                    padding-top: 0;
                }
            }
        }
    }

    .banner {
        background-image: var(--background-url);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 55%;
        border-bottom: thin solid os-color(green);
        padding-bottom: 8rem;
        position: relative;

        @include width-up-to($tablet-max) {
            background-image: none;
        }

        a {
            color: adjust-color(text-color(link), $lightness: + 30%);

            &:hover {
                color: adjust-color(text-color(link-hover), $lightness: + 25%);
            }
        }

        .button-row {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }

        a.btn {
            @include button();

            &.primary {
                @extend %primary;
            }
        }

        .boxed {
            display: block;

            .text-block {
                text-align: left;

                @include wider-than($tablet-max) {
                    max-width: 57rem;
                    width: 50%;    
                }
            }
        }

        h1 {
            @include set-font(h1);
            margin-bottom: 3rem;
        }
    }

    > section {
        padding-left: $normal-margin;
        padding-right: $normal-margin;
    }

    h2 {
        text-align: center;
    }

    @include width-up-to($phone-max) {
        .desktop {
            display: none;
        }
    }

    @include wider-than($phone-max) {
        .mobile {
            display: none;
        }
    }

    .padding {
        @include wider-than($phone-max) {
            padding: 0 $normal-margin;
        }
    }
}
