@import 'pattern-library/core/pattern-library/headers';

.webinars.page {
    .card-grid {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, 37rem);
    }

    .card {
        @extend %card;

        display: grid;
        padding: 2rem 3rem;

        h3 {
            @include set-font(h4);

            margin: 0;
        }

        &:not(:hover) {
            h3 {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }
        }

        &.past {
            gap: $normal-margin;
            grid-template-rows: auto 1fr auto;
        }

        &.upcoming {
            gap: 3rem;
            grid-template-rows: auto auto 1fr auto auto;

            h3 {
                margin: 0;
            }

            .dated-heading {
                display: grid;
                gap: 2rem;
                grid-template-columns: auto 1fr;

                .date {
                    text-align: center;
                }

                .day-of-month {
                    @include title-font(3.6rem);
                }

                .month {
                    @include title-font(1.6rem);

                    text-transform: uppercase;
                }
            }

            hr {
                height: 0;
                width: 100%;
                border: thin solid ui-color(form-border);
            }

            .speakers-and-spaces {
                .label {
                    font-weight: bold;
                }
            }
        }

        a {
            color: text-color(link);
            text-decoration: none;
        }
    }
}
