@import 'pattern-library/core/pattern-library/headers';

$narrow-tablet: 700px;

.calculator {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    [type=number]::-webkit-outer-spin-button,
    [type=number]::-webkit-inner-spin-button, {
        -webkit-appearance: none;
        margin: 0;
    }

    .intro-paragraph {
        @include set-font(h3);

        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        max-width: 100%;
        text-align: center;
    }

    .input-blocks {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        width: 100%;

        @include width-up-to($narrow-tablet) {
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
        }

        .block {
            flex-basis: 50%;
            height: 37rem;
            margin: 0.1rem;
            max-width: 39rem;
            min-height: 37rem;

            @include width-up-to($narrow-tablet) {
                width: 100%;
            }

        }
    }

    .btn.cta {
        border: 0;
        margin-bottom: 6rem;
        padding: 1.5rem 3rem;
    }

    .block {
        background-color: ui-color(form-bg);
        color: os-color(blue);
        font-weight: bold;
        position: relative;
        vertical-align: top;

        &.active {
            background-color: ui-color(white);
            box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(os-color(gray), 0.1);
            z-index: 1;

            .active-indicator {
                border-top-color: ui-color(form-border);
            }
        }

        .input-zone {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 7rem;
        }

        .dollar-input {
            position: relative;

            > span {
                @include set-font(h3);

                position: absolute;
                top: 20%;

                &.placeholder {
                    opacity: 0.2;
                }
            }
        }

        .giant {
            background-color: transparent;
            border: 0;
            color: inherit;
            font-family: inherit;
            font-size: 560%;
            font-weight: inherit;
            height: auto;
            outline: none;
            padding: 0;
            text-align: center;
            width: 1.55em;

            &::placeholder {
                color: inherit;
                opacity: 0.2;
            }

            &.w1-chars {
                width: 1em;
            }

            &.w3-chars {
                width: 2.1em;
            }

            &.w4-chars {
                width: 2.65em;
            }
        }

        .instructions {
            color: text-color(helper);
            font-weight: normal;
            max-width: 100%;
            text-align: center;
        }

        .active-indicator {
            align-items: center;
            border-top: thin solid ui-color(white);
            bottom: 0;
            display: flex;
            height: 9rem;
            justify-content: flex-end;
            padding: 2rem;
            position: absolute;
            width: 100%;
        }
    }

    .output {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 12rem;
        max-width: 78rem;
        transition: opacity 0.3s ease-in-out;
        width: 100%;

        @include width-up-to($phone-max) {
            margin-bottom: 6rem;
        }

        &.hidden {
            opacity: 0;
        }

        .savings {
            align-items: center;
            background-image: url('/images/components/confetti.svg');
            background-position: center 40%;
            background-size: cover;
            display: flex;
            flex-basis: 63vw;
            flex-direction: column;
            justify-content: center;

            @include wider-than($tablet-max) {
                flex-basis: 50rem;
            }

            .text {
                align-items: flex-start;
                display: flex;
                flex-direction: row;
                justify-content: center;
                line-height: 1;

                @include width-up-to($phone-max) {
                    transform: scale(0.7);
                }
            }

            .giant {
                @include set-font(h1);
                width: auto;
            }

            .raised {
                margin-top: 0.5rem;
            }
        }

        .share {
            align-items: center;
            background-color: os-color(blue);
            color: ui-color(white);
            display: flex;
            flex-direction: column;
            padding: 4rem;
            text-align: center;
            width: 100%;
        }
    }
}
