<template args="model">
    <div class="columns">
        <div class="column formats">
            <div class="cell">Formats</div>
            <div class="cell">E-book Only</div>
            <div class="cell">Printed Text Only</div>
            <div class="cell">Printed Text + Online Resources</div>
            <div class="cell">E-book + Online Resources</div>
        </div>
        <div class="column zoomed">
            <div class="cell">OpenStax Prices</div>
            <div class="cell">$<span class="non-input">{model.ebook.osPrice}</span></div>
            <div class="cell">$<spinner data-item="print.osPrice" skip="true"></spinner></div>
            <div class="cell">$<spinner data-item="printPlus.osPrice" skip="true"></spinner></div>
            <div class="cell">$<spinner data-item="ePlus.osPrice" skip="true"></spinner></div>
        </div>
        <div class="column">
            <div class="cell">Traditional Prices</div>
            <div class="cell">$<spinner data-item="ebook.price" skip="true"></spinner></div>
            <div class="cell">$<spinner data-item="print.price" skip="true"></spinner></div>
            <div class="cell">$<spinner data-item="printPlus.price" skip="true"></spinner></div>
            <div class="cell">$<spinner data-item="ePlus.price" skip="true"></spinner></div>
        </div>
        <div class="column">
            <div class="cell">Number of Students</div>
            <div class="cell"><spinner data-item="studentCount" skip="true" /></div>
            <div class="cell">{model.studentCount}</div>
            <div class="cell">{model.studentCount}</div>
            <div class="cell">{model.studentCount}</div>
        </div>
        <div class="column">
            <div class="cell">Savings Over Three Years</div>
            <div class="cell">{model.ebook.savings()}</div>
            <div class="cell">{model.print.savings()}<span class="footnote"></span></div>
            <div class="cell">{model.printPlus.savings()}</div>
            <div class="cell">{model.ePlus.savings()}</div>
        </div>
    </div>
    <div class="table-notes">
        <p>
            Use as a guide; price varies widely by source and local markets.
            OpenStax College printed cost based on on-demand printing of
            <i>College Physics</i>
        </p>
        <p>
            <sup>*</sup>Assumes students will be able to purchase
            used copies, 10% used in year 1, 50% in year 2, 75% in year 3.
        </p>
    </div>
</template>
