<template args="model">
    <div class="intro-paragraph">
        Calculate how much your students will save this year
    </div>
    <div class="input-blocks">
        <div class="{`cost block ${model.activeBlock === 'dollars' ? 'active' : ''}`}">
            <div class="input-zone">
                <div class="dollar-input">
                    <span>$</span>
                    <input class="{`giant ${model.widthClass.dollars}`}" name="dollars" type="number" placeholder="00" min="1" />
                </div>
                <div class="instructions">Enter your previous book cost</div>
            </div>
            <div class="active-indicator">
                <if condition="model.isValid.dollars">
                    <img src="/images/components/green-checked-radio.png" />
                <else>
                    <img src="/images/components/unchecked-radio.png" />
                </if>
            </div>
        </div>
        <div class="{`student block ${model.activeBlock === 'students' ? 'active' : ''}`}">
            <div class="input-zone">
                <input class="{`giant ${model.widthClass.students}`}" name="students" type="number" placeholder="00" min="1" />
                <div class="instructions">
                    The number of students you teach  each academic year
                </div>
            </div>
            <div class="active-indicator">
                <if condition="model.isValid.students">
                    <img src="/images/components/green-checked-radio.png" />
                <else>
                    <img src="/images/components/unchecked-radio.png" />
                </if>
            </div>
        </div>
    </div>
    <if condition="model.isValid.dollars && model.isValid.students">
        <button class="btn cta calculate">Calculate</button>
        <div if="model.calculated" class="output">
            <div class="savings block">
                <div class="text">
                    <span class="raised">$</span>
                    <span class="giant">{model.product().toLocaleString()}</span>
                </div>
                <div>Pretty amazing!</div>
            </div>
            <div class="share">
                <div class="text">
                    Spread the word and join the textbook revolution
                </div>
                <div class="buttons">
                    <button class="facebook btn">Facebook</button>
                    <button class="twitter btn">Twitter</button>
                    <button class="linkedin btn">LinkedIn</button>
                </div>
            </div>
        </div>
    </if>
</template>
