@import 'pattern-library/core/pattern-library/headers';

pop-up {

    .overlay {
        align-items: center;
        background-color: rgba(os-color(gray), 0.8);
        bottom: 0;
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5000;
    }

    [role="dialog"] {
        align-items: flex-start;
        background-color: ui-color(white);
        display: flex;
        flex-direction: column;
        max-width: 80rem;
        padding: 2rem 2.5rem;

        p {
            margin: 0 0 2rem;
        }

        button {
            @include button(primary);
        }
    }

}
