<style scoped>@import url(/app/pages/faculty-verification/faculty-verification.css);</style>
<h1>Instructor Verification</h1>
<div class="faculty-verification">
    <p class="subhead">
        A verified instructor account at OpenStax gives you access to all
        instructor-only resources for our books, like test banks, answer
        guides, and more. We manually verify all instructor account requests,
        so you’ll hear back in three to four business days about your
        approval. Fill out and the information below to get started!
    </p>
    <div>
        <form accept-charset="UTF-8"
         action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post">
            <div>
                <input name="utf8" type="hidden" value="✓" />
                <!-- This is our organization id -->
                <input type=hidden name="oid" value="00DU0000000Kwch">
                <input type=hidden name="retURL" value="{{urlOrigin}}/faculty-confirmation">
                <input type=hidden name="lead_source" value="OSC Faculty">
            </div>
            <fieldset class="labeled-inputs">
                <label>
                    <span>First name</span>
                    <input name="first_name" type="text" required />
                </label>
                <label>
                    <span>Last name</span>
                    <input name="last_name" type="text" required />
                </label>
                <label>
                    <span>School</span>
                    <input name="company" type="text" required />
                </label>
                <label>
                    <span>Phone</span>
                    <input name="phone" type="text" required />
                </label>
                <label>
                    <span>College website URL</span>
                    <input name="URL" type="text" required />
                </label>
                <label>
                    <span>Official institutional email address</span>
                    <input name="email" pattern="[^@]+@([^@\.]+\.)+[^@\.]+" type="text" required />
                    <p class="note">A verification email will be sent to this address</p>
                </label>
                <label>
                    <span>Number of students this semester</span>
                    <input name="00NU00000052VId" type="number" min="1" required />
                </label>
            </fieldset>
            <div>
                <input type="submit" value="Submit" role="button" />
            </div>
        </form>
    </div>
</div>
