@import 'variables';
@import 'mixins';

@mixin collapsed {
    @media (max-width: 760px) {
        @content;
    }
}

@mixin expanded {
    @media (min-width: 761px) {
        @content;
    }
}

@mixin widescreen {
    @media (min-width: 1281px) {
        @content;
    }
}

.education-banner {
    background-image: url('/images/home/education/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw 47.5vw;
    height: 47.5vw;
    overflow: hidden;
    position: relative;

    @include collapsed {
        background-size: cover;
        height: auto;

        > div {
            display: flex;
            flex-direction: column;
        }
    }

    .square-1,
    .square-2,
    .student,
    .quote,
    .links {
        @include expanded {
            position: absolute;
        }
    }

    .square-1,
    .square-2 {
        background-color: rgba(color(blue), 0.2);
        position: absolute;
        z-index: 0;

        @include collapsed {
            display: none;
        }
    }

    .square-1 {
        height: 8.14vw;
        left: 13.93vw;
        top: 36.07vw;
        width: 23.79vw;
    }

    .square-2 {
        height: 35.36vw;
        left: 47.78vw;
        top: 2.86vw;
        width: 43.5vw;
    }

    .student {
        background-image: url('/images/home/education/student.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 43.36vw 47.5vw;
        bottom: 0;
        left: calc(50rem - 5vw);
        top: 0;
        width: 43.36vw;
        z-index: 2;

        @include widescreen {
            left: 33.07vw;
        }
    }

    .quote {
        background-color: rgba(color(cyan), 0.7);
        color: color(neutral-lightest);
        padding: 2vw 2.5vw;
        z-index: 1;

        @include collapsed {
            background-color: rgba(color(cyan), 0.9);
            padding: 9.375vw 6.25vw;
        }

        @include expanded {
            height: 26.64vw;
            left: 7.86vw;
            top: 6.07vw;
            width: calc(61rem - 5vw);
        }

        @include widescreen {
            width: 42.64vw;
        }

        .opening {
            display: block;
            font-size: calc(0.8rem + 1.08vw);
            max-width: calc(49rem - 5vw);

            @include collapsed {
                font-size: 2.4rem;
            }

            @include widescreen {
                font-size: 1.85vw;
                max-width: 33vw;
            }
        }

        .blurb {
            display: block;
            font-size: calc(0.5rem + 1.08vw);
            max-width: calc(49rem - 5vw);

            @include collapsed {
                font-size: 1.8rem;
            }

            @include widescreen {
                font-size: 1.35vw;
                max-width: 33vw;
            }
        }

        > strong {
            color: color(yellow);
            display: block;
            font-size: calc(1.5rem + 3.5vw);
            line-height: calc(1.7rem + 3.5vw);
            max-width: calc(49rem - 5vw);

            @include collapsed {
                font-size: 6.9rem;
                line-height: 0.9;
                margin-bottom: 1rem;
            }

            @include widescreen {
                font-size: calc(5.3rem + 1.35vw);
                line-height: calc(5.5rem + 1.35vw);
                max-width: 33vw;
            }
        }
    }

    .links {
        left: 0;
        right: 0;
        top: 34.43vw;
        z-index: 3;

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;

            @include collapsed {
                align-items: stretch;
                display: flex;
                flex-direction: column;
                left: 0;
            }
        }

        .btn {
            box-shadow: 0 0 1rem rgba(color(neutral-dark), 0.5);
            height: 7.88vw;
            margin: 0 1.15vw;
            min-height: 10.5rem;
            min-width: 37rem;
            padding: 1.5rem 2.5rem;
            text-align: left;
            text-transform: none;
            width: 27.76vw;

            @include collapsed {
                display: block;
                margin: 0;
                padding: 2.5rem 3.5rem;
                width: auto;
            }

            .title {
                display: block;
                font-size: 2.4rem;
            }

            &.higher-ed > .title {
                color: color(yellow);
            }

            &.k-12 > .title {
                color: color(orange);
            }

            .blurb {
                font-weight: 400;
            }
        }
    }
}
