@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

$girl-breakpoint: 60em * $scale-factor;
$button-breakpoint: 100em * $scale-factor;

.education {
    @include wider-than($girl-breakpoint) {
        height: 71rem;
        position: relative;
        width: 100%;
    }
}

.education-banner {
    background-attachment: local;
    background-image: url('/images/home/education/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include wider-than($girl-breakpoint) {
        height: 71rem;
        width: 100%;
    }

    .container {
        height: 100%;
        margin: 0 auto;
        max-width: $content-max;
        overflow: hidden;
        padding: 3rem 4.5rem;
        position: relative;
    }

    .quote {
        @extend %light-on-dark;

        background-color: rgba(os-color(light-blue), 0.8);
        border-radius: 0.3rem;
        color: text-color(white);
        margin-bottom: 1.5rem;
        padding: 3rem;
        position: relative;
        top: 5rem;
        width: 100%;

        @include wider-than($girl-breakpoint) {
            width: calc(100% - 9rem);
        }


        &::before,
        &::after {
            background-color: rgba(os-color(light-blue), 0.2);
            border-radius: 0.3rem;
            content: '';
            height: 28.7rem;
            position: absolute;
            width: 35.9rem;
        }

        &::before {
            bottom: -3rem;
            left: -3rem;
        }

        &::after {
            top: -3rem;
            right: -3rem;
        }

        > * {
            position: relative;
            z-index: 1;
        }

        > :first-child {

            @include wider-than($phone-max) {
                max-width: calc(70% - 11rem);
            }

            @include wider-than($button-breakpoint) {
                max-width: calc(100% - 32rem);
            }

            > p:first-child {
                @include set-font(h3);
                font-weight: normal;
                letter-spacing: normal;
                margin: 0;
            }

            h3 {
                @include set-font(h1);
                color: os-color(yellow);
                margin: 1rem 0;

                @include wider-than($tablet-max) {
                    width: 37rem;
                }

            }

            > p:last-child {
                @include body-font(2rem);
                margin: 1.5rem 0;
            }
        }

        .btn {
            @extend %button;
            @extend %primary;

            margin-top: 3rem;
        }
    }

    .student,
    .quote {
        @include wider-than($girl-breakpoint) {
            position: absolute;
        }
    }

    .student {
        @include width-up-to($phone-max) {
            display: none;
        }

        @include wider-than($phone-max) {
            background-image: url('/images/home/education/student.png');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 100% auto;
            bottom: -1rem;
            height: 105%;
            right: calc(-12rem + 12%);
            width: calc(15rem + 30%);
            z-index: 2;
        }

        @include wider-than($button-breakpoint) {
            background-position: right bottom;
            background-size: auto 100%;
            right: 0;
            width: 60rem;
        }
    }
 }
