<img src="{{coverUrl}}" alt="book cover" />
<div class="details">
    <div class="get-this-title-container"></div>
    <div class="cta">
        <a href="/details?{{slug}}" class="btn">details and resources</a>
    </div>
</div>
