@import '../../node_modules/pattern-library/core/pattern-library/headers';

$form-element-height: 5rem;

select {
    display: none;
}

.select {
    align-items: center;
    background-color: white;
    border: thin solid rgba(os-color(gray), 0.33);
    color: text-color(normal);
    cursor: pointer;
    display: flex;
    height: $form-element-height;
    padding-right: $form-element-height;
    position: relative;

    &::before {
        background-color: ui-color(default);
        content: '';
        display: block;
        height: $form-element-height;
        max-height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: $form-element-height;
    }

    &::after {
        color: os-color(gray);
        position: absolute;
        right: 1.2rem;
        text-align: center;
        top: 0.8rem;
        transform: rotate(90deg);
        transform-origin: 63% 55%;
        transition: All 0.2s ease-in-out;
        width: 2rem;
    }

    &.open::after {
        transform: rotate(270deg);
    }

    &.select-multi {
        height: auto;
        min-height: 4.8rem;
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0 1rem 0.9rem;

        > li {
            display: inline-block;
            margin-right: 0.9rem;
            padding-top: 0.9rem;
        }
    }

    .tags {
        > .tag {
            display: inline-block;
            margin: 0.84rem 0 0.84rem 0.84rem;
        }

        .label,
        .remover {
            display: inline-block;
            padding: 0 1rem;
        }

        .label {
            background-color: rgba(os-color(gray), 0.2);

            &.none {
                background-color: transparent;
                color: text-color(helper);
                font-weight: 500;
                margin-left: -1rem;
            }
        }

        .remover {
            background-color: os-color(light-blue);
            color: text-color(white);
            cursor: cursor;
        }
    }

    .item {
        font-weight: 500;
        padding: 1rem;

        &.none {
            color: text-color(helper);
        }
    }

    .options {
        background-color: ui-color(white);
        border-bottom-color: os-color(light-blue);
        border-left-color: rgba(os-color(gray), 0.33);
        border-right-color: rgba(os-color(gray), 0.33);
        border-style: solid;
        border-top-color: ui-color(white);
        border-width: 0.1rem;
        box-shadow: 0 0.2rem 0.3rem rgba(ui-color(default), 0.8);
        cursor: pointer;
        display: none;
        left: 0;
        margin: 0;
        max-height: 20rem;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;

        &.open {
            display: block;
        }

        > .option {
            background-color: ui-color(white);
            font-weight: 600;
            line-height: 1;
            padding: 0.5rem 1rem;
            width: 100%;

            &:hover,
            &.active {
                background-color: ui-color(default-hover);
            }
        }

        &:focus {
            outline: 0;
        }
    }

}
