@import '../../node_modules/pattern-library/core/pattern-library/headers';

.foundation-page {
    line-height: 3rem;

    .hero {
        @include set-font(body-large);
        background-color: os-color(deep-green);
        color: text-color(white);

        h1 {
            color: inherit;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .blurbs {
        background-color: ui-color(form-bg);
        min-height: 10rem;
        padding: 8rem 0;
        position: relative;
    }

    .strips {
        top: 0;
    }

    .funder {
        @include set-font(body-large);

        align-items: left;
        background-color: ui-color(white);
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 1rem;
        padding: 3rem;

        @include wider-than($tablet-max) {
            align-items: center;
            flex-flow: row nowrap;
        }

        h2 {
            @include set-font(h3);
        }

        .logo {
            flex: 0 0 auto;
            margin-bottom: 3rem;

            @include wider-than($tablet-max) {
                flex: 0 0 25%;
                margin-bottom: 0;
                margin-right: 3rem;
            }

            img {
                max-width: 30rem;
                width: 100%;
            }
        }

        .text {
            align-items: flex-start;
            display: block;

            @include width-up-to($phone-max) {
                @include set-font(body-regular);
            }
        }
    }
}
