@import 'variables';
@import 'mixins';

$text-black: rgba(0, 0, 0, 0.87);
$text-black2: rgba(0, 0, 0, 0.7);

.foundation-page {
    line-height: 3rem;

    .hero {
        background-color: color(deep-green);
        color: color(neutral-lightest);

        h1 {
            color: color(neutral-lightest);
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .blurbs {
        background-color: lighten(color(neutral-light), 35%);
        line-height: 2.3rem;
        min-height: 10rem;
        padding: 8rem 0;
        position: relative;
    }

    .strips {
        left: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .funder {
        align-items: left;
        background-color: color(neutral-lightest);
        color: $text-black2;
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding: 3rem;

        @include desktop {
            align-items: center;
            flex-flow: row nowrap;
        }

        h2 {
            font-size: 2rem;
            letter-spacing: -0.08rem;
        }

        .logo {
            flex: 0 0 auto;
            margin-bottom: 3rem;

            @include desktop {
                flex: 0 0 25%;
                margin-bottom: 0;
                margin-right: 3rem;
            }

            img {
                max-width: 30rem;
                width: 100%;
            }
        }

        .text {
            align-items: flex-start;
            display: block;
        }
    }
}
