@import 'pattern-library/core/pattern-library/headers';

dialog .add-book {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include wider-than($phone-max) {
        margin: -1rem 0; // Counters padding in dialog .content
        width: 54rem;
    }

    .instructions {
        @include set-font(helper-label);
    }

    .institution-selector {
        > .control-group {
            margin: 1rem 0 2rem 6rem;
        }
    }

    .checkbox-group {
        margin-top: 0.7rem;
    }

    [type="submit"] {
        @include button();

        &.primary {
            @extend %primary;
        }

        align-self: flex-end;
        padding: 0 3.5rem;
        width: auto;
    }

    .select.with-arrow {
        display: grid;

        .item {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .remove-link {
        align-self: flex-end;
    }
}
