@import 'variables';
@import 'mixins';

@mixin large-screen {
    @media (min-width: 1000px) {
        @content;
    }
}

.adopters-page {

    h1 {
        margin-bottom: 2rem;
        text-align: center;

        @include phone {
            padding-left: 1.5rem;
            text-align: left;
        }
    }

    .adopters {
        column-count: 3;
        column-gap: 5rem;
        font-size: 1.5rem;
        font-weight: 400;
        list-style-type: none;

        @include phone {
            column-count: 1;
            padding-left: 1.5rem;
        }

        @include tablet {
            column-count: 2;
        }

        @include large-screen {
            column-count: 4;
        }
    }

    .adopter {
        line-height: 1.3;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        text-indent: -0.5rem;
    }
}
