@import 'mixins';

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.adopters {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: space-between;
}

.adopter-column {
    display: none;
    padding: 0.5rem;

    @include phone {
        &.one-column {
            display: block;
        }
    }

    @include tablet {
        flex-basis: 30%;

        &.three-column {
            display: block;
        }
    }

    @include desktop {
        flex-basis: 22%;

        &.four-column {
            display: block;
        }
    }

    .adopter {
        line-height: 1.3;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        text-indent: -0.5rem;
    }
}
