@import 'pattern-library/core/pattern-library/headers';

$graytop-border: #f4f4f4;
$graytop-start: #fcfcfc;

detail-block {

    display: flex;
    justify-content: center;

    > div {
        width: 100%;

        @include width-up-to($phone-max) {
            padding: 1rem;
        }

        > .body-block {
            background-color: ui-color(white);
        }
    }

    .info {
        padding: 3rem 4rem;

        @include width-up-to($phone-max) {
            padding: 2rem 1rem;
        }
    }

    .label-value-pair {
        display: table-row;
        height: 4rem;

        @include width-up-to($phone-max) {
            display: block;
            height: auto;
            padding-bottom: 1rem;
        }

        .label,
        .value {
            display: table-cell;
            line-height: normal;
            padding: 1rem 0;
            word-wrap: break-word;

            @include width-up-to($phone-max) {
                display: block;
                line-height: 1.3;
                padding: 0;
            }
        }

        .label {
            color: text-color(helper);
            font-weight: bold;
            text-align: left;
            width: 20rem;

            @include width-up-to($phone-max) {
                width: auto;
            }
        }

        .value {
            max-width: calc(100% - 20rem);

            @include width-up-to($phone-max) {
                max-width: 100%;
            }
        }
    }

    .body-block.graytop {
        background-image: linear-gradient(to bottom, $graytop-start, rgba(ui-color(white), 0) 40%);
        border-top: thin solid $graytop-border;
    }

    .note {
        @include set-font(helper-label);

        color: text-color(helper);
        margin: 1rem 0 4rem 4rem;

        @include width-up-to($phone-max) {
            margin-bottom: 6rem;
            margin-left: 1rem;
        }
    }

}
