@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

.partners .results {
    padding: 0 0 20rem;

    @include wider-than($phone-max) {
        padding-top: 5rem;
    }

    .boxed {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));

        &.grid {
            @include width-up-to($phone-max) {
                justify-content: center;
            }

            @include wider-than($phone-max) {
                justify-content: left;
            }

            .card {
                background-color: ui-color(white);
                border-radius: 0.3rem;
                box-shadow: $card-shadow;
                color: inherit;
                display: grid;
                grid-row-gap: 1rem;
                grid-template: 'image'  8rem
                'title'
                'tags' 1fr
                'rating';
                height: 100%;
                padding: $normal-margin;
                text-decoration: none;

                .logo {
                    align-self: center;
                    grid-area: image;
                    justify-self: center;

                    > img {
                        max-height: 8rem;
                        max-width: 100%;
                    }
                }

                .badge {
                    @extend %verified-badge;

                    align-self: start;
                    grid-area: image;
                    justify-self: end;
                    z-index: auto;
                }

                .resource-title {
                    @include set-font(h4);

                    font-weight: bold;
                    grid-area: title;
                    line-height: normal;
                }

                .tags,
                .stars-and-count {
                    @include body-font(1.2rem);

                    color: text-color(helper);
                }

                .tags {
                    grid-area: tags;
                }

                .stars-and-count {
                    align-items: center;
                    grid-area: rating;
                    display: grid;
                    grid-auto-flow: column;
                    grid-column-gap: 0.7rem;
                    justify-content: left;

                    .stars {
                        color: os-color(yellow);
                        font-size: 75%;
                        padding-bottom: 3%;
                    }
                }
            }
        }
    }
}
