@import 'pattern-library/core/pattern-library/headers';

.partner-details .rating-form {
    width: 100%;

    .text-content {
        display: block;
        padding-bottom: 6rem;

        @include width-up-to($phone-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .back-button {
        float: left;
    }

    h1 {
        @include title-font(1.8rem);

        margin-bottom: 3rem;
        text-align: center;
    }

    .info-button {
        color: os-color(medium-blue);
        margin-left: 1rem;
        display: inline;

        &.with-tooltip:hover > .tooltip {
            border: thin solid ui-color(form-border);
            box-shadow: none;
            color: text-color(normal);

            @include width-up-to($phone-max) {
                position: static;
                width: 100%;

                &[hidden] {
                    display: none;
                }
            }

            // See https://stackoverflow.com/a/36872375/392102
            @include wider-than($phone-max) {
                left: calc(100% + 2rem);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 40rem;

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: auto;
                    right: 100%;
                    top: calc(50% - 1rem);
                    width: 0;
                    height: 0;
                }

                &::before {
                    border: 1rem solid transparent;
                    border-right-color: ui-color(form-border);
                }

                &::after {
                    border: 0.9rem solid transparent;
                    border-right-color: white;
                    transform: translateY(0.1rem);
                }
            }

        }
    }

    .star-selector {
        align-items: center;
        display: grid;
        grid-column-gap: 1rem;
        justify-content: left;
        margin-top: 2rem;

        @include width-up-to($phone-max) {
            grid-row-gap: 1.5rem;
            grid-template-columns: 100%;
        }

        @include wider-than($phone-max) {
            grid-auto-flow: column;
        }
    }

    .stars {
        font-size: 3rem;
        white-space: nowrap;

        [role="button"] {
            position: relative;

            :not(:first-child) {
                position: absolute;
                bottom: 50%;
                left: 0;
                transform: translateY(50%) scale(0.9);
            }
        }

        .full {
            color: os-color(yellow);
        }

        .empty {
            &:first-child {
                color: os-color(light-gray);
            }
            &:not(:first-child) {
                color: ui-color(default);
            }
        }
    }

    textarea {
        border: thin solid ui-color(form-border);
        font-family: inherit;
        font-size: inherit;
        height: 21rem;
        margin: 1rem 0;
        padding: $normal-margin;
        width: 100%;

    }

    .review-form,
    textarea {
        @include wider-than($phone-max) {
            margin-bottom: 3rem;
        }
    }

    .button-row {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr auto auto;

        .required-message {
            color: os-color(red);

            @include width-up-to($phone-max) {
                grid-column: 1 / 4;
            }
        }

        button {
            @include button();

            background-color: transparent;

            &.primary {
                @extend %primary;
            }
        }
    }
}
