<div class="page-intro">
    <div class="text-content subhead">
        <h1>Thanks for contacting us</h1>
        <p>We love hearing from you! We’ve received your message and will get back to you within one business day.</p>
    </div>
</div>

<div class="wrapper">
    {{{strips}}}
    <div class="text-content labeled-inputs row book-info">
        <div class="text-content add-another">
            <h2>
                Have you looked at our books lately?
            </h2>
            <a href="/subjects" title="go back to our books" class="btn">Check out our subjects</a>
        </div>
    </div>
</div>