@import 'pattern-library/core/pattern-library/headers';

.modal.takeover-dialog .takeover-content.desktop-only {
    @include width-up-to($phone-max) {
        display: none;
    }

    @include wider-than($phone-max) {
        display: grid;
        grid-template-columns: calc(75% - 12.2rem) 1fr;
    }

    @include width-between($phone-max, $tablet-max) {
        h1 {
            @include set-font(h2);
            margin: 0;
        }

        .text-side {
            padding: 2rem;
        }
    }

    @include wider-than($tablet-max) {
        h1 {
            @include set-font(hero-h1);
            margin: 0;
        }

        .text-side {
            padding: 4rem;
        }

        .btn {
            height: 7.5rem;
            margin-bottom: 1.5rem;
            padding: 0 4.5rem;
        }
    }

    .text-side,
    .text-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .picture-side {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .message-box {
        position: relative;
        width: 130%;

        .color-fill {
            background-color: os-color(baby-blue);
            height: 100%;
            opacity: 0.8;
            position: absolute;
            width: 100%;
        }

        h2 {
            margin: 0;
        }

        .text-content {
            @include body-font(2.4rem);

            max-width: none;
            position: relative;

            @include width-between($phone-max, $tablet-max) {
                padding: 5rem 2rem;

            }

            @include wider-than($tablet-max) {
                padding: 6rem 4rem;
            }

            h2 {
                @include set-font(h2);

                line-height: 4rem;
            }
        }

    }

    .goal-box {
        border: thin solid ui-color(form-border);
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;

        @include width-between($phone-max, $tablet-max) {
            @include set-font(body-regular);

            .amount {
                @include set-font(h2);
            }

            .countdown-numbers .number {
                @include title-font(2.4rem);
            }
        }

        @include wider-than($tablet-max) {
            @include set-font(body-large);

            .amount {
                @include set-font(hero-h1);
            }

            .countdown-numbers .number {
                @include title-font(3.6rem);
            }
        }

        .timer-side {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 4rem 2rem;
        }

        .message {
            text-transform: uppercase;
        }
    }
}
