@import 'pattern-library/core/pattern-library/headers';

.learn-dropdown .mega-menu {
    min-width: 48rem;
    text-align: left;

    .learn-library-link {
        @include set-font(h4);

        align-items: center;
        color: os-color(blue);
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        margin-bottom: 1.5rem;

        .arrow {
            margin-left: 1rem;
        }
    }

    .learn-subject-grid {
        border-left: 0.2rem solid ui-color(form-border);
        column-gap: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0.5rem 0 0.5rem 1.5rem;
        row-gap: 1.2rem;

        a {
            color: os-color(gray);
            display: block;

            &:focus,
            &:hover {
                color: text-color(link-hover);
            }
        }
    }

    hr {
        border: 0;
        border-top: thin solid ui-color(form-border);
        margin: 1.5rem 0;
    }

    .learn-extra-links {
        display: grid;
        justify-items: start;
        row-gap: 1.5rem;
        text-align: left;

        a {
            color: text-color(normal);
            font-weight: bold;
        }

        .learn-language {
            align-items: center;
            display: flex;
            gap: 0.8rem;

            .flag {
                font-size: 1.6rem;
                line-height: 1;
            }
        }
    }
}

.menus.mobile .learn-dropdown .mega-menu {
    min-width: 0;
    width: 100%;
}
