<template args="model">
     <h1>You are now leaving the OpenStax website.</h1>
     <div class="text-block">
         You are about to leave openstax.org to go to the
         <b>OpenStax + SE</b> app page.
     </div>
     <div class="button-group">
         <a class="badge" href="{model.appleLink}"><img src="{model.appleBadge}" alt="Apple App Store badge"></a>
         <a class="badge" href="{model.googleLink}"><img class="padded" src="{model.googleBadge}" alt="Google Play Store badge"></a>
    </div>
</template>
