<template args="model">
    <div>
        <h2 class="prompt">{model.prompt}</h2>
        <div class="hint">Select all that apply</div>
    </div>
    <div each="subject in model.subjects">
        <label class="field-label">{subject}</label>
        <div class="two-columns" data-subject={subject}>
            <div
             each="book in model.booksBySubject(subject)"
             data-book-checkbox="{$item}"
             skip="true"
            >
            </div>
        </div>
    </div>
    <div if="model.validationMessage" class="invalid-message">{model.validationMessage}</div>
</template>
