@import 'pattern-library/core/pattern-library/headers';
@import 'components/radio-buttons';

.adoption-confirmation {

    .hero {
        padding: 0;
    }

    .header-2 {
        padding: 6rem 0;

        h1 {
            @include set-font(h1);
        }
    }

    .strip-container {
        height: 1rem;
    }

    .followup-form,
    .form-header {
        max-width: 100%;
    }

    .form-checkboxgroup,
    .form-radiogroup {
        margin: 0 0 3.5rem;

        > label + :not(label) {
            margin-top: $normal-margin;
        }
    }

    .field-label {
        @include set-font(body-regular);
        color: text-color(normal);
        display: block;
    }

    .hint {
        font-style: italic;
    }

    .radio-control-group {
        flex: 1 1 30%;
        height: auto;
        max-width: 10rem;

        > label {
            align-items: center;
            display: inline-flex;

            [type="radio"],
            [type="checkbox"] {
                margin: 0.5rem 1rem 0.5rem 0;
            }

            [type="checkbox"] {
                height: auto;
                max-width: 1em;
            }

            [type="radio"] {
                @extend %radiobutton;
            }
        }
    }

    .content {
        @extend %content;

        min-height: 40rem;
    }

    .form-header {
        transform: translateY(4rem);

        @include wider-than($phone-max) {
            padding-left: 4rem;
            padding-right: 4rem;
            width: 72rem;
        }

        h2 {
            @include set-font(h3);

            margin: 0;
        }
    }

    [name="form-response"] {
        height: 0;
        line-height: 0;
        margin-top: -4rem;
        visibility: hidden;
    }

    .flexrow {
        @extend %content;

        justify-content: flex-start;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .form {
        @extend %form;

        background-color: ui-color(default);
        margin-left: 0;
        margin-right: 0;
    }

    button {
        @extend %button;

        &.primary,
        &.cta {
            @extend %primary;

            text-transform: none;
        }
    }

}
