@import '../../node_modules/pattern-library/core/pattern-library/headers';

.header-1 {
    @include set-font(body-large);

    background-color: os-color(deep-green);
    color: text-color(white);

    a {
        color: inherit;
    }

    .flexrow {
        align-items: flex-end;
        max-width: 100rem;
        padding-left: $normal-margin;
    }

    .text {
        flex-shrink: 1;
        padding: 4rem $normal-margin;
        text-align: left;

        @include wider-than($tablet-max) {
            flex-basis: calc(100% - 35rem * 1.275);
        }

        > h1 {
            @include set-font(h1)
        }

        > div {
            margin-top: $normal-margin;
        }
    }

    .hero-image {
        height: calc(35rem - 2vw);

        @include width-up-to($tablet-max) {
            display: none;
        }
    }
}
