<style scoped>
    @import url(/app/pages/adoption/adoption.css);
</style>
<div class="adoption-page text-content">
    <h1>OpenStax College Adoption Form</h1>
    <p>
        Future funding from the generous foundation donors who support our work
        is based on the number of faculty who adopt and the impact our resources
        have on students. Please complete the form below to help us demonstrate
        how OpenStax College textbooks are making education more accessible!
    </p>
    <p>
        Not using OpenStax College yet? Please complete the OpenStax interest
        form so we may send you the information you need.
    </p>
    <form id="adoption-form" accept-charset="UTF-8" action="/adoptions" method="post">
        <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="Xi14qRzCbSy2zkso1VEjKU4bEUfFWOrhWbQnh7tlO3c=">
        </div>
        <h2>Contact Information</h2>
        <div id="adoption-form-contact-section" class="section">
        </div>
        <hr />
        <h2>Textbook Adoption</h2>
        <div id="adoption-form-textbook-adoption-section" class="section">
        </div>
        <div>
        <div class="section">
          <p>
              Haven't adopted yet, but highly interested in doing so? Please fill out
              our <a href="/adoption_interests">interest form</a>.
          </p>
        </div>
        <div class="section">
            <div id="adoption-form-partners-section" class="section">
            </div>
            <div id="adoption-form-info-share-section" class="section">
            </div>
            <div id="adoption-form-student-count-section" class="section">
            </div>
            <div id="adoption-form-yes-no" class="section">
            </div>
            <div id="adoption-form-other-contact">
              <p>
                  Do you know of any other faculty using OpenStax College books? If
                  so, would you be willing to provide their contact information below?
              </p>
            </div>
            <hr />
            <div class="section">
                <h3>Have you adopted a second OpenStax College book?</h3>
                <a id="additional-book-link" href="#"></a>
                <div id="adoption-form-second-textbook">
                </div>
            </div>
            <hr />
            <div class="section">
              <div class="field">
                <label for="adoption_feedback">Any feedback you'd like to share
                     with us?
                 </label>
                 <br>
                <textarea cols="50" id="adoption_feedback" name="adoption[feedback]" rows="6"></textarea>
              </div>
            </div>
        </div>
        <div class="actions">
            <input name="commit" type="submit" value="Submit"
             role="button" aria-disabled="false">
        </div>
    </form>
</div>
