<div class="adoption-page text-content">
    <h1>OpenStax College Adoption Form</h1>
    <p>
        Future funding from the generous foundation donors who support our work
        is based on the number of faculty who adopt and the impact our resources
        have on students. Please complete the form below to help us demonstrate
        how OpenStax College textbooks are making education more accessible!
    </p>
    <p>
        Not using OpenStax College yet? Please complete the OpenStax interest
        form so we may send you the information you need.
    </p>
    <h2>Contact Information</h2>
    <div class="section">
      <div class="field">
        <label for="adoption_first_name">First name</label><span class="required"> *</span><br>
        <input id="adoption_first_name" name="adoption[first_name]" size="30" type="text" style="cursor: auto; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
      </div>
      <div class="field">
        <label for="adoption_last_name">Last name</label><span class="required"> *</span><br>
        <input id="adoption_last_name" name="adoption[last_name]" size="30" type="text">
      </div>
      <div class="field">
        <label for="adoption_school_name">School name</label><span class="required"> *</span><br>
        <input id="adoption_school_name" name="adoption[school_name]" size="30" type="text">
      </div>
        <div class="field">
          <label for="adoption_school_url">School url</label><span class="required"> *</span><br>
          <input id="adoption_school_url" name="adoption[school_url]" size="30" type="text">
        </div>
      <div class="field">
        <label for="adoption_email_address">Email address</label><span class="required"> *</span><br>
        <input id="adoption_email_address" name="adoption[email_address]" size="30" type="text">
      </div>
        <div class="field">
          <label for="adoption_phone_number">Phone number</label><span class="required"> *</span><br>
          <input id="adoption_phone_number" name="adoption[phone_number]" size="30" type="text">
        </div>
    </div>
    <h2>Textbook Adoption</h2>
</div>
