@import 'pattern-library/core/pattern-library/headers';

.adoption-form-v2 {
    .hint {
        @include set-font(helper-label);
        color: text-color(helper);
        font-style: italic;
    }

    [type="checkbox"] {
        height: 2rem;
        margin-right: 0.5rem;
        transform: translateY(0.3rem);
        width: 2rem;
    }
}
