@import 'variables';
@import 'mixins';

.adoption-form {
    .hero {

        h1 {
            color: inherit;
        }

    }

    .instructions {
        color: #ccc;
        font-size: 1.4rem;
        font-weight: 300;
        padding: 0 1.5rem;
        text-align: center;

        @include phone {
            text-align: left;
        }
    }

    .top-of-form {
        padding-top: inherit;
    }
}
