@import 'variables';
@import 'mixins';

.adoption-page {

    .subhead {
        padding-bottom: 2rem;
    }

    [data-id="selectedRole"] {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0 1.5rem;
        width: 30rem;

        > label {
            flex-basis: 100%;
        }
    }

    label > * {
        max-width: 100%;
    }

    [data-id="form"]:empty {
        display: block;
        height: 20rem;
    }

    .cta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5rem 4rem;
        width: 100%;
    }

    .text-content {
        width: 100%;

        > plug-in {
            width: 100%;
        }
    }

    .row .col {
        flex-basis: 50%;
    }

    .top-of-form {
        padding-top: inherit;
    }

    .wrapper {
        padding-bottom: 4rem;
    }
}
