@import 'variables';
@import 'mixins';

.adoption-page {
    .hero {
        h1 {
            color: inherit;
        }
    }

    .instructions {
        color: #ccc;
        font-size: 1.4rem;
        font-weight: 300;
        padding: 0 1.5rem;
        text-align: center;

        @include phone {
            text-align: left;
        }
    }

    [data-id="selectedRole"] {
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 50rem;
        padding: 0 1.5rem;

        > label {
            flex-basis: 100%;
        }
    }

    [data-id="form"]:empty {
        display: block;
        height: 20rem;
    }

    .cta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5rem 4rem;
        width: 100%;
    }

    .text-content {
        width: 100%;
    }

    .row .col {
        flex-basis: 50%;
    }

    .top-of-form {
        padding-top: inherit;
    }

    .wrapper {
        padding-bottom: 4rem;
    }
}
