@import 'pattern-library/core/pattern-library/headers';

.big-quote {
    @include scale-feature(padding-top, 4rem, 16rem);
    @include scale-feature(padding-bottom, 4rem, 16rem);

    color: text-color(white);
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;

    .background-image,
    .gradient-overlay {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .gradient-overlay {
        background-color: rgba(text-color(normal), 0.8);
    }

    .content {
        @extend %content;

        display: grid;
        grid-auto-flow: column;
    }

    .big-quote-mark {
        @include scale-feature(font-size, 8rem, 12rem);
        @include scale-feature(letter-spacing, -0.04 * 8rem, -0.04 * 12rem);
        @include scale-feature(margin-top, -1.5rem, -2.2rem);
        @include scale-feature(width, 5rem, 8rem);

        font-weight: bold;
        line-height: normal;
    }

    .quote {
        @include scale-feature(font-size, 2.8rem, 4.8rem);
        @include scale-feature(letter-spacing, -0.04 * 2.8rem, -0.04 * 4.8rem);

        font-weight: bold;
        line-height: normal;
        margin-bottom: 4rem;
    }

    .name {
        @include scale-feature(font-size, 2.8rem, 3.6rem);
        @include scale-feature(letter-spacing, -0.04 * 2.8rem, -0.04 * 3.6rem);

        font-weight: bold;
        line-height: normal;
    }

    .title,
    .school {
        @include scale-feature(font-size, 2.6rem, 3.6rem);
    }
}
