@import 'pattern-library/core/pattern-library/headers';

.modal.takeover-dialog dialog .takeover-content.mobile-only {
    @include width-up-to($phone-max) {
        display: grid;
    }

    @include wider-than($phone-max) {
        display: none;
    }

    grid-template-rows: 30% min-content;
    height: calc(100vh - 5rem);
    width: calc(100vw - 3rem);
    margin: 0 -0.5rem;
    text-align: center;

    .headline-image {
        align-items: flex-end;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: relative;

        .gradient {
            background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, #4c4c4c 72.4%);
            background-position: left;
            position: absolute;
            bottom: 0;
            height: 70%;
            left: 0;
            mix-blend-mode: multiply;
            width: 100%;
        }

        h1 {
            color: text-color(white);
            position: relative;
        }
    }

    .goal-info,
    .blue-section,
    .white-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .goal-info {

        .countdown-numbers {
            .number {
                @include title-font(3.6rem);
            }
        }

        .amount-box {
            padding: 1rem;
            width: 100%;

            .amount {
                @include title-font(3.6rem);
            }
        }
    }

    .blue-section {
        background-color: #d8f3f8;
    }
}
