@import 'pattern-library/core/pattern-library/headers';

@mixin takeover-scheme($color) {
    @at-root .modal.takeover-dialog.#{$color} {
        border: 1rem solid os-color($color);

        .btn.primary {
            background-color: os-color($color);
        }

        .color {
            color: os-color($color);
        }
    }
}

.modal-overlay .modal.takeover-dialog {
    border-radius: 0;

    .main-region {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .btn {
        @include button();
        @extend %primary;
        font-size: inherit;
    }

    > dialog {
        > .put-away {
            border-radius: 0;
            font-size: 2.4rem;
            top: 0;
            right: 0;
            height: 4rem;
            width: 5rem;
        }

        .takeover-content {
            background-size: cover;
            background-position: center;
        }
    }

    @include wider-than($phone-max) {
        @include takeover-scheme(orange);
        @include takeover-scheme(green);
        @include takeover-scheme(blue);
        @include takeover-scheme(red);

        > dialog {
            @include body-font(2.4rem);

            line-height: 4rem;
            position: static;

            .logo-color {
                height: 4.4rem;
            }
        }
    }

}
