@import 'pattern-library/core/pattern-library/headers';

#explore-by-subject {
    .subject-links {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        width: 100%;

        .card {
            @extend %card;

            padding: 0 0 1rem;
            margin-top: 2rem;
            position: relative;
            text-align: center;

            .icon-holder {
                background: ui-color(white);
                height: 4.5rem;
                position: relative;
                top: 0;
                left: 50%;
                margin-bottom: -3rem;
                transform: translate(-50%, -50%);
                width: min-content;

                &:not(:empty) {
                    padding: 0 0.5rem;
                }

                img {
                    max-height: 100%;
                }
            }

            a {
                color: inherit;
                text-decoration: none;
            }

            .subject-name {
                @include set-font(body-large);

                align-items: center;
                display: flex;
                font-weight: bold;
                justify-content: center;
                line-height: 2.5rem;
                margin: 0.5rem 1rem;
                min-height: 5rem;
            }
        }
    }
}
