<template args="model">
    <iframe name="form-response" id="form-response" class="hidden"
        src="" width="0" height="0" tabindex="-1"></iframe>
    <form accept-charset="UTF-8" target="form-response"
     action="{model.action}" method="post">
        <input type="hidden" name="oid" value="{model.salesforce.oid}">
        <input type="hidden" name="00N0B000006IidL" value="OS Web">
        <input type="hidden" name="lead_source" value="Renewal Form">
        <input type="hidden" name="first_name" value="{model.firstName}">
        <input type="hidden" name="last_name" value="{model.lastName}">
        <input type="hidden" name="00NU00000054MLz" value="{model.role}">
        <input type="hidden" name="00NU0000005oSMr" value="{model.accountsId}">
        <input type="hidden" name="email" value="{model.email}">
        <input type="hidden" name="company" value="{model.currentAdoption.school}">
        <input type="hidden" name="00NU00000055spw" value="{model.currentAdoption.status}">
        <input type="hidden" name="00NU00000052VId" value="{model.currentAdoption.students}">
        <input type="hidden" name="00NU00000053nzR" value="{model.currentAdoption.title}">    </form>
    <form>
        <div>Thanks for stopping by! Please take a moment to confirm what books you are using.</div>
        <table>
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Students</th>
                    <th>Still using?</th>
                </tr>
            </thead>
            <tbody>
                <tr each="info in model.adoptions" data-index="{$item}">
                    <td>
                        <if condition="info.new">
                            <select name="title">
                                <if condition="info.title === ''">
                                    <option selected="selected" disabled="true">--Please Select --</option>
                                </if>
                                <option each="book in model.books" value="{book.value}"
                                    disabled="{model.alreadySelected(book.value)}">
                                    {book.text}
                                </option>
                            </select>
                        <else>
                            {info.title}
                        </if>
                    </td>
                    <td><input type="number" name="students" value="{Number(info.students)}"
                        min="1" max="999" step="1"
                        disabled="{info.studentsDisabled}"></td>
                    <td if="!info.new">
                        <label>
                            <input type="radio" name="using-{$item}" value="1" checked="{info.using}">
                            Yes
                        </label>
                        <label>
                            <input type="radio" name="using-{$item}" value="0" checked="{info.notUsing}">
                            No
                        </label>
                    </td>
                    <td if="info.new">
                        <button type="button">Remove</button>
                    </td>
                </tr>
                <tr class="final-row" if="model.allowMore">
                    <td colspan="3"><a href="/" role="button">Add another book</a></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn primary" disabled="{model.notReadyToSubmit}">Submit</button>
    </form>
</template>
