<div class="not-found no-style page">
    {{{strips}}}
    <div class="boxed">
        <h1>Uh-oh, no page here</h1>
        <p>
            Kudos on your desire to explore! Unfortunately, we don't have a page to go
            with that particular location.
        </p>
    </div>
</div>
