@import 'pattern-library/core/pattern-library/headers';

.global-reach.page .mapbox {
    position: relative;

    @include width-up-to($phone-max) {
        height: 50rem;
    }

    @include wider-than($phone-max) {
        height: 80rem;
    }

    .map-image {
        background-position: 25% 0;
        background-repeat: no-repeat;
        background-size: auto 120%;
        height: 100%;
    }

    .boxed {
        align-items: flex-start;
        color: text-color(white);
        padding-top: 10rem;

        > * {
            max-width: 60rem;
        }

        h1 {
            margin: 0;
        }

        .btn {
            @extend %button;

            height: 4rem;
            margin-top: 2rem;
        }

        .primary {
            @extend %primary;
        }
    }

    .overlay {
        background-color: rgba(os-color(blue), 0.8);
        bottom: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
