<style scoped>
    @import url(/app/pages/higher-ed/higher-ed.css);
</style>
<div class="higher-ed-page page">
    <main id="maincontent">
        <div class="banner">
            <div class="overlay">
                <div class="header">Here is the first song off our new album.</div>
                <div class="blurb">
                    Some of the most valuable investments don't have a price tag.
                    Neither do our textbooks. Our free, high-quality textbooks and
                    learning technology give students the tools they need to
                    succeed without having to weigh the cost.
                </div>
                <div class="more">Learn More</div>
            </div>
        </div>

        <div class="quotes"></div>

        <div class="getting-started">
            <div class="header">Getting Started</div>
            <ol class="steps">
                <li class="step">
                    <div class="title">Review a Textbook</div>
                    <div class="blurb">
                        The entire contents of our free textbooks are
                        available online. Review a book or chapter and see
                        the quality for yourself.
                    </div>
                    <div class="more">View Books</div>
                </li>

                <li class="step">
                    <div class="title">Create a Faculty Account</div>
                    <div class="blurb">
                        We provide additional free faculty-only resources
                        like test banks and solution manuals to plan your
                        course.
                    </div>
                    <div class="more">Create Account</div>
                </li>

                <li class="step">
                    <div class="title">Adopt a Textbook</div>
                    <div class="blurb">
                        Access to our textbooks is completely free. Let us
                        know you've adopted, and share our URL with your
                        students! You can also recommend a book as an
                        optional extra resource.
                    </div>
                    <div class="more">Adopt</div>
                </li>
            </ol>

            <div class="institution">
                <div class="title">Adopt as an Institution</div>
                <div class="blurb">
                    If you are an administrator interested in driving adoptions
                    of OpenStax textbooks at your institution, we are here to
                    support you!
                </div>
                <div class="more">Learn More</div>
            </div>
        </div>

        <div class="products"></div>

        <div class="buckets"></div>
    </main>
</div>
