@import 'variables';
@import 'mixins';

$breakpoint-1: 908px;

$hero-break-width: 820px;

.higher-ed-page {
    .more {
        font-weight: bold;
        text-transform: uppercase;

        a {
            color: inherit;
            letter-spacing: inherit;

            &::after {
                color: color(yellow);
                content: '►';
                padding-left: 0.5rem;
            }

            &.down-page::after {
                color: inherit;
                content: '▼';
            }
        }
    }

    .hero {
        align-items: center;
        background-image: url('/images/higher-ed/background.jpg');
        background-size: cover;
        display: flex;
        min-height: 42.8vw;
        position: relative;
        text-align: left;

        @media (max-width: $hero-break-width) {
            min-height: 0;

            > .container {
                display: none;
            }
        }

        > .container {
            height: 100%;
            overflow: hidden;
            position: absolute;
            z-index: 2;

            > .student {
                bottom: 4%;
                height: 50vw;
                position: relative;
            }
        }


        .square-1,
        .square-2 {
            background-color: rgba(color(cyan), 0.15);
            display: block;
            position: absolute;
            z-index: 0;

            @media (max-width: $breakpoint-1) {
                display: none;
            }
        }

        .square-1 {
            width: calc(50vw + 6.6rem);
            height: calc(32vw + 4.2rem);
            top: 3vw;
            left: 3vw;
        }

        .square-2 {
            width: calc(17vw + 2.5rem);
            height: calc(23.5vw + 3.1rem);
            top: 5vw;
            right: 2vw;
        }

        > .overlay {
            background-color: rgba(color(cyan), 0.8);
            color: color(neutral-lightest);
            margin: 0 6%;
            padding-left: 26%;
            z-index: 1;

            @media (max-width: $breakpoint-1) {
                margin: 0;
                padding: 0 4%;
                padding-left: 34%;
            }

            @media (max-width: $hero-break-width) {
                padding: 0;
            }

            > .text-block {
                margin: 2vw 1vw 2vw 11vw;

                @media (max-width: $hero-break-width) {
                    margin: 3vw 6vw;
                }

                h1 {
                    color: inherit;
                }

                .blurb {
                    padding: 1em 0;
                }
            }
        }
    }

    .quote-buckets {
        background-color: lighten(color(neutral-lighter), 8%);
    }

    .getting-started {
        background-color: color(orange);
        color: white;
        padding: 3.5vw 8vw;

        > .header {
            @include variable-sized-text(4.4, 0.2);

            font-weight: 900;
            line-height: 1;
        }

        > .steps {
            align-items: stretch;
            border-bottom: 0.4rem solid lighten(color(orange), 10%);
            border-top: 0.4rem solid lighten(color(orange), 10%);
            counter-reset: steps;
            display: flex;
            list-style-type: none;
            margin: 3.2vw 0;
            padding: 4.29vw 0;

            @include phone {
                flex-direction: column;
            }
        }

        .step {
            flex: 1 1 33%;
            padding-bottom: 3.5rem;
            position: relative;

            &:nth-child(2) {
                margin: 0 3vw;

                @include phone {
                    margin: 2rem 0;
                }
            }

            &.numbered::before {
                @include variable-sized-text(5.5, 0.2);

                color: color(yellow);
                counter-increment: steps;
                content: counter(steps) '.';
                font-weight: bold;
            }

            > .title {
                @include variable-sized-text(2.1, 0.2);

                font-weight: bold;
                margin-bottom: 0.3em;
            }

            > .blurb {
                @include variable-sized-text(1.6, 0.2);

                font-weight: 200;

                @include phone {
                    font-size: 1.5rem;
                }
            }

            > .more {
                bottom: 0;
                position: absolute;
            }
        }
    }
}
