<div class="higher-ed-page page">
    <main id="maincontent">
        <div class="hero w-cards">
            <div class="container-wrap">
                <div class="student"></div>
                    <div class="overlay">
                        <div class="text-block">
                            <h1 class="header" data-id="intro_heading"></h1>
                            <p class="blurb" data-id="intro_description"></p>
                        </div>
                    </div>
                </div>
            <div class="square-1"></div>
            <div class="square-2"></div>
        </div>
        <span class="scrolldown-chevron"><a href="#getting-started"><i class="fa fa-chevron-down"></i></a></span>
        <div class="quote-buckets"></div>
        <div id="getting-started" class="getting-started">
            <div class="container boxed">
                <div class="header" data-id="get_started_heading"></div>
                <ol class="steps">
                    <li class="numbered step">
                        <div class="title" data-id="get_started_step_1_heading"></div>
                        <div class="blurb" data-id="get_started_step_1_description"></div>
                        <div class="more"><a href="/subjects" data-id="get_started_step_1_cta"></a></div>
                    </li>

                    <li class="numbered step">
                        <div class="title" data-id="get_started_step_2_heading"></div>
                        <div class="blurb" data-id="get_started_step_2_description"></div>
                        <div class="more"><a href="{{loginLink}}" data-local="true"
                            data-id="get_started_step_2_cta"></a></div>
                    </li>

                    <li class="numbered step">
                        <div class="title" data-id="get_started_step_3_heading"></div>
                        <div class="blurb" data-id="get_started_step_3_description"></div>
                        <div class="more"><a href="/adoption" data-id="get_started_step_3_cta"></a></div>
                    </li>
                </ol>

                <div class="step">
                    <div class="title" data-id="adopt_heading"></div>
                    <div class="blurb" data-id="adopt_description"></div>
                    <div class="more">
                        <a href="/contact?subject=College/University Partnerships" data-id="adopt_cta">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products"></div>

        <div class="buckets"></div>
    </main>
</div>
