@import 'variables';
@import 'mixins';

@mixin widescreen {
    @media (min-width: 1400px) {
        @content;
    }
}

$hero-break-width: 1024px;

.higher-ed-page {
    .more {
        font-weight: bold;
        text-transform: uppercase;

        a {
            color: inherit;
            letter-spacing: inherit;

            &::after {
                color: color(yellow);
                content: '►';
                padding-left: 0.5rem;
            }

            &.down-page::after {
                color: inherit;
                content: '▼';
            }
        }
    }

    .hero {
        align-items: center;
        background-image: url('/images/higher-ed/background.png');
        background-size: cover;
        display: flex;
        min-height: 42.8vw;
        position: relative;

        @media (max-width: $hero-break-width) {
            background-image: none;
            padding: 0;
        }

        > .overlay {
            background-color: rgba(color(cyan), 0.8);
            color: color(neutral-lightest);

            > .text-block {
                margin: 5rem;
                padding-left: 35%;

                @media (max-width: $hero-break-width) {
                    padding: inherit;
                }

                @include widescreen {
                    h1 {
                        font-size: calc(3.6rem + 1.8vw);
                        line-height: 0.9;
                    }

                    .blurb,
                    .more {
                        font-size: calc(0.8rem + 0.7vw);
                        line-height: 1.6;
                        margin: 1vw 0;
                    }
                }

                h1 {
                    color: inherit;
                }

                .blurb {
                    padding: 2rem 0;
                }
            }
        }
    }

    .quote-buckets {
        background-color: lighten(color(neutral-lighter), 8%);
    }

    .getting-started {
        background-color: color(orange);
        color: white;
        padding: 3.57vw 8.21vw;

        > .header {
            font-size: 4.4rem;
            font-weight: 900;
        }

        > .steps {
            align-items: stretch;
            border-bottom: 0.4rem solid lighten(color(orange), 10%);
            border-top: 0.4rem solid lighten(color(orange), 10%);
            counter-reset: steps;
            display: flex;
            list-style-type: none;
            margin: 3.2vw 0;
            padding: 4.29vw 0;

            > .step {
                flex: 1 1 33%;
                margin: 0 2vw;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .step {
            padding-bottom: 3.5rem;
            position: relative;

            &::before {
                color: color(yellow);
                counter-increment: steps;
                content: counter(steps) '.';
                font-size: 5.5rem;
                font-weight: bold;
            }

            > .title {
                font-size: 2.1rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            > .blurb {
                font-size: 1.5rem;
                font-weight: 200;
            }

            > .more {
                bottom: 0;
                position: absolute;
            }
        }
    }

    .institution {
        > .title {
            font-size: 2.1rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        > .blurb {
            font-size: 1.5rem;
            font-weight: 200;
        }

        > .more {
            margin-top: 1.43vw;
        }
    }
}
