@import 'pattern-library/core/pattern-library/headers';

.form-container {
    background-color: inherit;
    margin-bottom: 18rem;
    padding: 0 1.5rem;

    > div {
        background-color: ui-color(white);
        padding: 2rem 9rem;

        @include width-up-to($phone-max) {
            padding: 2rem 1.5rem;
        }
    }

    .file-name {
        margin-left: 1rem;
    }

    .question {
        @include set-font(h4);
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    ::placeholder {
        color: text-color(helper);
    }

    label {
        align-items: center;
        color: text-color(helper);
        display: flex;
        height: $form-element-height;
        margin: 0;
        padding-left: 2rem;
        position: relative;
        text-indent: -2rem;

        input:not(.hidden) {
            display: inline;
            margin-left: 1rem;
            position: static;
        }

        .label-text {
            display: block;
            line-height: normal;
            margin-left: 0.5rem;
            text-indent: 0;
        }
    }

    .other-group .invalid-message {
        display: grid;
        text-indent: 1rem;
    }

    .radio-columns {
        [type="text"] {
            width: auto;
        }
    }

    .subnote {
        @include set-font(helper-label);

        color: text-color(helper);
        font-style: italic;

        &.wide {
            margin-bottom: 1rem;
            max-width: 75%;
        }
    }

    .button-group {
        display: grid;
        grid-gap: 1rem;
    }

    .file-button {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    .btn {
        @include button();

        min-width: 9em;
        text-indent: inherit;
    }

    [type="submit"].btn {
        @extend %primary;
        @include button();
        float: none;
        width: 9em;

        &[disabled] {
            background-color: ui-color(secondary);
        }
    }

    [type="text"][readonly] {
        opacity: 0.8;
    }

    .helpbox {
        background-color: lighten(os-color(light-blue), 47%);
        border: thin solid darken(os-color(light-blue), 20%);
        border-radius: 0.2rem;
        color: darken(os-color(light-blue), 22%);
        line-height: 1.5;
        margin-top: 1rem;
        overflow: hidden;
        padding: 1rem;
        transition: all 0.13s linear;

        &.not-visible {
            max-height: 0;
            opacity: 0;
            padding: 0 1rem;
            visibility: hidden;
        }
    }
}
