@import 'pattern-library/core/pattern-library/headers';

.team {

    @include width-up-to($phone-max) {
        .bigger-view {
            display: none;
        }
    }

    @include wider-than($phone-max) {
        .phone-view {
            display: none;
        }
    }

    .hero {
        background-color: os-color(orange);
        color: text-color(white);
    }

    .team {
        margin: 0 auto;
        max-width: $media-content-max;
        padding: 2rem $normal-margin 4rem;
        text-align: left;
        width: 100%;

        @include wider-than($phone-max) {
            padding: 6rem $normal-margin 8rem;
        }

        .tab {
            @include set-font(body-large);

            margin: 0 #{2 * $normal-margin} 0 0;
            padding: 0;
        }
    }

    .accordion-group .content-pane {
        background-color: transparent;
    }
}
