@import '../shared';

.creator-fest.page {
    padding-bottom: 3rem;
    position: relative;

    .block-heading {
        @include set-font(h2);

        margin-bottom: 0.9rem;
    }

    .superheadline {
        @extend %super-headline;

        margin-bottom: 2.5rem;
    }

    a {
        color: $cf-pink;

        &:hover,
        &:active,
        &:focus {
            color: darken($cf-pink, 3%);
        }
    }

    @include wider-than($tablet-max) {
        &::after {
            border-bottom: 14rem solid transparent;
            border-right: 8.1rem solid #242424;
            border-top: 14rem solid transparent;
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateY(50%);
            z-index: 1;
        }
    }

    .schedule,
    .speakers,
    .travel {
        padding-top: 8rem;
    }

    .schedule {
        $progress-indicator-width: 5rem;
        $dot-size: 1.9rem;

        h3 {
            letter-spacing: -0.144rem; // Design error?
            margin-bottom: 2.7rem;
        }

        ul {
            font-weight: bold;
            list-style-type: none;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: $progress-indicator-width;

            > li {
                position: relative;

                &::before {
                    content: '';
                    height: $dot-size;
                    width: $dot-size;
                    border: thin solid pink;
                    border-radius: 50%;
                    left: -3.5rem;
                    position: absolute;
                    top: 0.2rem;
                }

                > ul {
                    color: os-color(light-gray);
                    font-weight: normal;
                    height: 4.5rem;
                    padding-top: 0.3rem;
                    padding-left: 0;

                    > li::before {
                        content: none;
                    }
                }
            }
        }

        .boxed::after {
            @extend %blue-line;

            content: '';
        }

        .block-html,
        .boxed::after {
            margin-left: $progress-indicator-width;
        }

        .block-html {
            border: thin solid ui-color(form-border);
            border-radius: 0.3rem;
            margin-bottom: 1rem;
            margin-top: 0.2rem;
            max-width: $text-content-max;
            padding: 3rem;
        }
    }

    .speakers {
        > :first-child {
            align-items: top;
            display: grid;
            @include width-up-to($tablet-max) {
                grid-gap: 3rem;
                grid-template-columns: 100%;
            }

            @include wider-than($tablet-max) {
                grid-column-gap: 15rem;
                grid-row-gap: 10rem;
                grid-template-columns: 33rem auto;

                .block-heading {
                    grid-column: 1/3;
                    margin-bottom: -8rem;
                }

                .block-image {
                    grid-column: 1/2;
                }

                .block-paragraph {
                    grid-column: 2/3;
                }
            }
        }


        .block-image {
            > img {
                display: block;
                height: auto;
                max-height: 50rem;
                max-width: 100%;
                width: auto;
            }
        }

        .block-paragraph {
            &::after {
                @extend %blue-line;

                content: '';
            }
        }

        h3 {
            margin-top: 0;
        }
    }

    .travel {

        > :first-child {
            display: grid;
            grid-gap: 3rem;

            @include width-up-to($tablet-max) {
                grid-template: 'headline'
                'venue'
                'map'
                'hotels'
                'airports' / 100%;
            }

            @include wider-than($tablet-max) {
                grid-template: 'headline headline'
                'venue map'
                'hotels map'
                'airports airports' / 45rem 1fr;
            }

            > .block-heading {
                grid-area: headline;
            }

            > :nth-child(2) {
                grid-area: venue;
                height: 100%;
            }

            > :nth-child(3) {
                grid-area: hotels;
                height: 100%;

                ul {
                    grid-auto-flow: row;
                }
            }

            > :nth-child(4) {
                grid-area: airports;
                max-width: none;

                ul {
                    min-height: 15rem;

                    @include width-up-to($tablet-max) {
                        grid-auto-flow: row;
                    }

                    @include wider-than($tablet-max) {
                        grid-auto-flow: column;
                    }
                }
            }

            > :nth-child(5) {
                grid-area: map;
            }

            ul {
                display: grid;
                grid-gap: 3rem;
                list-style: none;
                margin: 0;
                padding-left: 0;
            }

            li:not(:first-child) {
                border: thin solid ui-color(form-border);
                padding: 1.8rem 3rem;
            }

            li:first-child {
                b {
                    @include set-font(h3);
                }
            }
        }


        iframe {
            max-height: 100vw;
            width: 100%;
        }

        .block-paragraph {
            border: thin solid ui-color(form-border);
            max-width: $text-content-max;
            padding: 3rem;
        }

        h3 {
            margin: 0;

            + p {
                margin-top: 0;
            }
        }

        .directions {
            align-items: center;
            border: thin solid ui-color(form-border);
            display: grid;
            grid-gap: 3rem;
            padding: 3rem;

            .btn {
                justify-content: space-around;
            }

            address {
                font-style: normal;
            }

            @include width-up-to($phone-max) {
                grid-auto-flow: row;
            }

            @include wider-than($phone-max) {
                grid-auto-flow: column;
            }
        }
    }
}
