@import 'variables';
@import 'mixins';

@mixin wide-desktop {
    @media (min-width: 900px) {
        @content;
    }
}

$page-background: #f0f0f0;
$label-1: #575958;
$label-2: #999;
$table-border: #dcdcdc;
$table-dark-row: #f6f6f6;
$node-gray: #efefef;
$node-size: 2.5rem;
$node-dot-size: 1.1rem;
$bar-size: 1rem;
$fill-size: $node-size * 0.6;

.errata-page {
    background-color: $page-background;

    .hero {
        background-color: color(cyan);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 22rem;
        padding: 3rem;

        @include desktop {
            padding: 0;
        }

        &.padded {
            margin-bottom: 2rem;
        }

        h1 {
            color: color(blue);
            font-size: 4.8rem;

            @include phone {
                font-size: 3.6rem;
                letter-spacing: -0.24rem;
                line-height: 1;
            }
        }

        .instructions {
            color: color(neutral-lightest);
            font-size: 1.6rem;
            margin-top: 1rem;
        }

        .with-tooltip {
            color: color(blue);
            font-size: 1.6rem;
            letter-spacing: normal;
            margin-bottom: 3rem;
            margin-top: 0.5rem;

            &:hover {
                margin-bottom: 0;
                padding-bottom: 3rem;
            }

            .tooltip > p:first-child {
                margin-top: 0;
            }
        }
    }

    .strips-and-filter {
        margin-bottom: 8rem;
        position: relative;

        .filter-buttons {
            margin: 0;

            @include tablet {
                margin: 0 1.5rem;
            }

            @include phone {
                margin: 0 1.5rem;
            }
        }
    }

    .body-block {
        padding: 0;
        width: 100%;
    }

    .summary-table,
    .summary-table-mobile {
        background-color: color(neutral-lightest);
        border: thin solid $table-border;
        border-collapse: collapse;
        font-size: 1.4rem;
        margin-bottom: 13rem;
        max-width: 100%;

        tr {
            max-width: 100%;
        }

        th {
            position: relative;

            .will-sort {
                display: none;
            }

            &:hover .will-sort {
                color: $label-2;
                display: inline-block;
            }
        }

        [data-sort-fn] {
            cursor: pointer;
        }

        .sortdir1,
        .sortdir-1 {
            position: absolute;
            right: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
        }

        .sortdir1::after,
        .sortdir-1::after {
            content: '▸';
            display: inline-block;
            font-size: 120%;
            margin-bottom: 0.3rem;
            text-align: center;
            transform-origin: 50% 50%;
            transition: all 0.2s ease-in-out;
        }

        .sortdir1::after {
            transform: rotate(-90deg);
        }

        .sortdir-1::after {
            transform: rotate(90deg);
        }

        th,
        td {
            border: thin solid $table-border;
        }

        th,
        td > div {
            line-height: 1.4;
            padding: 2rem;
            text-align: left;
            vertical-align: top;
            word-wrap: break-word;
        }

        .narrow {
            width: 8rem;
        }

        .mid {
            overflow-x: auto;
            width: 12rem;
        }

        .mid-wide {
            width: 15rem;
        }
    }

    .summary-table {
        display: none;
        table-layout: fixed;
        width: 100%;

        @include wide-desktop {
            display: table;
        }

        th {
            border-bottom: 0.2rem solid color(blue);
            color: color(blue);
        }

        tbody tr:nth-child(even) {
            background-color: $table-dark-row;
        }
    }

    .summary-table-mobile {
        margin-bottom: 1.5rem;
        table-layout: fixed;
        width: 100%;

        @include wide-desktop {
            display: none;
        }

        th:first-child {
            width: 15rem;
        }
    }

    .progress-bar-container {
        background-color: color(neutral-lightest);
        margin-bottom: 2rem;
        padding: 3rem 4rem 0;

        @include phone {
            margin: 0 1rem;
            padding: 1rem;
            padding-bottom: 0;
            width: calc(100% - 2rem);
        }
    }

    .progress-bar-labels {
        display: flex;
        font-size: 1.4rem;
        justify-content: space-between;
        margin-top: 0;

        @include phone {
            font-size: 1.2rem;
        }

        .event {
            color: $label-1;
            font-weight: bold;
        }

        .when {
            color: $label-2;
        }

        .label {
            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: right;
            }
        }
    }

    .progress-bar {
        background-color: color(neutral-lightest);
        display: flex;
        flex-flow: column;
        height: 5rem;
        justify-content: center;
        margin-top: 1rem;
        position: relative;

        .progress-bar-layer {
            align-content: center;
            display: flex;
            justify-content: space-between;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .node,
        .bar {
            background-color: $node-gray;

            &.filled {
                background-color: color(green);
            }

            &.filled-no {
                background-color: color(yellow);
            }
        }

        .node {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: $node-size;
            justify-content: center;
            width: $node-size;

            &.filled::after,
            &.filled-no::after {
                background-color: rgba(color(neutral-darkest), 0.12);
                border-radius: 50%;
                content: '';
                height: $node-dot-size;
                width: $node-dot-size;
            }
        }

        .bar {
            box-shadow: inset 0 1px 3px rgba(color(neutral-darkest), 0.2);
            flex: 50% 1 1;
            height: $bar-size;
            margin: $node-size / 2 - $bar-size / 2 0.3rem 0;
        }
    }

    .info {
        color: $label-1;
        display: table;
        padding: 2rem 2rem 4rem 4rem;

        @include phone {
            display: block;
            padding-bottom: 2rem;
            padding-left: 1rem;
        }

    }
}
