@import 'pattern-library/core/pattern-library/headers';

.home.page .whats-openstax {
    padding-right: $normal-margin;

    @include width-up-to($tablet-max) {
        padding: 0 0 4rem;
    }

    h2 {
        @include title-font(2.4rem);

        margin: 0;
    }

    h3 {
        @include set-font(h4);

        margin-bottom: 1rem;
    }

    .half-boxed {
        display: grid;

        @include width-up-to($tablet-max) {
            grid-row-gap: 3rem;
            grid-template-rows: calc(35vw + 19.3rem) auto;
        }

        @include wider-than($tablet-max) {
            grid-column-gap: calc(7.5vw + 4.5rem);
            grid-template-columns: 1fr 1fr;
            padding-right: calc(50vw - 60rem);
        }

        .text-block {
            @include width-up-to($tablet-max) {
                padding: 0 $normal-margin;
            }

            @include wider-than($tablet-max) {
                padding: 6rem 0;
            }
        }

        .closer-grouping {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .btn {
            @include button();
            @extend %secondary;
        }
    }

    .clipped-image {
        background-position: 60% 30%;
    }
}
