@import 'pattern-library/core/pattern-library/headers';

.home.page .whats-openstax {
    padding-right: $normal-margin;

    @include width-up-to($tablet-max) {
        padding: 0 0 4rem;
    }

    .half-boxed {
        display: grid;

        @include width-up-to($tablet-max) {
            grid-row-gap: 3rem;
            grid-template-rows: 60vw auto;
        }

        @include wider-than($tablet-max) {
            grid-column-gap: calc(7.5vw + 4.5rem);
            grid-template-columns: 1fr 1fr;
            padding-right: calc(50vw - 60rem);
        }

        .text-block {
            @include width-up-to($tablet-max) {
                padding: 0 $normal-margin;
            }

            @include wider-than($tablet-max) {
                padding: 6rem 0;
            }
        }

        .buttons {
            align-items: center;

            .btn {
                justify-self: left;
                width: auto;

                .fa-heart {
                    color: os-color(red);
                }
            }

            a:not(.btn) {
                text-decoration-line: none;
            }
        }
    }

    .clipped-image {
        background-position: 60% 30%;
    }
}
