// scss-lint:disable ImportantRule SelectorDepth NestingDepth

@import 'variables';
@import 'mixins';

.page-header {
    background-color: color(neutral-lightest);
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 7rem;

    @include desktop {
        height: 12rem;
        position: absolute;
        top: auto;
        left: auto;
        right: auto;
        overflow: visible;
        background: transparent;
    }

    &.fixed {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

    &.transparent {
        background-color: transparent;
    }

    &.active {
        @media (max-width: #{breakpoints(tablet)})  {
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: color(neutral-lightest);
            transition: all 0.5s;
        }
    }

    > .skiptocontent {
        a {
            background-color: color(primary);
            border-bottom-right-radius: 1rem;
            clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
            color: color(neutral-lightest);
            height: 0.1rem;
            left: 0;
            outline: 0;
            position: absolute;
            top: 0;
            width: 0.1rem;
            z-index: 1;

            &:focus {
                clip: auto;
                font-size: 2rem;
                height: auto;
                padding: 0.5rem 1rem;
                transition: top 0.1s ease-in, background 0.5s linear;
                width: auto;
            }
        }
    }

    //Generic styles
    .container {
        display: inherit;
        margin: 0 auto;
        padding: 0 1.5rem;
        max-width: $boxed-width;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    .nav-menu {
        @media (max-width: #{breakpoints(tablet)})  {
            opacity: 0;

            @at-root .active#{&} {
                display: flex;
                opacity: 1;
                transition: opacity 0.5s 0.7s;
                flex-flow: column nowrap;
            }
        }

        .nav-menu-item {

            &.parent > a {
                position: relative;

                &::before,
                &::after {
                    border-right: 0.2rem solid;
                    content: '';
                    display: block;
                    height: 1rem;
                    margin-top: -0.7rem;
                    position: absolute;
                    transform: rotate3d(0, 0, 1, 135deg);
                    right: -2rem;
                    top: 50%;
                    width: 0;

                    @include desktop {
                        height: 0.7rem;
                        right: 1rem;
                        margin-top: -0.7rem;
                    }
                }

                &::after {
                    margin-top: -1px;
                    transform: rotate3d(0, 0, 1, 45deg);

                    @include desktop {
                        margin-top: -0.7rem;
                        right: 0.6rem;
                    }
                }
            }

            &:first-child > a {
                @include desktop {
                    margin-left: -2rem;
                }
            }

            > a {
                white-space: nowrap;

                @include desktop {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
          }
      } //end .nav-menu-item
    }

    //Navigation with Rice Logo row
    .meta-nav {
        order: 2;

        @include desktop {
            order: 1;
            background-color: lighten(color(neutral-lighter), 8%);
            height: 5rem;

            @at-root .sticky#{&} {
                position: fixed;
                top: -7rem;
                left: 0;
                right: 0;
                z-index: 1;
                height: 7rem;
                transform: translate3d(-5rem, 0, 0);
                background: transparent;
          }
      }

        .container {
            @include desktop {
                display: flex;
                flex-direction: row nowrap;
                justify-content: flex-end;
                height: 100%;
                align-items: center;
            }
      }

        .nav-menu {
            padding: 0 0 0 8rem;
            margin: 0;
            list-style: none;
            flex: 1 100%;

            @media (max-width: #{breakpoints(tablet)})  {
                @at-root .active.open#{&} {
                    transform: translate3d(-1000px, 0, 0);
                    transition: transform 0.5s;
                }
            }

            @include desktop {
                flex: 0 0 auto;
                display: flex;
                padding: 0;

                @at-root .sticky.visible.active#{&} {
                    transform: translate3d(0, 7rem, 0);
                    transition: transform 0.3s 0.2s;
                }

        }

            .nav-menu-item {
                margin: 0 0 0.5rem;

                @include desktop {
                    margin: 0;
                }

                > a {
                    color: color(cyan);
                    display: block;

                    @include desktop {
                        color: color(gray);
                        font-size: 1.4rem;

                        &:active,
                        &:focus,
                        &:hover {
                            color: color(blue);
                        }
                  }

              }
          }



      } //end nav-menu

        .logo-wrapper {
            flex: 1 100%;
            background: rgba(color(neutral-lighter), 0.2);
            padding: 1.5rem;
            border-top: 1px solid rgba(color(neutral-lighter), 0.5);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            transform: translate3d(0, 100%, 0);

            @media (max-width: #{breakpoints(tablet)})  {

                @at-root .active#{&} {
                    transform: translate3d(0, 0, 0);
                    transition: transform 0.3s 0.6s;
                }
            }

            @include desktop {
                position: static;
                left: auto;
                bottom: auto;
                background: transparent;
                border: 0;
                width: auto;
                flex: 0 0 auto;
                padding: 0 0 0 2rem;
                transform: translate3d(0, 0, 0);


                @at-root .sticky.visible.active#{&} {
                    transform: translate3d(0, 7rem, 0);
                    transition: transform 0.3s 0.2s;
                }

        }

            &::after {
                content: '\00a9  Rice University';
                color: color(gray);
                order: 2;

                @include desktop {
                    display: none;
                }
            }

            a {
                background: transparent url('/images/rice.png') 0 0 no-repeat;
                display: inline-block;
                width: 7.4rem;
                height: 3.2rem;
                background-size: 100% auto;
            }
      } //end logo-wrapper

    } //end meta-nav

    //main header navigation row
    .main-nav {
        height: 7rem;
        width: 100%;
        order: 1;
        background: color(neutral-lightest);

        @media (max-width: #{breakpoints(tablet)})  {
            @at-root .active#{&} {
                height: auto;
                position: relative;
            }
        }


        @include desktop {
            order: 2;
            height: 7rem;
            background-color: rgba(color(neutral-darkest), 0.2);
            text-shadow: 0 0 0.6rem color(neutral-dark);


            @at-root .sticky#{&} {
                position: fixed;
                top: -7rem;
                left: 0;
                width: 100%;
                transform: translate3d(0, 0, 0);
                transition: transform 0.2s;
                background-color: rgba(color(neutral-lightest), 0.97);
                text-shadow: none;
            }

            @at-root .visible#{&} {
                transform: translate3d(0, 100%, 0);
                transition: transform 0.2s;
            }
        }

        > .container {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem;
            height: 100%;

            @include desktop {
                align-items: center;
                position: relative;
            }
        }

        .logo-wrapper {
            line-height: 0;
            order: 1;

            > a {
                display: inline-block;
                width: 14.5rem;
                transition: all 0.3s linear;
            }

            svg .st5 {
                opacity: 1;
                transition: opacity 0.5s;

                @include desktop {
                    @at-root .page-header:not(.sticky) .main-nav .logo-wrapper svg .st5 {
                        fill: color(neutral-lightest) !important;
                    }
                }

                &:not(.books) {
                    @media (max-width: #{breakpoints(tablet)})  {
                        @at-root .active#{&} {
                            opacity: 0;
                            transition: opacity 0.5s;
                        }
                    }
                }
            }

            .logo-quote {
                display: inline-block;
                transform: scale3d(0, 0, 0);
                color: color(neutral-lightest);
                font-size: 1.4rem;
                position: absolute;
                vertical-align: text-top;
                margin-left: 2rem;
                top: -0.1rem;

                @media (min-width: 1000px)  {
                    position: relative;
                    transform: scale3d(1, 1, 1);
                    transition: transform 0.3s;
                }

                @at-root .sticky.visible#{&} {
                    color: color(gray);
                }
            }
        } //end logo-wrapper

        .nav-menu {
            padding: 0 0 0 8rem;
            list-style: none;
            flex: 1 100%;
            order: 3;
            margin: 1.5rem 0 0;
            //transform: translate3d(0, 0, 0);

            @media (max-width: #{breakpoints(tablet)})  {
                @at-root .active.open#{&} {
                    transform: translate3d(-1000px, 0, 0);
                    transition: transform 0.2s;
                }
            }

            @include desktop {
                order: 2;
                flex: 0 0 auto;
                display: flex;
                margin-top: 0;
                margin-left: auto;
                padding: 0;
                transform: translate3d(0, 0, 0);
                transition: 0.3s transform cubic-bezier(0.3, 0.73, 0.3, 0.74);

                @at-root .sticky#{&} {
                    opacity: 1;
                    transition: 0.3s transform cubic-bezier(0.3, 0.73, 0.3, 0.74), opacity 0.5s;
                }

                @at-root .sticky.active#{&} {
                    transform: translate3d(0, 7rem, 0) scale3d(0, 0, 0);
                    transition: 0.3s transform cubic-bezier(0.3, 0.73, 0.3, 0.74), opacity 0.1s;
                    opacity: 0;
                }
            }

            .nav-menu-item {
                margin: 0 0 1rem;

                @include desktop {
                    margin: 0;
                }

                &.parent {
                    @include desktop {
                        position: relative;
                }

                    &.open {
                        @media (max-width: #{breakpoints(tablet)})  {
                            @at-root .active.open#{&} {
                                position: absolute;
                                top: 0;
                                transform: translate3d(100rem, 0, 0);
                                transition: transform;
                            }
                        }

                        .back {
                            @media (max-width: #{breakpoints(tablet)})  {
                                @at-root .active.open#{&} {
                                    width: 2.7rem;
                                    height: 2.6rem;
                                    text-indent: -9999rem;
                                    position: absolute;
                                    left: -2.7rem;
                                    top: 50%;
                                    transform: translate3d(0, -1.3rem, 0);

                                    &::before,
                                    &::after {
                                        border-right: 0.2rem solid;
                                        content: '';
                                        display: block;
                                        height: 1rem;
                                        margin-top: -0.7rem;
                                        position: absolute;
                                        transform: rotate3d(0, 0, 1, 45deg);
                                        left: 0.5rem;
                                        top: 50%;
                                        width: 0;
                                        cursor: pointer;
                                        transition: opacity 0s 0.6s;

                                }

                                    &::after {
                                        margin-top: -0.1rem;
                                        transform: rotate3d(0, 0, 1, 135deg);
                                    }
                                }
                            }
                        } // end .back

                        > a {
                            &::before,
                            &::after {
                                @media (max-width: #{breakpoints(tablet)})  {
                                    @at-root .active.open#{&} {
                                        opacity: 0;
                                        transition: opacity 0s 0.2s;
                                    }
                                }
                            }
                        }
                    }
                    //dropdown
                    &:hover .secondary-nav {
                        @include desktop {
                            transform: scale3d(1, 1, 1) translate3d(-50%, 0, 0);
                            visibility: visible;
                        }
                    }
                }
            }

            a {
                color: color(blue);
                font-size: 2.2rem;
                font-weight: 600;

                @include desktop {
                    color: color(neutral-lightest);
                    font-size: 1.8rem;
                    padding-bottom: 1rem;

                    @at-root .sticky.visible#{&} {
                        color: color(gray);
                    }
                }
            }

            .secondary-nav {
                transform: scale3d(0, 0, 0);
                position: absolute;
                top: 4rem;
                text-shadow: none;

                @include desktop {
                    position: absolute;
                    top: 3rem;
                    left: 50%;
                    background: color(neutral-lightest);
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    border-top: 0.4rem solid color(neutral-lighter);
                }

                &.open {
                    @media (max-width: #{breakpoints(tablet)})  {
                        @at-root .active.open#{&} {
                            transform: scale3d(1, 1, 1);
                            transition: transform 0.2s;
                        }
                    }
                }

                .nav-menu-item {
                    @media (max-width: #{breakpoints(tablet)})  {
                        @at-root .active.open#{&} {
                            opacity: 1;
                        }
                    }

                    @include desktop {
                        white-space: nowrap;
                        padding: 0;
                        margin: 0.5rem 0;
                    }

                    a {
                        @include desktop {
                            display: block;
                            width: 100%;
                            margin: 0;
                            padding-bottom: 0;
                            font-weight: 300;
                            font-size: 1.6rem;
                            color: color(gray);

                            &:hover {
                                color: color(cyan);
                            }
                        }
                    }
                }

                .clone {
                    @media (max-width: #{breakpoints(tablet)})  {
                        @at-root .active.open#{&} {
                            margin-left: -67px;
                            list-style: none;
                        }
                    }
                }
            } //end .secondary-nav
        } //end .nav-menu

        .expand-nav {
            align-self: flex-start;
            margin-top: 1rem;
            order: 2;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            box-shadow: none;
            border-radius: none;
            border: 0;
            display: inline-block;
            padding: 0;
            transition: 0.3s;
            cursor: pointer;
            user-select: none;
            background: transparent;

            @include desktop {
                display: none;

                @at-root .sticky#{&} {
                    display: block;
                    order: 3;
                    margin-left: 2rem;
                }
            }

            &:hover,
            &:focus,
            &:active {
                outline: none;
            }

            span {
                //create middle line
                @include line;
                position: relative;
                transition: background 0.3s 0.2s ease;

                /*create the upper and lower lines as pseudo-elements of the middle line*/
                &::before,
                &::after {
                    @include line;
                    position: absolute;
                    left: 0;
                    content: '';
                    //set transform origin back to center
                    transform-origin: 50% 50%;
                    transition: top 0.3s 0.2s ease, transform 0.3s ease;
                }

                &::before { top: $button-size / 4; }
                &::after { top: -$button-size / 4; }

                @at-root .active#{&} {
                    transition: background 0.3s 0s ease;
                    background: transparent;

                    &::before,
                    &::after {
                        transition: top 0.3s ease, transform 0.3s 0.2s ease;
                        top: 0;
                        width: $button-size;
                    }

                    &::before {
                        transform: rotate3d(0, 0, 1, 45deg);
                    }

                    &::after {
                        transform: rotate3d(0, 0, 1, -45deg);
                    }
                }
            }
        } //end expand-nav button
    } //main-nav
}
