<header class="page-header {{#if visible}}visible{{/if}} {{#if fixed}}fixed{{/if}} {{#if transparent}}transparent{{/if}}">
    <div class="skiptocontent">
        <a href="#maincontent">skip to main content</a>
    </div>

    <nav class="meta-nav">
        <div class="container">
            <ul class="nav-menu meta-menu no-bullets" role="menu" aria-label="Meta navigation menu">
                <li class="nav-menu-item"><a href="/about-us" role="menuitem">About Us</a></li>
                <li class="nav-menu-item"><a href="/contact" role="menuitem">Contact</a></li>
                <li class="nav-menu-item login"><a href="{{login}}" data-local="true" role="menuitem">Login<svg width="0" class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 30"><title>arrow</title><path d="M12,1L26,16,12,31,8,27,18,16,8,5Z" transform="translate(-8 -1)"/></svg></a>
                    <ul class="dropdown-menu" role="menu" aria-expanded="false" aria-label="User Menu">
                        <li role="presentation"><a data-href-setting="account-href" role="menuitem" tabindex="-1">Account Profile</a></li>
                        <li role="presentation" class="non-faculty"><a href="/faculty-verification" role="menuitem" tabindex="-1">Request instructor access</a></li>
                        <li role="presentation" class="logout"><a href="{{logout}}" data-local="true" role="menuitem" tabindex="-1">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <span class="logo-wrapper">
                <a class="logo rice-logo" href="http://www.rice.edu" role="menuitem">
                    <img src="/images/rice.png" alt="Rice University logo" height="30" />
                </a>
            </span>
        </div>
    </nav>

    <nav class="nav" role="menubar" aria-label="Main menu">
        <div class="container">
            <span class="logo-wrapper">
                <span class="logo os-logo">
                    <a href="/" aria-label="Home Page">
                        <img class="logo-color" src="/images/logo.svg" alt="OpenStax logo" />
                        <img class="logo-white" src="/images/logo-white.svg" alt="OpenStax logo" />
                    </a>
                </span>

                <span class="logo-quote">Access. The future of education.</span>
            </span>

            <ul class="nav-menu main-menu no-bullets">
                <li class="nav-menu-item dropdown" role="presentation">
                    <a href="/subjects" role="menuitem" aria-haspopup="true">Subjects<svg width="0" class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 30"><title>arrow</title><path d="M12,1L26,16,12,31,8,27,18,16,8,5Z" transform="translate(-8 -1)"/></svg></a>
                    <ul class="dropdown-menu" role="menu" aria-expanded="false" aria-label="Subjects menu">
                        <li role="presentation"><a href="/subjects" role="menuitem" tabindex="-1">All</a></li>
                        <li role="presentation"><a href="/subjects/math" role="menuitem" tabindex="-1">Math</a></li>
                        <li role="presentation"><a href="/subjects/science" role="menuitem" tabindex="-1">Science</a></li>
                        <li role="presentation"><a href="/subjects/social-sciences" role="menuitem" tabindex="-1">Social Sciences</a></li>
                        <li role="presentation"><a href="/subjects/history" role="menuitem" tabindex="-1">History</a></li>
                        <li role="presentation"><a href="/subjects/ap" role="menuitem" tabindex="-1">AP<sup>&reg;</sup></a></li>
                    </ul>
                </li>
                <li class="nav-menu-item" role="presentation">
                    <a href="/higher-ed" role="menuitem">Higher Education</a>
                </li>
                <li class="nav-menu-item" role="presentation">
                    <a href="/k-12" role="menuitem">K-12</a>
                </li>
                <li class="nav-menu-item dropdown" role="presentation">
                    <a href="/impact" role="menuitem" aria-haspopup="true">Our Impact<svg width="0" class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 30"><title>arrow</title><path d="M12,1L26,16,12,31,8,27,18,16,8,5Z" transform="translate(-8 -1)"/></svg></a>
                    <ul class="dropdown-menu" role="menu" aria-expanded="false" aria-label="Our Impact menu">
                        <li><a href="/impact" role="menuitem" tabindex="-1">Explore Our Impact</a></li>
                        <li><a href="/partners" role="menuitem" tabindex="-1">Partners</a></li>
                        <li><a href="/foundation" role="menuitem" tabindex="-1">Foundation Support</a></li>
                    </ul>
                </li>
            </ul>
            <button class="expand" type="button" role="button" aria-haspopup="true" aria-label="Toggle Meta Navigation Menu" tabindex="0">
              <span></span>
            </button>
        </div>
    </nav>
</header>
