@import 'variables';
@import 'mixins';

.page-header {
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s;
    z-index: 1;

    > .skiptocontent {
        a {
            background-color: color(primary);
            border-bottom-right-radius: 1rem;
            clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
            color: color(neutral-lightest);
            height: 0.1rem;
            left: 0;
            outline: 0;
            position: absolute;
            top: 0;
            width: 0.1rem;

            &:focus {
                clip: auto;
                font-size: 2rem;
                height: auto;
                padding: 0.5rem 1rem;
                transition: top 0.1s ease-in, background 0.5s linear;
                width: auto;
            }
        }
    }

    .secondary-nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 5vw;

        a {
            color: color(neutral-dark);
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .nav-menu-item {
            flex: 0 0 auto;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 0;
        }
    }

    .nav {
        align-items: center;
        backdrop-filter: blur(1rem);
        background-color: rgba(color(neutral-darkest), 0.05);
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem 0;
        text-shadow: 0 0 0.6rem color(neutral-dark);
        user-select: none;

        a {
            color: color(neutral-lightest);

            &:active,
            &:focus,
            &:hover {
                text-shadow: 0 0 0.6rem color(neutral-light);
            }
        }

        .nav-menu-item {
            flex: 1 1 auto;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }

    .logo-wrapper {
        flex: 0 0 auto;
        line-height: 0;

        span {
            vertical-align: middle;
        }

        > a {
            display: inline-block;
        }

        .logo-quote {
            display: inline-block;
            font-size: 1.4rem;
            margin-top: 0.3rem;
        }
    }

    .logo {
        display: inline-block;
        margin-right: 2.5rem;
    }

    .os-logo {
        background-image: url('/images/logo-home.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 13.2rem 4rem;

        &:focus > img,
        &:hover > img {
            opacity: 0;
        }

        > img {
            background-color: transparent;
            transition: opacity 0.3s linear;
            user-select: none;

            &:focus,
            &:hover {
                opacity: 0;
            }
        }
    }

    .nav-menu {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-menu-item {
        > a {
            display: inline-block;
            padding-left: 2rem;
            padding-right: 2rem;

            &:active,
            &:focus,
            &:hover {
                color: color(blue);
            }
        }

        &:first-child > a {
            margin-left: -2rem;
        }

        &:last-child > a {
            margin-right: -2rem;
        }
    }
}
