@import 'variables';
@import 'mixins';

.page-header {
    background-color: color(neutral-lightest);
    position: relative;
    transition: max-height 0.5s;
    z-index: 1;

    &.fixed {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

    &.transparent {
        background-color: transparent;
    }

    > .skiptocontent {
        a {
            background-color: color(primary);
            border-bottom-right-radius: 1rem;
            clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
            color: color(neutral-lightest);
            height: 0.1rem;
            left: 0;
            outline: 0;
            position: absolute;
            top: 0;
            width: 0.1rem;
            z-index: 1;

            &:focus {
                clip: auto;
                font-size: 2rem;
                height: auto;
                padding: 0.5rem 1rem;
                transition: top 0.1s ease-in, background 0.5s linear;
                width: auto;
            }
        }
    }

    .meta-nav {
        background-color: color(neutral-lighter);
        display: flex;
        justify-content: flex-end;
        padding-right: 8vw;

        @at-root .collapsed#{&} {
            display: none;
        }

        a {
            color: color(neutral-dark);
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .nav-menu-item {
            flex: 0 0 auto;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 0;
        }
    }

    .dropdown > a {
        margin-right: 1rem;
    }

    .caret {
        &::before,
        &::after {
            border-right: 0.2rem solid;
            content: '';
            height: 0.8rem;
            margin-top: -0.3rem;
            position: absolute;
            top: 50%;
            transform: rotate3d(0, 0, 1, 135deg);
        }

        &::before {
            height: 0.7rem;
            right: 1rem;
        }

        &::after {
            right: 0.5rem;
            transform: rotate3d(0, 0, 1, 45deg);
        }
    }

    .nav {
        align-items: center;
        background-color: transparent;
        color: color(neutral-medium);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem 8vw;
        user-select: none;

        @at-root .transparent#{&} {
            backdrop-filter: blur(1rem);
            background-color: rgba(color(neutral-darkest), 0.05);
            color: color(neutral-lightest);
            text-shadow: 0 0 0.6rem color(neutral-dark);
        }

        a {
            color: color(neutral-medium);
            outline: 0;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            position: relative;
        }

        .nav-menu-item {
            flex: 1 1 auto;
            font-size: 1.8rem;
            font-weight: 600;
            position: relative;

            @at-root .collapsed#{&} {
                font-size: 1.6rem;
            }

            @media (max-width: 890px) {
                &:not(.expand) {
                    display: none;
                }
            }

            &.expand {
                font-size: 2.4rem;
                margin-left: 2rem;
            }

            a {
                &:active,
                &:focus,
                &:hover {
                    &::after {
                        background-color: color(green);
                        bottom: -0.5rem;
                        content: '';
                        height: 0.5rem;
                        left: 1rem;
                        outline: 0;
                        position: absolute;
                        right: 1rem;
                    }

                    + .dropdown-menu {
                        display: block;
                    }
                }

                @at-root .transparent#{&} {
                    color: color(neutral-lightest);

                    &:active,
                    &:focus,
                    &:hover {
                        &::after {
                            box-shadow: 0 0 0.1rem rgba(color(neutral-dark), 0.6);
                        }
                    }
                }
            }
        }
    }

    .logo-wrapper {
        flex: 0 0 auto;
        line-height: 0;

        span {
            vertical-align: middle;
        }

        > a {
            display: inline-block;
        }
    }

    .logo {
        display: inline-block;
        margin-right: 2.5rem;

        .logo-color {
            display: inline-block;

            @at-root .transparent#{&} {
                display: none;
            }
        }

        .logo-white {
            display: none;

            @at-root .transparent#{&} {
                display: inline-block;
            }
        }
    }

    .os-logo > a {
        > img {
            background-color: transparent;
            background-position: 72.5% bottom;
            background-repeat: no-repeat;
            background-size: 1.2rem 1.2rem;
            transition: opacity 0.3s linear;
            user-select: none;
        }

        &:focus > img,
        &:hover > img {
            background-image: url('/images/home.svg');
        }

        @at-root .transparent#{&} {
            &:focus > img,
            &:hover > img {
                background-image: url('/images/home-white.svg');
            }
        }
    }

    .logo-quote {
        display: none;
        font-size: 1.4rem;
        margin-top: 0.3rem;

        @media (min-width: 1130px) {
            display: inline-block;
        }
    }

    .nav-menu {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .dropdown-menu {
            background-color: color(neutral-lightest);
            border-top: 0.5rem solid color(neutral-lighter);
            display: none;
            font-size: 1.6rem;
            font-weight: normal;
            left: -1rem;
            line-height: 2;
            list-style-type: none;
            padding: 1rem 0;
            position: absolute;
            top: 3.2rem;
            white-space: nowrap;
            z-index: 6;

            @at-root .transparent#{&} {
                backdrop-filter: blur(1.5rem);
                background-color: rgba(color(neutral-darkest), 0.5);
                top: 3.5rem;
            }

            &[aria-expanded='true'] {
                display: block;
            }

            &:active,
            &:focus,
            &:hover {
                display: block;
            }

            > li {
                > a {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;

                    &:active,
                    &:focus,
                    &:hover {
                        color: color(cyan);

                        &::after {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .nav-menu-item {
        > a {
            display: inline-block;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &:first-child > a {
            margin-left: -2rem;
        }

        &:last-child > a {
            margin-right: -2rem;
        }
    }

    .expand {
        cursor: pointer;
        display: none;
        outline: 0;
        padding: 1.5rem 0;
        position: fixed;
        transition: opacity 0.2s linear;
        width: 3rem;

        @at-root .collapsed#{&} {
            display: block;
        }

        @media (max-width: 890px) {
            @at-root .transparent#{&} {
                display: block;
            }
        }

        &:not(.expanded) {
            &:focus,
            &:hover {
                > span {
                    background-color: color(green);
                }
            }
        }

        > span {
            background-color: color(neutral-medium);
            display: block;
            height: 0.4rem;
            position: absolute;
            transition: all 0.4s ease;
            width: 3rem;

            @at-root .transparent#{&} {
                background-color: color(neutral-lightest);
            }

            &:nth-child(1) {
                top: 0.5rem;
                z-index: 9;
            }

            &:nth-child(2) {
                top: 1.5rem;
            }

            &:nth-child(3) {
                top: 2.5rem;
            }
        }
    }

    .sub-menu {
        background-color: rgba(color(neutral-darkest), 0.5);
        height: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: 0;
        z-index: 5;

        @at-root .transparent#{&} {
            background-color: rgba(color(neutral-darkest), 0.8);
        }

        li {
            display: block;
            margin-right: -12rem;
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &:nth-child(1) {
                transition-delay: 0.05s;
            }

            &:nth-child(2) {
                transition-delay: 0.10s;
            }

            &:nth-child(3) {
                transition-delay: 0.15s;
            }

            &:nth-child(4) {
                transition-delay: 0.20s;
            }

            &:nth-child(5) {
                transition-delay: 0.25s;
            }

            a {
                color: color(neutral-lightest);
                display: inline-block;
                font-family: 'Lato', Arial, Helvetica, sans-serif;
                font-size: 1.6rem;
                margin: 1.25rem 0 0.5rem -1rem;
                padding: 0.5rem 2rem;
            }
        }
    }

    .expanded {
        &:active,
        &:focus,
        &:hover {
            span:nth-child(1),
            span:nth-child(3) {
                background-color: color(red);
            }
        }

        .sub-menu {
            height: 21rem;
            opacity: 1;
            width: 30rem;
        }

        span:nth-child(1),
        span:nth-child(3) {
            transform: rotate(45deg);
            z-index: 100;
        }

        span:nth-child(1) {
            transform: rotate(45deg) translateY(0.2rem) translateX(0.8rem);
        }

        span:nth-child(2) {
            height: 21rem;
            overflow: visible;
            right: -16rem;
            top: 5.5rem;
            width: 30rem;
        }

        span:nth-child(3) {
            transform: rotate(-45deg) translateY(-0.7rem) translateX(1.1rem);
        }

        li {
            margin-right: 12rem;
        }
    }
}
