<style scoped>@import url(/app/components/shell/header/header.css);</style>
<header class="page-header">
    <div class="skiptocontent">
        <a href="#maincontent">skip to main content</a>
    </div>

    <nav class="nav">
        <span class="flex-1-0 logo-wrapper">
            <a href="/" aria-label="Home Page">
                <span class="logo os-logo">
                    <img src="/images/logo.png" alt="OpenStax logo" height="40" />
                </span>
            </a>
        </span>

        <span class="flex-1-0 hidden-desktop">
            <button class="expand-nav">&#9776;</button>
        </span>

        <ul class="nav-menu flex-3-0">
            <li class="nav-menu-item"><a href="/subjects">Subjects</a></li>
            <li class="nav-menu-item"><a href="/tools">Tools</a></li>
            <li class="nav-menu-item"><a href="/k-12">K-12</a></li>
            <li class="nav-menu-item"><a href="/higher-ed">Higher Education</a></li>
            <li class="nav-menu-item"><a href="/research">Research</a></li>
        </ul>

        <span class="flex-1-0 logo-wrapper visible-desktop">
            <a class="logo rice-logo" href="/" aria-label="Rice University">
                <img src="/images/rice.png" alt="Rice University logo" width="74" height="32" />
            </a>
        </span>
    </nav>
</header>
