@import 'variables';
@import 'mixins';

$button-size: 2.8rem;
$transition: 0.3s;

.page-header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 7rem;
    background-color: rgba(color(neutral-lightest), 0.99);
    justify-content: center;
    align-items: center;

    @at-root .active#{&} {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: height 0.5s;
    }

    @include desktop {
        height: 12rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &.transparent {
        @include desktop {
            background: transparent;
        }
    }


    > .skiptocontent {
        a {
            background-color: color(primary);
            border-bottom-right-radius: 1rem;
            clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
            color: color(neutral-lightest);
            height: 0.1rem;
            left: 0;
            outline: 0;
            position: absolute;
            top: 0;
            width: 0.1rem;
            z-index: 1;

            &:focus {
                clip: auto;
                font-size: 2rem;
                height: auto;
                padding: 0.5rem 1rem;
                transition: top 0.1s ease-in, background 0.5s linear;
                width: auto;
            }
        }
    }

    .container {
        display: flex;
        margin: 0 auto;
        padding: 0 1.5rem;
        width: 100%;
        height: 100%;
        max-width: $boxed-width;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    .nav-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        transform: scale3d(0, 0, 0);
        flex: 0 auto;
        opacity: 0;
        display: flex;
        flex-flow: column nowrap;

        @at-root .active#{&} {
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            opacity: 1;
            transition: opacity 0.3s 0.4s, transform 0.3s ease-in-out;

        }

        @at-root .active.open#{&} {
            transform: translate3d(-100rem, 0, 0);
            transition: transform 0.3s ease-in-out;

        }

        @include desktop {
            opacity: 1;
            transform: scale3d(1, 1, 1);
            flex-flow: row wrap;
            justify-content: flex-end;
        }

        .nav-menu-item {
            @include desktop {
                margin: 0 2rem;
            }
        }

        .dropdown {
            display: inline-block;

            > a {
                position: relative;

                &::before,
                &::after {
                    opacity: 1;
                    border-right: 0.2rem solid;
                    content: '';
                    display: block;
                    height: 1rem;
                    margin-top: -0.7rem;
                    position: absolute;
                    transform: rotate3d(0, 0, 1, 135deg);
                    right: -2rem;
                    top: 50%;
                    width: 0;

                    @at-root .open#{&} {
                        opacity: 0;
                    }

                    @include desktop {
                        height: 0.7rem;
                        right: -1rem;
                    }
                }

                &::after {
                    opacity: 1;
                    margin-top: -0.1rem;
                    transform: rotate3d(0, 0, 1, 45deg);

                    @include desktop {
                        margin-top: -0.7rem;
                        right: -1.4rem;
                    }

                    @at-root .open#{&} {
                        opacity: 0;
                    }
                }
            }

            &:hover .dropdown-menu {
                @include desktop {
                    width: auto;
                    height: auto;
                    z-index: 1;
                }
            }

            .clone {
                a {
                    color: color(blue);
                    font-weight: 600;
                }


                .back {
                    display: block;
                    margin: 0 0 1rem;
                    padding-left: 2rem;
                    position: relative;
                    color: color(cyan);
                    cursor: pointer;

                    &::before,
                    &::after {
                        border-right: 0.2rem solid;
                        content: '';
                        display: block;
                        height: 1rem;
                        margin-top: -0.7rem;
                        position: absolute;
                        transform: rotate3d(0, 0, 1, 45deg);
                        left: 0.3rem;
                        top: 50%;
                        width: 0;
                        cursor: pointer;
                        transition: opacity 0s 0.6s;

                    }

                    &::after {
                        margin-top: -0.1rem;
                        transform: rotate3d(0, 0, 1, 135deg);
                    }

                    &:focus {
                        outline: none;
                    }
                } // end .back
            }
        }

        .dropdown-menu {
            overflow: hidden;
            list-style: none;
            margin: 0;
            padding: 0;
            font-weight: 300;
            font-size: 1.6rem;
            position: absolute;
            top: 0%;
            left: 0;
            transform: translate3d(200rem, 0, 0);
            transition: transform 0.3s ease-in-out;

            @include desktop {
                width: 0;
                height: 0;
                top: 3rem;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
                border-top: 0.4rem solid color(neutral-lighter);
                white-space: nowrap;
                background: color(neutral-lightest);
                text-align: left;


                @at-root .fixed#{&} {
                    background: color(neutral-lightest);
                }
            }

            &.open {
                @at-root .active.open#{&} {
                    transform: translate3d(100rem, 0, 0);

                }
            }

            li {
                margin: 0 0 0.5rem;

                @include desktop {
                    margin: 1rem;
                }
            }

            a {
                color: color(gray);

                &:hover {
                    color: color(blue);
                }
            }
        }
    }

    .meta-nav {
        order: 2;
        width: 0;
        height: 0;
        overflow: hidden;
        font-size: 1.6rem;

        @at-root .active#{&} {
            width: 100%;
            height: auto;
        }

        @include desktop {
            order: 1;
            width: 100%;
            height: 5rem;
            overflow: inherit;
            background-color: lighten(color(neutral-lighter), 8%);
            font-size: 1.4rem;
        }

        .container {
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;

            @include desktop {
                justify-content: flex-end;
            }
        }

        .nav-menu {
            margin-left: -9rem;
        }

        .nav-menu-item {

            a {

                color: color(cyan);
                display: block;

                @include desktop {
                    color: color(gray);
                }

                &:active,
                &:focus,
                &:hover {
                    color: color(blue);
                }
            }
        }

        .logo-wrapper {
            flex: 1 100%;
            background: rgba(color(neutral-lighter), 0.2);

            border-top: 0.1rem solid rgba(color(neutral-lighter), 0.5);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            transform: translate3d(0, 100%, 0);
            opacity: 0;

            @at-root .active#{&} {
                padding: 1.5rem;
                width: 100%;
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition: opacity 0.2s 0.5s, transform 0.3s 0.6s;
            }

            @include desktop {
                flex: 0 auto;
                width: auto;
                position: static;
                bottom: auto;
                left: auto;
                opacity: 1;
                background: transparent;
                border: 0;
                transform: translate3d(0, 0, 0);

            }

            &::after {
                content: '\00a9  Rice University';
                color: color(gray);
                order: 2;

                @include desktop {
                    display: none;
                }
            }
        }
    } //end .meta-nav

    .nav {
        order: 1;
        height: 100%;
        width: 100%;
        box-shadow: 0 0.8rem 0.3rem -0.6rem rgba(color(gray), 0.3);

        @at-root .active#{&} {
            height: auto;
            box-shadow: none;
        }

        @include desktop {
            order: 2;
            height: 7rem;
            transform: translate3d(0, 0, 0);
            transition: transform;

            @at-root .transparent#{&} {
                background-color: rgba(color(neutral-darkest), 0.2);
            }

            @at-root .fixed#{&} {
                position: fixed;
                top: -7rem;
                left: 0;
                width: 100%;
                transform: translate3d(0, 0, 0);
                background-color: rgba(color(neutral-lightest), 0.97);
            }

            @at-root .visible#{&} {
                transform: translate3d(0, 100%, 0);
                transition: transform 0.2s 0.1s;

            }
        }

        .container {
            justify-content: center;
            align-items: center;
            padding: 1.5rem;

            @include desktop {
                height: 100%;
                justify-content: space-between;
            }
        }

        .main-menu {
            order: 3;
            margin-top: -6.6rem;
            font-size: 1.8rem;
            font-weight: 600;

            @include desktop {
                margin: 0;
            }
        }

        .nav-menu-item {
            margin: 0 0 1rem;

            @include desktop {
                padding: 0 2rem;
                margin: 0;
                position: relative;

                &:not(.dropdown) {
                    &:hover {
                        &::after {
                            background-color: color(green);
                            bottom: -0.5rem;
                            content: '';
                            height: 0.5rem;
                            left: 1rem;
                            outline: 0;
                            position: absolute;
                            right: 1rem;
                        }
                    }
                }
            }

            > a {
                @include desktop {
                    color: color(gray);
                    padding-bottom: 1rem;

                    @at-root .transparent#{&} {
                        color: color(neutral-lightest);
                    }
                }
            }
        }

        .logo-wrapper {
            order: 1;
            flex: 0 auto;
            line-height: 0;
            display: flex;
            align-items: center;
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;

            @include desktop {
                position: static;
                top: auto;
                left: auto;
            }

            span {
                vertical-align: middle;
            }

            > a {
                display: inline-block;
            }
        }

        .logo {
            display: inline-block;
            margin-right: 2.5rem;

            a {
                display: inline-block;
                width: 15rem;

                &:active,
                &:focus,
                &:hover {
                    &::after {
                        background-color: transparent;
                        box-shadow: none;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
            }

            .logo-color {
                display: inline-block;

                @include desktop {
                    @at-root .transparent#{&} {
                        display: none;
                    }
                }
            }

            .logo-white {
                display: none;

                @include desktop {
                    @at-root .transparent#{&} {
                        display: inline-block;
                    }
                }
            }
        }

        .logo-quote {
            transform: scale3d(0, 0, 0);
            display: inline-block;
            color: color(gray);
            width: 0;
            height: 0;

            @media (min-width: 1000px) {
                transform: scale3d(1, 1, 1);
                width: auto;
                height: auto;
            }

            @at-root .transparent#{&} {
                color: color(neutral-lightest);
            }

        }
    } //end .nav

    .expand {
        order: 2;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: 0;
        display: inline-block;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        user-select: none;
        background: transparent;
        position: absolute;
        top: 2.4rem;
        right: 1.5rem;

        @include desktop {
            display: none;

            @at-root .sticky#{&} {
                display: block;
                order: 3;
                margin-left: 2rem;
            }
        }

        &:hover,
        &:focus,
        &:active {
            outline: none;
        }

        span {
            //create middle line
            display: inline-block;
            width: $button-size;
            height: $button-size / 7;
            background: color(gray);
            position: relative;
            transition: background 0.3s 0.2s ease;

            /*create the upper and lower lines as pseudo-elements of the middle line*/
            &::before,
            &::after {
                display: inline-block;
                width: $button-size;
                height: $button-size / 7;
                background: color(gray);
                position: absolute;
                left: 0;
                content: '';
                //set transform origin back to center
                transform-origin: 50% 50%;
                transition: top 0.3s 0.2s ease, transform 0.3s ease;
            }

            &::before { top: $button-size / 4; }
            &::after { top: -$button-size / 4; }

            @at-root .active#{&} {
                transition: background 0.3s 0s ease;
                background: transparent;

                &::before,
                &::after {
                    transition: top 0.3s ease, transform 0.3s 0.2s ease;
                    top: 0;
                    width: $button-size;
                }

                &::before {
                    transform: rotate3d(0, 0, 1, 45deg);
                }

                &::after {
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
    } //end .expand button
}
