.renewal-form {
    form > .text-content > .row {
        min-width: 70%;
        padding-top: 0;
    }

    .wrapper > .row {
        align-items: flex-start;
        justify-content: flex-start;
    }
}
