$breakpoints: (
    small: 640px,
    medium: 768px,
    large: 1024px
);

@function breakpoints($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @return map-get($breakpoints, $breakpoint);
    }

    @warn 'Unknown `#{$breakpoint}` in $breakpoints.';
    @return null;
}
