$breakpoints: (
    phone: 480px,
    tablet: 768px,
    desktop: 1280px
);

@function breakpoints($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @return map-get($breakpoints, $breakpoint);
    }

    @warn 'Unknown `#{$breakpoint}` in $breakpoints.';
    @return null;
}
