@import 'pattern-library/core/pattern-library/headers';

.blog.page {
    background-color: ui-color(white);
    display: grid;
    grid-row-gap: 3rem;
    justify-items: center;
    padding-bottom: 5rem;
    width: 100%;

    .content .meta {
        .author::after {
            content: ' | ';
        }
    }

    .strips {
        bottom: 0;
    }

    .disqus {
        @extend %text-content;
    }
}
