@import 'variables';
@import 'mixins';

.blog.page {
    .content .meta {
        .author::after {
            content: ' | ';
        }
    }

    .articles {
        display: flex;
        flex-flow: column nowrap;

        @include desktop {
            background-color: lighten(color(neutral-lighter), 8%);
            padding: 2rem 0;
        }

        .boxed {
            @include desktop {
                flex-flow: row wrap;
                padding: 0;
            }

            .search {
                margin: 0 auto;
            }
        }

        .container {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
        }
    }

    .article.page {
        $boxed-width: 730px;

        @mixin tablet {
            @media (min-width: #{breakpoints(phone) + 1}) {
                @content;
            }
        }

        &.hidden {
            display: none;
        }

        .hero {
            background-position: 60% 40%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 60rem;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 100%;

            @media (min-width: 1400px) {
                background-size: calc(28rem + 80vw);
                height: calc(4rem + 40vw);
                max-height: 80vh;
            }

            .strips {
                bottom: 0;
                left: 0;
                margin-bottom: 0;
                position: absolute;
                right: 0;
            }
        }

        > .boxed {
            max-width: $boxed-width;
            padding: 2rem 1.5rem 8rem;
        }

        .meta {
            color: color(neutral-light);
        }

        .author {
            color: color(cyan);
            font-style: italic;

            &::after {
                content: ' | ';
            }
        }

        .body {
            line-height: 1.667;

            img {
                margin: 1.5rem 0 0;
                width: 100%;
            }

            .image {
                margin-top: 2.5rem;
            }
        }

        .tags span {
            background-color: lighten(color(neutral-lighter), 8%);
            color: color(gray);
            display: inline-block;
            font-size: 1.4rem;
            line-height: 1;
            margin-right: 1rem;
            padding: 1rem;
        }

        .disqus {
            padding: 4rem 0 0;
        }

        .articles .boxed {
            padding: 0 1.5rem;

            @include desktop {
                padding: 0;
            }
        }
    }

    .update-box {
        align-items: baseline;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: auto;
        max-width: $boxed-width;
        padding-bottom: 2rem;

        @include phone {
            align-items: center;
            flex-direction: column;
            padding-left: 1.5rem;
            text-align: center;
        }

        .cta {
            background-color: color(orange);
            color: color(neutral-lightest);
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 1.25rem 3rem;

            @include phone {
                margin: 0;
            }
        }

        .rss-link i {
            background-color: none;
            color: color(orange);
            font-size: 3rem;
            margin: 1rem;
        }

    }
}
