@import 'pattern-library/core/pattern-library/headers';

.blog.page {
    background-color: ui-color(white);
    justify-items: center;
    width: 100%;

    .strips {
        bottom: 0;
    }

    .disqus {
        @extend %text-content;
    }
}
