@import 'pattern-library/core/pattern-library/headers';

$orange-grad-top: #ff7e3f;
$orange-grad-bot: #ffa13a;

.rover-by-openstax #banner {
    padding: 12rem 0 5rem;
    position: relative;

    @include width-up-to($phone-max) {
        padding: 9rem 0 0;
    }

    .accent {
        @include width-up-to($phone-max) {
            display: none;
        }

        @include wider-than($phone-max) {
            background-image: linear-gradient(to bottom, $orange-grad-top, $orange-grad-bot);
            height: 33%;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 4rem;
        }
    }

    .top-right {
        min-width: 24rem;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .two-columns {
        @include set-font(body-large);

        display: grid;
        grid-row-gap: 3rem;
        width: 100%;

        @include width-between($tablet-max, $media-content-max) {
            grid-column-gap: 4rem;
            grid-template-columns: 11fr 12fr;
        }

        @include wider-than($media-content-max) {
            grid-column-gap: 6rem;
            grid-template-columns: 1fr 60rem;
        }

        @include width-between($phone-max, $media-content-max) {
            padding-left: 5rem;
        }

        @include wider-than($media-content-max) {
            padding-left: calc(65rem - 50vw);
        }

        .left-column {
            align-content: start;
            display: grid;
            grid-row-gap: 3rem;

            @include width-up-to($phone-max) {
                grid-row-gap: $normal-margin;
            }

            img {
                max-width: 100%;
            }
        }

        .tagline {
            @include width-up-to($phone-max) {
                @include set-font(body-large);

                line-height: 3.2rem;
            }

            @include wider-than($phone-max) {
                line-height: 4rem;
            }
        }

        .video iframe {
            max-width: 100%;
            width: 100%;

            @include width-up-to($phone-max) {
                height: calc(#{900vw / 16} - 1rem);
            }

            @include width-up-to($tablet-max) {
                height: calc(#{900vw / 16} - 4rem);
            }

            @include width-between($tablet-max, $media-content-max) {
                height: calc(26.6vw);
            }

            @include wider-than($media-content-max) {
                height: 33.75rem;
            }

        }
    }
}
