@import 'pattern-library/core/pattern-library/headers';

.details-pane {

    padding: 0 2rem $normal-margin;

    p:first-child {
        margin-top: 0;
    }

    .author-heading {
        @include set-font(h4);

        margin: 1rem 0;
    }

}
