@import 'pattern-library/core/pattern-library/headers';

.promote-snippet {
    padding: 1rem 1.5rem;
    background-color: ui-color(page-bg);

    h2 {
        @include set-font(h3);
        letter-spacing: normal;
        margin-bottom: 1rem;
    }
}
