@import '../shared';

.creator-fest.page .navigator {
    background-color: ui-color(white);
    border: thin solid ui-color(form-border);
    border-radius: 0.2rem;
    border-top: 0;
    display: inline-grid;
    grid-auto-flow: column;
    line-height: 3rem;
    padding: 2rem 0;
    position: relative;
    top: 0;
    z-index: 1;

    @include width-up-to($phone-max) {
        @include title-font(1.6rem);

        left: 50%;
        max-width: calc(100vw - 2rem);
        transform: translateX(-50%);
    }

    @include wider-than($phone-max) {
        @include set-font(h4);
    }

    @include width-between($tablet-max, $media-content-max) {
        margin-left: 8.5rem;
    }

    @include width-between($media-content-max, #{$media-content-max + 10.25em}) {
        margin-left: calc(8.5rem - 50vw + #{$content-max / 2});
    }

    > * {
        border-right: thin solid ui-color(form-border);
        padding: 0 $normal-margin;

        &:last-child {
            border-right: 0;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &.current {
            color: $cf-pink;
        }

        &:hover,
        &:active,
        &:focus {
            color: darken($cf-pink, 3%);
        }
    }
}
