@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';

$pink: #eb008b;
$yellow: #fbd005;
$green: #00eb88;
$blue: #0dc0dc;

.rover-by-openstax #meet-rover {
    @extend %light-on-dark;

    align-items: center;
    background-image: url('/images/rover-3/chalk-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: text-color(white);
    display: grid;
    min-height: 45vw;
    padding: 6rem 0;
    position: relative;

    .boxed {
        display: grid;
        grid-column-gap: 6rem;
        grid-template-columns: 1fr 1fr;
    }

    .corner-logo {
        bottom: 0;
        max-width: 18.75vw;
        position: absolute;
        right: 0;
    }

    .feature-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        position: relative;

        > div {
            display: grid;
            grid-row-gap: $normal-margin;
            grid-template-rows: 5rem 1fr;
            padding: 4rem 2rem;
            justify-items: center;
            text-align: center;
        }

        .horizontal-chalk-line {
            grid-column: 1 / -1;
            grid-row: 2;
        }

        .vertical-chalk-line {
            grid-column: 2;
            grid-row: 1 / -1;
        }

        .icon {
            font-size: 3.2rem;

            &.pink {
                color: $pink;
            }
            &.yellow {
                color: $yellow;
            }
            &.green {
                color: $green;
            }
            &.blue {
                color: $blue;
            }
        }
    }

    .text-block {
        display: grid;
        grid-row-gap: 3rem;
        justify-items: flex-start;
    }
}
