@import 'pattern-library/core/pattern-library/headers';

.assignable .add {
    position: relative;

    @include width-up-to($tablet-max) {
        padding: 4rem 2rem;
    }

    .content-block {
        text-align: center;
    }

    .text-block > * {
        margin: 0;
    }
}
