@import 'variables';
@import 'mixins';

.accessibility-page {

    a {
        color: lighten(color(blue), 20%);
        text-decoration: underline;
    }

    .boxed {
        margin: 0 auto 4rem;
    }

}
