@import 'pattern-library/core/pattern-library/headers';

#explore-collections {
    margin-top: 2rem;
    width: 100%;

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        gap: 3rem;
        margin-top: 2rem;
        width: 100%;

        .card {
            @include card();

            color: inherit;
            padding: 1rem 2rem;
            text-decoration: none;

            .centered-image {
                display: flex;
                justify-content: center;
                padding-bottom: 1rem;
                width: 100%;

                img {
                    max-height: 14rem;
                    max-width: 100%;
                }
            }

            .name {
                @include set-font(body-large);

                font-weight: bold;
                text-align: center;
            }
        }
    }
}
