@import 'pattern-library/core/pattern-library/headers';

$mid-tablet: ($tablet-max + $phone-max) / 2;

.home.page .tutor {
    background-color: ui-color(white);

    .boxed {
        @include width-up-to($mid-tablet) {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            grid-row-gap: 6rem;
        }

        @include wider-than($mid-tablet) {
            display: grid;
            grid-column-gap: 3rem;
            grid-template-columns: 3fr 2fr;
        }
    }

    .text-block {
        align-items: flex-start;
        grid-row-gap: 4rem;
        text-align: left;

        img {
            max-width: 39rem;
            width: 100%;
        }
    }

    .icon-block {
        display: grid;
        font-weight: bold;
        grid-gap: 4rem;
        grid-template-columns: 1fr 1fr;

        .icon-group {
            align-items: center;
            display: flex;
            flex-direction: column;
            grid-row-gap: 3rem;
            text-align: center;

            img {
                max-height: 7rem;
                max-width: 7rem;
            }
        }
    }
}
