@import 'pattern-library/core/pattern-library/headers';

#assistant:not([hidden]) {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    h2 {
        margin: 0;
    }

    h3 {
        @include set-font(h3);
    }

    .welcome {
        border-bottom: thin solid ui-color(form-border);
        column-gap: 2rem;
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 2rem 0;
    }

    .cards {
        display: grid;
        gap: 2rem 3rem;

        @include scale-feature(margin-top, 1rem, 2rem);

        @include width-up-to($tablet-max) {
            display: flex;
            flex-direction: column;
        }

        @include wider-than($tablet-max) {
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
        }

        .card {
            @include card();

            border-radius: 0.5rem;
            box-shadow: 0 0.4rem 0.4rem rgba(ui-color(black), 0.25);
            height: 100%;
            overflow: hidden;

            &:hover {
                box-shadow: 0 0.4rem 0.4rem rgba(ui-color(black), 0.25);
            }

            $clipped-image-height: 12rem;
            .clipped-image {
                height: $clipped-image-height;
            }

            .text-block {
                display: grid;
                grid-template-rows: 1fr auto;
                font-weight: bold;
                gap: 2rem;
                height: calc(100% - #{$clipped-image-height});
                padding: 2rem;
            }
        }

        .btn {
            @include button();

            height: 4rem;
            padding: 0 1rem;
        }

        .questions {
            display: flex;
            flex-direction: column;

            @include width-up-to($tablet-max) {
                margin-bottom: 2rem;
            }

            @include wider-than($tablet-max) {
                gap: 0.7rem;
            }

            a {
                text-decoration: none;
            }
        }
    }
}
