@import 'pattern-library/core/pattern-library/headers';

#assistant:not([hidden]) {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    h2 {
        margin: 0;
    }

    h3 {
        @include set-font(h3);
    }

    .welcome {
        border-bottom: thin solid ui-color(form-border);
        column-gap: 2rem;
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 2rem 0;
    }

    .cards {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, calc(33.3% - 2rem));
        margin-top: 2rem;

        .card-and-qs {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .card {
            @include card();

            border-radius: 0.5rem;
            box-shadow: 0 0.4rem 0.4rem rgba(ui-color(black), 0.25);
            height: 100%;
            overflow: hidden;

            &:hover {
                box-shadow: 0 0.4rem 0.4rem rgba(ui-color(black), 0.25);
            }

            $clipped-image-height: 12rem;
            .clipped-image {
                height: $clipped-image-height;
            }

            .text-block {
                display: grid;
                grid-template-rows: 1fr auto;
                font-weight: bold;
                gap: 2rem;
                height: calc(100% - #{$clipped-image-height});
                padding: 2rem;
            }
        }

        .btn {
            @include button();
        }

        .questions {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            a {
                text-decoration: none;
            }
        }
    }
}
