<style scoped>@import url(/app/pages/home/home.css);</style>
<div class="home-page">
    <main id="maincontent">
        <os-carousel></os-carousel>

        <h1>What We Do</h1>
        <p> Free, peer-reviewed textbooks. Digital learning tools. Open education resources.
            OpenStax is working for greater access to education. We make it easy to adopt high-quality,
            affordable learning materials for your students.
        </p>
    </main>
</div>
