<style scoped>@import url(/app/pages/home/home.css);</style>
<div class="home-page">
    <main id="maincontent">
        <os-carousel></os-carousel>


<h1>Hello World</h1>
    </main>
</div>
<div class="home-page">
    <main id="maincontent">
        <os-carousel></os-carousel>



    </main>
</div>
<div class="home-page">
    <main id="maincontent">
        <os-carousel></os-carousel>



    </main>
</div>
