@import 'variables';
@import 'mixins';

.home-page {
    flex: 1 0 auto;

    @include desktop {
        margin-top: -6rem;
    }
}

.quote-buckets {
    background-color: lighten(color(neutral-lighter), 8%);
}
