<style scoped>
    @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
    @import url(/app/pages/home/home.css);
</style>
<div class="home-page">
    <div class="john-adams"></div>
    <div class="sacajawea"></div>
    <div class="clermont"></div>
    <div class="book"></div>
    <div class="video-banner"></div>

    <div class="btn btn-large now-i-can">
        <span>Now I can</span>
        <span class="quote">Travel back in time</span>
    </div>

    <div class="subject-links">
        <a class="btn btn-large btn-secondary explore-subject" href="/books/us-history">
            Explore U.S. History
        </a>

        <a class="btn btn-large btn-primary explore-all" href="/subjects">
            Explore All Subjects
        </a>
    </div>

    <main id="maincontent">

    </main>
</div>
