<style scoped>
    @import url(/app/pages/home/home.css);
</style>
<div class="home-page">
    <main id="maincontent">
        <div class="book-banner"></div>
        <div class="quote-buckets"></div>
        <div class="education"></div>
        <div class="buckets"></div>
    </main>
</div>
