@import 'pattern-library/core/pattern-library/headers';

.home.page {
    .boxed {
        padding-bottom: 6rem;
        padding-top: 6rem;
        position: relative;

        @include width-up-to($phone-max) {
            text-align: center;
        }

        @include wider-than($phone-max) {
            align-items: flex-start;
        }
    }

    .text-block {
        display: flex;
        flex-direction: column;
        grid-row-gap: 3rem;
    }

    h1,
    h2 {
        margin: 0;
    }

    section {
        position: relative;
    }

    .right-bg,
    .left-bg {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
    }

    .left-bg {
        left: 0;
    }

    .right-bg {
        right: 0;
    }

    .buttons {
        align-items: flex-start;
        display: flex;
        grid-gap: 2.5rem;

        @include width-up-to($phone-max) {
            align-items: center;
            flex-direction: column;
            margin: auto;
            max-width: 25rem;
        }

        .btn {
            @include button();

            width: 100%;

            &.primary {
                @extend %primary;
            }
        }
    }
}
