<style scoped>
    @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
    @import url(/app/pages/home/home.css);
</style>
<div class="home-page">
    <div class="book-banner us-history">
        <div class="john-adams"></div>
        <div class="sacajawea"></div>
        <div class="clermont"></div>
        <div class="book"></div>
        <div class="video-banner"></div>
        <div class="square-1"></div>
        <div class="square-2"></div>
        <div class="square-3"></div>
        <div class="square-4"></div>

        <div class="btn btn-large now-i-can">
            <span>Now I can</span>
            <span class="quote">Travel back in time</span>
        </div>

        <div class="subject-links">
            <ul>
                <li>
                    <a class="btn btn-large btn-secondary explore-subject" href="/books/us-history">
                        Explore U.S. History
                    </a>
                </li>
                <li>
                    <a class="btn btn-large btn-primary explore-all" href="/subjects">
                        Explore All Subjects
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <main id="maincontent">

    </main>
</div>

<div class="buckets-wrap">
	<div class="container">
		<div class="col">
			<div class="b-img"></div>
			<div class="b-text">
				<blockquote>“At first I was like, nope, and now I’m like, yep!”<br> &mdash; <cite>Juan C.</cite></blockquote>
				<a href="" class="btn btn-small btn-secondary" title="learn more">Read it</a>
			</div>
		</div>

		<div class="col">
			<div class="b-text">
				<p>Here is a place where some cool stuff happened. Check it out.</p>
				<a href="" class="btn btn-small btn-secondary" title="learn more">Read it</a>
			</div>
			<div class="b-img"></div>
		</div>

		<div class="col no-img">
			<p>No picture, no big deal. Talking about how great something is. “It could be a testmonial from a teacher.”</p>
			<a href="" class="btn btn-small  btn-" title="learn more">Read it</a>
		</div>
	</div>
</div>

<div class="br-education--wrap">
	<div class="br-overlay visible-small"></div>
	<div class="container">
		<div class="square-1 hidden-small"></div>
		<div class="square-2 hidden-small"></div>
		<div class="br-text--wrap">
			<div class="br-text">
				<p class="larger">When it comes to education,</p>
				<h1>there should be no limits.</h1>
				<p>Our hiqh-quality educational tools give students the access to the learning materials they need to succeed, at little to no cost. Because we don’t believe anything should come between students and their future.</p>
			</div>
		</div>
		<div class="square-4 br-student"><!--img src="/images/home/br-student-bg.png" alt="female student holding books"/--></div>
		<div class="br-ctas">
			<div class="col">
				<a href="" title="Higher Education">
					<p class="larger">Higher Education</p>
					<p>Free, peer-reviewed college textbooks</p>
				</a>
			</div>

			<div class="col">
				<a href="" title="K-12">
					<p class="larger">K-12</p>
					<p>Adaptive learning courseware and textbooks for AP® courses</p>
				</a>
			</div>
		</div>
	</div>
</div>