@import 'variables';
@import 'mixins';

.home-page {
    display: none;
    flex: 1 0 auto;

    @include desktop {
        margin-top: -6rem;
    }

    .book-banner {
        height: 71rem;
    }
}

.quote-buckets {
    background-color: lighten(color(neutral-lighter), 8%);

    .attribution {
        text-align: right;
    }
}
