@import 'pattern-library/core/pattern-library/headers';
@import '../article-summary/article-summary';

$image-height: 24rem;

.latest-blurbs.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;

    @include width-up-to($tablet-max) {
        grid-gap: 6rem 4rem;
    }

    @include wider-than($tablet-max) {
        grid-gap: 6rem 9rem;
    }

    .card {
        @extend %article-summary;

        background-color: ui-color(white);
        grid-template-rows: auto 1fr;
        height: 100%;

        .link-image {
            height: $image-height;
            width: 100%;
        }

        .article-headline {
            @include set-font(h3);
        }

        .text-block {
            display: grid;
            gap: 0.5rem;
            grid-template-rows: auto auto 1fr;
            height: 100%;
            padding: 1rem 0;

            > *,
            .article-blurb > * {
                margin: 0;
            }

            .article-blurb {
                max-height: 12rem;
                margin-top: 1rem;
            }

            .byline {
                display: none;
            }
        }
    }


}

.blog.page .more-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12rem;
    padding-top: 2rem;
    width: 100%;

    h3 {
        @include set-font(h3);
    }

    @media print {
        display: none;
    }

    .button-row {
        padding-top: 2rem;
    }

    .btn.primary {
        @include button();
        @extend %primary;
    }
}
