@import 'pattern-library/core/pattern-library/headers';

.page-header .sticky-note {
    background-color: os-color(orange);
    color: text-color(white);
    padding: 1rem 0;
    position: relative;
    width: 100vw;
    z-index: 1;

    &:empty {
        padding: 0;
    }

    &.temporary-banner {
        background-color: os-color(yellow);
        color: os-color(blue);
    }

    .inverted {
        background-color: ui-color(white);
        color: os-color(orange);
    }

    > .container {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    > .html-content {
        @extend %text-content;

        display: block;

        a {
            color: inherit;
            text-decoration: underline;
        }

        .put-away {
            background-color: rgba(ui-color(white), 0.5);
            border-radius: 0.4rem;
            color: text-color(normal);
            padding: 0.5rem;
            position: absolute;
            right: $normal-margin;
            top: $normal-margin;
            z-index: 1;

            &:hover,
            &:active {
                color: ui-color(black);
            }
        }

        .xx,
        .banner-image {
            display: block;
            margin-bottom: -1rem;
            margin-left: 50%;
            margin-top: -1rem;
        }

        .mobile,
        .desktop {
            display: none;
            transform: translateX(-50%);
            width: 100vw;
        }

        .mobile {
            @include width-up-to($phone-max) {
                display: block;
            }
        }

        .desktop {
            @include wider-than($phone-max) {
                display: block;
            }
        }
    }

    .btn {
        font-size: 80%;
        margin-left: 1rem;
        white-space: nowrap;
    }

    .multi-button {
        display: none;

        @include wider-than($tablet-max) {
            display: flex;
        }
    }

    .single-button {
        display: flex;
        justify-content: center;

        @include wider-than($tablet-max) {
            display: none;
        }
    }
}
