<template args="model">
    <div if="model.content" class="text-content container">
        {model.content}
        <div class="single-button">
            <a class="btn inverted" href="/give?student">Give Now</a>
        </div>
        <div class="multi-button">
            <a class="btn inverted" href="/give/form?amount=5">Give $5</a>
            <a class="btn inverted" href="/give/form?amount=10">Give $10</a>
            <a class="btn inverted" href="/give/form?amount=25">Give $25</a>
            <a class="btn inverted" href="/give/form?amount=50">Give $50</a>
            <a class="btn inverted" href="/give?student&amount">Give Other Amount</a>
        </div>
    </div>
</template>
