@import 'pattern-library/core/pattern-library/headers';

.page-header .sticky-note {
    background-color: os-color(orange);
    color: text-color(white);
    padding: 1rem 0;
    width: 100vw;
    z-index: 1;

    &:empty {
        padding: 0;
    }

    &.temporary-banner {
        background-color: os-color(yellow);
        color: os-color(blue);
    }

    .inverted {
        background-color: ui-color(white);
        color: os-color(orange);
    }

    > .container {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    > .html-content {
        @extend %text-content;

        display: block;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    .btn {
        font-size: 80%;
        margin-left: 1rem;
        white-space: nowrap;
    }

    .multi-button {
        display: none;

        @include wider-than($tablet-max) {
            display: flex;
        }
    }

    .single-button {
        display: flex;
        justify-content: center;

        @include wider-than($tablet-max) {
            display: none;
        }
    }
}
