<template args="model">
    <if condition="model.temporary">
        <div class = "text-content container">
            OpenStax will be closed December 23 through January 2 for the Rice
            Winter Holiday. We will respond to you when business resumes
            January 3. Happy Holidays!
        </div>
    <else>
        <div if="model.content" class="text-content container">
            {model.content}
            <div class="single-button">
                <a class="btn inverted" href="/give?student">Give Now</a>
            </div>
            <div class="multi-button">
                <a class="btn inverted" href="/give" data-amount="5">Give $5</a>
                <a class="btn inverted" href="/give" data-amount="10">Give $10</a>
                <a class="btn inverted" href="/give" data-amount="25">Give $25</a>
                <a class="btn inverted" href="/give" data-amount="50">Give $50</a>
                <a class="btn inverted" href="/give"  data-amount="?">Give Other Amount</a>
            </div>
        </div>
    </if>
</template>
