<template args="model">
    <div if="model.content && !model.expires" class="text-content container" role="alert">
        {model.content}
        <if condition="!model.temporary">
            <div class="single-button">
                <a class="btn inverted" href="/give?student">Give Now</a>
            </div>
            <div class="multi-button">
                <button each="lv in [10, 25, 50]"
                    class="btn inverted" href="/give" tabindex="1" data-amount="{lv}">
                    Give ${lv}
                </button>
                <button class="btn inverted" href="/give" tabindex="1" data-amount="?">
                    Give Other Amount
                </button>
            </div>
        </if>
    </div>
    <div
     if="model.expires"
     class="html-content"
     role="alert"
     skip="true"
     data-html="content"
    ></div>
</template>
