@import 'pattern-library/core/pattern-library/headers';

sticky-note {
    width: 100%;
}

.page-header.fixed .sticky-note {
    display: none;
}

.page-header:not(.fixed) .sticky-note {
    background-color: os-color(orange);
    color: text-color(white);
    padding: 1rem 0;
    position: relative;
    width: 100%;
    z-index: 1;

    &:empty {
        padding: 0;
    }

    &.temporary-banner {
        background-color: os-color(yellow);
        color: os-color(blue);
    }

    .inverted {
        background-color: ui-color(white);
        color: os-color(orange);
    }

    > .container {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    > .html-content {
        display: grid;
        min-height: 4rem;

        a {
            color: inherit;
            text-decoration: underline;
        }

        .put-away {
            background-color: rgba(ui-color(white), 0.5);
            border-radius: 0.4rem;
            color: text-color(normal);
            padding: 0.5rem;
            position: absolute;
            right: $normal-margin;
            top: $normal-margin;
            z-index: 1;

            &:hover,
            &:active {
                color: ui-color(black);
            }
        }

        [data-html="content"] {
            align-self: center;
            margin-left: $normal-margin;
            width: calc(100% - 6rem);

            @include width-up-to($phone-max) {
                justify-self: start;
            }

            @include wider-than($phone-max) {
                justify-self: center;
                max-width: $text-content-max;
            }
        }

        .xx,
        .banner-image {
            display: block;
            margin-bottom: -1rem;
            margin-top: -1rem;
            width: 0;

            @include width-up-to($phone-max) {
                margin-left: -$normal-margin;
            }

            @include wider-than($phone-max) {
                margin-left: 50%;
            }
        }

        .mobile,
        .desktop {
            display: none;
        }

        .mobile {
            @include width-up-to($phone-max) {
                display: block;
                width: 100vw;
            }
        }

        .desktop {
            @include wider-than($phone-max) {
                display: block;
                transform: translateX(calc(-50% - 0.8rem));
                width: calc(100vw);
            }
        }
    }

    .btn {
        font-size: 80%;
        margin-left: 1rem;
        white-space: nowrap;
    }

    .multi-button {
        display: none;

        @include wider-than($tablet-max) {
            display: flex;
        }
    }

    .single-button {
        display: flex;
        justify-content: center;

        @include wider-than($tablet-max) {
            display: none;
        }
    }
}
