@import 'pattern-library/core/pattern-library/headers';

.technology-selector {
    width: 100%;

    .prompt {
        @include set-font(h4);

        margin: 0;
    }

    .two-columns {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
    }

    .other-option {
        margin-top: 4rem;

        label {
            @include set-font(helper-label);

            font-weight: bold;
        }
    }
}
