@import 'variables';
@import 'mixins';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$text-dark2: rgba(0, 0, 0, 0.7);

.allies-page {
    line-height: 3rem;

    .container {
        display: flex;
        margin: 0 auto;
        padding: 0 1.5rem;
        width: 100%;
        height: 100%;
        max-width: $boxed-width;
        flex-flow: column wrap;
        flex: 1 100%;
    }

    .hero {
        background-color: color(green);
        color: color(neutral-lightest);
        padding: 2rem 2rem 11rem;
        text-align: left;

        @include desktop {
            text-align: center;
        }

        h1 {
            color: inherit;
        }

        .subhead {
            padding: 0;
            text-align: left;

            @include desktop {
                text-align: center;
            }
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .icons {
        @include constrained-variable-text(3, 0.3);

        background-color: color(gray);
        color: color(neutral-lightest);
        display: flex;
        font-weight: 500;
        justify-content: center;
        margin: 0 auto;
        min-height: 10rem;
        position: relative;

        a {
            color: inherit;
        }

        .container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding-top: 9rem;
        }

        .logo {
            align-items: center;
            display: flex;
            height: 20rem;
            justify-content: center;
            width: 20rem;

            &.hidden {
                display: none;
            }

            .logo-text,
            img {
                max-height: 7.5rem;
                max-width: 14rem;
                opacity: 0.88;
            }
        }
    }

    .strips {
        margin-bottom: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .blurbs {
        align-items: center;
        background-color: color(neutral-lightest);
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding: 3rem;

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &.hidden {
                display: none;
            }
        }

        a {
            position: relative;
            color: color(cyan);
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 500;

            &:hover {
                color: darken(color(cyan), 10%);
            }
        }
    }

    .filter {
        padding: 0.2rem 0;
    }
}
