<style scoped>
    @import url(/app/pages/allies/allies.css);
</style>
<div class="hero">
    <h1>Friends in HigherEd Places.</h1>
    <p class="subhead">
        OpenStax allies provide additional tools alongside our OpenStax texts.
        We share the belief that as allies, we can go further to change education
        and make high­quality learning materials affordable and accessible.
    </p>
</div>
<div class="button-row">
    <div class="filter-buttons"></div>
</div>
{{{strips}}}
<div class="blurbs">
</div>
