<style scoped>
    @import url(/app/pages/allies/allies.css);
</style>
<div class="hero hidden">
    <div class="container">
        <h1 id="page-title"></h1>
        <p id="page-subhead"></p>
    </div>
</div>
<div class="icons hidden">
    {{{strips}}}
    <div class="filter">
        <div class="filter-buttons"></div>
    </div>
    <div class="container"></div>
</div>
<div class="blurbs container"></div>
