<style scoped>
    @import url(/app/pages/allies/allies.css);
</style>
<div class="hero">
    <div class="container">
        <h1>Friends in HigherEd Places.</h1>
        <p class="subhead">
            OpenStax allies provide additional tools alongside our OpenStax texts.
            We share the belief that as allies, we can go further to change education
            and make high­quality learning materials affordable and accessible.
        </p>
    </div>
</div>
<div class="blurbs">
    {{{strips}}}
    <div class="filter">
        <div class="filter-buttons"></div>
    </div>
    <div class="container"></div>
</div>
