@import 'pattern-library/core/pattern-library/headers';

.partners .mobile-control-row {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    margin: 0 auto;

    @include width-up-to($phone-max) {
        display: flex;
        flex-wrap: wrap;
        padding: $normal-margin;
        position: sticky;
        top: 5rem;
        z-index: 2;

        &.stuck {
            box-shadow: 0 0.2rem 0.6rem 0 rgba(0,0,0,0.25);
        }
    }

    .title-bar {
        @include set-font(body-regular);

        align-items: center;
        background-color: ui-color(white);
        border-bottom: thin solid ui-color(form-border);
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        margin-bottom: -$normal-margin;
        padding: $normal-margin;
        position: sticky;
        top: 0;

        .put-away {
            font-size: 3rem;
            font-weight: normal;
            transform: translateY(-0.5rem);
        }
    }

    .result-count {
        @include set-font(body-large);
        margin-top: 0;
    }

    .result-count + div {
        @include width-up-to($phone-max) {
            display: none;
        }
    }

    .button-with-popover {
        background-color: ui-color(white);

        @include wider-than($phone-max) {
            display: none;
        }
    }

    .filter-section {
        border: thin solid ui-color(form-border);
    }

    button {
        padding: 0 $normal-margin;
    }

    .button-row {
        background-color: ui-color(white);
        border-top: thin solid ui-color(form-border);
        bottom: 0;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: $normal-margin;
        position: sticky;

        button {
            @include button();
            background-color: ui-color(white);

            &.primary {
                @extend %primary;
            }
        }
    }

    .mobile-filters {
        padding: 1rem 0;

        .accordion-group {
            grid-gap: 0;
            margin-bottom: 0;

            .accordion-group {
                .label,
                .checkboxes-linked-to-store {
                    margin-left: 2rem;
                }

                .accordion-button {
                    border: 0;
                }
            }

            .accordion-item:not(:first-child) .accordion-button {
                border-top: 0;

                &#accordion__heading-Advanced_Filters {
                    border-bottom: 0;
                }
            }
        }

        .title-tag {
            @include set-font(body-regular);

            background-color: inherit;
            color: text-color(link);
            margin-left: 0.7rem;
            padding: 0;
        }
    }
}
