@import 'pattern-library/core/pattern-library/headers';

.tabs {
    display: flex;
    flex-direction: column;

    .vertical {
        flex-direction: row;
    }
}

[role='tablist'] {
    @include tab-group;
    display: flex;

    // Other selectors that might be styled on the individual instance

    // &[aria-orientation='horizontal'] {
    //     border-bottom: 1px solid gray;

    //     [role='tab'] {
    //         border-bottom: 3px solid transparent;
    //     }
    // }

    [role='tab'] {
        @extend %tab;
        [aria-disabled] {
            opacity: 0.5;
        }
    
        &[aria-selected='true'] {
            @extend %active;
        }

        &:focus {
            outline: none;
        }
    }

    &[aria-orientation='vertical'] {
        flex-direction: column;
        // border-right: 1px solid gray;

        // [role='tab'] {
        //     border-right: 3px solid transparent;
        // }
    }
}

//   [role=tabpanel] {
//     padding: 10px;
//   }
