<style scoped>
    @import url(/app/pages/home/quotes/quotes.css);
</style>
<div class="quotes">
    <div class="quote-bucket right">
        <img src="/images/home/quotes/juan.jpg" width="175" height="230" />
        <div class="quote">
            <span class="blurb">
                At first I was like, nope, and now I'm like, yep!<br />
                <strong>- Juan C.</strong>
            </span>
            <a class="btn btn-orange" href="#">Read It</a>
        </div>
    </div>

    <div class="quote-bucket left">
        <img src="/images/home/quotes/school.jpg" width="175" height="230" />
        <div class="quote">
            <span class="blurb">
                Here is a place where some cool stuff happened.<br />
                Check it out.
            </span>
            <a class="btn btn-orange" href="#">Read It</a>
        </div>
    </div>

    <div class="quote-bucket full">
        <div class="quote">
            <span class="blurb">
                No picture, no big deal.
                Talking about how great something is. "It could be a
                testimonial from a teacher."
            </span>
            <a class="btn" href="#">Read It</a>
        </div>
    </div>
</div>
