@import 'pattern-library/core/pattern-library/headers';

.home.page .quotes {
    // @include scale-set-font(body-regular, body-large);
    @include light-on-dark();
    @include scale-feature(font-size, 1.6rem, 1.8rem);

    background-color: os-color(blue);
    color: text-color(white);

    h2 {
        @include title-font(2.4rem);

        margin: 0;
        text-align: center;
        width: 100%;
    }

    .images {
        bottom: 0;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: absolute;
        width: 100%;

        @include width-up-to($tablet-max) {
            margin-top: -4rem; // counter some of boxed padding
            position: relative;
        }

        @include width-up-to($phone-max) {
            height: 56vw;

            .left-bg {
                z-index: 1;
            }
        }

        @include width-between($phone-max, $tablet-max) {
            @include scale-feature(height, 33.6rem, 45rem);
        }

        @include wider-than($tablet-max) {
            .left-bg,
            .right-bg {
                position: relative;
            }
        }
    }

    .side-by-side {
        text-align: left;

        @include wider-than($tablet-max) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 3rem;
            margin: auto;
            margin-top: 2rem;
            max-width: 90rem;
            z-index: 1;
        }
    }

    .with-big-quote,
    .attribution {
        @include scale-feature(margin-left, 0, 12rem);

        background-color: rgba(os-color(blue), 0.66);

        @include wider-than($tablet-max) {
            padding: $normal-margin;
        }
    }

    .attribution {
        border-bottom-left-radius: 0.4rem;
    }

    .with-big-quote {
        margin-top: 6rem;
        position: relative;

        @include width-up-to($tablet-max) {
            @include scale-feature(margin-top, 7rem, 14rem);
        }

        &::before {
            @include scale-feature(font-size, 10rem, 20rem);
            @include scale-feature(letter-spacing, -0.04 * 10rem, -0.04 * 20rem);

            @include width-up-to($tablet-max) {
                @include scale-feature(top, -7rem, -14rem);
            }

            @include wider-than($tablet-max) {
                @include scale-feature(top, -5rem, -10rem);
                @include scale-feature(left, -5rem, -10rem);
            }

            content: '“';
            font-weight: bold;
            line-height: normal;
            position: absolute;
        }
    }

    .student-quote .with-big-quote::before {
        color: os-color(yellow);
    }

    .instructor-quote .with-big-quote::before {
        color: os-color(orange);
    }
}
