@import 'variables';
@import 'mixins';

.quotes {
    align-items: stretch;
    background-color: lighten(color(neutral-lighter), 8%);
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    padding: 7.5rem;
    width: 100vw;

    .quote-bucket {
        background-color: color(neutral-lightest);
        display: flex;
        flex: 1 1 auto;
        height: 23rem;
        margin-right: 2.25vw;
        min-width: (breakpoints(phone) * 0.7);

        &:last-child {
            margin-right: 0;
        }

        &.left {
            > img {
                order: 2;
            }

            > .quote {
                order: 1;
            }
        }

        &.right {
            img {
                order: 1;
            }

            > .quote {
                order: 2;
            }
        }

        &.full {
            background-color: color(orange);

            .quote {
                padding: 3rem;
            }

            .blurb {
                color: white;
                font-size: 2.1rem;
                font-weight: 400;
            }

            .btn {
                background-color: color(neutral-lightest);
                color: color(orange);
            }
        }
    }

    img {
        flex: 0 0 17.5rem;
    }

    .quote {
        flex: 1 1 auto;
        padding: 3rem 1rem;

        .blurb {
            display: block;
            line-height: 3rem;
        }

        .btn {
            margin-top: 1.5rem;
        }
    }
}
