@import 'pattern-library/core/pattern-library/headers';

.booking {
    display: grid;
    grid-gap: $normal-margin;
    grid-template-columns: 10rem 1fr;

    img {
        max-width: 100%;
    }

    .span-2 {
        grid-column-start: span 2;
    }

    .name {
        font-weight: bold;
    }
}
