@import 'pattern-library/core/pattern-library/headers';

$indicator-size: 1rem;

.rover-by-openstax .navigator {
    bottom: 0;
    color: text-color(normal);
    display: block;
    left: 0;
    position: relative;
    right: 0;
    transform: translateY(4rem);
    z-index: 1;

    @include width-up-to($phone-max) {
        @include title-font(1.6rem);
    }

    @include wider-than($phone-max) {
        @include title-font(2rem);
    }

    .top-bar {
        background-color: ui-color(default);
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        font-size: 112%;
        display: grid;
        justify-content: center;
        padding: $normal-margin;
        width: 100%;
    }

    .bottom-bar {
        background-color: ui-color(white);
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        padding: 2rem 0;
        width: 100%;
    }

    .navigation-item {
        border-right: 0.2rem solid ui-color(form-border);
        cursor: pointer;
        display: grid;
        grid-gap: 1rem;
        grid-template-rows: 1fr auto;
        justify-items: center;
        padding: 0 $normal-margin;
        text-align: center;

        &:last-child {
            border-right: 0;
        }

        @media (hover: hover) {
            &:hover {
                color: os-color(light-blue);
            }
        }
    }

    .indicator {
        border-radius: #{$indicator-size / 2};
        height: $indicator-size;
        width: $indicator-size;

        &.active {
            background-color: os-color(light-blue);
        }
    }
}
