@import 'pattern-library/core/pattern-library/headers';

.institutional-partner-program .speaking {
    padding: 12rem 0 10rem;
    position: relative;

    @include width-up-to($phone-max) {
        padding: 4rem 2rem;
    }

    .content-block {
        @include width-up-to($phone-max) {
            grid-template-columns: 100%;
        }

        @include wider-than($phone-max) {
            grid-row-gap: 1rem;
            grid-template: 'l ur'
                'l lr';

            .left-group {
                grid-area: l;
            }

            .ur {
                grid-area: ur;
            }

            .lr {
                grid-area: lr;
            }
        }

        img {
            max-width: 100%;
        }

    }

}
