@import 'pattern-library/core/pattern-library/headers';

.institutional-partner-program .speaking {
    padding: 12rem 0 10rem;
    position: relative;

    @include width-up-to($phone-max) {
        padding: 4rem 2rem;
    }

    .content-block {
        @include wider-than($phone-max) {
            grid-template-columns: 1fr auto;
        }

        img {
            max-width: 100%;
        }
    }

}
