@import 'pattern-library/core/pattern-library/headers';

.rover-by-openstax #banner {
    picture,
    picture img {
        max-width: 100%;
    }

    .top-right {
        background-color: ui-color(footer-bg);
        color: text-color(white);
        position: absolute;
        right: 4rem;
        top: 4rem;
    }
}
