@import 'pattern-library/core/pattern-library/headers';

.rover-by-openstax #faq {
    .top-border {
        background-image: url('/images/rover-by-openstax/bg-7.svg');
        height: calc(6rem + 11vw);
        margin-top: calc(-15.9rem - 11vw);
    }

    .faq-box {
        background-color: ui-color(white);
        color: text-color(normal);
        padding: 0 $normal-margin;
        width: 100%;
    }

    .indicator {
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-top: 0.5rem;
    }

    .qa {
        border-bottom: thin solid ui-color(form-border);
        padding: $normal-margin 0;
    }

    .question {
        display: grid;
        font-weight: bold;
        grid-template-columns: 1fr auto;
    }

    .answer {
        margin-right: 4rem;
        max-height: 25rem;
        max-width: $text-content-max;
        transition: all 0.3s;

        &.closed {
            max-height: 0;
            opacity: 0;
        }
    }
}
