@import 'pattern-library/core/pattern-library/headers';

.rover-by-openstax #getting-started {
    padding: calc(4rem + 10vw) 0;
    position: relative;

    .cards {
        display: grid;
        grid-gap: $normal-margin;
        margin-right: calc(30rem - 5vw);
        margin-top: 4rem;
        padding: 0.5rem 0;
        width: 100%;

        @include width-up-to($phone-max) {
            grid-template-columns: 100%;
        }
    }

    .video-left-text-right {
        background-color: ui-color(white);
        color: text-color(normal);
        display: grid;
        grid-gap: $normal-margin;
        justify-content: left;
        padding: $normal-margin;

        @include width-up-to($tablet-max) {
            grid-template-columns: 100%;
        }

        @include wider-than($tablet-max) {
            grid-template-columns: minmax(auto, 67%) auto;
        }

        > div > * {
            max-width: 100%;
        }

        > :first-child {
            > :first-child {
                @include width-up-to($tablet-max) {
                    width: 100%;
                }

                @include wider-than($tablet-max) {
                    min-width: 50rem;
                }
            }
        }
    }

    .right-bottom {
        bottom: 5vw;
        max-width: 30vw;
        position: absolute;
        right: 0;
    }
}
