@import 'pattern-library/core/pattern-library/headers';

.rover-by-openstax #lms {
    padding-top: 0;

    .boxed {
        border-top: thin solid ui-color(form-border);
        padding-top: 6rem;
    }

    .bottom-border {
        background-image: url('/images/rover-by-openstax/bg-4.svg');
        height: calc(6rem + 11vw);
        margin-bottom: calc(-15rem - 11vw);
    }
}
