@import 'pattern-library/core/pattern-library/headers';

.rover-by-openstax #meet-rover {
    background-color: ui-color(black);
    background-image: url('/images/rover-by-openstax/bg-3-tile.jpg');
    background-repeat: repeat;
    background-size: auto;
    color: text-color(white);
    padding-bottom: 20vw;
    padding-top: 20vw;
    position: relative;

    .boxed {
        display: grid;
        grid-row-gap: 4rem;

        @include wider-than($phone-max) {
            padding-left: calc(8.33vw + 12rem);
        }

        @include wider-than($wide-screen-min) {
            padding-left: calc(68rem - 40vw);
        }

        > .text-block {
            width: 100%;

            @include wider-than($phone-max) {
                text-align: right;
            }
        }
    }

    .left-logo {
        bottom: 0;
        max-width: calc(20vw + 4rem);
        position: absolute;
        transform: translateY(-20%);

        @include width-up-to($phone-max) {
            display: none;
        }
    }

    .cards {
        display: grid;
        grid-auto-rows: 1fr;
        grid-gap: $normal-margin;
        width: 100%;

        @include wider-than($phone-max) {
            grid-template-columns: 1fr 1fr;
        }

        @include wider-than($tablet-max) {
            &.row-of-three {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    .card {
        background-color: ui-color(footer-bg);
        display: grid;
        grid-template-rows: 12rem auto;
        padding: 4rem;

        > :first-child {
            justify-self: center;
            max-height: 8rem;
            max-width: 12rem;
        }
    }

    .btn.blue {
        justify-self: left;
    }
}
