@import 'pattern-library/core/pattern-library/headers';

.rover-by-openstax #video {
    .text-left-video-right {
        display: grid;
        min-height: 40rem;

        @include wider-than($tablet-max) {
            grid-gap: 8rem;
            grid-template-columns: auto auto;
            justify-content: center;
        }

        > * {
            display: grid;
            grid-gap: $normal-margin;

            > * {
                margin: 0;
                max-width: 100%;
            }
        }

        [data-html="video"] > * {
            min-height: 35rem;
            min-width: 50rem;
        }
    }

    .top-border,
    .bottom-border {
        background-image: url('/images/rover-by-openstax/bg-2.svg');
    }

    .top-border {
        height: calc(12rem + 11vw);
        margin-top: calc(-15.9rem - 11vw);
    }

    .bottom-border {
        height: calc(12rem + 8vw);
        margin-bottom: calc(-15.9rem - 10vw);
    }
}
