@import 'pattern-library/core/pattern-library/headers';

.subject-specific {
    .carousel {
        width: calc(100% - 4rem);

        @include wider-than($phone-max) {
            margin: 0 6rem;
        }

        .items {
            gap: 3rem;
            width: 100%;
        }

        .frame-changer {
            background-color: ui-color(secondary);

            &.right {
                border-radius: 0 0.5rem 0.5rem 0;
                right: -4rem;
            }

            &.left {
                border-radius: 0.5rem 0 0 0.5rem;
                left: -4rem;
            }
        }
    }
}
