<h1>Thank you for applying for an instructor account!</h1>
<p class="subhead">
    We manually verify all instructor account requests to ensure that educator
    resources stay in the right hands, so we’ll email you in the next 3 to 4
    business days about your approval. Once approved, you will be able to access
    all of our instructor-only resources.
</p>
<div>
    <a class="go-to" href="/adoption">Have you adopted an OpenStax book? Let us know</a>
</div>
