@import 'variables';
@import 'mixins';

.about-us-page {

    @media (max-width: 1300px) {
        max-width: 94%;
    }

    .hero {
        background-color: color(gray);
        color: color(neutral-lightest);

        @media (max-width: 1280px) {
            padding: 2rem 9vw;
        }

        h1 {
            color: color(orange);
        }
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        color: color(gray);
    }

    .headshots {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;

        .headshot {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem 0;
            position: relative;
            width: 20rem;

            .picture-area {
                align-items: flex-end;
                display: flex;
                height: 24rem;
                overflow: hidden;
                position: relative;
                width: calc(100% - 2.5rem);

                &.text-red .name {
                    color: color(red);
                }

                &.text-orange .name {
                    color: color(orange);
                }

                &.text-yellow .name {
                    color: color(yellow);
                }

                &.text-gold .name {
                    color: color(gold);
                }

                &.text-green .name {
                    color: color(green);
                }

                &.text-deep-green .name {
                    color: color(deep-green);
                }

                &.text-turquoise .name {
                    color: color(turquoise);
                }

                &.text-cyan .name {
                    color: color(cyan);
                }

                &.text-blue .name {
                    color: color(blue);
                }

                &.text-gray .name {
                    color: color(gray);
                }

                &.text-white .name {
                    color: color(neutral-lightest);
                }

                &.bg-red {
                    @include radial-gradient(lighten(color(red), 23%), color(red));
                }

                &.bg-orange {
                    @include radial-gradient(lighten(color(orange), 15%), color(orange));
                }

                &.bg-yellow {
                    @include radial-gradient(lighten(color(yellow), 25%), color(yellow));
                }

                &.bg-gold {
                    @include radial-gradient(lighten(color(gold), 18%), color(gold));
                }

                &.bg-green {
                    @include radial-gradient(lighten(color(green), 25%), color(green));
                }

                &.bg-deep-green {
                    @include radial-gradient(lighten(color(deep-green), 15%), color(deep-green));
                }

                &.bg-turquoise {
                    @include radial-gradient(lighten(color(turquoise), 19%), color(turquoise));
                }

                &.bg-cyan {
                    @include radial-gradient(lighten(color(cyan), 32%), color(cyan));
                }

                &.bg-blue {
                    @include radial-gradient(lighten(color(blue), 20%), color(blue));
                }

                &.bg-gray {
                    @include radial-gradient(lighten(color(gray), 20%), color(gray));
                }
            }

            img {
                height: 78%;
                left: -3.5rem;
                position: relative;
                z-index: 3;

                &.safari {
                    object-fit: cover;
                    left: 0;
                }
            }

            .name {
                font-size: 3.6rem;
                font-weight: bold;
                left: -0.2rem;
                letter-spacing: -0.15rem;
                line-height: 3.6rem;
                position: absolute;
                top: -0.5rem;
                word-wrap: break-word;
            }

            .title {
                margin-left: 5%;
                max-width: 20rem;
                text-align: center;
                width: 90%;
            }

            .details {
                align-items: center;
                background: color(neutral-lightest);
                box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(94, 96, 98, 0.1);
                display: flex;
                flex-direction: column;
                height: 0;
                left: -10rem;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                top: 80%;
                transform: translate3d(0, -1rem, 0);
                transition: opacity 0.2s, transform 0.2s;
                width: 0;

                &::before {
                    border: 2rem solid;
                    border-color: transparent transparent color(neutral-lightest);
                    bottom: 100%;
                    content: '';
                    left: 50%;
                    margin-left: -2rem;
                    position: absolute;
                }

                .name {
                    color: color(orange);
                    font-size: 1.8rem;
                    font-weight: 500;
                    position: static;

                }

                .title {
                    font-weight: 500;
                    font-variant: small-caps;
                    text-transform: lowercase;
                }
            }

            &:hover .details,
            &.tapped .details {
                height: auto;
                opacity: 1;
                padding: 1.5rem;
                transform: translate3d(0, 0, 0);
                z-index: 5;

                @include desktop {
                    width: 35rem;
                }

                @media (max-width: 1388px) {
                    left: -2vw;
                    width: 25rem;
                }
            }
        }
    }

    .strategic-advisors .headshot {
        .picture-area {
            height: 21rem;
            overflow: visible;
            position: static;
        }

        .name {
            font-size: 3rem;
            line-height: 3rem;
        }

        img {
            height: auto;
            position: static;
        }
    }
}
