<div class="about-us page hidden">
    <div class="hero w-cards"></div>
    {{{strips}}}
    <div class="meta">
        <div class="boxed">
            <h2>About Us</h2>
            <p>
                OpenStax is a nonprofit based at Rice University, and it’s our mission
                to improve student access to education. Our first openly licensed college
                textbook was published in 2012, and our library since scaled to more than
                20 books for college and AP courses used by hundreds of thousands of
                students. Our adaptive learning technology, designed to improve learning
                outcomes through personalized educational paths, is being piloted in
                college courses across the country. Through our partnerships with
                philanthropic foundations and our alliance with other educational
                resource companies, OpenStax is breaking down the most common barriers to
                learning and empowering students and instructors to succeed.
            </p>
        </div>
    </div>
    <div class="boxed">
        <section class="our-team">
            <h2>Our Team</h2>
            <div class="headshots"></div>
        </section>
        <section class="strategic-advisors">
            <h2>Strategic Advisors</h2>
            <div class="headshots"></div>
        </section>
    </div>
</div>
