@import 'variables';
@import 'mixins';

.technology-page {
    h1,
    h2,
    h3 {
        color: inherit;
        margin: 0;
        padding: 0;
    }

    section {
        overflow-x: hidden;
        padding: 6rem 0;

        @include phone {
            padding: 0;
        }
    }

    .btn {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    .outlined {
        border: 0.15rem solid rgba(color(neutral-lightest), 0.5);
    }
    // scss-lint:disable IdSelector

    #banner {
        background-color: color(neutral-lighter);
        background-image: url('/images/technology/library.jpg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        position: relative;

        @include phone {
            background-image: none;
            min-height: 0;
        }

        .boxed {
            display: block;
            min-height: inherit;
            padding-bottom: 8rem;
            position: relative;

            @include phone {
                padding: 0;
            }

            @include tablet {
                padding-bottom: 12rem;
            }
        }

        .main-box {
            left: 0;
            position: relative;
            top: 5vw;
            width: 60%;
            z-index: 2;

            @include phone {
                height: 100%;
                position: static;
                width: 100%;
            }

            .orange-part {
                background-color: color(orange);
                color: color(neutral-lightest);
                opacity: 0.9;
                padding: 3rem;

                @include phone {
                    height: 100%;
                    min-height: 40rem;
                    padding-bottom: calc(50vw + 4rem);
                }

                @include desktop {
                    margin-left: 4rem;
                    padding: 4rem;
                }
            }

            .description {
                max-width: 50rem;
            }
        }

        .box {
            background-color: color(orange);
            height: 15rem;
            opacity: 0.3;
            position: absolute;
            right: 10%;
            top: -4rem;
            width: 60%;
            // z-index: -1;

            @include phone {
                display: none;
            }

            &.first {
                bottom: -7vw;
                height: 100%;
                left: -3%;
                top: auto;
                width: 90%;
            }
        }

        .student-overlay {
            background-image: url('/images/technology/student.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 0;
            height: 75%;
            pointer-events: none;
            position: absolute;
            right: calc(6% - 15rem);
            width: calc(100% + 15rem);
            z-index: 2;
        }
    }

    #steps {
        background-color: color(turquoise);
        color: color(neutral-lightest);
        overflow: visible;

        @include phone {
            padding: 4rem;
        }

        #steps-target {
            height: 0;
            position: relative;
            top: -20vh;
        }

        h2 {
            margin-bottom: 4rem;
            text-align: center;
        }

        .boxed-row {
            display: block;
            justify-content: space-between;
            width: 100%;

            @include desktop {
                display: flex;
            }
        }

        .step {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            margin: 0 1.5rem;
            padding: 1.5rem 0;

            @include desktop {
                padding: 0;
            }

            h3 {
                color: color(gold);
                font-size: 3rem;
                margin-bottom: 0.5rem;
            }

            .btn {
                background-color: transparent;
                color: color(neutral-lightest);
            }

            .dimmed {
                opacity: 0.6;
            }

            a {
                color: inherit;
                position: relative;

                &::after {
                    @include triangle(
                        $direction: right,
                        $position: top calc(50% - 0.7rem) right -2.1rem,
                        $color: color(gold),
                        $size: 0.7rem
                    );
                }
            }
        }
    }

    .strips {
        margin: 0;
    }

    #tutor {
        background-color: #f5f5f5;
        height: 70rem;
        overflow-y: hidden;
        padding: 4rem 0 0;
        position: relative;

        @include desktop {
            padding-top: 8rem;
        }

        h2 {
            font-size: 2.1rem;
            line-height: 1.6;
        }

        .boxed {
            position: relative;
            z-index: 1;
        }

        .header {
            color: lighten(rgb(66, 66, 66), 13%);
            max-height: 14rem;
            width: 100%;

            @include phone {
                max-height: 18rem;
            }

            img {
                margin-top: 2rem;
                min-width: 20rem;
                width: 23%;
            }
        }

        .border-image {
            bottom: 0;
            left: -5.6%;
            position: absolute;
            transform: translateY(5%);
            width: 108%;
            z-index: 0;
        }

        .btn {
            background-color: color(cyan);
            color: color(neutral-lightest);
            margin-left: 3rem;

            @include phone {
                margin-left: 0;
                margin-top: 1.5rem;
                width: 100%;
            }

            &:first-child {
                background-color: color(blue);
                margin-left: 0;
            }
        }

        .tall-relative {
            height: 70rem;
            margin-top: 3rem;

            @include phone {
                margin-top: 2rem;
            }

            @include desktop {
                margin-top: 0;
                position: relative;
            }

            p {
                margin: 1rem 0 2rem;
            }
        }

        .description-block {

            @include desktop {
                bottom: 30rem;
                position: absolute;
                right: 10rem;
                width: 50rem;
            }
        }
    }

    .white-on-orange {
        background-color: color(orange);
        color: color(neutral-lightest);
    }
}
