@import 'mixins/triangle';
@import '../../../node_modules/pattern-library/core/pattern-library/headers';

.technology-page {
    h1,
    h2,
    h3 {
        color: inherit;
        margin: 0;
        padding: 0;
    }

    section {
        overflow-x: hidden;
        padding: 6rem 0;

        @include width-up-to($phone-max) {
            padding: 0;
        }
    }

    .btn {
        padding: 1rem 2rem;
    }

    .outlined {
        border: 0.15rem solid rgba(ui-color(white), 0.5);
        border-radius: 0.2rem;
    }
    // scss-lint:disable IdSelector

    #banner {
        background-image: url('/images/technology/library.jpg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60rem;
        overflow: hidden;
        position: relative;

        @include width-up-to($phone-max) {
            background-image: none;
            min-height: 0;
        }

        h1 {
            @include wider-than($phone-max) {
                @include set-font(hero-h1);
            }
        }

        .boxed {
            display: block;
            min-height: inherit;
            padding-bottom: 8rem;
            position: relative;

            @include width-up-to($phone-max) {
                height: 100%;
                padding: 0;
            }

            @include width-between($phone-max, $tablet-max) {
                padding-bottom: 12rem;
            }
        }

        .main-box {
            left: 0;
            position: relative;
            top: 5vw;
            width: 100%;
            z-index: 2;

            @include width-up-to($phone-max) {
                height: 100%;
                position: static;
                width: 100%;
            }

            @include wider-than($content-max) {
                top: 7rem;
            }

            .orange-part {
                background-color: os-color(orange);
                color: text-color(white);
                opacity: 0.9;
                padding: 3rem;

                @include width-up-to($phone-max) {
                    height: 100%;
                    min-height: 40rem;
                    padding-bottom: calc(50vw + 4rem);
                    width: 100%;
                }

                @include wider-than($tablet-max) {
                    margin-left: 4rem;
                    margin-right: 4rem;
                    padding: 4rem;
                    width: calc(100% - 7rem);
                }

            }

            .description {

                @include wider-than($content-max) {
                    width: 48rem;
                }

                @include width-up-to($content-max) {
                    width: 40%;
                }

                @include width-between($phone-max, $tablet-max) {
                    width: calc(5rem + 60%);
                }

                @include width-up-to($phone-max) {
                    width: 100%;
                }
            }
        }

        .box {
            background-color: os-color(orange);
            height: 15rem;
            opacity: 0.3;
            position: absolute;
            width: 80%;

            @include width-up-to($phone-max) {
                display: none;
            }

            &.first {
                bottom: -3vw;
                height: 90%;
                left: -1%;
            }

            &.second {
                left: 21%;
                top: -6rem;
                width: 48%;
            }
        }

        .student-overlay {
            background-image: url('/images/technology/student.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 0;
            height: 95%;
            left: 20%;
            pointer-events: none;
            position: absolute;
            width: calc(80% + 15rem);
            z-index: 2;

            @include width-up-to($phone-max) {
                background-position: 35% bottom;
                background-size: calc(60vw + 45rem) auto;
                left: 0;
                width: 100%;
            }

            @include wider-than($content-max) {
                left: auto;
                right: calc(50% - 85rem);
                width: 143rem;
            }
        }
    }

    #steps {
        background-color: os-color(deep-green);
        color: text-color(white);
        min-height: 35rem;
        overflow: visible;

        @include width-up-to($phone-max) {
            padding: 4rem;
        }

        h2 {
            margin-bottom: 4rem;
            text-align: center;
        }

        .boxed-row {
            display: block;
            justify-content: space-between;
            width: 100%;

            @include wider-than($tablet-max) {
                display: flex;
            }
        }

        .step {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            margin: 0 1.5rem;
            padding: 1.5rem 0;

            @include wider-than($tablet-max) {
                padding: 0;
            }

            h3 {
                @include set-font(h2);

                color: os-color(gold);
                margin-bottom: 0.3rem;
            }

            .btn {
                background-color: transparent;
                color: text-color(white);
            }

            .dimmed {
                opacity: 0.6;
            }

            a {
                color: inherit;
                position: relative;

                &::after {
                    @include triangle(
                        $direction: right,
                        $position: top calc(50% - 0.7rem) right -2.1rem,
                        $color: os-color(gold),
                        $size: 0.7rem
                    );
                }
            }
        }
    }

    .strips {
        margin: 0;
    }

    #tutor {
        background-color: #f5f5f5;
        height: 70rem;
        overflow-y: hidden;
        padding: 4rem 0 0;
        position: relative;

        @include wider-than($tablet-max) {
            padding-top: 8rem;
        }

        h2 {
            @include set-font(h3);
        }

        .boxed {
            position: relative;
            z-index: 1;
        }

        .header {
            color: lighten(rgb(66, 66, 66), 13%);
            max-height: 14rem;
            width: 100%;

            @include width-up-to($phone-max) {
                max-height: 18rem;
            }

            img {
                margin-top: 2rem;
                min-width: 20rem;
                width: 23%;
            }
        }

        .border-image {
            bottom: 0;
            left: -5.6%;
            position: absolute;
            transform: translateY(5%);
            width: 108%;
            z-index: 0;
        }

        .btn {
            background-color: os-color(light-blue);
            color: text-color(white);
            margin-left: 3rem;

            @include width-up-to($phone-max) {
                margin-left: 0;
                margin-top: 1.5rem;
                width: 100%;
            }

            &:first-child {
                background-color: os-color(blue);
                margin-left: 0;
            }
        }

        .tall-relative {
            height: 70rem;
            margin-top: 3rem;

            @include width-up-to($phone-max) {
                margin-top: 2rem;
            }

            @include wider-than($tablet-max) {
                margin-top: 0;
                position: relative;
            }

            p {
                margin: 1rem 0 2rem;
            }
        }

        .description-block {

            @include wider-than($tablet-max) {
                bottom: 30rem;
                position: absolute;
                right: 10rem;
                width: 50rem;
            }
        }
    }

    .white-on-orange {
        background-color: os-color(orange);
        color: text-color(white);
    }
}
