@import 'pattern-library/core/pattern-library/headers';

.k12.page .testimonial {
    background-color: os-color(deep-green);
    color: text-color(white);
    overflow: clip;
    padding-top: 7rem;
    position: relative;

    .bg-image-top-left,
    .bg-image-bottom-right {
        background-image: url(https://assets.openstax.org/oscms-prodcms/media/original_images/bg-pluses.original.original.webp);
        position: absolute;
        width: 40%;
        height: 50%;
        background-size: 110%;
    }

    .bg-image-top-left {
        left: 0;
        top: 0;
    }

    .bg-image-bottom-right {
        bottom: 0;
        right: 0;
    }

    h1 {
        @include set-font(h2);
        margin-bottom: 5rem;
    }

    .text-content {
        text-align: center;
        margin-bottom: 7rem;

        p {
            margin: 0;
        }
    }

    .quote-carousel {
        align-items: center;
        display: flex;
        gap: 4rem;
        position: relative;
        transition: left 0.3s ease;

        .card {
            background-color: white;
            border-radius: 2rem;
            color: text-color(normal);
            display: grid;
            gap: 2rem $normal-margin;
            grid-template: 'quote quote' 
                'img attribution' / 5rem 1fr;
            height: min-content;
            padding: 3rem;

            @include scale-feature(min-width, 30rem, 40rem);

            &[aria-hidden="true"] {
                opacity: 0.5;
            }

            .quote {
                @include set-font(body-large);

                grid-area: quote;
            }

            img {
                align-self: center;
                border-radius: 50%;
                grid-area: img;
                height: 5rem;
                max-width: 100%;
            }

            .attribution {
                align-self: center;
                grid-area: attribution;
                white-space: nowrap;
            }
        }
    }

    .button-row {
        width: 100%;
        display: flex;
        gap: 3rem;
        justify-content: center;
        padding: 5rem $normal-margin 7rem;

        button {
            appearance: auto;
            background-color: ui-color(white);
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            padding: 0;

            &[aria-selected="true"] {
                height: 1.2rem;
                width: 1.2rem;
                background-color: os-color(yellow);
            }
        }
    }
}