@import 'pattern-library/core/pattern-library/headers';

#main.layout-default {

  @include width-up-to($tablet-max) {
      padding-top: 5rem;
  }

  main {
      @include wider-than($media-content-max) {
          --max-content-width: #{$content-max};
      }
  }
}

#main.layout-default .page:not([hidden]) {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100vw;
    overflow: hidden;
}
