@import 'pattern-library/core/pattern-library/headers';

.assignable .courses {
    padding: {
        left: 2rem;
        right: 2rem;
    }
    position: relative;

    .content-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > * {
            max-width: 100%;
        }
    }

    .course-list {
        display: flex;
        flex-wrap: wrap;

        @include scale-feature(gap, 2rem, 3rem);

        > * {
            @include scale-feature(width, 16rem, 20rem);

            img {
                width: 100%;
            }
        }
    }
}
