@import 'pattern-library/core/pattern-library/headers';

.dropdown-menu {
    @include set-font(body-regular);

    background-color: ui-color(white);
    box-shadow: 0 0.5rem 0.5rem 0 rgba(black, 0.1);
    color: os-color(gray);
    display: none;
    margin: 0;
    padding: 1rem;
    width: auto;
    list-style-type: none;

    a {
        color: os-color(gray);
        display: block;
    }

    a:focus,
    a:hover {
        color: text-color(link-hover);
    }

    .language-selector {
        justify-content: flex-start;

        > span {
            a {
                color: text-color(link);
                display: inline;
                text-decoration: underline;
            }
        }
    }
}

.dropdown {
    position: relative;

    // Keeps rightmost menu from hanging off the screen
    &.rightmost .dropdown-container {
        right: -1rem;
    }

    .chevron {
        height: 1em;
        margin-left: 0.5em;
        width: 0.8rem;
    }

    // inline-block allows width control
    > [aria-expanded="true"] + .dropdown-container > .dropdown-menu {
        display: inline-block;
        height: auto;
        opacity: 1;
        transition: opacity 0.3s;
    }
}

