<div class="finished-verify no-style page">
    {{{strips}}}
    <div class="boxed">
        <h1>Thanks.</h1>
        <p>
            We manually verify that you are a faculty member and this process can take
            up to three business days. You will receive an email notification once we
            have confirmed your faculty status. Until then, you won’t be able to
            download faculty-only materials.
        </p>
    </div>
</div>
