@import 'pattern-library/core/pattern-library/headers';

@include wider-than($phone-max) {
    .mobile-only {
        display: none;
    }
}

@include width-up-to($phone-max) {
    .desktop-only {
        display: none;
    }

    .ReactModal__Content, dialog {
        width: 100% !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-block: 0 !important;
}

.research.page {
    .content {
        @extend %content;
    }

    .accordion-group .content-pane {
        background-color: rgba(0,0,0,0);
    }

    .link-text {
        text-decoration-line: underline;
        color: #026AA1;
        cursor: pointer;
    }

    .large-link {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .p-4 {
        padding: 4rem;
    }

    .px-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .px-4 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .pb-2 {
        padding-bottom: 2rem;
    }

    .pt-2 {
        padding-top: 2rem;
    }

    .pt-4 {
        padding-top: 4rem;
    }

    .py-1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .py-2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .py-3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .py-4 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .py-5 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .text-decoration-none {
        text-decoration: none;
    }
}
