@import 'pattern-library/core/pattern-library/headers';

@include wider-than($phone-max) {
    .mobile-only {
        display: none;
    }

    .member-modal {
        width: 60% !important;
    }

    .member-modal > dialog {
        width: 100% !important;
    }
}

@include width-up-to($phone-max) {
    .desktop-only {
        display: none;
    }

    .member-modal, dialog {
        width: 100% !important;
    }
}

.research.page {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-block: 0 !important;
    }

    .content {
        @extend %content;
    }

    .accordion-group .content-pane {
        background-color: rgba(0,0,0,0);
    }

    .link-text {
        text-decoration-line: underline;
        color: #026AA1;
        cursor: pointer;
    }

    .large-link {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .pb-2 {
        padding-bottom: 2rem;
    }

    .py-4 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .text-decoration-none {
        text-decoration: none;
    }
}
