<template args="model">
    <div class="modal-region" hidden="{model.modalHiddenAttribute}" skip="true"></div>
    <div class="get-this-title">
        <div class="options">
            <div if="model.includeTOC && model.tableOfContents" class="option">
                <a href="/" role="button" class="show-toc">
                    <span class="fa fa-list-ol"></span>
                    <span class="text">Table of contents</span>
                </a>
            </div>
            <div if="!model.comingSoon && model.webviewLink" class="option">
                <a href="{model.webviewLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}" data-submenu="{model.submenu}">
                    <span class="fa fa-laptop"></span>
                    <span class="text">View online</span>
                </a>
            </div>
            <div if="model.pdfLink" class="option">
                <a href="{model.pdfLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fas fa-cloud-download-alt"></span>
                    <span class="text">
                        <if condition="model.slug.substr(-6) === 'polska'">
                            {' Pobierz książkę'}
                        <else>
                            {' Download a PDF'}
                            <if condition="model.comingSoon">{' sample'}</if>
                        </if>
                    </span>
                </a>
            </div>
            <div if="model.printLink" class="option">
                <a href="{model.printLink}" class="show-print-submenu"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fa fa-book"></span>
                    <span class="text">
                        Order a print copy
                    </span>
                </a>
            </div>
            <div if="model.bookshareLink" class="option">
                <a href="{model.bookshareLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fa fa-volume-up"></span>
                    <span class="text">
                        Bookshare
                    </span>
                </a>
            </div>
            <if condition="model.ibookLink">
                <div if="model.ibookLink2" class="option">
                    <span class="option-header">
                        <span class="fab fa-apple"></span>
                        <span class="text">
                            Download on iBooks
                        </span>
                    </span>
                    <a href="{model.ibookLink}"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        Part 1
                    </a>
                    <a href="{model.ibookLink2}"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        Part 2
                    </a>
                </div>
                <div if="!model.ibookLink2" class="option">
                    <a href="{model.ibookLink}"
                        tabindex="{model.submenu === '' ? 0 : -1}">
                        <span class="fab fa-apple"></span>
                        <span class="text">
                            Download on iBooks
                        </span>
                    </a>
                </div>
            </if>
            <div if="model.kindleLink" class="option">
                <a href="{model.kindleLink}"
                    tabindex="{model.submenu === '' ? 0 : -1}">
                    <span class="fab fa-amazon"></span>
                    <span class="text">
                        Download for Kindle
                    </span>
                </a>
            </div>
        </div>
    </div>
</template>
