@import 'pattern-library/core/pattern-library/headers';

$icon-size: 6rem;

.instructor-resources {
    display: grid;
    grid-gap: 4rem;
    margin-bottom: 3.5rem;

    h2 {
        font-weight: normal;
        margin: 0;
    }

    .free-stuff-blurb {
        display: grid;
        grid-gap: $normal-margin;
        grid-template-columns: auto;
        margin-bottom: 4rem;

        @include wider-than($tablet-max) {
            margin-bottom: 5rem;
        }
    }

    .blurb-body {
        @include set-font(body-large);

        max-width: $text-content-max;
    }

    .webinars {
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto $text-content-max 1fr;
        text-decoration: none;

        .icon-cell {
            align-items: center;
            border-radius: 50%;
            display: flex;
            font-size: 0.55 * $icon-size;
            height: $icon-size;
            justify-content: center;
            width: $icon-size;
        }

        h2 {
            @include set-font(h4);
        }
    }

    .ally-blurb {
        align-items: flex-start;
        display: grid;
        font-weight: inherit;
        grid-gap: $normal-margin;
        grid-template-columns: 1fr auto;

        > * {
            grid-column: 1;
        }

        .ally-logo {
            grid-column: 2;
            grid-row: 1 / span 2;

            > img {
                margin-top: 0.5rem;
                max-height: 6.8rem;
            }
        }
    }

    .ally-box {
        padding: 0;
        text-decoration: none;

        &:not(:hover) {
            color: inherit;
        }

        .top {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            padding: 4rem 0;
            position: relative;
            width: 100%;

            @include wider-than($tablet-max) {
                &:hover {
                    .hover-blurb {
                        opacity: 1;
                    }

                    img {
                        opacity: 0;
                    }
                }
            }

            .hover-blurb {
                left: $normal-margin;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: opacity 0.3s ease-in-out;
                width: calc(100% - #{2 * $normal-margin});
            }

            img {
                transition: opacity 0.3s ease-in-out;
            }
        }

        .bottom {
            align-items: center;
            background-color: ui-color(default);
            border-bottom-left-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
            display: flex;
            justify-content: space-between;
            padding: $normal-margin 2rem;
        }

        img {
            margin: 0;
            max-width: calc(100% - #{2 * $normal-margin});
            width: 20rem;
        }
    }
}
