@import 'pattern-library/core/pattern-library/headers';

$icon-size: 6rem;

.instructor-resources {
    display: grid;
    grid-gap: 4rem;
    margin-bottom: 3.5rem;

    h2 {
        font-weight: normal;
        margin: 0;
    }

    .free-stuff-blurb {
        display: grid;
        grid-gap: $normal-margin;
        grid-template-columns: auto;
        margin-bottom: 4rem;

        @include wider-than($tablet-max) {
            margin-bottom: 5rem;
        }
    }

    .divider {
        align-items: center;
        color: text-color(helper);
        display: grid;
        font-variant: small-caps;
        font-weight: bold;
        grid-column-gap: 2rem;
        grid-template-columns: 1fr auto 1fr;
        justify-items: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        text-transform: lowercase;

        .line {
            border: thin solid ui-color(form-border);
            width: 100%;
        }
    }

    .cards {
        align-content: start;
        display: grid;
        grid-column-gap: 3rem;

        &:not(.include-partners) {
            .resources {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .partners {
                display: none;
            }
       }

        &.include-partners {
            @include width-between($phone-max, $tablet-max) {
                grid-template-columns: 1fr 1fr;

                .double {
                    grid-column: span 1;
                }
            }

            @include wider-than($tablet-max) {
                grid-template-columns: 2fr 1fr;
            }
        }

        .resources {
            grid-auto-rows: min-content;
            margin-top: 0;
        }
    }

    .blurb-body {
        @include set-font(body-large);

        max-width: $text-content-max;
    }

    .webinars {
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: $icon-size 1fr;
        max-width: 100%;
        text-decoration: none;

        .icon-cell {
            align-items: center;
            border-radius: 50%;
            display: flex;
            font-size: 0.55 * $icon-size;
            height: $icon-size;
            justify-content: center;
            width: $icon-size;
        }

        .blurb {
            max-width: $text-content-max;
        }

        h2 {
            @include set-font(h4);
        }
    }
}
