@import 'pattern-library/core/pattern-library/headers';

$icon-size: 6rem;

.instructor-resources {
    display: grid;
    grid-gap: 4rem;
    margin-bottom: 3.5rem;

    h2 {
        font-weight: normal;
        margin: 0;
    }

    .free-stuff-blurb {
        display: grid;
        grid-gap: $normal-margin;
        grid-template-columns: auto;
        margin-bottom: 4rem;

        @include wider-than($tablet-max) {
            margin-bottom: 5rem;
        }
    }

    .cards {
        display: grid;
        grid-column-gap: 3rem;

        &.include-partners {
            grid-template-columns: 2fr 1fr;

            .partners {
                @extend %card;

                max-height: calc(100vh - 8rem);
                overflow: hidden;
            }
        }

        .resources {
            margin-top: 0;
        }
    }

    .blurb-body {
        @include set-font(body-large);

        max-width: $text-content-max;
    }

    .webinars {
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: $icon-size 1fr;
        max-width: 100%;
        text-decoration: none;

        .icon-cell {
            align-items: center;
            border-radius: 50%;
            display: flex;
            font-size: 0.55 * $icon-size;
            height: $icon-size;
            justify-content: center;
            width: $icon-size;
        }

        .blurb {
            max-width: $text-content-max;
        }

        h2 {
            @include set-font(h4);
        }
    }
}
