<style scoped>
    @import url(/app/pages/k-12/boxes/boxes.css);
</style>

<div class="content">
    <div class="box books">
        <div class="image"></div>
        <div class="caption">
            <h3 class="title">Our Books</h3>
            <p class="blurb">Our college­ level textbooks for Advanced Placement® courses are peer-reviewed, completely free online, and will soon be available for a very low cost in print.</p>
            <a class="btn" href="/subjects">explore our subjects</a>
        </div>
    </div>

    <div class="box cnx">
        <div class="image"></div>
        <div class="caption">
            <h3 class="title">OpenStax CNX</h3>
            <p class="blurb">OpenStax CNX is an open library of educational content where anyone can contribute. View, share, and add material that you can remix and reuse for your course.</p>
            <a class="btn" href="/cnx">Discover Free Content</a>
        </div>
    </div>
</div>