@import '../../node_modules/pattern-library/core/pattern-library/headers';

.confirmation-page {
    .page-intro {
        background-color: os-color(deep-green);
        display: flex;
        justify-content: center;

        .subhead,
        .subhead h1 {
            align-items: center;
            color: text-color(white);
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 0;
        }

        .subhead {
            justify-content: flex-start;
            padding-top: 4rem;

            h1 {
                max-width: 100%;
            }
        }

        .header-link {
            color: os-color(blue);
            line-height: 2;

            &:hover {
                text-decoration: underline;
            }
        }

        .text-content {
            @include set-font(body-large);

            align-items: flex-start;
            display: flex;
            flex: 1 1 50%;
            flex-direction: column;
            margin-left: 14rem;
            padding-bottom: 4rem;

            @media (max-width: 1024px) {
                margin-left: calc(54vw - 41.4rem);
            }

            @include width-up-to($tablet-max) {
                margin-left: 0;
            }

            &.centered {
                align-items: center;
                flex-basis: 100%;
                margin-left: auto;
                text-align: center;
            }

            &.left-aligned {
                text-align: left;

                > * {
                    margin-left: 0;
                }
            }
        }

        img {
            display: inline-block;
            height: calc(35rem - 2vw);
            left: -14rem;
            position: relative;

            @media (max-width: 1024px) {
                left: calc(41.4rem - 54vw);
            }

            @include width-up-to($tablet-max) {
                display: none;
            }
        }
    }

    .btn.cta {
        @include button(primary);

        margin: 1rem 0 2rem;
    }

    .go-back {
        @include set-font(helper-label);

        color: text-color(white);

        &::before {
            content: '▸';
            display: inline-block;
            padding-left: 0.3em;
            transform: rotate(180deg);
            vertical-align: middle;
        }
    }

    .wrapper {
        background-color: ui-color(form-bg);
        min-height: 13rem;
        padding-top: 2rem;
    }

    .below-header-text {
        display: flex;
        justify-content: center;
        margin: 3rem auto;

        @include width-up-to($phone-max) {
            text-align: left;
        }
    }

    .white-on-blue,
    .white-on-gold {
        color: text-color(white);
    }

    .white-on-blue {
        background-color: os-color(blue);
    }

    .white-on-gold {
        background-color: os-color(gold);
    }
}
