@import 'variables';
@import 'mixins';

.confirmation-page {
    background-color: darken(color(neutral-lightest), 5%);

    .subhead {
        padding-bottom: 8rem;

        @include desktop {
            text-align: center;
        }

        a {
            color: color(yellow);
        }
    }

    .strips {
        margin-bottom: 0;
    }
}
