@import 'pattern-library/core/pattern-library/headers';

$icon-size: 6rem;

.instructor-resources {
    display: grid;
    grid-gap: 4rem;
    margin-bottom: 3.5rem;

    h2 {
        margin: 0;
    }

    .free-stuff-blurb {
        @include set-font(body-large);

        margin: 0.7rem 0 3.5rem;
    }

    .community-resources {
        margin-top: 4rem;

        .resource-box {
            margin-bottom: $normal-margin;

            .blurb {
                @include set-font(h3);

                font-weight: inherit;
            }
        }

        .bottom-right {
            align-items: baseline;
            display: grid;
            grid-gap: $normal-margin;
            grid-template-columns: 1fr auto auto;

            :first-child {
                grid-column-start: 2;
            }

            a {
                color: os-color(green);
            }
        }
    }

    .webinars {
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto 1fr;

        // TODO Use book color
        .icon-cell {
            align-items: center;
            background-color: os-color(green);
            border-radius: 50%;
            color: text-color(white);
            display: flex;
            font-size: 0.55 * $icon-size;
            height: $icon-size;
            justify-content: center;
            width: $icon-size;
        }

        h2 {
            @include set-font(h4);
        }

        .blurb {
            @include set-font(body-large);
        }
    }

    .ally-blurb {
        @include set-font(body-large);

        align-items: flex-start;
        display: grid;
        font-weight: inherit;
        grid-gap: $normal-margin;
        grid-template-columns: 1fr auto;

        > * {
            grid-column: 1;
        }

        .blurb-body {
            @include body-font(2.4rem);

            max-width: $text-content-max;
        }

        .ally-logo {
            grid-column: 2;
            grid-row: 1 / span 2;

            > img {
                margin-top: 0.5rem;
                max-height: 6.8rem;
            }
        }
    }

    .ally-box {
        padding: 0;

        .top {
            align-items: baseline;
            display: flex;
            justify-content: center;
            padding: 4rem 0;
        }

        .bottom {
            align-items: baseline;
            background-color: ui-color(default);
            border-bottom-left-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
            display: flex;
            justify-content: flex-end;
            padding: $normal-margin 2rem;

            > a {
                color: inherit;
                text-decoration: none;
            }

        }

        img {
            margin: 0;
            max-width: calc(100% - #{2 * $normal-margin});
            width: 20rem;
        }
    }
}
