@import 'pattern-library/core/pattern-library/headers';

.press.page .article {
    @include scale-feature(padding-top, 2rem, 4rem);

    .body {
        padding-top: 1rem;
        
        p {
            margin: 0;
        }
    }
}

.press.page .article,
.press.page > .text-content {
    @include wider-than($tablet-max) {
        grid-column: 1 / 6;
    }

    h1 {
        margin-top: 0;
        text-wrap: balance;
        width: 100%;
    }

    .other.press-releases {
        padding-top: 1rem;

        h2 {
            display: none;
        }
    }
}
