@import 'pattern-library/core/pattern-library/headers';

.press.page .article {
    @include scale-feature(padding-top, 2rem, 4rem);

    .hero {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30vh;
        margin-bottom: 3rem;
        position: relative;
        width: 100%;

        img {
            position: absolute;
            bottom: 0;
        }
    }

    .text-content {
        align-items: start;
    }

    .body {
        @extend %content;

        padding: 0;
        position: relative;

        img {
            margin-top: $normal-margin;
            max-width: 100%;
        }

        figcaption {
            @include set-font(helper-label);

            color: text-color(helper);
            font-style: italic;

            :first-child {
                margin-top: 0.5rem;
            }
        }

    }

}

.press.page .article,
.press.page > .text-content {
    @include wider-than($tablet-max) {
        grid-column: 1 / 6;
    }

    h1 {
        margin-top: 0;
        text-wrap: balance;
        width: 100%;
    }

    .other.press-releases {
        padding-top: 1rem;

        h2 {
            display: none;
        }
    }
}
