@import 'pattern-library/core/pattern-library/headers';

.request-comp-copy-dialog {
    @include width-up-to($phone-max) {
        .html-title {
            color: os-color(green);
            font-size: 3rem;
            text-align: center;
            width: 100%;
        }

        .text-title {
            display: none;
        }
    }

    @include wider-than($phone-max) {
        .html-title {
            display: none;
        }
    }
}

.comp-copy-request-form {
    display: grid;
    grid-gap: 3rem;
    padding: 3rem;

    @include width-up-to($phone-max) {
        grid-gap: 2rem;
        padding-top: 1rem;
    }

    .book-requested {
        align-items: center;
        display: grid;
        grid-column-gap: $normal-margin;
        grid-row-gap: $tight-margin;
        grid-template: auto auto / 7rem auto;

        :first-child {
            grid-column-start: span 2;
        }

        img {
            max-width: 100%;
        }

        .header {
            @include set-font(helper-label);

            color: text-color(helper);
            font-weight: bold;
        }
    }

    form {
        display: grid;
        grid-gap: 5rem;

        @include width-up-to($phone-max) {
            grid-gap: 3rem;
        }
    }

    .hint {
        @include set-font(helper-label);
        color: text-color(helper);
    }

    input {
        border: thin solid ui-color(form-border);
        height: $form-element-height;
        width: 100%;
    }

    .button-row {
        display: grid;
        grid-gap: #{2 * $tight-margin};

        @include wider-than($phone-max) {
            grid-template-columns: auto auto 1fr;
        }
    }

    button {
        @extend %button;

        &.primary {
            @extend %primary;
        }
    }

    .confirmation-header {
        @include width-up-to($phone-max) {
            font-weight: bold;
        }
    }

    .confirmation > * {
        @include wider-than($phone-max) {
            display: inline;
        }
    }
}
