@import 'variables';
@import 'mixins';

.products-boxes {
    margin: 0 auto;

    .content {
        margin: 0 auto;
        max-width: $boxed-width;
        display: flex;
        justify-content: space-between;

        @include collapsed {
            flex-direction: column;
        }

        .caption {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;
        }

        .blurb {
            flex-grow: 1;
            width: 100%;
        }

        .product-box {
            background-color: white;
            display: flex;
            flex-direction: column;
            margin: 0 1.5rem;
            flex: 1 1 33%;

            @include collapsed {
                flex: 1 1 auto;
                margin: 0 0 3rem;
                padding: 0 1.5rem;

                &.cnx {
                    margin-bottom: 0;
                }
            }

            .image {
                background-color: color(gold);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 3rem;
                min-width: 100%;
                height: 23.6rem;
            }

            &:last-child .image {
                background-color: color(yellow);
            }

            h3 {
                color: color(gray);
                font-weight: 700;
                margin: 0;
            }

            a {
                background: 0;
                color: color(cyan);
                display: inline-block;
                font-weight: 500;
                padding: 0;
                position: relative;
                text-transform: uppercase;

                &::after {
                    @include triangle(
                        $direction: right,
                        $position: top calc(5% + 0.6rem) right -1.3rem,
                        $color: color(cyan),
                        $size: 0.5rem
                    );
                }
            }
        }
    }

    .books > .image {
        background-image: url('/images/k-12/books.jpg');
    }

    .cnx > .image {
        background-image: url('/images/k-12/bx-cnx-2x.jpg');
    }

    .cc > .image {
        background-image: url('/images/k-12/student.jpg');
    }
}
