@import 'pattern-library/core/pattern-library/headers';
@import '../common';

.institution-cards {
  display: grid;
  grid-gap: 3rem;

  .institution {
    @include width-up-to($phone-max) {
      grid-template-columns: auto 1fr auto;
      justify-content: left;
      margin-right: 0;
      width: 100%;
    }

    align-items: center;
    border-bottom: thin solid ui-color(form-border);
    display: flex;
    grid-gap: 1rem;
    height: min-content;
    justify-content: space-between;
    padding: 1rem;

    .icon-and-name {
      align-items: center;
      display: flex;
      grid-gap: 1rem;

      .icon {
        @include icon();

        font-size: 3.2rem;
      }

      .name {
        margin-right: 2rem;
      }

      @each $name, $spec in $os-colors {
        #{'.icon.' + $name} {
          background-color: $spec;
        }
      }
    }

    .edit-link {
      @include set-font(helper-label);

      padding-right: $normal-margin;
      text-decoration: none;
    }
  }

  .add-button {
    @include add-button();
  }

  .books {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    padding: 1rem;

    .adopted-book {
      display: flex;
      flex-direction: column;
      grid-gap: 0.5rem;
      padding: 0.5rem;
      position: relative;
      width: 13rem;

      .cover {
        background-color: os-color(gold);
        border-radius: 0.3rem;
        max-width: 100%;

        img {
          max-width: 100%;
        }
      }

      .btn {
        @extend %button;

        &.primary {
          @extend %primary;
        }

        &:not(.primary) {
          background-color: transparent;
        }
      }
    }

    .card {
      border: thin solid ui-color(form-border);
      box-shadow: none;
    }
  }
}
