<p>OpenStax College textbook you are using: </p>
<select name="00NU00000053nzR" required>
    <option value="">Please Select</option>
    <option value="Algebra and Trigonometry">Algebra and Trigonometry</option>
    <option value="Anatomy and Physiology">Anatomy and Physiology</option>
    <option value="Biology">Biology</option>
    <option value="Chemistry">Chemistry</option>
    <option value="College Algebra">College Algebra</option>
    <option value="College Physics">College Physics</option>
    <option value="College Physics for AP® Courses ">College Physics for AP® Courses </option>
    <option value="Concepts of Biology">Concepts of Biology</option>
    <option value="Introduction to Sociology">Introduction to Sociology</option>
    <option value="Introduction to Sociology 2e">Introduction to Sociology 2e</option>
    <option value="Introductory Statistics">Introductory Statistics</option>
    <option value="Prealgebra">Prealgebra</option>
    <option value="Precalculus">Precalculus</option>
    <option value="Principles of Economics">Principles of Economics</option>
    <option value="Principles of Macroeconomics">Principles of Macroeconomics</option>
    <option value="Principles of Macroeconomics for AP® Courses">Principles of Macroeconomics for AP® Courses</option>
    <option value="Principles of Microeconomics">Principles of Microeconomics</option>
    <option value="Principles of Microeconomics for AP® Courses">Principles of Microeconomics for AP® Courses</option>
    <option value="Psychology">Psychology</option>
    <option value="U.S. History">U.S. History</option>
</select>
<p>How are you using this title?</p>
<fieldset class="labeled-buttons">
    <label>
        <input checked="checked" name="00NU00000055spw" type="radio" value="Fully adopted">
        Fully adopted and using it. The students don't have to pay for a book.
    </label>
    <label>
        <input name="00NU00000055spw" type="radio" value="Recommending book as an option">
        Recommending the book as an option. The students purchase a different book.
    </label>
</fieldset>
<p>Which partner resources are you using with the OpenStax College book?</p>
<fieldset class="labeled-buttons require-one">
    <legend class="validation-message">
        Select at least one
    </legend>
    <label>
        <input name="00NU0000005VmTu" type="checkbox" value="None">
        None
    </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="Cerego">
         Cerego
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="Courseweaver">
         Courseweaver
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="Expert TA">
         Expert TA
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="Lrnr">
         Lrnr
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="Sapling Learning">
         Sapling Learning
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="SimBio">
         SimBio
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="WebAssign">
         WebAssign
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="Wiley Plus">
         Wiley Plus
     </label>
     <label>
         <input name="00NU0000005VmTu" type="checkbox" value="XYZ Homework">
         XYZ Homework
     </label>
   <label>
       <input class="other" name="other" type="checkbox" value="other">
       Other
       <input name="00NU0000005Vls8" type="text">
   </label>
</fieldset>
<p>
    Approximately how many students in your classes will be using this book per
    semester?
</p>
<input name="00NU00000052VId" type="number" required />
<p>
    If there are other instructors in your department who will also be using this
    book, approximately how many students in your department will be using this
    book per semester?
</p>
<input name="00NU00000055sq1" type="number" />
