@import 'pattern-library/core/pattern-library/headers';

.institutional-partnership.page .speaking {
    position: relative;

    @include scale-feature(padding-top, 4rem, 12rem);
    @include scale-feature(padding-bottom, 4rem, 10rem);
    @include scale-feature(padding-left, 2rem, 0rem);
    @include scale-feature(padding-right, 2rem, 0rem);

    .content-block {
        @include wider-than($phone-max) {
            display: block;
        }

        figure {
            @include width-up-to($phone-max) {
                max-width: 100%;
                order: 2;
            }
            @include wider-than($phone-max) {
                float: right;
                margin: $normal-margin {
                    top: 0;
                }
                max-width: 40%;
            }

            img {
                max-width: 100%;
            }

            figcaption {
                @include set-font(helper-label);
                line-height: normal;
            }
        }
    }

}
