@import 'pattern-library/core/pattern-library/headers';

.page-header > .meta-nav {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    height: 0;
    justify-items: center;
    overflow: hidden;
    width: 0;

    @at-root .active#{&} {
        height: auto;
        white-space: nowrap;
    }

    @include wider-than($tablet-max) {
        @include set-font(helper-label);

        background-color: ui-color(default);
        height: 5rem;
        order: 1;
        overflow: inherit;
        width: 100%;
        z-index: 1;
    }

    .container {
        align-items: center;
        display: grid;

        @include width-up-to($tablet-max) {
            margin-left: auto;
            margin-right: auto;
        }

        @include wider-than($tablet-max) {
            color: os-color(gray);
            grid-auto-flow: column;
            grid-gap: 3rem;
            justify-content: right;
            max-width: $content-max;
            width: 100%;

            a {
                color: inherit;
            }
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: column;

        @include wider-than($tablet-max) {
            flex-direction: row;
            justify-content: flex-end;
        }

        @at-root .active#{&} {
            margin: 0;
            padding-left: 0;
        }

        .nav-menu-item {
            padding: 0 2rem;

            @at-root .active#{&} {
                padding-left: 0;
            }
        }
    }

    .logo-wrapper {
        align-items: center;
        background: ui-color(default);
        border-top: 0.1rem solid ui-color(form-border);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        opacity: 0;
        overflow: hidden;
        width: 0;

        @media (max-height: #{39em * $scale-factor}) {
            display: none;
        }

        @at-root .active#{&} {
            bottom: 0;
            left: 0;
            opacity: 1;
            padding: 1.5rem;
            position: absolute;
            transform: translate3d(0, 0, 0);
            transition: opacity 0.2s 0.5s, transform 0.3s 0.6s;
            width: 100%;
        }

        @include wider-than($tablet-max) {
            background: transparent;
            border: 0;
            opacity: 1;
            padding: 0 1.5rem;
            width: auto;
        }

        @include width-up-to($tablet-max) {
            &::after {
                color: os-color(gray);
                content: '\00a9  Rice University';
                order: 2;
            }
        }
    }
}
