<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>OpenStax</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <meta name="description" content="OpenStax offers free college textbooks for all types of students, making education accessible &amp; affordable for everyone. Browse our list of available subjects!">
        <meta property="og:url" content="https://openstax.org/">
        <meta property="og:type" content="article">
        <meta property="og:title" content="OpenStax | Free Textbooks Online with No Catch">
        <meta property="og:description" content="OpenStax offers free college textbooks for all types of students, making education accessible &amp; affordable for everyone. Browse our list of available subjects!">
        <meta property="og:image" content="https://assets.openstax.org/oscms-prodcms/media/images/Turning_textbook_highlighting_into_time_well-sp.original.jpg">
        <meta property="og:image:alt" content="OpenStax: OpenStax | Free Textbooks Online with No Catch">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@OpenStax">
        <meta name="twitter:title" content="OpenStax | Free Textbooks Online with No Catch">
        <meta name="twitter:description" content="OpenStax offers free college textbooks for all types of students, making education accessible &amp; affordable for everyone. Browse our list of available subjects!">
        <meta name="twitter:image" content="https://assets.openstax.org/oscms-prodcms/media/images/Turning_textbook_highlighting_into_time_well-sp.original.jpg">
        <meta name="twitter:image:alt" content="OpenStax">
        <link rel="preload" href="<%= process.env.API_ORIGIN %>/apps/cms/api/webview-settings/" as="fetch" crossorigin="anonymous">
        <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous"
            href="/cms/assets/fonts/5b1fbd62-45dc-4433-a7df-a2b24a146411.woff2">
        <link rel="preconnect" href="https://www.facebook.com" crossorigin="anonymous">
        <link rel="preconnect" href="https://connect.facebook.net" crossorigin="anonymous">
        <link rel="prefetch" href="<%= process.env.API_ORIGIN %>/apps/cms/api/books/?format=json">
        <link rel="prefetch" href="<%= process.env.API_ORIGIN %>/apps/cms/api/footer/?format=json">
        <script>
          // This code is shared with the accounts-model
          window._OX_USER_PROMISE ||= fetch('/accounts/api/user?always_200=true', {credentials: 'include'}).then(
            (response) => response.json()
          );

          // This method is called when the CookieYes banner loads and we don't have a recorded consent at all,
          // from neither Accounts nor the CookieYes cookie
          const closeButtonRejectsAll = () => {
            // Interpret clicking the X button on the banner as rejecting all cookies
            document.getElementsByClassName('cky-banner-btn-close')[0]?.addEventListener(
              'click', () => performBannerAction('reject')
            );
          };

          window._OX_USER_PROMISE.then((user) => {
            const updateUserConsentPreferences = (consentPreferences) => {
              return fetch('/accounts/api/user', {
                body: JSON.stringify({consent_preferences: consentPreferences}),
                credentials: 'include',
                headers: { 'Content-Type': 'application/json' },
                method: 'PUT',
              }).then(
                (response) => {
                  if (response.ok) {
                    window.location.reload();
                  } else {
                    throw new Error(`Failed to save cookie consent: HTTP ${response.status} status code`);
                  }
                }
              );
            };

            document.addEventListener('cookieyes_banner_load', async(eventData) => {
              const userConsentPreferences = user?.consent_preferences;

              if (userConsentPreferences) {
                // Accounts remembers some state
                // We always defer to Accounts in this case

                // Only call the CookieYes API if it doesn't match what's in Accounts
                let doUpdate = !eventData.detail.isUserActionCompleted;

                userConsentPreferences.accepted.forEach((accepted) => {
                  // There is no "necessary" switch
                  if (accepted !== 'necessary') {
                    document.getElementById(`ckySwitch${accepted}`).checked = true;
                    if (!eventData.detail.categories[accepted]) { doUpdate = true; }
                  }
                });
                userConsentPreferences.rejected.forEach((rejected) => {
                  document.getElementById(`ckySwitch${rejected}`).checked = false;
                  if (eventData.detail.categories[rejected]) { doUpdate = true; }
                });
                if (doUpdate) { performBannerAction('accept_partial'); }
              } else if (eventData.detail.isUserActionCompleted) {
                // Accounts doesn't have state but somehow CookieYes does
                // This can happen because of 3rd party cookies enabled, non-embedded launch, etc
                // Ideally we'd clear the CookieYes consent and let users click the banner again,
                // but there's no API to do that
                // So instead we make a request to save the user consent to Accounts
                const bannerConsentPreferences = { accepted: [], rejected: [] };
                Object.entries(eventData.detail.categories).forEach(([category, accepted]) => {
                  const arr = accepted ? bannerConsentPreferences.accepted : bannerConsentPreferences.rejected;
                  arr.push(category);
                });
                return updateUserConsentPreferences(bannerConsentPreferences);
              } else {
                closeButtonRejectsAll();
              }
            });

            document.addEventListener(
              'cookieyes_consent_update', (eventData) => updateUserConsentPreferences(eventData.detail)
            );
          }, () => {
            // User load failed, so we just do the closeButtonRejectsAll() part for consistency
            // and don't try to record the consent in Accounts
            document.addEventListener('cookieyes_banner_load', (eventData) => {
              if (!eventData.detail.isUserActionCompleted) {
                closeButtonRejectsAll();
              }
            });
          });
        </script>
        <!-- Start cookieyes banner -->
        <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/7c03144a7ef8b7f646f1ce01/script.js"></script>
        <!-- End cookieyes banner -->
        <script src="//script.crazyegg.com/pages/scripts/0084/9271.js" async="async"></script>
    </head>
    <body class="page-loading">
        <noscript>
            <div class="nojs"><p>You must enable JavaScript in order to use this site.</p></div>
        </noscript>
        <div id="app"></div>
    </body>
</html>
