@import 'variables';
@import 'mixins';

.k-12-page {
    flex: 1 0 auto;

    .quote-buckets {
        background-color: lighten(color(neutral-lighter), 8%);

        .quotes {
            padding: 8rem 1.5rem;

            .quote-bucket {
                margin: 0;
                font-size: 1.6rem;

                @include desktop {
                    max-width: 80%;
                }

                &:not(.right) {
                    display: none;
                }

                .image {
                    background-color: color(blue);
                    background-image: url('/images/home/quotes/teacher.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    max-width: 40rem;
                }

                .btn {
                    align-self: flex-start;
                }
            }
        }
    }

    .buckets {
        .buckets-section {
            padding-top: 0;
        }
    }
}
