@import 'variables';
@import 'mixins';

.k-12-page {
    flex: 1 0 auto;

    .quotes-buckets {
        background-color: lighten(color(neutral-lighter), 8%);

        .quotes {
            padding: 8rem 0;
            width: 90vw;

            .quote-bucket {
                margin: 0;
                max-width: 97rem;

                .image {
                    background-color: color(blue);
                    background-image: url('/images/home/quotes/teacher.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    max-width: 40rem;
                }
            }
        }
    }

    .buckets {

        .buckets-section {
            padding-top: 0;
        }
    }
}

