@import 'pattern-library/core/pattern-library/headers';

.multi-page-form {
    display: flex;
    flex-direction: column;
    grid-gap: 4rem;
    justify-content: center;
    margin-top: 4rem;

    button {
        @extend %button;

        &.primary {
            @extend %primary;
        }

        &.secondary {
            @extend %secondary;
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.4;
        }
    }

    [hidden] {
        display: none;
    }

    .button-row {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        justify-content: start;
    }

    form > div {
        &:not(.validated) {
            .invalid-message {
                display: none;
            }
        }

        &.validated  {
            :invalid {
                background-color: ui-color(error-bg);
                border-color: ui-color(error-border);
                color: ui-color(error-fg);
            }
        }
    }
}
