@import 'pattern-library/core/pattern-library/headers';

.institutional-partnership .banner {
    color: text-color(white);
    padding: 16rem 0 24rem;
    position: relative;

    @include width-up-to($phone-max) {
        padding: 4rem 0 6rem;
    }

    .background-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .btn {
        justify-self: left;
    }
}
