@import 'pattern-library/core/pattern-library/headers';

.rover-by-openstax #faq {
    @include width-up-to($phone-max) {
        padding-bottom: 0;
    }

    @include width-between($phone-max, $tablet-max) {
        padding-bottom: calc(32.7vw - 19.6rem);
    }

    @include wider-than($tablet-max) {
        padding-bottom: 11rem;
    }

    .boxed {
        align-items: start;
        margin-bottom: 4.5rem;
    }

    h2 {
        margin-bottom: 4rem;
    }

    .top-border {
        background-image: url('/images/rover-by-openstax/bg-7.svg');
        height: calc(6rem + 11vw);
        margin-top: calc(-15.9rem - 11vw);
    }

    .faq-box {
        background-color: ui-color(white);
        border: thin solid ui-color(form-border);
        border-radius: 0.4rem;
        color: text-color(normal);
        padding: 0.5rem #{2 * $normal-margin};
        width: 100%;
    }

    .indicator {
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-top: 0.5rem;
    }

    .qa {
        border-bottom: thin solid ui-color(form-border);
        padding: 1rem 0;
    }

    .qa:last-child {
        border-bottom: 0;
    }

    .question {
        cursor: pointer;
        display: grid;
        font-weight: bold;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr auto;
        padding: 1rem 0;
    }

    .answer {
        margin-bottom: $normal-margin;
        margin-left: 0.7rem;
        margin-right: 4rem;
        max-height: 150rem;
        max-width: $text-content-max;
        transition: all 0.3s;

        &.closed {
            margin: 0;
            max-height: 0;
            opacity: 0;
            pointer-events: none;
        }
    }

    .to-top {
        background-color: ui-color(footer-bg);
        color: text-color(white);
        height: 3rem;
        position: relative;
        width: 100%;

        [role="button"] {
            align-items: center;
            background-color: ui-color(footer-bg);
            border-radius: 50%;
            bottom: 0;
            cursor: pointer;
            display: flex;
            height: 6rem;
            justify-content: center;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 6rem;
        }
    }
}
