@import 'pattern-library/core/pattern-library/headers';

.instructor-resources-pane {
    display: grid;
    grid-row-gap: $normal-margin;
    grid-template-columns: 100%;
    overflow: hidden;
    padding: 0 2rem 2.5rem;
    width: 100%;

    .card {
        @extend %card;
        color: inherit;
        margin-top: 0.3rem;
        padding: 3rem $normal-margin;
        text-decoration: none;

        @include title-font(2.4rem);
    }

    %swipe-zone {
        display: grid;
        grid-auto-flow: column;
        grid-gap: $normal-margin;
        grid-template-columns: auto;
        margin-left: -0.3rem;
        overflow-x: scroll;
        padding: 0.3rem; // room for the shadow
        width: calc(100vw - #{2 * $normal-margin});

        &::after {
            content: '';
            width: 2rem;
        }
    }

    .free-resources-region {
        @extend %swipe-zone;

        h3 {
            @include set-font(h4);
        }

        .Login to unlockx {
            width: 20rem;

            &.double {
                width: 30rem;
            }

            > .top {
                max-height: 30rem;
                overflow: hidden;
            }
        }
    }

    .featured-resources {
        .card {
            box-shadow: none;
            padding: 0;
        }

        .headline {
            @extend %card;
        }

        .resources {
            @extend %swipe-zone;
        }
    }

    .divider {
        align-items: center;
        color: text-color(helper);
        display: grid;
        font-variant: small-caps;
        font-weight: bold;
        grid-column-gap: 2rem;
        grid-template-columns: 1fr auto 1fr;
        justify-items: center;
        margin: 0;
        text-transform: lowercase;

        .line {
            border: thin solid ui-color(form-border);
            width: 100%;
        }
    }

    .logo-box {
        align-items: center;
        border-radius: 0.4rem;
        box-shadow: $card-shadow;
        display: flex;
        height: 9rem;
        justify-content: center;

        img {
            max-width: 17rem;
            padding: $tight-margin;
        }
    }
}
