@mixin coming-soon($fn: coming-soon) {
    background: url('/dist/images/subjects/#{$fn}.svg') 0 0 no-repeat;
    content: '';
    height: 4rem;
    position: absolute;
    right: -0.6rem;
    top: 1rem;
    width: 11rem;
}
