@mixin coming-soon() {
    background: url('/images/subjects/coming-soon.svg') 0 0 no-repeat;
    content: '';
    height: calc(13.25% + 1rem);
    position: absolute;
    right: -0.4rem;
    top: 2rem;
    width: calc(34% + 1rem);
}
