@mixin coming-soon($fn: coming-soon) {
    background: url('/dist/images/subjects/#{$fn}.svg') 0 0 no-repeat;
    content: '';
    height: 4rem;
    position: absolute;
    right: -0.4rem;
    top: 0.5rem;
    width: auto;
}
