@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

$subject: us-history;

$book-color: color(blue);
$now-i-can-color: rgba(color(turquoise), 0.85);
$now-i-can-width: 56rem;
$underline-width: 32rem;
$square-color: rgba(color(blue), 0.15);
$subject-button-color: color(orange);
$all-subject-button-color: color(blue);

.home-page .book-banners .banner.#{$subject} {
    background-color: $book-color;

    @include tablet {
        background-image: url("/images/home/subjects/#{$subject}/background.jpg");
    }

    .diagram {
        background-image: url('/images/home/subjects/biology/diagram.png');
        bottom: 6rem;
        height: 19rem;
        left: 5rem;
        width: 27.4rem;
    }

    .leaf {
        background-image: url('/images/home/subjects/biology/leaf.png');
        height: 14rem;
        right: 19rem;
        top: 24rem;
        width: 14rem;
    }

    .square-1,
    .square-2,
    .square-3,
    .square-4 {
        background-color: $square-color;
    }

    .square-1,
    .square-4 {
        height: 2.5rem;
        width: 2.5rem;
    }

    .square-1 {
        left: 5rem;
        top: 50%;
    }

    .square-2 {
        height: 34rem;
        bottom: 0;
        left: 0;
        width: 45rem;

        @include tablet {
            display: block;
        }

        @include desktop {
            width: 60%;
            height: 34rem;
            bottom: auto;
            top: 27%;
        }
    }

    .square-3 {
        height: 26rem;
        bottom: 15rem;
        right: 0;
        width: 26rem;

        @include tablet {
            display: block;
        }

        @include desktop {
            right: 5rem;
            bottom: 5rem;
            width: 40rem;
            height: 33rem;
        }
    }

    .square-4 {
        left: 70%;
        top: 20%;
    }

    .sacajawea {
        background-image: url('/images/home/subjects/us-history/sacajawea.png');
        height: 10rem;
        left: calc(70% - 53rem);
        position: absolute;
        top: 44%;
        width: 12.4rem;
    }

    .john-adams {
        background-image: url('/images/home/subjects/us-history/john-adams.png');
        height: 8rem;
        position: absolute;
        right: 14rem;
        top: 30%;
        width: 6.7rem;
    }

    .clermont {
        background-image: url('/images/home/subjects/us-history/clermont.png');
        height: 22rem;
        right: 0;
        position: absolute;
        bottom: 10rem;
        width: 36rem;
    }

    .book {
        background-color: $book-color;
        background-image: url('/images/subjects/#{$subject}.svg');
        width: calc(40% + 6rem);

        @include tablet {
            top: 5%;
            left: auto;
            right: calc(30% + 3rem);
            width: 30rem;
            height: 30rem;
        }

        @media (min-width: #{breakpoints(tablet) + 1}) {
            top: 15%;
        }
    }

    .student {
        background-image: url('/images/home/subjects/#{$subject}/student.png');
        background-position: 92% 100%;
        width: calc(30% + 11rem);
        right: calc(20% - 4rem);

        @include tablet {
            height: 53rem;
            right: calc(20% - 10.4rem);
            width: calc(20vw + 24.9rem);
        }

        @include desktop {
            height: 53rem;
            right: calc(15% - 5rem);
            width: 45.4rem;
        }
    }

    .align-edge {
        @include tablet {
            bottom: 5.5rem;
            left: calc(20% - 7.4rem);
        }

        @include desktop {
            left: 14rem;
        }
    }

    .now-i-can {
        background-color: $now-i-can-color;
        color: color(neutral-lightest);
        width: $now-i-can-width;

        &::after {
            width: $underline-width;
        }
    }

    .subject-links {
        @include tablet {
            width: 45rem;
        }
    }

    .explore-subject {
        @include tablet {
            background-color: $subject-button-color;
        }

        &:hover {
            background-color: darken($subject-button-color, 5%);
        }
    }

    .explore-all {
        @include tablet {
            background-color: $all-subject-button-color;
        }

        &:hover {
            background-color: darken($all-subject-button-color, 5%);
        }
    }
}
