<style scoped>
    @import url(/app/pages/home/banners/us-history/us-history.css);
</style>
<div class="us-history">
    <div class="container">
        <div class="john-adams flyin"></div>
        <div class="sacajawea flyin"></div>
        <div class="clermont flyin"></div>
        <div class="book flyin"></div>

        <div class="student"></div>

        <div class="square-1 flyin"></div>
        <div class="square-2 flyin"></div>
        <div class="square-3 flyin"></div>
        <div class="square-4 flyin"></div>

        <div class="now-i-can flyin">
            <span>Now I can</span>
            <span class="quote">Travel back in time</span>
        </div>

        <div class="subject-links flyin">
            <ul>
                <li>
                    <a class="btn btn-large btn-orange explore-subject" href="/details?us-history">
                        Explore U.S. History
                    </a>
                </li>
                <li>
                    <a class="btn btn-large btn-blue explore-all" href="/subjects">
                        Explore All Subjects
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
