@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

.flyin,
.flyout {
    @include desktop {
        opacity: 0;
    }
}

.us-history {
    background-image: url('/images/home/subjects/us-history/background.jpg');
    background-attachment: fixed;
    background-position: -15rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    overflow: hidden;
    position: relative;

    @include desktop {
        background-position: center top;
    }

    @media (min-width: #{breakpoints(tablet) + 1}) {
        height: 65rem;
    }

    @include phone {
        background-color: color(blue);
        background-image: none;
        background-position: left top;
        height: 45rem;
    }

    .container {
        display: flex;
        margin: 0 auto;
        padding: 0 1.5rem;
        max-width: $boxed-width;
        flex-flow: column wrap;
        position: relative;
        height: 100%;

        @include tablet {
            flex-flow: row wrap;
        }

        @include desktop {
            flex-flow: row wrap;
        }
    }

    .square-1,
    .square-2,
    .square-3,
    .square-4 {
        background-color: rgba(color(blue), 0.1);
        display: none;
        position: absolute;
        z-index: 0;

        @include desktop {
            display: block;
            animation: flyin 0.5s 1.2s 1 normal ease-in forwards, loop 30s 1.5s normal infinite linear forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .square-1,
    .square-4 {
        height: 2.5rem;
        width: 2.5rem;
    }

    .square-1 {
        left: 5rem;
        top: 50%;
    }

    .square-2 {
        height: 34rem;
        bottom: 0;
        left: 0;
        width: 45rem;

        @include tablet {
            display: block;
        }

        @include desktop {
            width: 60%;
            height: 34rem;
            bottom: auto;
            top: 27%;
        }
    }

    .square-3 {
        height: 26rem;
        bottom: 15rem;
        right: 0;
        width: 26rem;

        @include tablet {
            display: block;
        }

        @include desktop {
            right: 5rem;
            bottom: 5rem;
            width: 40rem;
            height: 33rem;
        }
    }

    .square-4 {
        left: 70%;
        top: 20%;
    }

    .sacajawea,
    .john-adams,
    .clermont,
    .book,
    .video-banner {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
    }

    .sacajawea,
    .john-adams,
    .clermont {
        display: none;

        @include desktop {
            display: block;
            animation: flyin 0.5s 1.4s 1 normal ease-in forwards, loop 40s 1.8s reverse infinite linear forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .sacajawea {
        background-image: url('/images/home/subjects/us-history/sacajawea.png');
        height: 10rem;
        left: 26rem;
        position: absolute;
        top: 50%;
        width: 12.4rem;
    }

    .john-adams {
        background-image: url('/images/home/subjects/us-history/john-adams.png');
        height: 8rem;
        right: 18rem;
        position: absolute;
        top: 30%;
        width: 6.7rem;
    }

    .clermont {
        background-image: url('/images/home/subjects/us-history/clermont.png');
        height: 22rem;
        right: 0;
        position: absolute;
        bottom: 10rem;
        width: 36rem;
    }

    .book {
        background-color: color(blue);
        background-image: url('/images/subjects/us-history.svg');
        position: absolute;
        height: 25rem;
        left: 0;
        top: 1.5rem;
        width: 25rem;

        @include tablet {
            top: 5%;
            left: auto;
            right: 25%;
            width: 30rem;
            height: 30rem;
        }

        @media (max-width: 380px) {
            width: 20rem;
            height: 20rem;
        }

        @media (min-width: #{breakpoints(tablet) + 1}) {
            top: 15%;
        }

        @include desktop {
            left: 40%;
            width: 30rem;
            height: 30rem;
            animation: flyin 0.5s 1s 1 normal forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    canvas,
    .video,
    .video-banner {
        bottom: 15rem;
        height: 25rem;
        position: absolute;
        right: 1.5rem;
        width: 22rem;
        z-index: 2;

        @include tablet {
            bottom: 0;
            height: 40rem;
            right: -6rem;
            width: 35rem;
        }

        @include desktop {
            bottom: 0;
            height: 53rem;
            right: 15rem;
            width: 45.4rem;
        }
    }

    .video {
        display: none;
    }

    .video-banner {
        background-image: url('/images/home/subjects/us-history/student.png');
        background-position: 92% 100%;
    }

    .now-i-can {
        background-color: rgba(color(turquoise), 0.85);
        bottom: 15rem;
        color: color(neutral-lightest);
        display: none;
        font-size: 3rem;
        font-weight: 600;
        height: 8rem;
        line-height: 2.5rem;
        right: 15rem;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: none;
        width: 50rem;
        z-index: 3;

        @media (min-width:650px) {
            display: initial;
        }

        @include desktop {
            right: auto;
            left: 5rem;
            width: 59rem;
            height: 9rem;
            font-size: 3.6rem;
            animation: flyin 0.5s 1.8s 1 normal forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        .quote {
            display: inline-block;
            line-height: 8rem;
            font-family: 'Permanent Marker', cursive;
            transform: rotate(-1.2deg) translate(0.75vw, -0.45vw);
            margin-right: 1rem;
        }

        &::after {
            border-bottom: 0.1rem solid color(neutral-lightest);
            content: '';
            right: 1rem;
            position: absolute;
            top: 6rem;
            width: 32rem;


            @include desktop {
                width: 35rem;
                right: 2rem;
            }
        }
    }

    .subject-links {
        bottom: 1.5rem;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 3;

        @include tablet {
            width: 27rem;
            bottom: 5rem;
            left: 5rem;
        }

        @media (min-width:650px) {
            width: auto;
            right: 15rem;
            left: auto;
        }

        @include desktop {
            left: 18.4rem;
            right: auto;
            animation: flyin 0.5s 1.8s 1 normal forwards;
        }

        &.flyout {
            @include desktop {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        ul {
            list-style-type: none;
            margin: 0 1.5rem;
            padding: 0;

            @include tablet {
                margin: 0;
            }


            li {
                display: inline-block;
                width: 100%;

                @include tablet {
                    width: auto;
                }
            }
        }

        .btn {
            font-size: 1.6rem;
            line-height: 6rem;
            height: 6rem;
            padding: 0 1.5rem;
            width: 100%;
            display: inline-block;

            @include desktop {
                width: auto;
            }
        }

        .explore-subject {
            margin-bottom: 1.5rem;

            @include tablet {
                margin-right: 1.5rem;
            }

            @include phone {
                background-color: color(yellow);

                &:hover {
                    background-color: darken(color(yellow), 5%);
                }
            }
        }

        .explore-all {

            @include phone {
                background-color: color(turquoise);

                &:hover {
                    background-color: darken(color(turquoise), 5%);
                }
            }
        }
    }
}
