@import 'pattern-library/core/pattern-library/headers';

$space-for-navigator: 7rem;
$card-box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
$orange-gradient: linear-gradient(to right, rgb(228, 182, 96), rgb(228, 137, 96));

.rover-by-openstax {
    @extend %tutor;

    section {
        padding: 16rem 0;
        position: relative;
    }

    img {
        max-width: 100%;
    }

    .boxed {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: 100%;
        justify-items: left;

        @include wider-than($phone-max) {
            max-width: #{97.5rem + $space-for-navigator};
            padding-right: $space-for-navigator;
        }

        @include wider-than($media-content-max) {
            padding-right: $normal-margin;
        }

        > * {
            max-width: 100%;
        }
    }

    .orange {
        background-image: $orange-gradient;
        color: text-color(white);
    }

    .charcoal {
        background-color: ui-color(footer-bg);
        color: text-color(white);

        a {
            color: inherit;
        }
    }

    .near-white {
        background-color: #fafafa;
    }

    .btn {
        @extend %button;

        color: text-color(white);
        height: auto;
        padding: 1em 2em;

        &.blue {
            background-color: os-color(light-blue);

            &:hover,
            &:active {
                background-color: darken(os-color(light-blue), 10%);
                color: text-color(white);
            }
        }
    }

    h2 {
        @include title-font(6.4rem);

        line-height: 0.85;

        @include width-up-to($phone-max) {
            @include title-font(5.3rem);

            line-height: 0.85;
        }
    }

    .tagline {
        @include body-font(2.4rem);

        line-height: 1.25;
        margin-top: $normal-margin;

        @include width-up-to($phone-max) {
            @include body-font(2rem);

            line-height: 1.25;
        }
    }

    .floating-tools {
        align-items: center;
        display: grid;
        position: fixed;
        right: 3.5rem;
        top: 50%;
        transform: translateY(-60%);
        z-index: 5;

        @include width-up-to($phone-max) {
            display: none;
        }

        @media (max-height: $phone-max * 1.25) {
            top: 12rem;
            transform: none;
        }

        @media (max-height: $phone-max) {
            top: 10rem;
            transform: scale(0.9);
        }

        > * {
            margin-bottom: 2rem;
        }
    }

    .sticky-footer {
        @include set-font(body-regular);

        background-color: ui-color(footer-bg);

        .btn {
            background-color: os-color(light-blue);
        }
    }

    .card {
        @extend %card;

        box-shadow: $card-box-shadow;

        &:hover {
            box-shadow: $card-box-shadow;
        }
    }

    .top-border,
    .bottom-border {
        background-size: 100%;
        position: relative;
        width: 100%;
    }

    .top-border {
        background-position: center top;
    }

    .bottom-border {
        background-position: center bottom;
        z-index: 1;
    }
}
