@import 'pattern-library/core/pattern-library/headers';

$facebook-blue: #3b5998;
$twitter-blue: #00aced;
$linkedin-blue: #0077b5;

.share-buttons {
    .buttons {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        &:not(.minimal) {
            width: 100%;
        }

        @include width-up-to($phone-max) {
            flex-direction: column;
            width: auto;
        }

        .btn {
            @extend %button;
            @extend %secondary;

            align-items: center;
            background-image: none;
            display: flex;
            font-weight: normal;
            justify-content: flex-start;
            margin: 1rem 0.5rem;
            padding-left: 1.5rem;
            text-transform: none;

            &.facebook {
                background-color: $facebook-blue;
            }

            &.twitter {
                background-color: $twitter-blue;
            }

            &.linkedin {
                background-color: $linkedin-blue;
            }

            .social-icon {
                color: text-color(white);
                margin-right: 1rem;
                transform: scale(1.5);
            }
        }

        &.minimal {
            display: grid;
            grid-gap: 1rem;
            justify-content: center;
            margin: 0;

            $button-size: 3.2rem;
            .btn {
                align-items: center;
                border-radius: 50%;
                display: grid;
                height: $button-size;
                justify-content: center;
                margin: 0;
                padding: 0;
                width: $button-size;

                .social-icon {
                    margin: 0;
                    transform: none;
                }
            }
        }
    }
}
