@import 'pattern-library/core/pattern-library/headers';

$facebook-blue: #3b5998;
$twitter-black: #000;
$linkedin-blue: #0077b5;

.share-buttons {
    .buttons {
        display: grid;
        grid-gap: 1rem;
        justify-content: center;
        margin: 0;

        @include width-up-to($phone-max) {
            flex-direction: column;
            width: auto;
        }
        $button-size: 3.2rem;

        .btn {
            @extend %button;
            @extend %secondary;

            align-items: center;
            background-image: none;
            border-radius: 50%;
            display: grid;
            font-weight: normal;
            height: $button-size;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-transform: none;
            width: $button-size;

            &.facebook {
                background-color: $facebook-blue;
            }

            &.twitter {
                background-color: $twitter-black;
            }

            &.linkedin {
                background-color: $linkedin-blue;
            }

            .social-icon {
                color: text-color(white);
                margin: 0;
                transform: none;
            }
        }
    }
}
