@import 'pattern-library/core/pattern-library/headers';

dialog {
    background-color: ui-color(white);
    border: 0;
    border-radius: 0.4rem;
    color: text-color(normal);
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: auto;
    max-width: calc(100% - #{2 * $normal-margin});
    overflow: hidden;
    padding: 0;
    width: max-content;

    &.reverse-colors {
        .title-bar {
            background-color: ui-color(white);
        }

        .main-region {
            background-color: ui-color(form-bg);
        }
    }

    .title-bar {
        @include title-font(1.8rem);

        background-color: ui-color(form-bg);
        display: flex;
        justify-content: space-between;
        padding: $normal-margin 1.7rem;

        @include width-up-to($phone-max) {
            align-items: center;
            min-height: 7rem;
        }

        @include wider-than($phone-max) {
            align-items: center;
            color: inherit;
        }
    }

    .put-away[hidden] {
        display: none;
    }

    .put-away {
        @include body-font(3.6rem);
        background-color: transparent;
        border: 0;
        color: inherit;
        margin: 0 -0.5rem 0 2rem;
        padding: 0 0.5rem;
        z-index: 2;

        @include width-up-to($phone-max) {
            align-self: start;
        }

        &:hover {
            color: text-color(helper);
        }

        &.no-title-bar {
            background-color: rgba(ui-color(white), 0.5);
            border-radius: 50%;
            height: 1.25em;
            justify-self: end;
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 1.25em;
        }
    }

    .main-region {
        background-color: ui-color(white);
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        height: auto;
        max-height: calc(100vh - 10rem);
        overflow-y: auto;
    }
}
