@import 'pattern-library/core/pattern-library/headers';

dialog {
    background-color: ui-color(white);
    border: 0;
    border-radius: 0.4rem;
    color: text-color(normal);
    display: grid;
    grid-template-rows: auto auto 1fr;
    max-width: 80rem;
    padding: 0;
    width: calc(100% - #{2 * $normal-margin});

    @include wider-than($phone-max) {
        width: calc(100% - 16rem);
    }

    .title-bar {
        @include set-font(h3);

        align-items: flex-end;
        background-color: transparent;
        display: flex;
        height: 7rem;
        justify-content: space-between;
        padding: 0 3rem;

        @include wider-than($phone-max) {
            align-items: center;
            background-color: ui-color(default);
            color: inherit;
            height: 7.5rem;
            padding: 3rem;
        }
    }

    .put-away {
        @include body-font(1.8rem);
        color: text-color(helper);
        transform: translate(1.5rem, -4rem);

        @include wider-than($phone-max) {
            transform: none;
        }

        &:hover {
            color: inherit;
        }
    }

    .main-region {
        background-color: white;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        height: auto;
    }
}
