@import 'pattern-library/core/pattern-library/headers';

dialog {
    background-color: ui-color(white);
    border: 0;
    border-radius: 0.4rem;
    color: text-color(normal);
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: auto;
    max-width: 90rem;
    overflow: hidden;
    padding: 0;
    width: calc(100% - #{2 * $normal-margin});

    @include wider-than($phone-max) {
        width: calc(100% - 16rem);
    }

    .title-bar {
        @include set-font(h3);

        display: flex;
        justify-content: space-between;

        @include width-up-to($phone-max) {
            align-items: flex-end;
            background-color: transparent;
            min-height: 7rem;
            padding: 1rem 1rem 0 3rem;
        }

        @include wider-than($phone-max) {
            align-items: center;
            background-color: ui-color(default);
            color: inherit;
            padding: 2.5rem 3rem;
        }
    }

    .put-away {
        @include body-font(1.8rem);
        background-color: transparent;
        border: 0;
        color: text-color(helper);
        margin: 0;
        padding: 0;

        @include width-up-to($phone-max) {
            align-self: start;
        }

        &:hover {
            color: inherit;
        }
    }

    .main-region {
        background-color: white;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        height: auto;
        max-height: calc(100vh - 7rem);
        overflow-y: auto;
    }
}
