@import 'variables';
@import 'mixins';

$breakpoint-1: 908px;
$breakpoint-2: 761px;
$iphone-five: 374px;
$hero-break-width: 880px;

.impact-page {

    &.hidden {
        display: none;
    }

    .hero {
        align-items: center;
        background-color: color(green);
        background-image: url('/images/impact/banner-bg.jpg');
        background-size: cover;
        overflow: hidden;
        position: relative;
        width: 100%;
        justify-content: center;
        display: flex;
        height: 60rem;
        text-align: left;

        @media (max-width: $hero-break-width) {
            min-height: 0;
        }

        @include collapsed {
            align-items: stretch;
            background: none;
            height: calc(100vh - 6rem);
            max-height: 53rem;
        }

        .container-wrap {
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;
            width: 100%;
            max-width: $boxed-width;
            z-index: 1;

            @include collapsed {
                flex-flow: row wrap;
                align-items: stretch;
            }

        }

        .student {
            position: absolute;
            overflow: hidden;
            top: 0;
            height: 100%;
            width: 84rem;
            background-image: url('/images/impact/banner.png');
            background-size: 100% auto;
            background-position: 0 bottom;
            background-repeat: no-repeat;
            transition: All ease 0.2s;

            @media screen and (max-width: $boxed-width) {
                left: calc(-84rem + 70%);
            }

            @media screen and (min-width: $boxed-width + 1) {
                left: calc(50% - 84rem);
            }

            @include collapsed {
                background-position: left 1.8rem;
                background-size: contain;
                bottom: 0;
                height: 50%;
                left: 0;
                top: auto;
                width: 38rem;
                right: 0;
            }
        }

        .overlay {
            color: color(neutral-lightest);
            padding: 4rem;
            display: flex;
            justify-content: flex-end;
            z-index: 1;

            @media screen and (min-width: $boxed-width + 1) {
                padding-left: calc(-61rem + 55%);
            }

            @include collapsed {
                background-color: color(green);
                width: 100%;
                z-index: auto;
            }

            .text-block {
                background-color: rgba(saturate(color(green), 10%), 0.85);
                flex-basis: 50%;
                padding: 4rem;

                @media screen and (min-width: $breakpoint-2) and (max-width: $hero-break-width) {
                    flex-basis: 60%;
                }

                @include collapsed {
                    background: none;
                    padding: 0;
                    flex-basis: 100%;
                }
            }

            h1 {
                color: inherit;
                line-height: 0.8;

                @media screen and (max-width: $iphone-five) {
                    font-size: 4.5rem;
                }
            }

            .blurb {
                padding: 1em 0;
                font-size: 1.8rem;

                @include collapsed {
                    display: none;
                }
            }
        }

        .square-1,
        .square-2 {
            background-color: color(green);
            opacity: 0.3;
            position: absolute;

            @media (max-width: $breakpoint-1) {
                display: none;
            }
        }

        .square-1 {
            left: 46%;
            height: 16.8rem;
            top: 3.5rem;
            width: 17.8rem;
        }

        .square-2 {
            left: 7.71%;
            height: 39rem;
            top: 15.6rem;
            width: 72rem;
        }

    }

    .affiliates {
        color: color(gray);
        text-align: center;

        h2,
        a {
            color: inherit;
        }

        h2 {
            @include constrained-variable-text(4.8, 0.2);

            font-weight: 500;
            letter-spacing: -0.15rem;
        }

        p {
            @include constrained-variable-text(1.8, 0.2);

            line-height: 1.7;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        .text-content {
            margin: 0 auto;
            padding: 5rem 0;
            width: 78vw;
        }

        .partners {
            align-items: center;
            border-bottom: 0.4rem solid rgba(color(neutral-light), 0.30);
            border-top: 0.4rem solid rgba(color(neutral-light), 0.30);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            max-width: 100rem;
            padding: 1.5rem 0 0;

            @media (max-width: $breakpoint-1) {
                justify-content: space-around;
            }

            > li {
                margin: 4rem;

                a {
                    transition: All ease-in-out 0.3s;

                    &:hover,
                    &:focus {
                        opacity: 0.7;
                    }
                }

                img {
                    max-width: 12rem;
                }
            }
        }

        .adopters {
            padding: 4rem 0 5rem;

            a {
                font-size: 1.4rem;
                font-weight: 500;
                position: relative;
                text-transform: uppercase;

                &::after {
                    @include triangle(
                        $direction: right,
                        $position: top 0.42rem right -1.6rem,
                        $color: color(cyan),
                        $size: 0.5rem
                    );
                }
            }
        }
    }

    .strips {
        margin-bottom: 0;
    }
}
