<style scoped>
    @import url(/app/pages/impact/impact.css);
</style>
<div class="impact-page page hidden">
    <main id="maincontent">
        <div class="hero w-cards">
            <div class="box-1"></div>
            <div class="box-2"></div>
            <div class="student"></div>
            <div class="overlay">
                <div class="text-block">
                    <h1 class="header">We measure our success in access.</h1>
                    <div class="blurb">
                        Since 2012, OpenStax has saved students $66 million and counting by offering free,
                        peer-reviewed textbooks for the highest-enrollment college courses.
                        Meet the schools who’ve adopted OpenStax and some of the students who’ve benefited
                        from free access to the learning materials they need to succeed.
                    </div>
                </div>
            </div>
        </div>
        <span class="scrolldown-chevron"><a href="#affiliates"><i class="fa fa-chevron-down"></i></a></span>

        <div id="affiliates" class="affiliates">
            <div class="text-content">
                <h2>Institutional Partner and Affiliate Schools</h2>

                <p>
                    Our institutional partner and affiliate schools are forging institutional
                    initiatives to encourage adoptions of OpenStax and other open resources
                    to give students access to the learning materials they need to succeed.
                </p>
            </div>

            <ul class="partners">
                {{#each highlightedPartners}}
                    <li>
                        <a href="{{url}}">
                            <img src="{{logo}}" alt="{{name}}" />
                        </a>
                    </li>
                {{/each}}
            </ul>

            <div class="adopters"><a href="/adopters">See a full list of institutions that have adopted OpenStax</a></div>
        </div>
    </main>

    {{{strips}}}
</div>
