@import 'pattern-library/core/pattern-library/headers';
@import 'mixins/placeholder-selectors';
@import 'mixins/responsive';

.annual-report.page {
    > .hero {
        @extend %light-on-dark;

        background-color: os-color(deep-green);
        color: white;

        a {
            color: inherit;
        }

        .btn {
            @include button();
            @extend %primary;

            justify-self: left;
        }
    }

    h1 {
        @include scaling-title-font(h3, h1);

        margin: 0;
    }

    h2 {
        @include scaling-title-font(h3, h2);

        margin: 0;
    }

    $near-white: #f8f8f8;
    .off-white {
        background-color: $near-white;
    }

    section {
        @include width-up-to($phone-max) {
            padding: 4rem 0;
        }
        @include wider-than($phone-max) {
            padding: 6rem 0;
        }
    }

    .boxed,
    .text-content {
        align-items: flex-start;

        > .text-content {
            padding: 0;
        }
    }

    .text-content {
        margin-left: 0;
    }

    .strip-outer-margins {
        > :first-child {
            margin-top: 0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }
}
