@import 'pattern-library/core/pattern-library/headers';

.byline {
    .author {
        font-style: italic;

        &::after {
            content: ' | ';
            font-style: normal;
        }
    }

    .source {
        font-style: italic;

        &::after {
            content: ' - ';
            font-style: normal;
        }
    }
}
