@import '../../../node_modules/pattern-library/core/pattern-library/headers';

.os-loader {
    background-color: #efefef;
    height: 100vh;
    left: 0;
    overflow: hidden;
    perspective: 1000;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 200;

    @at-root html {
        &.loaded {
            .os-loader {
                transform: scale(0);
                z-index: -1;
            }
        }
    }

    .os-overlay {
        animation: loaderBubble 1s forwards;
        background-image: linear-gradient(to right, os-color(orange) 50%, os-color(light-blue) 50%);
        background-size: 200% 100%;
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;

        @keyframes loaderBubble {
            0 {
                background-position: 0;
            }

            25% {
                background-position: -100% 0;
            }

            50% {
                background-position: -100% 0;
            }

            100% {
                background-image: transparent;
                background-position: 0;
            }

        }
	}


    .os-loader--inner {
        animation: loaderInner 0.5s forwards 0.075s;
        background-color: transparent;
        height: 10rem;
        left: 50%;
        margin-left: -5rem;
        margin-top: -5rem;
        position: absolute;
        top: 50%;
        transform: rotateY(90deg);
        transform-style: preserve-3d;
        width: 10rem;

        @keyframes loaderInner {
            from {
                transform: rotateY(90deg);
            }

            to {
                background-color: white;
                box-shadow: 0 1px 0 rgba(os-color(gray), 0.6);
                transform: rotateY(180deg);
            }
        }

        svg {
            animation: loadSvg 0.3s forwards 0.5s;
            display: block;
            height: 100%;
            margin: 0 auto;
            opacity: 0;
            position: relative;
            transform: scale(0) rotateY(180deg);
            transform-origin: center;
            width: 5rem;

            @keyframes loadSvg {
                from {
                    transform: scale(0) rotateY(180deg);
                }

                to {
                    opacity: 1;
                    transform: scale(1) rotateY(180deg);
                }
            }

            * {
                animation: fadeIn 0.5s forwards;
            }

            .os-green,
            .os-orange,
            .os-gray,
            .os-yellow,
            .os-blue {
                animation-delay: 0.5s;
			}

            .os-green {
                animation: moveGreen 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
                transform-origin: center left;

                @keyframes moveGreen {
                    from {
                        transform: matrix(1, 0, 0, 1, 0, 0);
                    }

                    to {
                        transform: matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, -18);
                    }
                }
            }

            .os-orange {
                animation: moveOrange 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
                transform-origin: center right;

                @keyframes moveOrange {
                    from {
                        transform: matrix(1, 0, 0, 1, 0, 0);
                    }

                    to {
                        transform: matrix(0.994522, 0.104528, -0.104528, 0.994522, 0, -14);
                    }
                }
            }

            .os-gray {
                animation: moveGray 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
                transform-origin: center right;

                @keyframes moveGray {
                    from {
                        transform: matrix(1, 0, 0, 1, 0, 0);
                    }

                    to {
                        transform: matrix(0.99863, 0.052336, -0.052336, 0.99863, 0, -8);
                    }
                }
            }

            .os-yellow {
                animation: moveYellow 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.6s infinite alternate;
                transform-origin: center right;

                @keyframes moveYellow{
                    from {
                        transform: matrix(1, 0, 0, 1, 0, 0);
                    }

                    to {
                        transform: matrix(1, 0, 0, 1, 0, -8);
                    }
                }
            }

            .os-blue {
                animation: moveBlue 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
                transform-origin: center;

                @keyframes moveBlue{
                    from {
                        transform: matrix(1, 0, 0, 1, 0, 0);
                    }

                    to {
                        transform: matrix(0.99863, 0.052336, -0.052336, 0.99863, 0, -4);
                    }
                }
            }

		}

	}

}
