@import '../../node_modules/pattern-library/core/pattern-library/headers';

.faq-page {
    padding-bottom: 4rem;

    .hero {
        background-color: os-color(gray);
        color: text-color(white);

        h1 {
            color: os-color(orange);
        }
    }

    .desktop-row {
        @include wider-than($tablet-max) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .qa {
        margin-bottom: 1em;

        .question {
            @include set-font(h4);
            color: os-color(blue);
            cursor: pointer;
            padding-left: 0.9em;
            text-indent: -0.9em;

            > p {
                display: inline;
            }
        }

        &:not(.open) .question > p::before {
            content: '+ ';
        }

        &.open .question > p::before {
            content: '– '; //n-dash
        }

        .answer {
            display: none;
            margin-left: 1em;
        }

        &.open .answer {
            display: block;

            > p {
                display: block;
                margin: 0.5rem 0;
            }
        }
    }
}
