@import 'pattern-library/core/pattern-library/headers';

.faq-page {
    padding-bottom: 4rem;

    .hero {
        background-color: ui-color(footer-bg);
        color: text-color(white);

        h1 {
            color: os-color(orange);
        }

        a {
            color: inherit;
        }
    }

    .desktop-row {
        @include wider-than($tablet-max) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .faq-list {
        @extend %text-content;

        padding-top: 4rem;

        @include width-up-to($phone-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .qa {
        margin-bottom: 1em;

        .question {
            @include set-font(h4);
            color: os-color(blue);
            cursor: pointer;
            padding-left: 0.9em;
            text-indent: -0.9em;

            > p {
                display: inline;
            }
        }

        .answer {
            display: none;
            margin-left: 1em;
        }

        &.open .answer {
            display: block;

            > p {
                display: block;
                margin: 0.5rem 0;
            }
        }
    }
}
