@import 'pattern-library/core/pattern-library/headers';

.partner-details {
    background-color: ui-color(default);
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: calc(100vh - 7rem);

    section {
        padding: 3rem;
    }
    .synopsis {
        background-color: ui-color(white);
        display: grid;
        grid-column-gap: 3rem;
        grid-template: 'icon title'
        'icon blurb'
        'icon subjects'
        'icon tags' / auto 1fr;

        .icon {
            grid-area: icon;
            max-height: 12rem;
        }
        .headline {
            @include title-font(1.6rem);

            grid-area: title;
        }
        .blurb {
            display: grid;
            grid-area: blurb;
            grid-template-columns: auto auto;
        }
        .titles {
            grid-area: subjects;

            .title {
                @include body-font(1rem);

                color: os-color(gray);
                text-transform: uppercase;

                + .title::before {
                    content: ' • ';
                }
            }
        }
        .tags {
            grid-area: tags;

            .tag {
                @include body-font(1.2rem);

                background-color: ui-color(default);
                font-weight: bold;
                padding: 0.2rem 0.4rem;
                text-transform: uppercase;

                + .tag {
                    margin-left: 1rem;
                }
            }
        }
    }

    .scrolling-region {
        height: 100%;
        overflow: auto;
    }

    .primary {
        @extend %button;
        @extend %primary;
    }

    hr {
        border-top: thin solid ui-color(form-border);
        margin: 0 3rem;
    }

    .main-text > :first-child {
        margin-top: 0;
    }

}
