<h3>Place an Order</h3>
<p>
    <a href="{{bookstore.link}}" class="btn">Bookstore Orders</a>
    Order through NACSCORP
</p>
{{#if amazon.link}}
<p>
    <a href="{{amazon.link}}" class="btn">Individual Orders</a>
    ${{amazon.price}} from seller "OpenStax" on Amazon
</p>
{{/if}}
