@import 'pattern-library/core/pattern-library/headers';

.more-fewer {
    display: grid;
    grid-row-gap: 2rem;

    [role="button"] {
        cursor: pointer;
    }

    .fewer,
    headline-paginator {
        display: grid;
        grid-row-gap: 4rem;
    }
}

.headline-paginator {
    display: grid;
    grid-row-gap: 4rem;

    .excerpt {
        display: none;
    }

    .nav-buttons {
        display: flex;
        justify-content: space-between;

        > div {
            align-items: center;
            display: grid;
            grid-gap: 0.8rem;
            grid-template-columns: auto 1fr;
        }

        [role="presentation"] {
            opacity: 0.5;
        }
    }
}
