@import 'pattern-library/core/pattern-library/headers';

.rover-redesign #faq {
    .faq-box {
        background-color: ui-color(white);
        color: text-color(normal);
        padding: 0 $normal-margin;
        width: 100%;
    }

    .indicator {
        float: right;
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-top: 0.5rem;
    }

    .qa {
        border-bottom: thin solid ui-color(form-border);
        padding: $normal-margin 0;
    }

    .question {
        font-weight: bold;
    }

    .answer {
        max-height: 25rem;
        transition: all 0.3s;

        &.closed {
            max-height: 0;
            opacity: 0;
        }
    }
}
