@import 'pattern-library/core/pattern-library/headers';

.rover-redesign #stepwise {
    .cards {
        display: grid;
        grid-auto-rows: 1fr;
        grid-gap: $normal-margin;
    }

    .card {
        background-color: ui-color(white);
        display: grid;
        grid-gap: $normal-margin;
        padding: 1.5rem;

        @include wider-than($phone-max) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .top-border {
        background-image: url('/images/rover-redesign/bg-4.svg');
        height: calc(6rem + 11vw);
        margin-top: calc(-15.9rem - 11vw);
    }
}
