@import 'pattern-library/core/pattern-library/headers';

.stars-and-count {
    @include body-font(1.2rem);

    align-items: center;
    color: os-color(light-gray);
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.7rem;
    justify-content: left;

    .stars {
        font-size: 75%;
        padding-bottom: 3%;

        .full {
            color: os-color(yellow);
        }

        .empty {
            color: ui-color(default);
        }

        .overlaid-stars {
            position: relative;

            :not(:first-child) {
                position: absolute;
                bottom: 50%;
                left: 0;
                transform: translateY(50%);
            }
        }
    }
}
