@import 'pattern-library/core/pattern-library/headers';

.subjects-page .about-openstax {
    .content {
        display: grid;
        gap: 2rem 3rem;

        @include width-up-to($phone-max) {
            grid-template-columns: 100%;

            img {
                margin-top: 1rem;
            }
        }

        @include wider-than($phone-max) {
            grid-template-columns: 1fr auto;

            img {
                grid-column-start: 2;
                grid-row-start: 1;
                grid-row-end: 4;
            }
        }

        h2 {
            @include title-font(2.4rem);

            margin: 0;
        }

        .btn {
            @include button();
            @extend %primary;

            justify-self: left;
            margin: 0.5rem 0 1rem;
        }
    }

}
