@import 'pattern-library/core/pattern-library/headers';

.subjects-page .philanthropic-support {
    text-align: center;

    a {
        text-decoration: none;
    }

    span {
        font-weight: bold;
    }
}
