@import 'mixins/coming-soon';
@import '../../node_modules/pattern-library/core/pattern-library/headers';

.subjects-page {

    .subject {
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .feature-block {
        display: block;

        @include wider-than($tablet-max) {
            display: flex;
            flex-direction: row;
        }
    }

    .filter {
        padding: 0.2rem 0;

        &.sticky {
            position: fixed;
            top: 9rem;

            @include wider-than($tablet-max) {
                position: absolute;
                top: inherit;
            }
        }
    }

    .blurb {
        flex: 1 28%;
        padding: 0 1.5rem;

        @include wider-than($tablet-max) {
            text-align: center;
        }

        .title {
            font-weight: 600;
            margin-bottom: 0;

            @include wider-than($tablet-max) {
                text-align: center;
            }
        }
    }

    .books {
        padding: 6rem 0;
        position: relative;

        .container {
            width: 100%;
        }

        .book-category {
            flex: 1 1 auto;
            width: 100%;

            .subject {
                @include set-font(h3);
                font-style: italic;
                font-weight: normal;
            }
        }

        .row {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            margin: 0 -1rem;
            width: calc(100% + 2rem);
        }

        .cover {
            cursor: pointer;
            flex: 0 100%;
            margin: 1rem;
            position: relative;

            @include wider-than($media-content-max - 66em) {
                flex-basis: calc(50% - 2rem);
            }

            @include wider-than($media-content-max - 44em) {
                flex-basis: calc(33.3% - 2rem);
            }

            @include wider-than($media-content-max - 22em) {
                flex-basis: calc(25% - 2rem);
            }

            @include wider-than($media-content-max) {
                flex-basis: calc(20% - 2rem);
            }

            &.coming-soon::before {
                @include coming-soon;
            }

            &.coming-soon.polish::before {
                background-image: url('/images/subjects/coming-soon-polish.svg');
            }

            img {
                width: 100%;
            }
        }

        @mixin get-this-is-visible() {
            height: auto;
            opacity: 1;
            overflow: initial;
            padding: 1.5rem;
            transform: translate3d(0, 0, 0);
            width: 110%;
            z-index: 1;
        }

        .details {
            background: ui-color(white);
            box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(94, 96, 98, 0.1);
            height: 0;
            left: -5%;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            top: 95%;
            transform: translate3d(0, -1rem, 0);
            transition: opacity 0.2s, transform 0.2s;
            width: 0;

            &.open {
                @include get-this-is-visible;

                min-width: 23rem;
            }

            &::before {
                border: 2rem solid;
                border-color: transparent transparent ui-color(white);
                bottom: 100%;
                content: '';
                left: 50%;
                margin-left: -2rem;
                position: absolute;
            }

            .cta > .btn {
                font-size: 90%;
                white-space: nowrap;
            }
        }

        .cover:hover .details {
            @include wider-than($tablet-max) {
                @include get-this-is-visible;

                min-width: 23rem;
            }
        }
    }
}
