@import 'mixins/coming-soon';
@import 'pattern-library/core/pattern-library/headers';

#main.subjects-main {
    z-index: 1;
}

.subjects-page {

    .hero > h1 {
        @include set-font(h1);
    }

    .subject {
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .feature-block {
        display: block;

        @include wider-than($tablet-max) {
            display: flex;
            flex-direction: row;
        }
    }

    .filter {
        padding: 0.2rem 0;

        &.sticky {
            position: fixed;
            top: 5.2rem;

            @include wider-than($tablet-max) {
                position: absolute;
                top: inherit;
            }
        }
    }

    .blurb {
        flex: 1 28%;
        padding: 0 1.5rem;

        @include wider-than($tablet-max) {
            text-align: center;
        }

        .title {
            font-weight: 600;
            margin-bottom: 0;

            @include wider-than($tablet-max) {
                text-align: center;
            }
        }
    }

    .books {
        display: grid;
        grid-gap: 6.5rem;
        padding: 6rem 0;
        position: relative;

        .container {
            width: 100%;
        }

        .book-category {
            flex: 1 1 auto;
            width: 100%;

            .subject {
                @include set-font(h3);
                font-style: italic;
                font-weight: normal;
            }
        }

        .row {
            display: grid;
            grid-gap: 4rem 2rem;
            grid-template-columns: repeat(2, 1fr);
            margin: $normal-margin 0;
            width: 100%;

            @include wider-than($media-content-max - 35em) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include wider-than($media-content-max - 20em) {
                grid-template-columns: repeat(4, 1fr);
            }

            @include wider-than($media-content-max - 5em) {
                grid-template-columns: repeat(5, 1fr);
            }
        }

        .cover {
            cursor: pointer;
            position: relative;

            &.coming-soon::before {
                @include coming-soon;
            }

            &.coming-soon.polish::before {
                background-image: url('/images/subjects/coming-soon-polish.svg');
            }

            > a,
            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        @mixin get-this-is-visible() {
            height: auto;
            opacity: 1;
            overflow: initial;
            padding: 1.5rem;
            transform: translate3d(0, 0, 0);
            width: 110%;
            z-index: 1;
        }

        .details {
            background: ui-color(white);
            box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(94, 96, 98, 0.1);
            height: 0;
            left: -5%;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            top: 95%;
            transform: translate3d(0, -1rem, 0);
            transition: opacity 0.2s, transform 0.2s;
            width: 0;

            &.open {
                @include get-this-is-visible;

                min-width: 23rem;
            }

            &::before {
                border: 2rem solid;
                border-color: transparent transparent ui-color(white);
                bottom: 100%;
                content: '';
                left: 50%;
                margin-left: -2rem;
                position: absolute;
            }

            .cta > .btn {
                font-size: 90%;
                white-space: nowrap;
            }
        }

        .cover:hover .details {
            @include wider-than($tablet-max) {
                @include get-this-is-visible;

                min-width: 23rem;
            }
        }
    }
}
