<style scoped>
    @import url(/app/pages/subjects/subjects.css);
    @import url(https://fonts.googleapis.com/css?family=Lato:400,900);
</style>
<div class="subjects-page">
    <header data-manager="page-description"></header>
    <div class="feature-block">
        <div class="blurb">
            <div class="title" data-manager="ds1-head"></div>
            <div class="text" data-manager="ds1-body"></div>
        </div>
        <div class="blurb">
            <div class="title" data-manager="ds2-head"></div>
            <div class="text" data-manager="ds2-body"></div>
        </div>
        <div class="blurb">
            <div class="title" data-manager="ds3-head"></div>
            <div class="text" data-manager="ds3-body"></div>
        </div>
    </div>
    <div class="button-row">
        <div class="filter-buttons"></div>
    </div>
    <div class="books-by-category"></div>
</div>
