@import 'pattern-library/core/pattern-library/headers';

.multiselect,
.singleselect {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100%;
  overflow: hidden;
}

.multiselect {
  .suggestion-list {
    margin-bottom: 2rem; // preserves the bottom
    max-height: 100%;
  }
}
