@import 'pattern-library/core/pattern-library/headers';

.multiselect {
    .hidden-input {
        float:right;
        height:0;
        margin:0;
        padding:0;
        visibility: hidden;
        width:0;
    }
}
