@import 'pattern-library/core/pattern-library/headers';
@import '../../../common';

dialog .edit-institutions {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0.6rem 0;

    @include width-up-to($phone-max) {
        width: 100%;
    }

    @include wider-than($phone-max) {
        width: 54rem;
    }

    @include usual-buttons();

    .table-header {
        @include body-font(1.4rem);

        border-bottom: thin solid ui-color(form-border);
        font-weight: bold;
        padding-bottom: 0.8rem;
        text-align: left;
    }

    .table-row {
        border-bottom: thin solid ui-color(form-border);
        display: flex;

        @include width-up-to($phone-max) {
            align-items: start;
            flex-direction: column;
            padding: 0.7rem 0;
            row-gap: 1rem;
        }

        @include wider-than($phone-max) {
            align-items: center;
            height: 6.5rem;
            justify-content: space-between;

            :nth-child(2) {
                text-align: right;
            }
        }


        a {
            display: block;
            text-decoration: none;
        }
    }

    .add-button {
        @include add-button();

        align-self: flex-start;
    }

    .button-row {
        display: flex;
        gap: $normal-margin;

        @include width-up-to($phone-max) {
            align-items: stretch;
            flex-direction: column;
            width: 100%;
        }

        @include wider-than($phone-max) {
            justify-content: flex-end;
        }
    }

    .input-with-suggestions {
        .suggestion-list {
            max-height: 40vh;
            overflow: auto;
            width: 100%;
        }
    }
}
