@import 'pattern-library/core/pattern-library/headers';

.studentinfobox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include width-up-to($phone-max) {
        justify-content: normal;
        margin-top: 2.5rem;
    }

    @include width-between ($phone-max, $media-content-max) {
        height: 75rem;
    }

    .first-photo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: unset;

        @include width-up-to($phone-max) {
            align-items: center;
            flex-direction: column;
        }

        @include wider-than($media-content-max) {
            margin-top: 12rem;
        }
    }

    .second-photo {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include width-up-to($phone-max) {
            align-items: center;
            flex-direction: column-reverse;
        }

        @include wider-than($phone-max) {
            margin-top: 2rem;
        }
    }

    .girl-imgdiv {
        bottom: 18%;
        position: relative;

        @include width-up-to($phone-max) {
            bottom: unset;
            position: unset;
        }
    }

    .girl-txtdiv {
        margin-right: 4%;

        @include width-up-to($phone-max) {
            margin-right: unset;
        }
    }

    .stds-imgdiv {
        @include width-up-to($phone-max) {
            margin-right: unset;
            margin-top: 3rem;
        }
    }

    .stds-img {
        bottom: 25%;
        position: relative;

        @include width-up-to($media-content-max) {
            bottom: unset;
            height: 30rem;
            position: unset;
        }
    }

    .std-txtdiv {
        margin-left: 7%;

        @include width-up-to($phone-max) {
            margin-top: 5%;
        }
    }

    .std-txt-head {
        @include set-font(h2);

        @include width-up-to($media-content-max) {
            @include title-font(2.9rem);
            width: 21.2rem;
        }
    }

    .std-txt-body,
    .girl-txt-body {
        @include body-font(1.6rem);

        line-height: 1.5;
        width: 40.2rem;

        @include width-up-to($media-content-max) {
            @include body-font(1.4rem);

            line-height: 1.5;
            width: 26rem;
        }
    }

    .girl-txt-head {
        @include set-font(h2);

        width: 44rem;

        @include width-up-to($media-content-max) {
            @include title-font(3.3rem);

            width: 25.2rem;
        }
    }

    .sbox {
        @extend %button;
        @extend %secondary;

        margin-top: $normal-margin;
    }

    .girl-img {
        @include width-up-to($media-content-max) {
            height: 30rem;
            margin-top: 10%;
        }
    }
}
