@import 'pattern-library/core/pattern-library/headers';

    .studentinfodiv{

        @include wider-than(60rem) {
            height: 105rem;

        }
        @include width-up-to($phone-max) {


        }
       
    }

    .studentinfobox{
        height: 120rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include width-up-to($phone-max) {
            height: 120rem;
            justify-content: normal;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            padding-left: 3%;
            padding-top: 100px;
            margin-left:3%;
        }
        
        @include wider-than(85rem) {
       
        }
        @include wider-than(100rem) {

        }
        @include wider-than(120rem) {

        }
        @include wider-than(160rem) {

        }
        @include wider-than(180rem) {

        }


            @include wider-than(60rem) {

            }
            #first_photo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                @include width-up-to($phone-max) {
                    flex-direction: column;
                }
            }
            #second_photo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                @include width-up-to($phone-max) {
                    flex-direction: column;
                }
            }

            .girl_imgdiv{
                bottom: 18%;
                position: relative;
                @include width-up-to($phone-max) {
                    bottom: unset;
                    position: unset;
                }
            }

            .girl_txtdiv{ 
                margin-right: 4%;
            }

            .stds_imgdiv{
                margin-right: 12%;
            }

            #stds_img{
                position: relative;
                bottom: 25%;

                @include width-up-to($phone-max) {
                    height: 300px;
                    margin-top: 100%;
                    padding-top: 20px;
                }
            }
            .std_txtdiv{ 

                @include width-up-to($phone-max) {
                margin-left: 0px;
                margin-top: -561px;
                }
                @media (min-width: 768px) and (max-width: 1024px) {
               
                    margin-left:10%;
                }
            }
            #std_txt_head {	
                height: 40px;		
                color: #424242;	
                font-size: 36px;	
                font-weight: bold;	
                letter-spacing: -1.44px;	
                line-height: 40px;
                @include width-up-to($phone-max) {
                    height: 80px;
                    width: 212px;
                    
                    font-size: 29px;
                }
            }
            #std_txt_body{
                height: 121px;	
                width: 402px;
                color: #424242;
                font-size: 16px;	
                line-height: 25px;
                @include width-up-to($phone-max) {
                    width: 260px;
                    margin-top: -30px;
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                
            }

  


            #girl_txt_head {	
                height: 80px;	
                width: 495px;	
                color: #424242;	
                font-size: 36px;	
                font-weight: bold;	
                letter-spacing: -1.44px;	
                line-height: 40px;

                @include width-up-to($phone-max) {
                    height: 80px;
                    width: 212px;
                    color: #424242;
                    font-size: 29px;}
            }
            #girl_txt_body {	
                height: 110px;	
                width: 402px;	
                color: #424242;	
                font-size: 16px;	
                line-height: 25px;
                @include width-up-to($phone-max) {
                    width: 260px;	
                    margin-top: 50px;
                    font-size: 14px;	
                }
            }
            .sbox{
                color:white;
                font-size: 16px;	
                font-weight: bold;	
                line-height: 16px;	
                text-align: center;
                position: absolute;
                border-radius: 2px;
                background-color: #959595;
                padding: 15px;
                @include width-up-to($phone-max) {
                margin-top: 8%;
                }
               
                 
            }


            #girl_img{
            
                @include width-up-to($phone-max) {
                    margin-top: 30%;
                    height: 300px;
                }
            }  
    }
  