@import 'pattern-library/core/pattern-library/headers';

    .studentinfodiv{

        @include wider-than(60rem) {
            height: 102rem;

        }
        @media (min-width: 601px) and (max-width: 1200px) {
            height: 76rem;
        }
        @include width-up-to($phone-max) {
            height: 128rem;

        }
       
    }

    .studentinfobox{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include width-up-to($phone-max) {

            margin-top: 25px;
            justify-content: normal;
        }
        @media (min-width: 601px) and (max-width: 1200px) {
            height: 75rem;
        }
        
        @include wider-than(85rem) {
       
        }
        @include wider-than(100rem) {

        }
        @include wider-than(120rem) {

        }
        @include wider-than(160rem) {

        }
        @include wider-than(180rem) {

        }


            @include wider-than(60rem) {

            }
            #first_photo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 12rem;
                @include width-up-to($phone-max) {
                    flex-direction: column;
                    align-items: center;
                    margin-top: unset;
                }
                @media (min-width: 601px) and (max-width: 1200px) {
                    margin-top: unset;
                }
            }
            #second_photo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                @include width-up-to($phone-max) {
                    flex-direction: column-reverse;
                    align-items: center;
                }
            }

            .girl_imgdiv{
                bottom: 18%;
                position: relative;
                @include width-up-to($phone-max) {
                    bottom: unset;
                    position: unset;
                }
            }

            .girl_txtdiv{ 
                margin-right: 4%;
                @include width-up-to($phone-max) {
                    margin-right: unset;
                }
            }

            .stds_imgdiv{
                @include width-up-to($phone-max) {
                    margin-right: unset;
                    margin-top: 3rem; 
                }
            }

            #stds_img{
                position: relative;
                bottom: 25%;

                @include width-up-to($media-content-max) {
                    height: 300px;
                    position: unset;
                    bottom: unset;
                }
            }
            .std_txtdiv{ 
                margin-left:7%;
                @include width-up-to($phone-max) {
                    margin-top: 5%;
                }
                @media (min-width: 768px) and (max-width: 1024px) {
               
                    
                }
            }
            #std_txt_head {	
                height: 40px;		
                color: #424242;	
                font-size: 36px;	
                font-weight: bold;	
                letter-spacing: -1.44px;	
                line-height: 40px;
                @include width-up-to($media-content-max) {
                    height: 80px;
                    width: 212px;
                    
                    font-size: 29px;
                }
            }
            #std_txt_body{
                height: 121px;	
                width: 402px;
                color: #424242;
                font-size: 16px;	
                line-height: 25px;
                @include width-up-to($media-content-max) {
                    width: 260px;
                    margin-top: -30px;
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                
            }
            #girl_txt_head {	
                height: 80px;	
                width: 44rem;	
                color: #424242;	
                font-size: 36px;	
                font-weight: bold;	
                letter-spacing: -1.44px;	
                line-height: 40px;

                @include width-up-to($media-content-max) {
                    height: 80px;
                    width: 252px;
                    color: #424242;
                    font-size: 33px;
                }
            }
            #girl_txt_body {	
                height: 110px;	
                width: 402px;	
                color: #424242;	
                font-size: 16px;	
                line-height: 25px;
                @include width-up-to($media-content-max) {
                    width: 260px;	
                    margin-top: 50px;
                    font-size: 14px;	
                }
            }
            .sbox{
                color:white;
                font-size: 16px;	
                font-weight: bold;	
                line-height: 16px;	
                border-radius: 2px;
                background-color: #959595;
                padding: 15px;
                @include width-up-to($phone-max) {
                    margin-top: 15%;
                }
                @include width-up-to($media-content-max) {
                    margin-top: 8%;	
                }  
            }
            #girl_img{
            
                @include width-up-to($media-content-max) {
                    margin-top: 10%;
                    height: 300px;
                }
            }  
    }
  